<!DOCTYPE html>
<html lang="tr">
<head>
{% include ilker/baslangic.html %}
</head>
<body data-gnl="kaplam">
  <header>
    <div data-gnl="kap">
      <nav>
        <div data-gnl="0 o">
          İLKER
        </div>
        <input id="menü-0by" type="checkbox" data-kapaç="sağda">
        <label for="menü-0by">•••</label>
        <label for="menü-0by">✕</label>
        <ul data-menü="basit yatay" data-gnl="l" data-kçk="s">
          <li><a href="#">Anasayfa</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Hakkımızda</a></li>
          <li><a href="#">İletişim</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="alan">
    <div data-gnl="kap">
      {{ page.alan }}
      <p>{{ page.alan-alt }}</p>
    </div>
  </div>

  <main>
    <div data-gnl="kap">
    {{ content }}
    </div>
  </main>
  <footer>
    <div data-gnl="kap">
      {% include ilker/taban.html %}
    </div>
  </footer>
</body>
</html>
