<!DOCTYPE html>
<html lang="tr">
<head>
{% include ilker/baslangic.html %}
</head>
<body data-gnl="sütun">
  <header data-gnl="1 1p">
    <div data-gnl="kaplama">
      <nav>
        <div class="" data-gnl="0 göbekte">
          İLKER
        </div>
        <input id="menü-0by" type="checkbox" data-kapaç="sağda">
        <label for="menü-0by">•••</label>
        <label for="menü-0by">✕</label>
        <ul data-menü="basit yatay" data-gnl="solda" data-kçk="sağda">
          <li><a href="#">Anasayfa</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Hakkımızda</a></li>
          <li><a href="#">İletişim</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div data-gnl="1 1p" class="alan">
    <div data-gnl="kaplama">
      {{ page.alan }}
      <p>{{ page.alan-alt }}</p>
    </div>
  </div>

  <article data-gnl="1 1p">
    <div data-gnl="kaplama">
    {{ content }}
    </div>
  </article>
  <footer data-gnl="1 1p">
    <div data-gnl="kaplama">
      {% include ilker/taban.html %}
    </div>
  </footer>
</body>
</html>
