---
layout: default
---

{% assign veri = site.data.s1n0.kurulum %}
{% assign dil = page.lang %}

{% case dil %}
{% when 'tr' %}
<p class="girlik">
	Görüntülük örgüsüyle kullanılarak görüntülüklere göre uyarlanabilen, 1'den 24'e kadar esnetme dengesi kurulabilen, durumuna göre daralıp genişleyebilen, bölümleme düzeniyle eşik ve aşık genişliği tanıyarak esneyebilen, güçlü kap örgüsü düzenimizi kullanın.
</p>
<p data-gnl="o">
	// *** izleti *** //
</p>
<h3>Kullanımı</h3>
<p>
	Ögeleri kolaylıkla esneterek çeşitli genişliklere bürüyebilirsiniz. Aynı yerde bulunan öğeler genişliklerine bürünürken birbirlerini sayarlar. Esnetme düzeni bu yetisini "CSS ESNEK" özelliğinden alır. Anlaşılır ve kolay üç ayrı esnetme düzeni özelliği ile tasarımlarınızı kolaylıklar ilerletebileceksiniz. Söz ettiğimiz üç özellik olan esnetme, eşik esnetme, aşık esnetme şöyle;
</p>
<h4>Esnetme:</h4>
<p>
	Her öğeyi birbiriyle etkileştirip birbirlerinin katları olarak esneyen genişlik tanımlayabileceğiniz özelliktir. Bölümleme düzeniyle birlikte kullanılmaz. Kullanımı "<b>SAYI /</b>" söz dizimiyle yapılır. 
</p>
<p class="örnek">
	Genişliği ikiye ayırıp sol öğenin sağ öğeden iki kat daha geniş olmasını istiyoruz diyelim. Bu biçimi elde etmek için ilk öğeyi data-gnl="2 /", ikinci öğeyi data-gnl="1 /" olarak tanımlarız.
</p>
<div class="örnek">
	<div class="önizleme">
    	<div data-gnl="2 /">
    		2 /
		</div>
		<div data-gnl="1 /">
			1 /
		</div>
	</div>
</div>
{% highlight html %}
    <div data-gnl="2 /">
	  2 /
    </div>
    <div data-gnl="1 /">
	  1 /
    </div>

{% endhighlight %}
<p class="örnek">
	Bir önceki örnekte ikiye ayırmak yetmedi diyelim. Bölümleri üçe ayırmamız gerekiyor diyelim. En sağdaki bölümle en soldaki bölüm birbirine eşit olacak biçimde yapıp, ortadaki bölüm ise bunların 2 katı olarak kalacak biçimde ayarlayalım. Bunu yalnızca yeni bir div etiketi ekleyerek nasıl yaptığımızı önceki örnekle iyice karşılaştırırsanız kendinizi esnetme düzenini anlamış sayabilirsiniz.
</p>
<div class="örnek">
	<div class="önizleme">
		<div data-gnl="1 /">
			1 / (yeni bölüm)
		</div>
		<div data-gnl="2 /">
			2 /
		</div>
		<div data-gnl="1 /">
			1 /
		</div>
	</div>
</div>
{% highlight html %}
    <div data-gnl="1 /">
	  1 / (yeni bölüm)
    </div>
    <div data-gnl="2 /">
      2 /
    </div>
    <div data-gnl="1 /">
      1 /
    </div>
{% endhighlight %}

<h4>Eşik Esnetme:</h4>
<p>
	Her öğeyi eşik genişlikten daha düşük genişliğe esnemesini engeller. Ancak genişleme yönünde esneyebilir. Kullanımı "<b>SAYI %</b>" söz dizimiyle yapılır. Bu yöntem bölümleme düzeniyle birlikte çalıştığı için varsayılan bölümlük değeri olan "/12" gizli özne gibi etkindir. Bu nedenle eğer ayrı bir bölümleme düzeni kullanmak isterseniz kullanımı şöyle yapmanız gerekir: "<b>SAYI % /SAYI</b>"
</p>
<p class="örnek">
	Bir genişliğe dört bölümü belirli bir sırada oluşturmak istiyoruz. Ancak birinci bölüm eşik olarak 1/12 ölçüsünde diğer üç bölümde eşik olarak 3/6 ölçüsünde genişlemelidir. Ve birbirleri arasındaki denge bu ölçülerle orantılı olmalıdır. Bulundukları genişlikte bu ölçüler koşuluna uyarak en iyi biçimde esnemelerini şöyle yaparız;
</p>
<div class="örnek">
<div class="önizleme">
  <div data-gnl="1 %">
    1 %
  </div>
  <div data-gnl="3 % /6">
    3 % /6
  </div>
  <div data-gnl="3 % /6">
    3 % /6
  </div>
  <div data-gnl="3 % /6">
    3 % /6
  </div>
</div>
</div>
{% highlight html %}
<div data-gnl="1 %">
  1 %
</div>
<div data-gnl="3 % /6">
  3 % /6
</div>
<div data-gnl="3 % /6">
  3 % /6
</div>
<div data-gnl="3 % /6">
  3 % /6
</div>
{% endhighlight %}
<h4>Aşık Esnetme:</h4>
<p>
Her öğeyi aşık genişlikten daha yüksek genişliğe esnemesini engeller. Ancak daralma yönünde esneyebilir. Kullanımı "<b>SAYI &</b>" söz dizimiyle yapılır. Bu yöntem bölümleme düzeniyle birlikte çalıştığı için varsayılan bölümlük değeri olan "/12" gizli özne gibi etkindir. Bu nedenle eğer ayrı bir bölümleme düzeni kullanmak isterseniz kullanımı şöyle yapmanız gerekir: "<b>SAYI & /SAYI</b>"
</p>
<p class="örnek">
Bir genişliğe dört bölümü belirli bir sırada oluşturmak istiyoruz. Ancak birinci bölüm aşık olarak 1/12 ölçüsünde diğer üç bölümde aşık olarak 3/6 ölçüsünde genişlemelidir. Ve birbirleri arasındaki denge bu ölçülerle orantılı olmalıdır. Bulundukları genişlikte bu ölçüler koşuluna uyarak en iyi biçimde esnemelerini şöyle yaparız;
</p>
<div class="örnek">
<div class="önizleme">
  <div data-gnl="1 &">
    1 &
  </div>
  <div data-gnl="3 & /6">
    3 & /6
  </div>
  <div data-gnl="3 & /6">
    3 & /6
  </div>
  <div data-gnl="3 & /6">
    3 & /6
  </div>
</div>
</div>
{% highlight html %}
<div data-gnl="1 &">
  1 &
</div>
<div data-gnl="3 & /6">
  3 & /6
</div>
<div data-gnl="3 & /6">
  3 & /6
</div>
<div data-gnl="3 & /6">
  3 & /6
</div>
{% endhighlight %}
<p>
"<b>SAYI /</b>", "<b>SAYI % /SAYI</b>", "<b>SAYI & /SAYI</b>" değiştirgeleri görüntülük örgüsüyle birlikte kullanıldığı için görüntülük özniteliklerinin değiştirgesi olarak tanımlıdır. Günümüzün gözde kullanımlarından olan esnetme düzeniyle ilgili kök bilgileri bitirdiniz.
</p>

<h3>Esnetilen Öğeleri Alta Kaydırma</h3> 
<p>
Esnetme düzeninde tanımlanan bölümler kendi aralarında genişlik ölçülerine bürünüyorlar demiştik. Ancak öğeler çoğaldıkça oluşturulan bölümler gittikçe daha küçük genişlikte olacaktır. Yeni öğelerin alttan devam etmesini sağlamak için <b>yalın div etiketi</b> tanımlamanız yeterlidir.
</p>

<div class="örnek">
<div class="önizleme">
  <div data-gnl="2 /">
    2 /
  </div>
  <div data-gnl="1 /">
    1 /
  </div>
  <div style="border:0px solid red; padding:0;"></div>
  <div data-gnl="2 /">
    2 /
  </div>
  <div data-gnl="1 /">
    1 /
  </div>
</div>
</div>
{% highlight html %}
<div data-gnl="2 /">
  2 /
</div>
<div data-gnl="1 /">
  1 /
</div>

<div></div>

<div data-gnl="2 /">
  2 /
</div>
<div data-gnl="1 /">
  1 /
</div>
{% endhighlight %}

<h3>Bölümleme Düzeni + Esnetme Düzeni + Katı Genişlik</h3> 

<p>
Esnetme düzeni dilendiğinde bölümleme düzeniyle bir arada kullanılabilir. Buradan anlaşılacağı gibi katı genişliklerle de kullanılabilir.
</p>
<p class="örnek">
Bir genişliğe dört bölümü belirli bir sırada oluşturmak istiyoruz. Ancak birinci bölüm 400 benek genişliğinde, ikinci bölüm 1 esnetme ve dördüncü de 2 katı esnetme olup son olarak üçün bölüm de 2/12 bölümleme ölçüsünde olacaktır. 
</p>
<div class="örnek">
<div class="önizleme">
  <div style="width:400px;">
    400 benek
  </div>
  <div data-gnl="1 /">
    1 /
  </div>
  <div data-gnl="2">
    2
  </div>
  <div data-gnl="1 /">
    1 /
  </div>
</div>
</div>
{% highlight html %}
<div style="width:400px;">
  400 benek
</div>
<div data-gnl="1 /">
  1 /
</div>
<div data-gnl="2">
  2
</div>
<div data-gnl="1 /">
  1 /
</div>
{% endhighlight %}


<h3>Esnetme ve Bölümleme Arasındaki Ayrım</h3>
<p>
Esnetme düzeniyle bölümleme düzeni her durumda aynı genişlikte olmazlar. Çünkü esnetme düzeninde öğenin yanlarından verilen iç boşluklar, bölümleme düzenine göre genişlik ölçüsünü etkiler. Yani birebir aynı genişliklerde olmazlar. Bu ayrımı şöyle gösterebiliriz;
</p>
<div class="örnek">
<div class="önizleme">
<div style="border:0px solid red; padding:0;">
  <div data-gnl="1 /">
    1 /
  </div>
  <div data-gnl="4 /">
    4 /
  </div>
  <div data-gnl="2 /">
    2 /
  </div>
</div>
<div style="border:0px solid red; padding:0;">
  <div data-gnl="1 /7">
    1 /7
  </div>
  <div data-gnl="4 /7">
    4 /7
  </div>
  <div data-gnl="2 /7">
    2 /7
  </div>
</div>
</div>

{% highlight html %}
<div>
  <div data-gnl="1 /">
    1 /
  </div>
  <div data-gnl="4 /">
    4 /
  </div>
  <div data-gnl="2 /">
    2 /
  </div>
</div>
<div>
  <div data-gnl="1 /7">
    1 /7
  </div>
  <div data-gnl="4 /7">
    4 /7
  </div>
  <div data-gnl="2 /7">
    2 /7
  </div>
</div>
{% endhighlight %}
</div>
<p></p>
<p></p>
{% when 'en' %}
<p class="girlik">
    You can create grid fields simply by specifying the expansion. Grow layout is based on "CSS FLEX" feature. It is enough to write "NUMBER /" class to display attributes (data-gnl, data-md ...) for Grow layout use. NUMBER can be a value between 1 and 24. For example, you want to divide the page into two and make the left side twice as wide as the right side. For this you can define the attributes data-gnl = "2 /" data-gnl = "1 /".
  </p>
  <h3>How to Use Grow Layout</h3>
  <p>
    Let's create a layout with three columns in all of the screens. As an example, let's make the layout distribution 1 4 2.
  </p>

  <div class="örnek">
    <h3>Preview</h3>
    <div class="önizleme">
      <div data-gnl="1 /">
        1 /
      </div>
      <div data-gnl="4 /">
        4 /
      </div>
      <div data-gnl="2 /">
        2 /
      </div>
    </div>
  </div>
  {% highlight html %}
    <div data-gnl="1 /">
      1 /
    </div>
    <div data-gnl="4 /">
      4 /
    </div>
    <div data-gnl="2 /">
      2 /
    </div>
  {% endhighlight %}

  <h3>Why Use Grow Layout?</h3>

  <p>
  Let's first remember piece layout. The piece layout was used to define the centrally defined widths. Because of this situation, the widths of the pieces included in the width continue to line up when they fill the width. Let's take a look at grow layout. Grow layout How much you add will not add to the bottom line. So every time you add it, it will be recalculated and grow widths will change and the same row will be recovered. If you want to continue from the bottom line, you need to create an empty item 100% wide.
</p>
<p>
  In addition to these, you can use piece layout and grow layout together. Including widths made with other methods. Grow layout will be a place for itself according to the structure. Examine the mixed use example below.
</p>
  <div class="örnek">
    <h3>Preview</h3>
    <div class="önizleme">
    <div>
      <div data-gnl="1 /">
        1 /
      </div>
      <div data-gnl="4 /">
        4 /
      </div>
      <div data-gnl="2 /">
        2 /
      </div>
      <div><!--100% width empty item--></div>
      <div data-gnl="1 /">
        1 /
      </div>
      <div data-gnl="4 /">
        4 /
      </div>
      <div data-gnl="2 /">
        2 /
      </div>
      <div data-gnl="1 /">
        1 /
      </div>
      <div data-gnl="4 /">
        4 /
      </div>
      <div data-gnl="2 /">
        2 /
      </div>
      <div><!--100% width empty item--></div>
      <div data-gnl="1 /">
        1 /
      </div>
      <div data-gnl="4 /">
        4 /
      </div>
      <div data-gnl="2 /">
        2 /
      </div>
      <div data-gnl="1 /2">
        1 /2
      </div>
    </div>
  </div>
</div>
  {% highlight html %}
    <div>
      <div data-gnl="1 /">
        1 /
      </div>
      <div data-gnl="4 /">
        4 /
      </div>
      <div data-gnl="2 /">
        2 /
      </div>
      <div><!--100% width empty item--></div>
      <div data-gnl="1 /">
        1 /
      </div>
      <div data-gnl="4 /">
        4 /
      </div>
      <div data-gnl="2 /">
        2 /
      </div>
      <div data-gnl="1 /">
        1 /
      </div>
      <div data-gnl="4 /">
        4 /
      </div>
      <div data-gnl="2 /">
        2 /
      </div>
      <div><!--100% width empty item--></div>
      <div data-gnl="1 /">
        1 /
      </div>
      <div data-gnl="4 /">
        4 /
      </div>
      <div data-gnl="2 /">
        2 /
      </div>
      <div data-gnl="1 /2">
        1 /2
      </div>
    </div>
  {% endhighlight %}
<h3>Grow vs Piece</h3>
<p>
  Grow layout and piece layout are not created with the same account balances. In grow layout, each width is interactive. In Piece layout, stable width is created. Let's understand better by example.
</p>
  <div class="örnek">
    <h3>Preview</h3>
    <div class="önizleme">
    <div>
      <div data-gnl="1 /">
        1 /
      </div>
      <div data-gnl="4 /">
        4 /
      </div>
      <div data-gnl="2 /">
        2 /
      </div>
    </div>
    <div>
      <div data-gnl="1 /7">
        1 /7
      </div>
      <div data-gnl="4 /7">
        4 /7
      </div>
      <div data-gnl="2 /7">
        2 /7
      </div>
    </div>
  </div>
</div>
  {% highlight html %}
    <div>
      <div data-gnl="1 /">
        1 /
      </div>
      <div data-gnl="4 /">
        4 /
      </div>
      <div data-gnl="2 /">
        2 /
      </div>
    </div>
    <div>
      <div data-gnl="1 /7">
        1 /7
      </div>
      <div data-gnl="4 /7">
        4 /7
      </div>
      <div data-gnl="2 /7">
        2 /7
      </div>
    </div>
  {% endhighlight %}
{% else %}
Tanımlanamayan dil yolu. TR ve EN dil yoluna erişin.
{% endcase %}