---
layout: default
---

{% assign veri = site.data.s1n0.kurulum %}
{% assign dil = page.lang %}

{% case dil %}
{% when 'tr' %}
<p class="girlik">
  Saat kadar minik görüntülükleri (ekranları), telefon görüntülükleri, elüstü görüntülükleri, dizüstü görüntülükleri, masaüstü görüntülükleri, kocaman görüntülükleri ve ulu görüntülükleri olarak öbeklendirilmiş 8 ayrı görüntülük ölçeği uyarlamalı olarak kullanılır. 
</p>
<p>
  Günümüzde, görüntülük ölçekleri ve görüntülük çözünürlükleri çok çeşitlidir. Bu nedenle uyarlamalı tasarım yapmak bir gerekliliktir. Minik ekranlar ise yakın gelecekte yaygınlaşacaktır. Bu koşullar altında ve doğrultusunda <span class="simget">deveb</span> daha çok görüntülük aralığı içerir.
</p>
<p></p>
<table class="tablo">
  <thead>
    <tr>
      <th>Görüntülükler</th>
      <th>
        Genel <br>
        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <i class="fa fa-tablet" aria-hidden="true"></i>
        <i class="fa fa-laptop" aria-hidden="true"></i>
        <i class="fa fa-desktop" aria-hidden="true"></i>
        <i class="fa fa-television" aria-hidden="true"></i>
        <i class="fa fa-window-maximize" aria-hidden="true"></i>
        <br><span data-metin="olumlu ince">saat » ulu</span>
      </th>
      <th>
        Minik <br>
        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
        <br><span data-metin="olumlu ince">saat</span>
      </th>
      <th>
        Ufak <br>
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <br><span data-metin="olumlu ince">telefon</span>
      </th>
      <th>
        Küçük <br>
        <i class="fa fa-tablet" aria-hidden="true"></i>
        <br><span data-metin="olumlu ince">elüstü</span>
      </th>
      <th>
        Orta <br>
        <i class="fa fa-laptop" aria-hidden="true"></i>
        <br><span data-metin="olumlu ince">dizüstü</span>
      </th>
      <th>
        Büyük <br>
        <i class="fa fa-desktop" aria-hidden="true"></i>
        <br><span data-metin="olumlu ince">Masaüstü</span>
      </th>
      <th>
        Kocaman <br>
        <i class="fa fa-television" aria-hidden="true"></i>
        <br><span data-metin="olumlu ince">Televizyon</span>
      </th>
      <th>
        Ulu <br>
        <i class="fa fa-window-maximize" aria-hidden="true"></i>
        <br><span data-metin="olumlu ince">ulu görüntülük</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Birimleri</th>
      <td>data-gnl</td>
      <td>data-mnk</td>
      <td>data-ufk</td>
      <td>data-kçk</td>
      <td>data-ort</td>
      <td>data-byk</td>
      <td>data-kcm</td>
      <td>data-ulu</td>
    </tr>
    <tr>
      <th>Ölçekler</th>
      <td>0 »</td>
      <td>0 » 300px</td>
      <td>300px »</td>
      <td>576px »</td>
      <td>768px »</td>
      <td>992px »</td>
      <td>1200px »</td>
      <td>1900px »</td>
    </tr>
    <tr>
      <th>Görüntülük Seçme</th>
      <td><span data-metin="ana gri">sınıf</span></td>
      <td>bunu-<span data-metin="ana gri">sınıf</span><br><span data-metin="ana gri">sınıf</span><br>büyükleriyle-<span data-metin="ana gri">sınıf</span><br>büyükleri-<span data-metin="ana gri">sınıf</span></td>
      <td colspan="5">küçükleri-<span data-metin="ana gri">sınıf</span><br>küçükleriyle-<span data-metin="ana gri">sınıf</span><br>bunu-<span data-metin="ana gri">sınıf</span><br><span data-metin="ana gri">sınıf</span><br>büyükleriyle-<span data-metin="ana gri">sınıf</span><br>büyükleri-<span data-metin="ana gri">sınıf</span></td>
      <td>küçükleri-<span data-metin="ana gri">sınıf</span><br>küçükleriyle-<span data-metin="ana gri">sınıf</span><br>bunu-<span data-metin="ana gri">sınıf</span><br><span data-metin="ana gri">sınıf</span></td>
    </tr>
  </tbody>
</table>

<h3>Görüntülük Yönergeleri</h3>

<p>
  <span class="simget">deveb</span> görüntülük örgüsü küçük görüntülüklerden büyük görüntülüklere
  doğru olmak üzere belirlenmiş bir yönde varsayılan olarak etki altına alır. Bunun
  dışında bazı durumlarda geçerli olmak üzere tam tersi yönde veya belirtilen
  tek görüntülük ölçeğinde kullanımı da yapılabilir.
  <br><br>
  Örneğin bir ögeyi veya alanı dizüstü görüntülüklerine kadar gizlemek istiyorsanız
  <span data-metin="ana">data-ort="küçükleri-gizle"</span> olarak tanımlamanız yeterlidir.
  Böylelikle dizüstünden küçük görüntülüklerde gizleme yapmış olacaksınız.
</p>

<h4>Kullanımı</h4>
<p>
  Görüntülük örgüsü, <span class="simget">deveb</span>'in özellikleriyle iliştirilmiş
  şekilde kullanılır. Kesitlik örgüsünde varsayılan kural gerçeli olduğu gibi başka
  özelliklerde daha ayrı kullanıldığını görmeniz doğaldır.
</p>
<h5>küçükleriyle-?</h5>
<p>
  Tanımlı görüntülükten ve daha küçük görüntülükler. Örnek:
  data-ort="küçükleriyle-gizle" (english: data-md="hide-with-smaller")
</p>
<h5>küçükleri-?</h5>
<p>
  Belirtildiği görüntülükten küçük görüntülükleri kapsar. Örnek: data-ort="küçükleri-gizle"
  (english: data-md="hide-smaller")
</p>
<h5>bunu-?</h5>
<p>
  Belirtildiği görüntülükleri kapsar. Örnek: data-ort="bunu-gizle"
  (english: data-md="hide-this")
</p>
<h5>büyükleri-?</h5>
<p>
  Belirtildiği görüntülüklerden büyük görüntülükleri kapsar. Örnek: data-ort="büyükleri-gizle"
  (english: data-md="hide-bigger")
</p>
<h5>büyükleriyle-?</h5>
<p>
  Belirtildiği görüntülükler dahil kendisinden büyük görüntülükleri kapsar. Örnek:
  data-ort="büyükleriyle-gizle" (english: data-md="hide-with-bigger")
</p>
{% when 'en' %}
<p class="girlik">
  8 different pieces of screen scales are grouped as small screens, mobile screens, tablet screens, laptop screens, desktop screens, tv screens and huge screens.
</p>
<p>
  Today, screen scales and screen resolutions are very diverse. For this reason, adaptive design is a necessity. Small screens will become popular in the near future. <span class="simget">deveb</span> has more screen range than other frameworks.
</p>
<p></p>
<table class="tablo">
  <thead>
    <tr>
      <th>Screens</th>
      <th>
        General <br>
        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
        »
        <i class="fa fa-window-maximize" aria-hidden="true"></i>
        <br><span data-metin="olumlu ince">mini » huge</span>
      </th>
      <th>
        Mini <br>
        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
        <br><span data-metin="olumlu ince">Watches</span>
      </th>
      <th>
        x-Small <br>
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <br><span data-metin="olumlu ince">Mobiles</span>
      </th>
      <th>
        Small <br>
        <i class="fa fa-tablet" aria-hidden="true"></i>
        <br><span data-metin="olumlu ince">Tablets</span>
      </th>
      <th>
        Medium <br>
        <i class="fa fa-laptop" aria-hidden="true"></i>
        <br><span data-metin="olumlu ince">Laptops</span>
      </th>
      <th>
        Large <br>
        <i class="fa fa-desktop" aria-hidden="true"></i>
        <br><span data-metin="olumlu ince">Desktops</span>
      </th>
      <th>
        x-Large <br>
        <i class="fa fa-television" aria-hidden="true"></i>
        <br><span data-metin="olumlu ince">Televisions</span>
      </th>
      <th>
        Huge <br>
        <i class="fa fa-window-maximize" aria-hidden="true"></i>
        <br><span data-metin="olumlu ince">Huge screens</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Units</th>
      <td>data-gnl</td>
      <td>data-mn</td>
      <td>data-xs</td>
      <td>data-sm</td>
      <td>data-md</td>
      <td>data-lg</td>
      <td>data-xl</td>
      <td>data-hg</td>
    </tr>
    <tr>
      <th>Scales</th>
      <td>0 »</td>
      <td>0 » 300px</td>
      <td>300px »</td>
      <td>576px »</td>
      <td>768px »</td>
      <td>992px »</td>
      <td>1200px »</td>
      <td>1900px »</td>
    </tr>
    <tr>
      <th>Select Screen</th>
      <td><span data-metin="ana gri">class</span></td>
      <td>
        <span data-metin="ana gri">class</span>-this<br>
        <span data-metin="ana gri">class</span><br>
        <span data-metin="ana gri">class</span>-width-bigger<br>
        <span data-metin="ana gri">class</span>-bigger
      </td>
      <td colspan="5">
        <span data-metin="ana gri">class</span>-smaller<br>
        <span data-metin="ana gri">class</span>-width-smaller<br>
        <span data-metin="ana gri">class</span>-this<br>
        <span data-metin="ana gri">class</span><br>
        <span data-metin="ana gri">class</span>-width-bigger<br>
        <span data-metin="ana gri">class</span>-width-bigger
      </td>
      <td>
        <span data-metin="ana gri">class</span>-smaller<br>
        <span data-metin="ana gri">class</span>-width-smaller<br>
        <span data-metin="ana gri">class</span>-this<br>
        <span data-metin="ana gri">class</span>
      </td>
    </tr>
  </tbody>
</table>

<h3>Display Instructions</h3>

<p>
  <span class="simget">deveb</span> screen system works by default from small to large screens. Optionally, large to small screens or the specified display is affected. For example, if you want to hide an item or area up to the laptop screen, you just need to define data-md = "small-hide". So you'll be hiding from the laptop to the small screens.
</p>

<h4>Usage</h4>
<p>
  The screen system is used as attached to the features of <span class="simget">deveb</span>. For example the grid system. Depending on the situation affecting the display direction may be different.
</p>

<h5>?-width-smaller</h5>
<p>
  Defined screen and smaller screens. For example:
  data-md="hide-width-smaller"
</p>
<h5>?-smaller</h5>
<p>
  Smaller screens from defined screen. For example: data-md="hide-smaller"
</p>
<h5>?-this</h5>
<p>
  Defined screen. For example: data-md="hide-this"
</p>
<h5>?-bigger</h5>
<p>
  Bigger screens from defined screen. For example: data-md="hide-bigger"
</p>
<h5>?-with-bigger</h5>
<p>
  Defined screen and bigger screens. For example:
  data-md="hide-bigger"
</p>
{% else %}
Tanımlanamayan dil yolu. TR ve EN dil yoluna erişin.
{% endcase %}