---
layout: default
---

{% assign veri = site.data.s1n0.kurulum %}
{% assign dil = page.lang %}

{% case dil %}
{% when 'tr' %}
<p class="girlik">
  İşte bu! İstediğiniz yerde, istediğiniz anda, istediğiniz ölçekte
  çalışın. Ağ sitesi tasarımlarını yaparken güçlendirilmiş ve uyarlamalı çoklu-kap örgüsünü kullanın.
  Artık tek düzene bağlı kalmak yok. Her şey elinizin altında hazır.
</p>

<h1>Nasıl İşler?</h1>
<p>
  <span class="simget">deveb</span> kap örgüsü 12'li, 16'lı, 24'lü gibi
  1'li düzenden 24'lü düzene kadar olan tüm düzenleri aynı anda, aynı çalışma
  sayfasında kullanabilmeyi sağlar. Diğer önyüz çatılarındaki kap örgüleri (grid system)
  gibi tek düzende değildir. Ellerinizi bağlı tutmaz, özgürleştirir.
</p>
<p>
  Satır ve sütun düzeninde kapsayıcı serileri ve diziliş özelliklerine sahiptir.
  Esnekkutu örgüsüyle uyarlamalı olarak yapılandırılmıştır. Belleti sayfasının aşağısında örnekleri
  ve ayrıntıları inceleyebilirsiniz. Esnekkutu ingilizcedeki karşılığı ile flexbox örgüsüne
  yabancı olanlara gelince, <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox">Mozilla'nın esnekkutu belletileri</a>nden faydalanabilirler.
</p>

<h2>Nedir, Nasıl Kullanılır?</h2>
<p>
  Kap örgüsü, kullanıldığı sayfanın içinde çeşitli yöntemlerle genişlikler
  tanımlamaya yarayan, konumlama ve sıralama gibi işleri yapabilen örgüdür.
  "Kap" sözcüğünden anlaşılacağı üzere belirtilen alanın kapsayıcısıdır.
  <span class="simget">deveb</span> kap örgüsü, kendisine özgü kullanımıyla
  ilk başta zorlasa bile oldukça kolay yapılandırılmıştır.
</p>
<p>
  Parça düzeni, genleşme düzeni ve sıklaşma düzeni olmak üzere üç ana kap
  düzeninden oluşan bir kap örgüsüdür. Tasarımcı istediği düzeni anında seçip
  kullanmaya başlayabilir. Bunların yanında sıralama özelliği, konumlama
  özelliği, gizleme özelliği gibi özellikler de kap örgüsüne dahildir. Daha çok
  ayrıntılı bilgi için aşağıdaki başlıkları inceleyin.
</p>
<h3>Parça Düzeni</h3>
<p>
  Yüzdesel değerlerde ve kararlı genişliklerde ölçüler tanımlamak için yapılmıştır.
  Kap kavramını oturttukça dilediğiniz yönde kurgularınızı çeşitlendirebilirsiniz.
  1'den 24'e kadar parça düzenleri kullanıma hazır olarak gelir.
  <a href="/1.0/tr/kap-orgusu/parca-duzeni.html">Parça düzeni</a> ile ilgili belleti sayfalarını
  okuyarak ayrıntılı bilgiler edinin.
</p>

<h3>Genleşme Düzeni</h3>
<p>
  Ögeleri bulunduğu satırda genleşme etkisiyle birlikte birbirleriyle oranlayarak
  genişlik ölçüleri tanımlamak için yapılmıştır. Satır boyu işlevselliği olduğu için
  alt satırdan devam edilmesi istenildiğinde özel yöntemlere başvurulur.
  Daha iyi bellemek için <a href="/1.0/tr/kap-orgusu/genlesme-duzeni.html">genleşme düzeni
  belleti sayfalarını</a> inceleyin.
</p>
<h3>Sıklaşma Düzeni</h3>
<p>
  Daha iyi bellemek için <a href="/1.0/tr/kap-orgusu/siklasma-duzeni.html">sıklaşma düzeni
  belleti sayfaları</a> hazırlık aşamasındadır.
</p>

<h3>Konumlama</h3>
<p>
  Konumlama özelliği kap örgüsünün en çok kullanılan özelliğinden bir tanesidir. Konumlama
  yaparken sunduğu olanaklar işlerinizi çok kolaylaştıracaktır. Sağda, ortada,
  üstte gibi konumlamaları çok rahat yapabileceksiniz. Ayrıntıları incelerken
  her şeyi ilk bakışta fark edeceğinizden dolayı konuyu fazla uzatmıyor ve
  <a href="/1.0/tr/kap-orgusu/konumlama.html">konumlama belleti sayfasına</a>
  yönlendiriyoruz.
</p>

<h3>Sıralama</h3>
<p>
  Sıralama özelliği kap örgüsünün ilginç bir özelliğidir. Günümüzde display:flex
  ile gelen özelliklerden biridir. Bu özelliğin ortaya çıkışı çok daha öncelere
  dayanır. Yaygın kullanımı son yıllarda olması sebebiyle birçok kişi için yeni
  bir özellik olarak anlaşılır. Örneğin geniş ekranlarda yan yana duran iki
  ögenin dar ekranlarda alt alta durmasını sağladınız ama altta görünen öge aslında üstte
  durmalı diye karar verdiniz. Nasıl yapacaksınız? İşte sıralama özelliği burada
  yardımınıza koşuyor. Ayrıntılar için <a href="/1.0/tr/kap-orgusu/siralama.html">sıralama sayfasını</a>
  inceleyebilirsiniz.
</p>
{% when 'en' %}
<p class="girlik">
    That's it! Work where you want, when you want, on the scale you want. Use a powered and responsive multi-grid system when designing web sites. There is no longer a single plan. Everything is ready under your hands.
  </p>

  <h1>How does it work?</h1>
  <p>
    <span class="simget">deveb</span> grid system supports 12, 16, 24 and other piece layouts at the same time. It allows you to use all the layouts from 1 to 24 straight piece layouts on the same working page at the same time. The other frontend does not provide single layout support like grid systems on the roof. It will free your hands, free you.
  </p>
  <p>
    Rows and columns have regular container sequences and sorting properties. Flexible box system is configured responsive. You can examine the examples and details below the page. Those who want to learn more about the flexible box can benefit from <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox">Mozilla's flexible</a> documentation.
  </p>

  <h2>How is it used?</h2>
  <p>
    The grid system is a system that can perform positioning and sorting tasks to define widths in various ways within the page being used. The grid system is very easy to use in its own way.
  </p>
  <p>
    It is a grid system consisting of three main layouts: Piece layout, grow layout and shrink layout.The designer can instantly select and use the desired layout. In addition to these features such as sorting feature, positioning feature, hiding feature is also included in the grid system. For more detailed information, review the topics below.
  </p>
  <h3>Piece Layout</h3>
  <p>
    It was made to define the measures in percentages and stable widths. From 1 to 24 piece layouts are ready to use under your hand. Get detailed information by reading the document pages about <a href="/1.0/en/kap-orgusu/parca-duzeni.html"> Piece Layout </a>.
  </p>

  <h3>Grow Layout</h3>
  <p>
    They will have the width of grow effect. Because it is row functionality, it is referenced by special methods if it is requested to continue from the bottom line. Check <a href="/1.0/en/kap-orgusu/genlesme-duzeni.html"> Grow Layout document pages </a> for better reporting.
  </p>
  <h3>Shrink Layout</h3>
  <p>
    <a href="/1.0/en/kap-orgusu/siklasma-duzeni.html"> Shrink layout document pages</a> are in the preparation phase.
  </p>

  <h3>Positioning</h3>
  <p>
    The positioning feature is one of the most used features of the grid system. The opportunities offered when positioning will make your work easier.On the right, middle, top, you can make positioning very comfortable. Review the details on the <a href="/1.0/en/kap-orgusu/konumlama.html">document page</a>.
  </p>

  <h3>Order</h3>
  <p>
    The Order feature is an interesting feature of the grid system. Today, it is one of the features that comes with display: flex. The emergence of this feature is based on much earlier. It is understood as a new feature for many people because of its widespread use in recent years. For example, in wide screens you have two items standing side by side in a narrow screen, but you have decided that the bottom item should actually stay on top. How will you do it? Here is the order feature here comes your help. You can review <a href="/1.0/en/kap-orgusu/siralama.html">the order page</a> for details.
  </p>
{% else %}
Tanımlanamayan dil yolu. TR ve EN dil yoluna erişin.
{% endcase %}