<!DOCTYPE html>
<html lang="tr">
<head>
{% include s1n0/head.html %}
</head>
<body data-gnl="sütun sığdır">

  <div data-gnl="1 1p sığdır oluk-çevre">
    <div id="sol-alan" data-gnl="1 1p üstte" data-kçk="4 22p sığdır oluk-çevre">
      <div data-gnl="1 1p göbekte geniş-aralıklı" data-dev="2 3p sağda-ol göbekte-ol">
        <a data-gnl="0" href="/" class="logo2">deveb</a><span class="birincil" data-gnl="0 göbekte-ol" data-imgelik="kapsül küçük">sürüm 1.0</span>
        <input id="menü-ana-çapraz" checked type="radio" name="ana-menü" data-kapaç="sağda çaprazlama">
        <label for="menü-ana">•••</label>
        <label for="menü-ana-çapraz">///</label>
      </div>
      <div data-gnl="1 1p" data-dev="2 3p sağda-ol üstte-ol">
        {% include s1n0/dallik.html %}
      </div>
    </div>
    <div id="içerik" data-gnl="1 1p" data-kçk="18 22p sığdır oluk-çevre">
      <div data-gnl="1 1p oluk üstte">
        {% if page.title %}
        <div data-gnl="1 1p" data-kçk="20 24p" class="sayfa-başlığı">
          <h1 data-gnl="24 24p">{{ page.title }}</h1>
        </div>
        {% endif %}
        <div data-gnl="24 24p" data-kçk="20 24p">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  <footer data-gnl="24 24p">
  {% include foot.html %}
  </footer>
</body>
</html>
