---
layout: default
---

{% assign veri = site.data.s1n0.kurulum %}
{% assign dil = page.lang %}

{% case dil %}
{% when 'tr' %}
  <p class="girlik">
     Bir-bir, iki-iki, üç-üç, ... gibi birbiriyle aynı genişlikte yinelenen bölümleri bir kerede oluşturmak için yineleme düzenini kullanın. 1'den 24'e kadar eşit bölümleri tanımlayın
  </p>
  <div class="örnek">
    <h3>Örnek</h3>
    <div class="önizleme">
      <div data-gnl="2-2" style="padding:0; border:0px solid red;">
        <div>
          2-2
        </div>
        <div>
          2-2
        </div>
        <div>
          2-2
        </div>
        <div>
          2-2
        </div>
        <div>
          2-2
        </div>
      </div>
    </div>
    {% highlight html %}
    <div data-gnl="2-2">
      <div>
        2-2
      </div>
      <div>
        2-2
      </div>
      <div>
        2-2
      </div>
      <div>
        2-2
      </div>
      <div>
        2-2
      </div>
    </div>
    {% endhighlight %}
  </div>

  <h2>Bölümleme Düzeniyle Kullanım</h2>
  <p>
    Yineleme düzenini bölümleme düzeniyle birlikte iç içe kullanabilirsiniz. Yineleme düzeni kullanmanız her bölümünün bu düzene uygun olması gerektiği anlamına gelmez. Bölümleme düzeniyle birlikte kullanım örneğini inceleyin.
  </p>
  <div class="örnek">
    <h3>Örnek</h3>
    <div class="önizleme">
      <div data-gnl="4-4" style="padding:0; border:0px solid red; background-color: transparent;">
        <div>
          4-4
        </div>
        <div data-gnl="2 /4">
          2 /4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
      </div>
    </div>
    {% highlight html %}
    <div data-gnl="4-4">
      <div>
        4-4
      </div>
      <div data-gnl="2 /4">
        2 /4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
    </div>
    {% endhighlight %}
  </div>

  <h2>Esnetme Düzeniyle Kullanım</h2>
  <p>
    Yineleme düzenini esnetme düzeniyle birlikte iç içe kullanabilirsiniz. Yineleme düzeni kullanmanız her bölümünün bu düzene uygun olması gerektiği anlamına gelmez. Esnetme düzeniyle birlikte kullanım örneğini inceleyin.
  </p>
  <div class="örnek">
    <h3>Örnek</h3>
    <div class="önizleme">
      <div data-gnl="4-4" style="padding:0; border:0px solid red;  background-color: transparent;">
        <div data-gnl="1 /">
          1 /
        </div>
        <div data-gnl="2 /">
          2 /
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
      </div>
    </div>
    {% highlight html %}
    <div data-gnl="4-4">
      <div data-gnl="1 /">
        1 /
      </div>
      <div data-gnl="2 /">
        2 /
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
    </div>
    {% endhighlight %}
  </div>
  <h2>Bölümleme ve Esnetme Düzeniyle Kullanım</h2>
  <p>
    Yineleme düzenini bölümleme ve esnetme düzeniyle birlikte iç içe kullanabilirsiniz. Yineleme düzeni kullanmanız her bölümünün bu düzene uygun olması gerektiği anlamına gelmez. Bölümleme ve esnetme düzeniyle birlikte kullanım örneğini inceleyin.
  </p>
  <div class="örnek">
    <h3>Örnek</h3>
    <div class="önizleme">
      <div data-gnl="4-4" style="padding:0; border:0px solid red; background-color: transparent;">
        <div data-gnl="1 /">
          1 /
        </div>
        <div data-gnl="2 /">
          2 /
        </div>
        <div data-gnl="2 /4">
          2 /4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
      </div>
    </div>
    {% highlight html %}
    <div data-gnl="4-4">
      <div data-gnl="1 /">
        1 /
      </div>
      <div data-gnl="2 /">
        2 /
      </div>
      <div data-gnl="2 /4">
        2 /4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
    </div>
    {% endhighlight %}
  </div>

{% when 'en' %}

  <p class="girlik">
    A rhythmic layout has been developed to create repetitive scopes of the same width. If you want to create one-one, two-two, three-three, ... you just need to use the parameter from 1-1 to 24-24.
  </p>
  <div class="örnek">
    <h3>Preview</h3>
    <div class="önizleme">
      <div data-gnl="2-2">
        <div>
          2-2
        </div>
        <div>
          2-2
        </div>
        <div>
          2-2
        </div>
        <div>
          2-2
        </div>
        <div>
          2-2
        </div>
      </div>
    </div>
    {% highlight html %}
    <div data-gnl="2-2">
      <div>
        2-2
      </div>
      <div>
        2-2
      </div>
      <div>
        2-2
      </div>
      <div>
        2-2
      </div>
      <div>
        2-2
      </div>
    </div>
    {% endhighlight %}
  </div>

  <h2>Use With Piece Layout</h2>
  <p>
    You can use rhythm layout with piece layout. Regular width repeats do not necessarily have to be exactly in line with each other. A good example of what you can do is below.
  </p>
  <div class="örnek">
    <h3>Örnek</h3>
    <div class="önizleme">
      <div data-gnl="4-4">
        <div>
          4-4
        </div>
        <div data-gnl="2 /4">
          2 /4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
      </div>
    </div>
    {% highlight html %}
    <div data-gnl="4-4">
      <div>
        4-4
      </div>
      <div data-gnl="2 /4">
        2 /4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
    </div>
    {% endhighlight %}
  </div>

  <h2>Use With Grow Layout</h2>
  <p>
    You can use rhythm layout with grow layout. Regular width repeats do not necessarily have to be exactly in line with each other. A good example of what you can do is below.
  </p>
  <div class="örnek">
    <h3>Preview</h3>
    <div class="önizleme">
      <div data-gnl="4-4">
        <div data-gnl="1 /">
          1 /
        </div>
        <div data-gnl="2 /">
          2 /
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
      </div>
    </div>
    {% highlight html %}
    <div data-gnl="4-4">
      <div data-gnl="1 /">
        1 /
      </div>
      <div data-gnl="2 /">
        2 /
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
    </div>
    {% endhighlight %}
  </div>
  <h2>Use With Piece & Grow Layout</h2>
  <p>
    You can use rhythm layout with piece & grow layout. Regular width repeats do not necessarily have to be exactly in line with each other. A good example of what you can do is below.
  </p>
  <div class="örnek">
    <h3>Preview</h3>
    <div class="önizleme">
      <div data-gnl="4-4">
        <div data-gnl="1 /">
          1 /
        </div>
        <div data-gnl="2 /">
          2 /
        </div>
        <div data-gnl="2 /4">
          2 /4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
        <div>
          4-4
        </div>
      </div>
    </div>
    {% highlight html %}
    <div data-gnl="4-4">
      <div data-gnl="1 /">
        1 /
      </div>
      <div data-gnl="2 /">
        2 /
      </div>
      <div data-gnl="2 /4">
        2 /4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
      <div>
        4-4
      </div>
    </div>
    {% endhighlight %}
  </div>

{% else %}

  Tanımlanamayan dil yolu. TR ve EN dil yoluna erişin.

{% endcase %}