---
layout: deveb/default
title: Anabet
---
<style>
  * {
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/img/bg.png), linear-gradient(to top left, #255760, rgba(219, 105, 102, 0), #2c2171), linear-gradient(to top right, #2c2171, rgba(255, 153, 150, 0), black) rgb(64, 126, 140);
    background-size: cover;
    overflow: auto;
    -webkit-animation: havada 40s infinite;
    -moz-animation: havada 40s infinite;
    -ms-animation: havada 40s infinite;
  }

  @-webkit-keyframes havada {
    0% {
      background-position: 25% 33%;
    }

    25% {
      background-position: 56% 48%;
    }

    50% {
      background-position: 50% 50%;
    }

    75% {
      background-position: 66% 60%;
    }

    100% {
      background-position: 25% 33%;
    }
  }

  @-moz-keyframes havada {
    0% {
      background-position: 25% 33%;
    }

    25% {
      background-position: 56% 48%;
    }

    50% {
      background-position: 50% 50%;
    }

    75% {
      background-position: 66% 60%;
    }

    100% {
      background-position: 25% 33%;
    }
  }

  @-ms-keyframes havada {
    0% {
      background-position: 25% 33%;
    }

    25% {
      background-position: 56% 48%;
    }

    50% {
      background-position: 50% 50%;
    }

    75% {
      background-position: 66% 60%;
    }

    100% {
      background-position: 25% 33%;
    }
  }

  .bet {
    display: flex;
    max-width: 940px;
    margin: 2%;
  }

  .bet,
  .alan {
    gap: 10px;
  }

  .bet div {
    min-height: 5px;
    border: 1px dashed rgba(255, 255, 255, .6);
  }

  .sekmelik,
  .alan,
  .sol-direk {
    border: 0 !important;
  }

  .tepelik {
    padding: 4px 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: .8em;
    font-weight: 400;
  }

  .tepelik img {
    height: 18px;
  }

  .gövde {
    padding: 5%;
  }

  intro {
    font-family: var(--damga-biçimi);
    color: var(--damga-tüsü);
    font-size: 13pt;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .2px;
  }

  intro h1 {
    font-size: 62pt;
    color: var(--damga-tüsü);
    margin: 0;
  }

  intro h2 {
    font-size: 18pt;
    background: -webkit-linear-gradient(315deg, #f1ee0b 25%, #0be6db);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bölümcükler {
    display: flex;
    --gap: 10px;
    gap: var(--gap);
    border: 0px solid #fff !important;
  }

  .bölümcükler a {
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    text-decoration: none;
    color: #42d392;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    line-height: 28px;
    margin: 4px;
    padding: 8px;
  }

  .bölümcükler a:hover {
    background-color: rgba(255, 255, 255, .05);
  }

  .bölümcükler>div {
    align-items: center;
    justify-content: center;
    border: 1px dashed rgba(255, 255, 255, .6);
  }

  .bölümcükler>div {
    text-align: center;
    color: #fff;
    font-weight: 300;
  }

  .bölümcükler img {
    height: 18px;
  }

  .bölümcükler .fa-brands {
    font-size: 2em;
    margin-bottom: 5px;
  }
  .ayaklık {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #eee;
    font-size: 9pt;
  }
  /* SEKMELER *****************/

  .sekmeler {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
  }

  .sol-direk .sekmeler {
    flex-direction: column;
  }

  .sol-direk .sekmeler li {
    border-radius: 0;
    justify-content: center;
  }

  .sol-direk .sekmeler:hover li {
    justify-content: start;
  }

  .sol-direk .sekmeler li i {
    margin-left: 5px;
    margin-right: 5px;
    width: 22px;
    text-align: center;
    line-height: 24px;
  }

  .sol-direk .sekmeler li span {
    display: none;
  }

  .sol-direk .sekmeler:hover li span {
    display: inherit;
  }

  .sekmeler li {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    border: 1px dashed rgba(255, 255, 255, .6);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 13pt;
  }

  .sekmeler a {
    text-decoration: none;
    color: #eee;
    height: 100%;
    padding: 5px 8px;
    white-space: nowrap;
    flex-wrap: nowrap;
    align-items: center;
  }

  ul.sekmeler a:hover {
    color: #42d392;
  }
</style>

<div class="bet (1/1)">
  <div class="sekmelik {1}">
    <ul class="sekmeler">
      <li>
        <a href="https://data-deveb.github.io">deveb.css</a>
      </li>
    </ul>
  </div>
  <div class="tepelik (1/1)">
    <img src="/assets/img/icons8-left-80.png" alt="">
    <img src="/assets/img/icons8-right-80.png" alt="">
    <img src="/assets/img/icons8-refresh-80.png" alt="" onclick="window.location.reload()"
      style="margin-right: auto; cursor:pointer;">
    <img src="/assets/img/icons8-minimize-window-80.png" alt="">
    <img src="/assets/img/icons8-restore-window-80.png" alt="">
    <img src="/assets/img/icons8-close-window-80.png" alt="">
  </div>
  <div class="alan {1}">
    <div class="gövde (1/1)">
      <intro class="{1} ortalı yazı">
        <h1>deveb.css</h1>
        <h2>HTML için CSS ile çığırlar aça aça geliştirilir!</h2>
        <p>
          Kolaylık, yeğnilik, esneklik, çeviklik, işleklik ve birçok özellik deveb.css'de.
        </p>
      </intro>
    </div>
    <div class="sol-direk {0}">
      <ul class="sekmeler">
        {% for oege in site.data.boeluemler.ana %}
        <li>
          <a class="{1}" href="{{oege.url}}">
            {{oege.icon}} {{oege.title}}
          </a>
        </li>
        {% endfor %}
        <li class="{1}"></li>
      </ul>
    </div>

    <div class="bölümcükler {1}">
      <div class="(1/2) {1}" küçük="(1/2)" orta="(1/2)">
        <a href="{{site.data.boeluemler.deveb[0].url}}">
          {{site.data.boeluemler.deveb[0].icon}}
          {{site.data.boeluemler.deveb[0].title}}
        </a>
      </div>
      <div class="(1/2) {1}" küçük="(1/2) {1}" orta="(1/2)">
        <a href="{{site.data.boeluemler.deveb[1].url}}">
          {{site.data.boeluemler.deveb[1].icon}}
          {{site.data.boeluemler.deveb[1].title}}
        </a>
      </div>
      <div class="(1/2) {1}" küçük="(2/2)" orta="(1/2)">
        <a href="{{site.data.boeluemler.deveb[2].url}}">
          {{site.data.boeluemler.deveb[2].icon}}
          {{site.data.boeluemler.deveb[2].title}}
        </a>
      </div>
      <div class="(1/2) {1}" küçük="(1/2)" orta="(1/2) {1}">
        <a href="{{site.data.boeluemler.deveb[3].url}}">
          {{site.data.boeluemler.deveb[3].icon}}
          {{site.data.boeluemler.deveb[3].title}}
        </a>
      </div>
    </div>
    <div class="sol-direk {0}">
      <ul class="sekmeler">
        {% for oege in site.data.sosyal_medya %}
        <li>
          <a class="{1}" href="{{oege.url}}">
            {{oege.icon}} <span>{{oege.title}}</span>
          </a>
        </li>
        {% endfor %}
        <li class="{1}"></li>
      </ul>
    </div>

    <div class="bölümcükler (1/1)">
      <div class="(1/3) {1}" orta="({1})">
        <a href="https://www.w3.org/html/"><i class="fa-brands fa-html5" style="color: #f06529;"></i><br>HTML5</a>
      </div>
      <div class="(1/3) {1}" orta="({1})">
        <a href="https://www.w3.org/Style/CSS/Overview.en.html"><i class="fa-brands fa-css3-alt" style="color: #3c99dc;"></i><br>CSS3</a>
      </div>
      <div class="(1/3) {1}" orta="({1})">
          <a href="https://www.mozilla.org/tr/firefox/"><i class="fa-brands fa-firefox-browser" style="color: #ff6611;"></i><br>Firefox</a>
      </div>
      <div class="(1/3) {1}" orta="({1})">
          <a href="https://www.microsoft.com/tr-tr/edge"><i class="fa-brands fa-edge" style="color: #20b4bf;"></i><br>Edge</a>
      </div>
      <div class="(1/3) {1}" orta="({1})">
          <a href="https://www.google.com/chrome/"><i class="fa-brands fa-chrome" style="color: #ffcd46;"></i><br>Chrome</a>
      </div>
      <div class="(1/3) {1}" orta="({1})">
          <a href="https://www.opera.com/tr"><i class="fa-brands fa-opera" style="color: #cb0b1e;"></i><br>Opera</a>
      </div>
    </div>
  </div>
  <div class="ayaklık (1/1)">
    data-deveb©2017-2024
  </div>
</div>