.text-primary{color:#000;}
.text-secondary{color:#000;}
.text-quaternary{color:#000;}
.text-tertiary{color:#000;}
.text-dark{color:#000;}
.text-light{color:#000;}
.text-success{color:#000;}
.text-warning{color:#000;}
.text-error{color:#000;}

.bg-primary{background-color:#000;}
.bg-secondary{background-color:#000;}
.bg-quaternary{color:#000;}
.bg-tertiary{color:#000;}
.bg-dark{background-color:#000;}
.bg-light{background-color:#000;}
.bg-success{background-color:#000;}
.bg-warning{background-color:#000;}
.bg-error{background-color:#000;}