.yazı-birincil{color:#247ba0;}
.yazı-ikincil{color:#ef476f;}
.yazı-üçüncül{color:#ffd166;}
.yazı-dördüncül{color:#06d6a0;}
.yazı-koyu{color:#000;}
.yazı-açık{color:#ccc;}
.yazı-olumlu{color:#28a745;}
.yazı-olumsuz{color:#aaa;}
.yazı-uyarı{color:#ffc107;}
.yazı-hata{color:#dd0000;}
.yazı-bilgi{color:#17a2b8;}

a.yazı-birincil:hover{color:#358cb1; text-decoration: underline;}
a.yazı-ikincil:hover{color:#ef476f; text-decoration: underline;}
a.yazı-üçüncül:hover{color:#ffd166; text-decoration: underline;}
a.yazı-dördüncül:hover{color:#06d6a0; text-decoration: underline;}
a.yazı-koyu:hover{color:#000; text-decoration: underline;}
a.yazı-açık:hover{color:#ccc; text-decoration: underline;}
a.yazı-olumlu:hover{color:#28a745; text-decoration: underline;}
a.yazı-olumsuz:hover{color:#aaa; text-decoration: underline;}
a.yazı-uyarı:hover{color:#ffc107; text-decoration: underline;}
a.yazı-hata:hover{color:#dd0000; text-decoration: underline;}
a.yazı-bilgi:hover{color:#17a2b8; text-decoration: underline;}

.arka-birincil{background-color:#247ba0;}
.arka-ikincil{background-color:#ef476f;}
.arka-üçüncül{background-color:#ffd166;}
.arka-dördüncül{background-color:#06d6a0;}
.arka-koyu{background-color:#000;}
.arka-açık{background-color:#ccc;}
.arka-olumlu{background-color:#28a745;}
.arka-olumsuz{background-color:#aaa;}
.arka-uyarı{background-color:#ffc107;}
.arka-hata{background-color:#dd0000;}
.arka-bilgi{background-color:#17a2b8;}

/*
dikkat
tehlike
bilgi
olumlu
olumsuz
.text-primary

.text-secondary

.text-success

.text-danger

.text-warning

.text-info

.text-light

.text-dark

.text-muted

.text-white
*/