.kapsama {width:992px; margin:0 auto;}
ul li {margin: 10px;}
header {width:100%;position:relative;}
header nav {position:fixed; width:100%;background-color:white;text-align:center;     -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);}