<!DOCTYPE html>
<html lang="tr">

<head>
    {% include deveb/bash.html %}
</head>

<body class="(1/1)">
    <tepelik class="(1/1) gizli">

    </tepelik>
    <başlık class="(1/1)">
        {% include deveb/bashlyk.html %}
    </başlık>
    <boyunluk class="(1/1) gizli">

    </boyunluk>
    <gövdelik class="{1} ortalı" küçük="" orta="{1}">
        <solkolluk class="} gizli" büyük="görünür">
            <omuzluk class="(1/1)">
                <ul class="seçek (1/1)">

                    {% assign kylavuz = site.kylavuz | group_by: "kategori" | sort: site.kategori-syrasy %}

                    <!-- kylavuz[0]["items"][0].title -->
                    
                    {% for nesneler in kylavuz %}
                    
                        <li class="(1/1)"> 
                        <!-- nesneler["items"][0].kategori["bölüm"] -->
                        
                            <strong>{{ nesneler.items.first.kategori.bolum }}</strong>
                            <ul class="seçek (1/1)">
                            {% for nesne in nesneler.items %}
                            <!-- nesne.title -->
                                {% if nesne.kategori.alan contains "kılavuz" %}                                
                                <li class="(1/1)"><a href="{{ nesne.url }}">{{ nesne.title }}</a></li>                                
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>                
            </omuzluk>
            <dirseklik class="(1/1)">
                <!--  contentblock soldirseklik -->
            </dirseklik>
            <bileklik>

            </bileklik>
        </solkolluk>
        <ortalık class="{6}">
            <döşlük>

            </döşlük>
            <bağırlık>
                {{content}}
            </bağırlık>
            <karınlık>

            </karınlık>
        </ortalık>
        <sağkolluk class="{2}">
            <omuzluk>

            </omuzluk>
            <dirseklik>

            </dirseklik>
            <bileklik>

            </bileklik>
        </sağkolluk>
    </gövdelik>

    <ayaklık class="(1/1)">

    </ayaklık>
    <tabanlık class="(1/1)">

    </tabanlık>
</body>

</html>