<ul data-menü="basamak">
  <li><h3 data-metin="ana gri">Belgeler</h3></li>
  <li><a href="/belgeler/deveb.html">Giriş</a></li>
  <li><a href="/belgeler/kurulum.html">Kurulum</a></li>
  <li><a href="/belgeler/ekran-orgusu.html">Ekran Örgüsü</a>
  <li><a href="/belgeler/kap-orgusu.html">Kap Örgüsü</a>
    <ul>
      <li><a href="/belgeler/kap-orgusu/olcekler.html">Ölçekler</a>
      <li><h6 data-metin="ana gri">Örnekler</h6></li>
      <li><a href="/belgeler/ornekler/kap-orgusu-esit-bolme.html">Eşit Bölme #1</a></li>
      <li><a href="/belgeler/ornekler/kap-orgusu-esit-bolme-2.html">Eşit Bölme #2</a></li>
    </ul>
  </li>
  <li><a href="/belgeler/renk-orgusu.html">Renk Örgüsü</a></li>
  <li><a href="/belgeler/terimler.html">Terimler</a></li>
</ul>
