.main-menu{
  background-color: #000;
  color:#fff;
}
.main{

}
html:not(.intro){
  background-color: #ddd;
  background: url('/temalar/sosero/assets/img/arkaplan.png') no-repeat center center fixed,url('/temalar/sosero/assets/img/arkaplan0.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
[data-menü~="sağ-kaval"] > li a{
  position: relative;
  padding:10px;
  display:flex;
  justify-content: center;
}
[data-menü~="sağ-kaval"] > li a span{
  display:none;
  position: absolute;
  right:100%;
  top:0;
}
[data-menü~="sağ-kaval"] > li:hover a span{
  display:flex;
  align-items: center;
  background-color: #13672f;
    height: 100%;
    padding:0 15px;
}
[data-menü~="sağ-kaval"] > li:hover a{
  background-color: #13672f;
  color:#fff;
}
@media screen and (max-width:576px) {
[data-menü~="sağ-kaval"]{
  position: fixed;
  height: 100%;
  width:100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 998;
  background-color:rgba(111,41,36,.88);
}
}


.tam{
  width:auto;
  min-width:100%;
  min-height:100%;
  display: block;
}
/*****/
.sosero{

}
.intro{
  background: url('/temalar/sosero/assets/img/giri_ap.png') no-repeat center bottom fixed,url('/temalar/sosero/assets/img/giri_ap.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.yemek-adi, .product-name{
  padding-top:50px;
  padding-left:10px;
  font-size:36px;
  line-height: 28px;
  font-weight: bold;
  margin:0;
  border-left:4px solid #13672f;
  color:#c70000;
}
.yemek-içeriği, .product-content{
  padding-left:14px;
  padding-right: 14px;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 30px;
}
.product-content{
  padding:0;
  margin-bottom: 0;
}
.yemek-içeriği h2, .product-content h2{
  font-size:16px;
  font-weight: 600;
  color:#13672f;
  margin-top:30px;
}
.product-detail{
  text-align: center;
  border-collapse:collapse;border-spacing:0;
}
.product-detail td{
  border:1px solid rgba(0,0,0,.3);
  background-color: #fff;
  width:25%;
}
.product-detail th{
  background-color:#c70000;
  color:#fff;
  font-weight: bold;
  border:1px solid #c70000;
  padding:10px;
}
.product-detail  .pd-value{
  font-weight: bold;
  font-size:1.4em;
  margin:0;
}
.product-card{
  flex: 0 0 200px;
  padding: 20px;
}
