<!DOCTYPE html>
<html lang="tr">
<head>
{% include sosero/head.html %}
</head>
<body data-gnl="sütun sığdır">
  <div data-gnl="1 1p" data-byk="sığdır">
    {% include sosero/menu.html %}
    <div class="main" data-gnl="1g 1nc sütun dürmeden sığdır" style="align-items:center;">
      <header data-gnl="23 24p üstte" style="flex-basis:auto">
        <h1 class="product-name" data-ort="1 3p üstte-ol küçükleri-gizle">HABERLER</h1>
        {% include sosero/hamburger-capraz.html %}
      </header>
      {{ content }}
    </div>
  </div>
</body>
</html>
