<!DOCTYPE html>
<html lang="tr">
<head>
{% include sosero/head.html %}
</head>
<body data-gnl="sütun sığdır">
  <div data-gnl="1 1p sığdır">
    <header data-gnl="23 24p" style="position:absolute; z-index:999;">
      <a class="logo" href="#"><img src="/temalar/sosero/assets/img/sosero.png" alt="SOSERO"></a>
      {% include sosero/hamburger-capraz.html %}
    </header>
    {% include sosero/menu.html %}
    <div class="main" data-gnl="1g 1nc ortada sığdır" data-byk="kaymadan dürmeden">
      {{ content }}
    </div>
    <footer data-gnl="23 24p" style="position:absolute; bottom:0; z-index:999;">
      {% include sosero/footer.html %}
    </footer>
  </div>
</body>
</html>
