<!DOCTYPE html>
<html lang="tr">
<head>
{% include sosero/head.html %}
</head>
<body data-gnl="sütun sığdır">
  <div data-gnl="1 1p" data-kçk="sığdır">
    {% include sosero/menu.html %}
    <div class="main paketler" data-gnl="1g 1nc ortada sığdır">
      <header data-gnl="23 24p üstte-ol">
        <a class="logo" href="#"><img src="/temalar/sosero/assets/img/sosero.png" alt="SOSERO"></a>
        <h1 class="product-name" data-ort="1 3p üstte-ol küçükleri-gizle">PAKETLER</h1>
        {% include sosero/hamburger-capraz.html %}
      </header>
      <div data-gnl="23 24p ortada">
        <div data-gnl="1 1p dürmeden" style="height: 100%;overflow: hidden;">
          {{ content }}
        </div>
      </div>
    </div>
    <footer data-gnl="0">
      {% include sosero/footer.html %}
    </footer>
  </div>
</body>
</html>
