/* ==========================================================================
    Bağlar
-------------------------------------------------------------------------- */
[data-basmal], [data-basmal~="grup"] > a, {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	padding: .5rem 1rem;
	font-size: 1rem;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	position: relative;
}
[data-basmal]:not([data-basmal~="grup"]){
	opacity: 0.9;
}
[data-basmal]:not([data-basmal~="grup"]):hover{
	opacity: 1;
}
[data-basmal~="grup"] > a{
	padding: .5rem 1rem;
	border-width: 1px;
	margin-right: -1px;
	opacity: 0.9;
	background-color: inherit;
}
[data-basmal~="grup"]{
	padding: 0;
	border-width:0;
	display:flex;
	border-radius:0rem;
	background-color:transparent;
}

[data-basmal~="grup"] > a:hover{
	opacity: 1;
}
[data-basmal~="grup"] > a:last-child{
	margin-right: 0;
}

[data-basmal~="grup"].tel > a,
[data-basmal~="grup"][data-basmal~="tel"] > a{
	border-style:solid;
}
[data-basmal~="grup"].kapsül > a,
[data-basmal~="grup"][data-basmal~="kapsül"] > a{
	border-style:solid;
}

[data-basmal~="tel"]{
	border-width:1px;
	border-style: solid;
	background-color: transparent;
	color:inherit;
}


[data-basmal~="küçük"]{
  font-size:.70em;
}
[data-basmal~="büyük"]{
  font-size: 1.1em;
}
[data-basmal~="kapsül"]{
  border-radius: 10rem;
}
[data-basmal~="sol-kapsül"]{
  border-top-left-radius:10rem;
  border-bottom-left-radius:10rem;
}
[data-basmal~="sağ-kapsül"]{
  border-top-right-radius:10rem;
  border-bottom-right-radius:10rem;
}

[data-basmal~="sivri"]{
  border-radius:0;
}
[data-basmal~="bombe"]{
  border-radius: 50% / 10%;
}
[data-basmal~="yuvar"]{
  border-radius: 50% / 50%;
}
[data-basmal~="birincil"]{
  background-color:#007bff;
  color:#fff;
  border:2px solid #007bff;
}












[data-basmal~="metin"]{
  padding:0;
  border-radius: 0;
  border:0;
}
[data-basmal~="genel"]{
  background-color:#0275d8;
  color:#fff;
}
[data-basmal~="genel"]:hover{
  background-color: #025aa5;
}
[href][data-basmal~="genel"]{
	border:1px solid #ddd;
	background-color: #fff;
  color:#0275d8;
}
[data-basmal~="engelli"]{
  pointer-events: none;
  opacity: 0.6;
  color:#aaa;
}
[data-basmal~="dev"]{
  padding: 1rem 3rem;
  font-size:16pt;
}
[data-basmal~="byk"]{
  padding: 1rem 3rem;
}

[data-basmal~="ort"]{
  padding: .8rem 2rem;
}
[data-basmal~="ufk"]{
  padding: .3rem .7rem;
  font-size:10pt;
}
[data-basmal~="mnk"]{
  padding: .15rem .5rem;
  font-size:9pt;
}
[data-basmal]:not([data-basmal~="engelli"]),[data-basmal]:not(:disabled){
  cursor: pointer;
}


input[data-basmal]{
	display: none;
}
input[data-basmal], input[data-basmal]:after, input[data-basmal]:before, input[data-basmal] *,
input[data-basmal] *:after, input[data-basmal] *:before, input[data-basmal] + label {
  box-sizing: border-box;
}
input[data-basmal]+label{
	outline: 0;
	display: block;
	width: 4em;
	height: 2em;
	padding:0;
	margin:0;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
}
input[data-basmal~="mnk"]+label{	width: 2em;	height: 1em;}
input[data-basmal~="ufk"]+label{	width: 3em;	height: 1.5em;}
input[data-basmal~="ort"]+label{	width: 5em;	height: 2.5em;}
input[data-basmal~="byk"]+label{	width: 6em;	height: 3em;}
input[data-basmal~="dev"]+label{	width: 8em;	height: 4em;}
input[data-basmal]+label:after{
	position: relative;
	display: block;
	content: "";
	width: 50%;
	min-height: 100%;
}
input[data-basmal~="hafif"] + label{
	background: #ccc;
	border-radius: 2em;
	padding: 2px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}
input[data-basmal] + label:after {left: 0;}
input[data-basmal]:checked + label:after {left: 50%;}
input[data-basmal~="hafif"] + label:after{
	border-radius: 50%;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
input[data-basmal~="hafif"]:checked + label {
  background-color: green;
}

input[data-basmal~="yumuşak"] + label {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  border: 1px solid #e8eae9;
}
input[data-basmal~="yumuşak"] + label:after {
  border-radius: 2em;
  background: #fbfbfb;
  -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
input[data-basmal~="yumuşak"] + label:hover:after {
  will-change: padding;
}
input[data-basmal~="yumuşak"] + label:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
input[data-basmal~="yumuşak"] + label:active:after {
  padding-right: .8em;
}
input[data-basmal~="yumuşak"]:checked + label {
  background: #86d993;
}
input[data-basmal~="yumuşak"]:checked + label:active {
  box-shadow: none;
}
input[data-basmal~="yumuşak"]:checked + label:active:after {
  margin-left: -.8em;
}

input[data-basmal~="eğik"] + label {
  overflow: hidden;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  background: #888;
}
input[data-basmal~="eğik"] + label:after, input[data-basmal~="eğik"] + label:before {
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  display: inline-block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
input[data-basmal~="eğik"] + label:after {
  left: 100%;
  content: attr(data-basmal-açık);
}
input[data-basmal~="eğik"] + label:before {
  left: 0;
  content: attr(data-basmal-kapalı);
}
input[data-basmal~="eğik"] + label:active {
  background: #888;
}
input[data-basmal~="eğik"] + label:active:before {
  left: -10%;
}
input[data-basmal~="eğik"]:checked + label {
  background: #86d993;
}
input[data-basmal~="eğik"]:checked + label:before {
  left: -100%;
  opacity: 0;
}
input[data-basmal~="eğik"]:checked + label:after {
  left: 0;
}
input[data-basmal~="eğik"]:checked + label:active:after {
  left: 10%;
}
input[data-basmal~="eğik"][data-basmal~="mnk"]+label{ font-size: 7pt;	width:4.5em;	height: 1.8em;}
input[data-basmal~="eğik"][data-basmal~="ufk"]+label{	font-size: 9pt;	width:4.5em;	height: 1.8em;}
input[data-basmal~="eğik"]+label{	font-size: 10pt;	width:4.5em;	height: 1.8em;}
input[data-basmal~="eğik"][data-basmal~="ort"]+label{	font-size: 12pt;	width:4.5em;	height: 1.8em;}
input[data-basmal~="eğik"][data-basmal~="byk"]+label{	font-size: 14pt;	width:4.5em;	height: 1.8em;}
input[data-basmal~="eğik"][data-basmal~="dev"]+label{	font-size: 16pt;	width:4.5em;	height: 1.8em;}

input[data-basmal~="yassı"] + label {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff;
  border: 4px solid #d2d2d2;
  border-radius: 2em;
	width:5em;	height: 1.8em;
}
input[data-basmal~="yassı"] + label:after {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #f2f2f2;
  content: "";
  border-radius: 1em;
}
input[data-basmal~="yassı"]:checked + label {
  border: 4px solid green;
}
input[data-basmal~="yassı"]:checked + label:after {
  left: 50%;
  background: green;
}
input[data-basmal~="yassı"][data-basmal~="mnk"]+label{ border-width: 2px; font-size: 7pt;	width:3em;	height: 1.7em;}
input[data-basmal~="yassı"][data-basmal~="ufk"]+label{ border-width: 3px; font-size: 9pt;	width:3.5em;	height: 1.8em;}
input[data-basmal~="yassı"]+label{	border-width: 4px; font-size: 10pt;	width:4em;	height: 1.9em;}
input[data-basmal~="yassı"][data-basmal~="ort"]+label{	border-width: 4px; font-size: 11pt;	width:4.5em;	height: 2em;}
input[data-basmal~="yassı"][data-basmal~="byk"]+label{ border-width: 5px; 	font-size: 14pt;	width:5em;	height: 2.1em;}
input[data-basmal~="yassı"][data-basmal~="dev"]+label{	border-width: 6px; font-size: 16pt;	width:5.5em;	height: 2.2em;}

input[data-basmal~="çevrik"] + label {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  -webkit-perspective: 100px;
          perspective: 100px;
}
input[data-basmal~="çevrik"] + label:after, input[data-basmal~="çevrik"] + label:before {
  display: inline-block;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
}
input[data-basmal~="çevrik"] + label:after {
  content: attr(data-basmal-açık);
  background: #02C66F;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
input[data-basmal~="çevrik"] + label:before {
  background: #FF3A19;
  content: attr(data-basmal-kapalı);
}
input[data-basmal~="çevrik"] + label:active:before {
  -webkit-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}
input[data-basmal~="çevrik"]:checked + label:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
input[data-basmal~="çevrik"]:checked + label:after {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  left: 0;
  background: #7FC6A6;
}
input[data-basmal~="çevrik"]:checked + label:active:after {
  -webkit-transform: rotateY(20deg);
          transform: rotateY(20deg);
}
input[data-basmal~="çevrik"][data-basmal~="mnk"]+label{  font-size: 7pt;	width:4em;	height: 1.8em;}
input[data-basmal~="çevrik"][data-basmal~="ufk"]+label{  font-size: 9pt;	width:4.5em;	height: 1.8em;}
input[data-basmal~="çevrik"]+label{  font-size: 10pt;	width:4.5em;	height: 1.8em;}
input[data-basmal~="çevrik"][data-basmal~="ort"]+label{	 font-size: 12pt;	width:5em;	height: 1.8em;}
input[data-basmal~="çevrik"][data-basmal~="byk"]+label{  	font-size: 14pt;	width:5em;	height: 1.8em;}
input[data-basmal~="çevrik"][data-basmal~="dev"]+label{	 font-size: 16pt;	width:6em;	height: 1.8em;}

input[data-basmal~="simge"] + label{
	border-radius: 50%;
	background-color: #fff;
	height:30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	border:3px solid #d2d2d2;
	color:#d2d2d2;
}
input[data-basmal~="simge"] + label::after{
display: none;
}
input[data-basmal~="simge"]:checked + label{
background-color: green;
color:#fff;
border-color: #0B610B;
}
input[data-basmal~="simge"][data-basmal~="çapraz"]:checked + label *:first-child,
input[data-basmal~="simge"][data-basmal~="çapraz"] + label *:last-child{
	display: none;
}
input[data-basmal~="simge"][data-basmal~="çapraz"] + label *:first-child,
input[data-basmal~="simge"][data-basmal~="çapraz"]:checked + label *:last-child{
	display: inline-block;
}
input[data-basmal~="simge"][data-basmal~="mnk"]+label{  border-width: 2px; font-size: 10pt;	width:2em;	height: 2em;}
input[data-basmal~="simge"][data-basmal~="ufk"]+label{ border-width: 2px; font-size: 12pt;	width:2em;	height: 2em;}
input[data-basmal~="simge"]+label{  font-size: 14pt;	width:2em;	height: 2em;}
input[data-basmal~="simge"][data-basmal~="ort"]+label{	 font-size: 16pt;	width:2em;	height: 2em;}
input[data-basmal~="simge"][data-basmal~="byk"]+label{  font-size: 20pt;	width:2em;	height: 2em;}
input[data-basmal~="simge"][data-basmal~="dev"]+label{	 font-size: 24pt; width:2em;	height: 2em;}
