@mixin esnek{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;}

@mixin dürme{
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;}

@mixin ters-dürme {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

@mixin üstte-ol {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;}

@mixin sütun {
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

@mixin ters-sütun {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column;
  -reverseflex-direction: column-reverse;
}

@mixin satır {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@mixin ters-satır {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

@mixin solda {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@mixin ortada {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin sağda {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@mixin merkezde {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin üstte {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
}

@mixin göbekte {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

@mixin altta {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
}

@mixin üstte-ol {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

@mixin göbekte-ol {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
      align-self: center;
}

@mixin altta-ol {
    margin-top: auto;
}

@mixin sağda-ol {
  margin-left: auto;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

@mixin ortada-ol {
  margin-left: auto;
  margin-right: auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
      align-self: center;
}

@mixin solda-ol {
  margin-right: auto;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

@mixin geniş-aralıklı {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@mixin aralıklı {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@mixin uzat {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -ms-grid-row-align: stretch;
  align-items: stretch;
}

@mixin uzun-ol {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

@mixin satırda {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  -ms-grid-row-align: baseline;
  align-items: baseline;
}

@mixin satırda-ol {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

@mixin dürmeden {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

@mixin gergin {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -ms-grid-row-align: stretch;
    align-items: stretch;
}

@mixin sıralama($değer) {
  -webkit-box-ordinal-group: $değer + 1;
    -ms-flex-order: #{$değer};
      order: #{$değer};
}
