/* English */
$gnl: gnl;
$mnk: mn;
$ufk: xs;
$kçk: sm;
$ort: md;
$byk: lg;
$kcm: xl;
$dev: hg;

/* Grid System */

$soldan: left;
$sağdan: right;
$öte: offset;

/* Konumlama - Kap Örgüsü */
$sütun: column;

$kaymadan: overflow-hidden;
$yatay-kayma: h-overflow;

$dürmeden: nowrap;
$ters-dürme: wrap-reverse;
$ters-satır: row-reverse;
$ters-sütun: column-reverse;

$solda: left;
$ortada: center;
$sağda: right;
$merkezde: full-center;
$üstte: top;
$göbekte: middle;
$altta: bottom;

$üstte-ol: top-self;
$göbekte-ol: middle-self;
$altta-ol: bottom-self;
$sağda-ol: right-self;
$ortada-ol: center-self;
$solda-ol: left-self;

$araları-aralık: space-between;
$dengeli-aralık: space-around;
$uzat: stretch;
$uzun-ol: stretch-self;

$satırda: baseline;
$satırda-ol: baseline-self;

$metin-sağda: text-right;
$metin-ortada: text-center;
$metin-solda: text-left;

/* Durumlama - Kap Örgüsü */
$gizle: hide;
$bunu-gizle: hide-this;
$küçükleri-gizle: hide-smaller;
$büyükleri-gizle: hide-bigger;
$küçükleriyle-gizle: hide-with-smaller;
$büyükleriyle-gizle: hide-with-bigger;
$diğerlerini-gizle: hide-other;

/* */
$aralık: aralık;
$oluk-çevre: oluk-çevre;
$oluk: oluk;
$oluk-yok: oluk-yok;
$kaplama: container;
$bunu-kaplama: container-this;
$küçükleri-kaplama: container-smaller;
$küçükleriyle-kaplama: container-with-smaller;
$büyükleriyle-kaplama: container-with-bigger;
$büyükleri-kaplama: conatiner-bigger;
