/* Türkçe */

/* Ekran Örgüsü */
$gnl: gnl;
$mnk: mnk;
$ufk: ufk;
$kçk: kçk;
$ort: ort;
$byk: byk;
$kcm: kcm;
$dev: dev;


/* Kap Örgüsü */
/* Konumlama - Kap Örgüsü */
$kaymadan: kaymadan;
$yatay-kayma: yatay-kayma;

$dürmeden: dürmeden;
$ters-dürme: ters-dürme;
$ters-satır: ters-satır;
$ters-sütun: ters-sütun;

$solda: solda;
$ortada: ortada;
$sağda: sağda;
$merkezde: merkezde;
$üstte:üstte;
$göbekte:göbekte;
$altta: altta;

$üstte-ol: üstte-ol;
$göbekte-ol: göbekte-ol;
$altta-ol: altta-ol;
$sağda-ol: sağda-ol;
$ortada-ol: ortada-ol;
$solda-ol: solda-ol;

$geniş-aralıklı: geniş-aralıklı;
$aralıklı: aralıklı;
$uzat: uzat;
$uzun-ol: uzun-ol;

$satırda: satırda;
$satırda-ol: satırda-ol;

$metin-sağda: metin-sağda;
$metin-ortada: metin-ortada;
$metin-solda: metin-solda;

/* Durumlama - Kap Örgüsü */
$gizle: gizle;
$bunu-gizle: bunu-gizle;
$küçükleri-gizle: küçükleri-gizle;
$büyükleri-gizle: büyükleri-gizle;
$küçükleriyle-gizle: küçükleriyle-gizle;
$büyükleriyle-gizle: büyükleriyle-gizle;
$diğerlerini-gizle: diğerlerini-gizle;

/* */
$aralık: aralık;
$oluk-çevre: oluk-çevre;
$oluk: oluk;
$oluk-yok: oluk-yok;
$kaplama: kaplama;
$bunu-kaplama: bunu-kaplama;
$küçükleri-kaplama: küçükleri-kaplama;
$küçükleriyle-kaplama: küçükleriyle-kaplama;
$büyükleriyle-kaplama: büyükleriyle-kaplama;
$büyükleri-kaplama: büyükleri-kaplama;
