/*

+----------------+--------------+--------------+
| araları-aralık |              |              |
+----------------+--------------+--------------+
| dengeli-aralık |              |              |
+----------------+--------------+--------------+
| aralık         | kemer        | kenar        |
+----------------+--------------+--------------+
| altüst-aralık  | altüst-kemer | altüst-kenar |
+----------------+--------------+--------------+
| sağsol-aralık  | sağsol-kemer | sağsol-kenar |
+----------------+--------------+--------------+
| üst-aralık     | üst-kemer    | üst-kenar    |
+----------------+--------------+--------------+
| sağ-aralık     | sağ-kemer    | sağ-kenar    |
+----------------+--------------+--------------+
| alt-aralık     | alt-kemer    | alt-kenar    |
+----------------+--------------+--------------+
| sol-aralık     | sol-kemer    | sol-kenar    |
+----------------+--------------+--------------+

sığdır

parça-düzeni
genleşme-düzeni
sıralama-düzeni
konumlama

doğrultular: dikey (sütun sözcüğü iptal), yatay (satır sözcüğü iptal)
*/




/* PARÇA DÜZENİ */
@mixin parça-düzeni($ekran){

    @for $i from 1 through 24{
      [data-#{$ekran}~="#{$i}"]{--parça: #{$i};}
      [data-#{$ekran}~="#{$i}p"]{--par: #{$i};}
      [data-#{$ekran}~="#{$soldan}-#{$i}"]{--parça-soldan: #{$i};}
      [data-#{$ekran}~="#{$i}p-#{$öte}"]{--par-soldan: #{$i};}
      [data-#{$ekran}~="#{$sağdan}-#{$i}"]{--parça-sağdan: #{$i};}
      [data-#{$ekran}~="#{$i}p-#{$öte}"]{--par-sağdan: #{$i};}
    }

    [data-#{$ekran}]{
      flex-basis: calc(100% / var(--par) * var(--parça));
      width: calc(100% / var(--par) * var(--parça));
      max-width:  calc(100% / var(--par) * var(--parça));
    }
    [data-#{$ekran}*="soldan-"][data-#{$ekran}*="p-öte"]{
      margin-left: calc(100% / var(--par-soldan) * var(--parça-soldan));
    }
    [data-#{$ekran}*="sağdan-"][data-#{$ekran}*="p-öte"]{
      margin-right: calc(100% / var(--par-sağdan) * var(--parça-sağdan));
    }
}

/* GENLEŞME DÜZENİ */
@mixin genleşme-düzeni($ekran) {
  @for $i from 1 through 24{
    [data-#{$ekran}~="#{$i}g"]{
      -webkit-box-flex: #{$i};
      -ms-flex: #{$i};
      flex: #{$i};
    }
  }

  [data-#{$ekran}~="0"]{
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: none;
    width: auto;
  }
}

/* SIRALAMA DÜZENİ */
@mixin sıralama-düzeni($ekran) {
  @for $i from 1 through 24{
    [data-#{$ekran}~="#{$i}nc"]{
      -webkit-box-ordinal-group: #{$i};
      -ms-flex-order: #{$i};
      order: #{$i};
    }
  }
}

@mixin sığdır($ekran) {
  [data-#{$ekran}~="sığdır"]{
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 0 !important;
            flex: 1 1 0 !important;
    overflow: auto;
    max-height: 100%;
  }
}

@mixin konumlama($ekran) {
  [data-#{$ekran}~="#{$sütun}"]{
    flex-direction: column;
  }

  [data-#{$ekran}~="#{$kaymadan}"]{
    overflow: hidden;
  }
  [data-#{$ekran}~="#{$yatay-kayma}"]{
    overflow-x: auto;
  }

  [data-#{$ekran}~="#{$dürmeden}"]{
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  [data-#{$ekran}~="#{$ters-dürme}"]{
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  [data-#{$ekran}~="#{$ters-satır}"]{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  [data-#{$ekran}~="#{$ters-sütun}"]{
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column;
    -reverseflex-direction: column-reverse;
  }

  [data-#{$ekran}~="#{$sütun}"][data-#{$ekran}~="#{$üstte}"],
  [data-#{$ekran}~="#{$solda}"]:not([data-#{$ekran}~="#{$sütun}"]){
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  [data-#{$ekran}~="#{$sütun}"][data-#{$ekran}~="#{$göbekte}"],
  [data-#{$ekran}~="#{$ortada}"]:not([data-#{$ekran}~="#{$sütun}"]){
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  [data-#{$ekran}~="#{$sütun}"][data-#{$ekran}~="#{$altta}"],
  [data-#{$ekran}~="#{$sağda}"]:not([data-#{$ekran}~="#{$sütun}"]){
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  [data-#{$ekran}~="#{$sütun}"][data-#{$ekran}~="#{$solda}"],
  [data-#{$ekran}~="#{$üstte}"]:not([data-#{$ekran}~="#{$sütun}"]){
    -ms-flex-line-pack: flex-start;
    align-content: flex-start;
  }
  [data-#{$ekran}~="#{$sütun}"][data-#{$ekran}~="#{$ortada}"],
  [data-#{$ekran}~="#{$göbekte}"]:not([data-#{$ekran}~="#{$sütun}"]){
    -ms-flex-line-pack: center;
    align-content: center;
  }
  [data-#{$ekran}~="#{$sütun}"][data-#{$ekran}~="#{$sağda}"],
  [data-#{$ekran}~="#{$altta}"]:not([data-#{$ekran}~="#{$sütun}"]){
    -ms-flex-line-pack: flex-end;
    align-content: flex-end;
  }

  [data-#{$ekran}~="#{$merkezde}"]{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  [data-#{$ekran}~="#{$üstte-ol}"]{
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  [data-#{$ekran}~="#{$göbekte-ol}"]{
    -ms-flex-item-align: center;
    align-self: center;
  }
  [data-#{$ekran}~="#{$altta-ol}"]{
    margin-top: auto
  }
  [data-#{$ekran}~="#{$sağda-ol}"]{
    margin-left: auto;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  [data-#{$ekran}~="#{$ortada-ol}"]{
    margin-left: auto;
    margin-right: auto;
    -ms-flex-item-align: center;
    align-self: center;
  }
  [data-#{$ekran}~="#{$solda-ol}"]{
    margin-right: auto;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  [data-#{$ekran}~="#{$araları-aralık}"]:not([data-#{$ekran}~="#{$sütun}"]){
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  [data-#{$ekran}~="#{$dengeli-aralık}"]:not([data-#{$ekran}~="#{$sütun}"]){
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  [data-#{$ekran}~="#{$sütun}"][data-#{$ekran}~="#{$araları-aralık}"]{
    align-content: space-around;
  }
  [data-#{$ekran}~="#{$sütun}"][data-#{$ekran}~="#{$dengeli-aralık}"]{
    align-content: space-around;
  }

  [data-#{$ekran}~="#{$uzat}"]{
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
  }
  [data-#{$ekran}~="#{$uzun-ol}"]{
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }

  [data-#{$ekran}~="#{$satırda}"]{
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -ms-grid-row-align: baseline;
    align-items: baseline;
  }
  [data-#{$ekran}~="#{$satırda-ol}"]{
    -ms-flex-item-align: baseline;
    align-self: baseline;
  }

  [data-#{$ekran}~="#{$metin-sağda}"]{
    text-align: right
  }
  [data-#{$ekran}~="#{$metin-ortada}"]{
    text-align: center
  }
  [data-#{$ekran}~="#{$metin-solda}"]{
    text-align: left
  }
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/*  G00 GENEL | Ekran ölçeği: 0 ≤ * < ∞
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*  GS1 KAP ÖRGÜSÜ */

    [data-#{$gnl}]{
      @include esnek;
      @include dürme;
    }

    [data-#{$gnl}~="sütun"]{
      @include sütun;
    }

    @include sığdır($gnl);

    body[data-#{$gnl}~="sütun"]{
      min-height: 100vh
    }

    body[data-#{$gnl}~="sütun"] > footer{
      margin-top: auto
    }

    @include parça-düzeni($gnl);

    /* Kap Örgüsü Ek Etkiler */
    [data-#{$gnl}~="#{$aralık}"] > [data-#{$gnl}]{
      margin: var(--aralık);
      flex-basis: calc(100% / var(--par) * var(--parça) - var(--ara) - var(--ara));
      width: calc(100% / var(--par) * var(--parça) - var(--ara) - var(--ara));
      max-width:  calc(100% / var(--par) * var(--parça) - var(--ara) - var(--ara));
    }

    [data-#{$gnl}~="#{$oluk-çevre}"] > [data-#{$gnl}]{
      padding: var(--oluk);
    }

    [data-#{$gnl}~="#{$oluk}"] > [data-#{$gnl}]{
      padding-left: var(--oluk);
      padding-right: var(--oluk);
    }

    [data-#{$gnl}~="#{$oluk-yok}"] > [data-#{$gnl}]{
      padding: 0
    }

    [data-#{$gnl}~="#{$kaplama}"]{
      margin-left: auto;
      margin-right: auto;}

    @include genleşme-düzeni($gnl);
    @include sıralama-düzeni($gnl);
    @include konumlama($gnl);

    [data-#{$gnl}~="#{$gizle}"],
    [data-#{$mnk}~="#{$gizle}"]{
      display: none !important}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S01 [data-#{$ufk}] UFAK-BÜYÜKLERİYLE | 300px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:300px) {
      :root{
        --oluk:10px;
        --ara:10px;
        }

      [data-#{$ufk}]:not([data-#{$gnl}]){
        @include esnek;
        @include dürme;
        @include üstte-öge;}

      @include sığdır($ufk);


      @include parça-düzeni($ufk);
      @include genleşme-düzeni($ufk);
      @include sıralama-düzeni($ufk);
      @include konumlama($ufk);

      [data-#{$ufk}~="#{$gizle}"],
      [data-#{$ufk}~="#{$büyükleriyle-gizle}"],
      [data-#{$mnk}~="#{$büyükleri-gizle}"],
      [data-#{$mnk}~="#{$diğerlerini-gizle}"]{display: none !important;}
    }

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S02 KÇK-ilker ($kçk) veya (kçk-ilker) | Ekran ölçeği: 576px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:576px) {

      [data-#{$kçk}]:not([data-#{$gnl}]){
        @include esnek;
        @include dürme;
        @include üstte-öge;}

      @include sığdır($kçk);

      @include parça-düzeni($kçk);
      @include genleşme-düzeni($kçk);
      @include sıralama-düzeni($kçk);

      @include konumlama($kçk);

      [data-#{$kçk}~="#{$gizle}"],
      [data-#{$kçk}~="#{$büyükleriyle-gizle}"],
      [data-#{$ufk}~="#{$büyükleri-gizle}"],
      [data-#{$ufk}~="#{$diğerlerini-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S03 ORTA-ilker ($ort) veya (ort-ilker) | Ekran ölçeği: 768px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:768px) {

      [data-#{$ort}]:not([data-#{$gnl}]){
        @include esnek;
        @include dürme;
        @include üstte-öge;}

      @include sığdır($ort);

      @include parça-düzeni($ort);
      @include genleşme-düzeni($ort);
      @include sıralama-düzeni($ort);
      @include konumlama($ort);

      [data-#{$ort}~="#{$gizle}"],
      [data-#{$ort}~="#{$büyükleriyle-gizle}"],
      [data-#{$kçk}~="#{$büyükleri-gizle}"],
      [data-#{$kçk}~="#{$diğerlerini-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S04 BÜYÜK-ilker ($byk) veya (byk-ilker) | Ekran ölçeği: 992px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:992px) {

      [data-#{$byk}]:not([data-#{$gnl}]){
        @include esnek;
        @include dürme;
        @include üstte-öge;}

      @include sığdır($byk);

      @include parça-düzeni($byk);
      @include genleşme-düzeni($byk);
      @include sıralama-düzeni($byk);
      @include konumlama($byk);

      [data-#{$byk}~="#{$gizle}"],
      [data-#{$byk}~="#{$büyükleriyle-gizle}"],
      [data-#{$ort}~="#{$büyükleri-gizle}"],
      [data-#{$ort}~="#{$diğerlerini-gizle}"]
      {display: none !important;}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S05 KOCAMAN-ilker ($kcm) veya (kcm-ilker) | Ekran ölçeği: 1200px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:1200px) {

      [data-#{$kcm}]:not([data-#{$gnl}]){
        @include esnek;
        @include dürme;
        @include üstte-öge;}

      @include sığdır($kcm);

      @include parça-düzeni($kcm);
      @include genleşme-düzeni($kcm);
      @include sıralama-düzeni($kcm);
      @include konumlama($kcm);

      [data-#{$kcm}~="#{$gizle}"],
      [data-#{$kcm}~="#{$büyükleriyle-gizle}"],
      [data-#{$byk}~="#{$büyükleri-gizle}"],
      [data-#{$byk}~="#{$diğerlerini-gizle}"]
      {display: none !important;}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S06 DEV-ilker ($dev) veya (dev-ilker) veya (hgo) | Ekran ölçeği: 1900px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:1900px) {

      [data-#{$dev}]:not([data-#{$gnl}]){
        @include esnek;
        @include dürme;
        @include üstte-öge;}

      @include sığdır($dev);

      @include parça-düzeni($dev);
      @include genleşme-düzeni($dev);
      @include sıralama-düzeni($dev);
      @include konumlama($dev);

      [data-#{$gnl}~="#{$kaplama}"],[data-#{$dev}~="#{$kaplama}"],
      [data-#{$kcm}~="#{$büyükleri-kaplama}"],[data-#{$kcm}~="#{$büyükleriyle-kaplama}"],
      [data-#{$byk}~="#{$büyükleri-kaplama}"],[data-#{$byk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$ort}~="#{$büyükleri-kaplama}"],[data-#{$ort}~="#{$büyükleriyle-kaplama}"],
      [data-#{$kçk}~="#{$büyükleri-kaplama}"],[data-#{$kçk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$ufk}~="#{$büyükleri-kaplama}"],[data-#{$ufk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$mnk}~="#{$büyükleri-kaplama}"],[data-#{$mnk}~="#{$büyükleriyle-kaplama}"]{
        max-width: 1890px;
      }

      [data-#{$dev}~="#{$gizle}"],
      [data-#{$dev}~="#{$büyükleriyle-gizle}"],
      [data-#{$kcm}~="#{$büyükleri-gizle}"],
      [data-#{$kcm}~="#{$diğerlerini-gizle}"]
      {display: none !important;}
    }

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    KOCAMAN-soner ($kcm) veya (kcm-soner) | Ekran ölçeği: 0 < 1900px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:1900px) {
      [data-#{$dev}~="#{$küçükleri-gizle}"],
      [data-#{$dev}~="#{$diğerlerini-gizle}"],
      [data-#{$kcm}~="#{$küçükleriyle-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    BÜYÜK-soner ($byk) veya (byk-soner) | Ekran ölçeği: 0 < 1200px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:1200px) {
      [data-#{$kcm}~="#{$küçükleri-gizle}"],
      [data-#{$kcm}~="#{$diğerlerini-gizle}"],
      [data-#{$byk}~="#{$küçükleriyle-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ORTA-soner ($ort) veya (ort-soner) | Ekran ölçeği: 0 < 992px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:993px) {
      [data-#{$byk}~="#{$küçükleri-gizle}"],
      [data-#{$byk}~="#{$diğerlerini-gizle}"],
      [data-#{$ort}~="#{$küçükleriyle-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    KÜÇÜK-soner ($kçk) veya (kçk-soner) | Ekran ölçeği: 0 < 768px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:768px) {
      [data-#{$ort}~="#{$küçükleri-gizle}"],
      [data-#{$ort}~="#{$diğerlerini-gizle}"],
      [data-#{$kçk}~="#{$küçükleriyle-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    UFAK-soner ($ufk) veya (ufk-soner) | Ekran ölçeği: 0 < 576px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:576px) {
      body{font-size: 13px !important; font-size:1em;}
      h1{font-size:1.6em;}
        h2{font-size:1.5em;}
          h3{font-size:1.4em;}
            h4{font-size:1.3em;}
              h5{font-size:1.2em;}
                h6{font-size:1.1em}
      [data-#{$kçk}~="#{$küçükleri-gizle}"],
      [data-#{$kçk}~="#{$diğerlerini-gizle}"],
      [data-#{$ufk}~="#{$küçükleriyle-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MİNİK-soner ($mnk) veya (mnk-soner) | Ekran ölçeği: 0 < 300px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:300px) {
      [data-#{$ufk}~="#{$küçükleri-gizle}"],
      [data-#{$ufk}~="#{$diğerlerini-gizle}"],
      [data-#{$mnk}~="#{$küçükleriyle-gizle}"],
      [data-#{$mnk}~="#{$bunu-gizle}"]
      {display: none !important}
    }

/*  DUYARLI TİP - YALIN |< * >| */
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MİNİK-YALIN ($mnk) veya (mnk-yalın) | Ekran ölçeği: 0 ≤ * < 300px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:300px) {
      [data-#{$gnl}~="#{$kaplama}"],
      [data-#{$mnk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$mnk}~="#{$bunu-kaplama}"],
      [data-#{$mnk}~="#{$küçükleriyle-kaplama}"],
      [data-#{$ufk}~="#{$küçükleri-kaplama}"],[data-#{$ufk}~="#{$küçükleriyle-kaplama}"],
      [data-#{$kçk}~="#{$küçükleri-kaplama}"],[data-#{$kçk}~="#{$küçükleriyle-kaplama}"],
      [data-#{$ort}~="#{$küçükleri-kaplama}"],[data-#{$ort}~="#{$küçükleriyle-kaplama}"],
      [data-#{$byk}~="#{$küçükleri-kaplama}"],[data-#{$byk}~="#{$küçükleriyle-kaplama}"],
      [data-#{$kcm}~="#{$küçükleri-kaplama}"],[data-#{$kcm}~="#{$küçükleriyle-kaplama}"],
      [data-#{$dev}~="#{$küçükleri-kaplama}"],[data-#{$dev}~="#{$küçükleriyle-kaplama}"]{
        width: 100%;
        max-width: 100%;
      }
      /* Gizleme */
      [data-#{$mnk}~="#{$bunu-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    UFAK-YALIN ($ufk) veya (ufk-yalın) | Ekran ölçeği: 300px ≤ * < 576px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:300px) and (max-width:576px) {
      [data-#{$gnl}~="#{$kaplama}"],
      [data-#{$mnk}~="#{$büyükleri-kaplama}"],[data-#{$mnk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$ufk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$ufk}~="#{$bunu-kaplama}"],
      [data-#{$ufk}~="#{$küçükleriyle-kaplama}"],
      [data-#{$kçk}~="#{$küçükleri-kaplama}"],[data-#{$kçk}~="#{$küçükleriyle-kaplama}"],
      [data-#{$ort}~="#{$küçükleri-kaplama}"],[data-#{$ort}~="#{$küçükleriyle-kaplama}"],
      [data-#{$byk}~="#{$küçükleri-kaplama}"],[data-#{$byk}~="#{$küçükleriyle-kaplama}"],
      [data-#{$kcm}~="#{$küçükleri-kaplama}"],[data-#{$kcm}~="#{$küçükleriyle-kaplama}"],
      [data-#{$dev}~="#{$küçükleri-kaplama}"],[data-#{$dev}~="#{$küçükleriyle-kaplama}"]{
        width: calc(100% - 20px);
        max-width: calc(100% - 20px);
      }
      /* Gizleme */
      [data-#{$ufk}~="#{$bunu-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    KÇK-YALIN ($kçk) veya (kçk-yalın) | Ekran ölçeği: 576px ≤ * < 768px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:576px) and (max-width:768px) {
      [data-#{$gnl}~="#{$kaplama}"],
      [data-#{$mnk}~="#{$büyükleri-kaplama}"],[data-#{$mnk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$ufk}~="#{$büyükleri-kaplama}"],[data-#{$ufk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$kçk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$kçk}~="#{$bunu-kaplama}"],
      [data-#{$kçk}~="#{$küçükleriyle-kaplama}"],
      [data-#{$ort}~="#{$küçükleri-kaplama}"],[data-#{$ort}~="#{$küçükleriyle-kaplama}"],
      [data-#{$byk}~="#{$küçükleri-kaplama}"],[data-#{$byk}~="#{$küçükleriyle-kaplama}"],
      [data-#{$kcm}~="#{$küçükleri-kaplama}"],[data-#{$kcm}~="#{$küçükleriyle-kaplama}"],
      [data-#{$dev}~="#{$küçükleri-kaplama}"],[data-#{$dev}~="#{$küçükleriyle-kaplama}"]{
        width: 566px;
        max-width: 566px;
      }
      /* Gizleme */
      [data-#{$kçk}~="#{$bunu-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ORTA-YALIN ($ort) veya (ort-yalın)
    Ekran ölçeği: 768px ≤ * < 992px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:768px) and (max-width:992px) {
      [data-#{$gnl}~="#{$kaplama}"],
      [data-#{$mnk}~="#{$büyükleri-kaplama}"],[data-#{$mnk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$ufk}~="#{$büyükleri-kaplama}"],[data-#{$ufk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$kçk}~="#{$büyükleri-kaplama}"],[data-#{$kçk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$ort}~="#{$büyükleriyle-kaplama}"],
      [data-#{$ort}~="#{$bunu-kaplama}"],
      [data-#{$ort}~="#{$küçükleriyle-kaplama}"],
      [data-#{$byk}~="#{$küçükleri-kaplama}"],[data-#{$byk}~="#{$küçükleriyle-kaplama}"],
      [data-#{$kcm}~="#{$küçükleri-kaplama}"],[data-#{$kcm}~="#{$küçükleriyle-kaplama}"],
      [data-#{$dev}~="#{$küçükleri-kaplama}"],[data-#{$dev}~="#{$küçükleriyle-kaplama}"]{
        width: 760px;
        max-width: 760px;
      }
      /* Gizleme */
      [data-#{$ort}~="#{$bunu-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    BÜYÜK-YALIN ($byk) veya (byk-yalın) | Ekran ölçeği: 992px ≤ * < 1200px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:992px) and (max-width:1200px) {
      [data-#{$gnl}~="#{$kaplama}"],
      [data-#{$mnk}~="#{$büyükleri-kaplama}"],[data-#{$mnk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$ufk}~="#{$büyükleri-kaplama}"],[data-#{$ufk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$kçk}~="#{$büyükleri-kaplama}"],[data-#{$kçk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$ort}~="#{$büyükleri-kaplama}"],[data-#{$ort}~="#{$büyükleriyle-kaplama}"],
      [data-#{$byk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$byk}~="#{$bunu-kaplama}"],
      [data-#{$byk}~="#{$küçükleriyle-kaplama}"],
      [data-#{$kcm}~="#{$küçükleri-kaplama}"],[data-#{$kcm}~="#{$küçükleriyle-kaplama}"],
      [data-#{$dev}~="#{$küçükleri-kaplama}"],[data-#{$dev}~="#{$küçükleriyle-kaplama}"]{
        width: 960px;
        max-width: 960px;
      }
      /* Gizleme */
      [data-#{$byk}~="#{$bunu-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    KOCAMAN-YALIN ($kcm) veya (kcm-yalın) | Ekran ölçeği: 1200px ≤ * < 1900px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:1200px) and (max-width:1900px) {
      [data-#{$gnl}~="#{$kaplama}"],
      [data-#{$mnk}~="#{$büyükleri-kaplama}"],[data-#{$mnk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$ufk}~="#{$büyükleri-kaplama}"],[data-#{$ufk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$kçk}~="#{$büyükleri-kaplama}"],[data-#{$kçk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$ort}~="#{$büyükleri-kaplama}"],[data-#{$ort}~="#{$büyükleriyle-kaplama}"],
      [data-#{$byk}~="#{$büyükleri-kaplama}"],[data-#{$byk}~="#{$büyükleriyle-kaplama}"],
      [data-#{$kcm}~="#{$büyükleriyle-kaplama}"],
      [data-#{$kcm}~="#{$bunu-kaplama}"],
      [data-#{$kcm}~="#{$küçükleriyle-kaplama}"]{
        width: 1140px;
        max-width: 1140px;
      }
      /* Gizleme */
      [data-#{$kcm}~="#{$bunu-gizle}"]
      {display: none !important}
    }
