[data-kart]{
  width: 200px;
  padding: 20px;
  margin: 30px 10px 0 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.24);
  text-align: center;

  font-size: 13px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  flex-direction: column;
}
[data-kart] .bilgi{
  display: block;
  width:100%;
}
[data-kart] p {
    padding: 10px;
    margin:0;
}
[data-kart] h2{
  margin:5px 0;
}
[data-kart] .alt{
    background-color:#eed;
    width: 100%;
    padding: 10px;
}
