nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width:100%;
}

/* -----------------------------------
    MENÜ 0.01
   ----------------------------------- */

/* Genel */

[data-kapaç] {
  display: none;  /* input her zaman gizlenir. */
}

[data-kapaç]+label,
[data-kapaç]+label+label {
  width:auto;
}

[data-kapaç~="sağda"]+label {
  margin-left: auto;
  /* menü kapacı sağa ötelenir */
  order: 98;
  /* menü kapacı nerede olursa olsun en sondadır */
}

[data-kapaç~="solda"]+label {
  margin-right: auto;
  /* menü kapacı sola ötelenir */
  order: -98;
  /* menü kapacı nerede olursa olsun en baştadır */
}

[data-kapaç]+label+ul {
  display: none;
  /* Varsayılan olarak gizli */
  width: 100%;
  /* Tam genişlik sebebiyle altta görünecek */
  order: 99;
  /* En son sırada olacağı için kod sırası önemsiz, karmaşa olmayacak. */
}

[data-kapaç]:checked+label+ul,
[data-kapaç]:checked+label+label+ul {
  display: flex;
  /* kapaç tetiklendiğinde menü görünür olur */
  flex-wrap: wrap;
  width:100%;
}

[data-menü],
[data-menü] ul,
[data-menü] li {
  list-style: none;
  /* Bir güzel temizlik yapalım. */
  margin: 0;
  /* Bir güzel temizlik yapalım. */
  padding: 0;
  /* Bir güzel temizlik yapalım. */
}

[data-menü] li {
  display: flex;
  /* en dış li hariç içerdeki liler flex olacak */
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

[data-menü] li a {
  display: inline-block;
  /* bağlar li görünümlerini etkiler ayardadır */
}

[data-menü] li [data-kapaç]+label+a {
  padding-right: 0;
  order: -1;
}

[data-menü] ul {
  display: none;
  /* Üzerine gelince görünür olması için gizlenir */
}

[data-menü] [data-kapaç]:checked+label,
[data-kapaç]+label+label {
  display: none;
}

[data-kapaç]+label,
[data-kapaç]:checked+label+label {
  display: inline-block;
}

@media screen and (min-width:577px) {

[data-kapaç] + label + ul[data-menü~="dik"]{
  display:flex !important;
  flex-direction: column;
}

[data-menü~="dik"] > li {
  display: flex !important;
  flex-wrap: wrap;
  position: relative;
}
[data-menü~="dik"] > li > ul{
  margin: 0 -1000px 0 100%;
}

  [data-kapaç]+label,
  [data-menü] [data-kapaç]:checked+label+label,
  [data-kapaç]:checked+label+ul,
  [data-menü] [data-kapaç]:checked+label+label+ul {
    display: none;
  }
  [data-menü] {
    display: flex !important;
    flex: 1;
    flex-wrap:wrap;
  }
  [data-menü] ul {
    margin: 0;
    background: #fff;
    border: 1px solid #ddd;
    width:auto;
  }
  [data-menü] li {
    align-items: flex-start;
    width: auto;
  }
  [data-menü~="dik"] li{
  width:100%;
  display:flex;
  }
  [data-menü]>li {
    display: inline-block;
  }
  [data-menü] li [data-kapaç]+label+a {
    padding: 10px;
  }
  [data-menü] li:hover>ul li {
    width: auto;
    height: auto;
    opacity: 1;
  }
  [data-menü] li:hover>ul {
    display: block !important;
    height: auto;
    width: auto;
    opacity: 1;
    transition: 0.3s ease opacity;
    position: absolute;
  }
  [data-menü] ul li:hover>ul,
  [data-menü] ul ul ul li:hover>ul {
    margin: 0 -1000px 0 100%;
    display: block;
  }
  [data-menü] ul ul li:hover>ul {
    margin: 0 0 0 -110%;
    display: block;
  }
}
