/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/*  ÖZELLEŞTİRİLEBİLİR AYARLAR
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

:root{
 --aralık: 5px;
 --oluk: 5px;
 /* parça: par içinde kullanılabilecek parçalardır. */
 --parça: 24;
 /* par: parçaların toplamı sonucu oluşabilecek bütündür. */
 --par: 24; }


html{
  font-family: 'Roboto', sans-serif;
  font-size: 14.5px;
  color: #24292E; }

a{
  text-decoration: none;
  color: #4c41a1;}

p{
  margin: 0.4em 0;
  line-height: 1.6;
}

    .önizleme{background-color:#efefef; padding:10px;}
    .önizleme [data-gnl]{border:1px solid #2c2171; background-color: #4c41a1; padding:10px; color:#eee;}
    .önizleme h3 {color:#999;margin:0 0 10px 0;}
    pre.language-html{ max-height:50vh; overflow-y: auto;}
