/* ==========================================================================
    RENK ÖRGÜSÜ s0.4
    Ayırt etmek için önceden belirlenmiş renk grupları.
    data-arka | data-metin | data-kenar
    RENKLER: ana | ara | birincil | ikincil
    DOLGULAR: 900-800-700-600-500-400-300-200-100
    TONLAR: en-parlak çok-parlak parlak az-parlak normal az-soluk soluk çok-soluk en-soluk
-------------------------------------------------------------------------- */
:root{
  /* 0 ile 360 değeri arasında değerleri kullanarak renklerinizi belirtin. hsl yapısı kullanılmaktadır. */
  --arka-ana-renk: 0;     --arka-ara-renk: 34;    --arka-birincil-renk: 207;  --arka-ikincil-renk: 260;
  --arka-dikkat-renk: 60; --arka-tehlike-renk: 0; --arka-bilgi-renk: 190;     --arka-olumlu-renk: 85;  --arka-olumsuz-renk: 260;

  --metin-ana-renk:0;     --metin-ara-renk:34;     --metin-birincil-renk:207;    --metin-ikincil-renk:260;
  --metin-dikkat-renk: 0; --metin-tehlike-renk: 34;--metin-bilgi-renk: 190;   --metin-olumlu-renk: 85; --metin-olumsuz-renk: 260;

  --kenar-ana-renk:0;     --kenar-ara-renk:34;       --kenar-birincil-renk:207;  --kenar-ikincil-renk:260;
  --kenar-dikkat-renk: 0; --kenar-tehlike-renk: 10; --kenar-bilgi-renk: 190;  --kenar-olumlu-renk: 85; --kenar-olumsuz-renk: 260;
}
/* Renk tonu oranları */
[data-kenar]{--kenar-tonu:50%;       --kenar-dolgu:50%;}
[data-metin]{--metin-tonu:50%;       --metin-dolgu:50%;}
[data-arka]{--arka-tonu: 50%;       --arka-dolgu: 50%;      --arka-metin-dolgu:100%;}
[data-kenar~="beyaz"]{--kenar-tonu:0%; --kenar-dolgu:100%;}
[data-metin~="beyaz"]{--metin-tonu:0%; --metin-dolgu:100%;}
[data-arka~="beyaz"]{--arka-tonu:0%; --arka-dolgu:100%;--arka-metin-dolgu:0%;}
[data-kenar~="100"]{--kenar-dolgu:90%;}
[data-metin~="100"]{--metin-dolgu:90%;}
[data-arka~="100"]{--arka-dolgu:90%;--arka-metin-dolgu:0%;}
[data-kenar~="200"]{--kenar-dolgu:80%;}
[data-metin~="200"]{--metin-dolgu:80%;}
[data-arka~="200"]{--arka-dolgu:80%;--arka-metin-dolgu:0%;}
[data-kenar~="300"]{--kenar-dolgu:70%;}
[data-metin~="300"]{--metin-dolgu:70%;}
[data-arka~="300"]{--arka-dolgu:70%;--arka-metin-dolgu:0%;}
[data-kenar~="400"]{--kenar-dolgu:60%;}
[data-metin~="400"]{--metin-dolgu:60%;}
[data-arka~="400"]{--arka-dolgu:60%;--arka-metin-dolgu:100%;}
[data-kenar~="500"]{--kenar-dolgu:50%;}
[data-metin~="500"]{--metin-dolgu:50%;}
[data-arka~="500"]{--arka-dolgu:50%;--arka-metin-dolgu:100%;}
[data-kenar~="600"]{--kenar-dolgu:40%;}
[data-metin~="600"]{--metin-dolgu:40%;}
[data-arka~="600"]{--arka-dolgu:40%;--arka-metin-dolgu:100%;}
[data-kenar~="700"]{--kenar-dolgu:30%;}
[data-metin~="700"]{--metin-dolgu:30%;}
[data-arka~="700"]{--arka-dolgu:30%;--arka-metin-dolgu:100%;}
[data-kenar~="800"]{--kenar-dolgu:20%;}
[data-metin~="800"]{--metin-dolgu:20%;}
[data-arka~="800"]{--arka-dolgu:20%;--arka-metin-dolgu:100%;}
[data-kenar~="900"]{--kenar-dolgu:10%;}
[data-metin~="900"]{--metin-dolgu:10%;}
[data-arka~="900"]{--arka-dolgu:10%;--arka-metin-dolgu:100%;}
[data-kenar~="siyah"]{--kenar-tonu:0%; --kenar-dolgu:0%;}
[data-metin~="siyah"]{--metin-tonu:0%; --metin-dolgu:0%;}
[data-arka~="siyah"]{--arka-tonu:0%; --arka-dolgu:0%;--arka-metin-dolgu:100%;}
[data-kenar~="gri"]{--kenar-tonu:0%; --kenar-dolgu:70%;}
[data-metin~="gri"]{--metin-tonu:0%; --metin-dolgu:70%;}
[data-arka~="gri"]{--arka-tonu:0%; --arka-dolgu:70%;--arka-metin-dolgu:0%;}

/* Parlaklık ve solgunluk oranları */
[data-kenar~="en-soluk"]{--kenar-tonu:10%;}
[data-metin~="en-soluk"]{--metin-tonu:10%;}
[data-arka~="en-soluk"]{--arka-tonu:10%;}
[data-kenar~="çok-soluk"]{--kenar-tonu:20%;}
[data-metin~="çok-soluk"]{--metin-tonu:20%;}
[data-arka~="çok-soluk"]{--arka-tonu:20%;}
[data-kenar~="soluk"]{--kenar-tonu:30%;}
[data-metin~="soluk"]{--metin-tonu:30%;}
[data-arka~="soluk"]{--arka-tonu:30%;}
[data-kenar~="az-soluk"]{--kenar-tonu:40%;}
[data-metin~="az-soluk"]{--metin-tonu:40%;}
[data-arka~="az-soluk"]{--arka-tonu:40%;}
[data-kenar~="normal"]{--kenar-tonu:50%;}
[data-metin~="normal"]{--metin-tonu:50%;}
[data-arka~="normal"]{--arka-tonu:50%;}
[data-kenar~="az-parlak"]{--kenar-tonu:60%;}
[data-metin~="az-parlak"]{--metin-tonu:60%;}
[data-arka~="az-parlak"]{--arka-tonu:60%;}
[data-kenar~="parlak"]{--kenar-tonu:70%;}
[data-metin~="parlak"]{--metin-tonu:70%;}
[data-arka~="parlak"]{--arka-tonu:70%;}
[data-kenar~="çok-parlak"]{--kenar-tonu:80%;}
[data-metin~="çok-parlak"]{--metin-tonu:80%;}
[data-arka~="çok-parlak"]{--arka-tonu:80%;}
[data-kenar~="en-parlak"]{--kenar-tonu:90%;}
[data-metin~="en-parlak"]{--metin-tonu:90%;}
[data-arka~="en-parlak"]{--arka-tonu:90%;}

[class*="arka-"],[data-arka]{
  background-color: hsl(0,var(--arka-tonu),var(--arka-dolgu));
  color: hsl(0,0%,var(--arka-metin-dolgu));}

[data-arka~="ana"]{background-color: hsl(var(--arka-ana-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}
[data-arka~="ara"]{background-color: hsl(var(--arka-ara-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}
[data-arka~="birincil"]{background-color: hsl(var(--arka-birincil-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}
[data-arka~="ikincil"]{background-color: hsl(var(--arka-ikincil-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}
[data-arka~="dikkat"]{background-color: hsl(var(--arka-dikkat-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}
[data-arka~="tehlike"]{background-color: hsl(var(--arka-tehlike-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}
[data-arka~="bilgi"]{background-color: hsl(var(--arka-bilgi-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}
[data-arka~="olumlu"]{background-color: hsl(var(--arka-olumlu-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}
[data-arka~="olumsuz"]{background-color: hsl(var(--arka-olumsuz-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}

[data-metin~="ana"]{ color: hsl(var(--metin-ana-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}
[data-metin~="ara"]{ color: hsl(var(--metin-ara-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}
[data-metin~="birincil"]{color: hsl(var(--metin-birincil-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}
[data-metin~="ikincil"]{color: hsl(var(--metin-ikincil-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}
[data-metin~="dikkat"]{color: hsl(var(--metin-dikkat-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}
[data-metin~="tehlike"]{color: hsl(var(--metin-tehlike-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}
[data-metin~="bilgi"]{color: hsl(var(--metin-bilgi-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}
[data-metin~="olumlu"]{color: hsl(var(--metin-olumlu-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}
[data-metin~="olumsuz"]{color: hsl(var(--metin-olumsuz-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}

[data-kenar~="ana"][data-kenar~="tam"]{ border-color: hsl(var(--kenar-ana-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="ana"][data-kenar~="sol"]{ border-left-color: hsl(var(--kenar-ana-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="ana"][data-kenar~="sağ"]{ border-right-color: hsl(var(--kenar-ana-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="ana"][data-kenar~="üst"]{ border-top-color: hsl(var(--kenar-ana-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="ana"][data-kenar~="alt"]{ border-bottom-color: hsl(var(--kenar-ana-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}

[data-kenar~="ara"][data-kenar~="tam"]{ border-color: hsl(var(--kenar-ara-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="ara"][data-kenar~="sol"]{ border-left-color: hsl(var(--kenar-ara-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="ara"][data-kenar~="sağ"]{ border-right-color: hsl(var(--kenar-ara-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="ara"][data-kenar~="üst"]{ border-top-color: hsl(var(--kenar-ara-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="ara"][data-kenar~="alt"]{ border-bottom-color: hsl(var(--kenar-ara-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}

[data-kenar~="birincil"][data-kenar~="tam"]{ border-color: hsl(var(--kenar-birincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="birincil"][data-kenar~="sol"]{ border-left-color: hsl(var(--kenar-birincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="birincil"][data-kenar~="sağ"]{ border-right-color: hsl(var(--kenar-birincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="birincil"][data-kenar~="üst"]{ border-top-color: hsl(var(--kenar-birincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="birincil"][data-kenar~="alt"]{ border-bottom-color: hsl(var(--kenar-birincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}

[data-kenar~="ikincil"][data-kenar~="tam"]{ border-color: hsl(var(--kenar-ikincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="ikincil"][data-kenar~="sol"]{ border-left-color: hsl(var(--kenar-ikincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="ikincil"][data-kenar~="sağ"]{ border-right-color: hsl(var(--kenar-ikincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="ikincil"][data-kenar~="üst"]{ border-top-color: hsl(var(--kenar-ikincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="ikincil"][data-kenar~="alt"]{ border-bottom-color: hsl(var(--kenar-ikincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}

[data-kenar~="dikkat"][data-kenar~="tam"]{ border-color: hsl(var(--kenar-dikkat-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="dikkat"][data-kenar~="sol"]{ border-left-color: hsl(var(--kenar-dikkat-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="dikkat"][data-kenar~="sağ"]{ border-right-color: hsl(var(--kenar-dikkat-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="dikkat"][data-kenar~="üst"]{ border-top-color: hsl(var(--kenar-dikkat-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="dikkat"][data-kenar~="alt"]{ border-bottom-color: hsl(var(--kenar-dikkat-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}

[data-kenar~="tehlike"][data-kenar~="tam"]{ border-color: hsl(var(--kenar-tehlike-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="tehlike"][data-kenar~="sol"]{ border-left-color: hsl(var(--kenar-tehlike-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="tehlike"][data-kenar~="sağ"]{ border-right-color: hsl(var(--kenar-tehlike-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="tehlike"][data-kenar~="üst"]{ border-top-color: hsl(var(--kenar-tehlike-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="tehlike"][data-kenar~="alt"]{ border-bottom-color: hsl(var(--kenar-tehlike-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}

[data-kenar~="bilgi"][data-kenar~="tam"]{ border-color: hsl(var(--kenar-bilgi-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="bilgi"][data-kenar~="sol"]{ border-left-color: hsl(var(--kenar-bilgi-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="bilgi"][data-kenar~="sağ"]{ border-right-color: hsl(var(--kenar-bilgi-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="bilgi"][data-kenar~="üst"]{ border-top-color: hsl(var(--kenar-bilgi-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="bilgi"][data-kenar~="alt"]{ border-bottom-color: hsl(var(--kenar-bilgi-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}

[data-kenar~="olumlu"][data-kenar~="tam"]{ border-color: hsl(var(--kenar-olumlu-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="olumlu"][data-kenar~="sol"]{ border-left-color: hsl(var(--kenar-olumlu-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="olumlu"][data-kenar~="sağ"]{ border-right-color: hsl(var(--kenar-olumlu-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="olumlu"][data-kenar~="üst"]{ border-top-color: hsl(var(--kenar-olumlu-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="olumlu"][data-kenar~="alt"]{ border-bottom-color: hsl(var(--kenar-olumlu-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}

[data-kenar~="olumsuz"][data-kenar~="tam"]{ border-color: hsl(var(--kenar-olumsuz-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="olumsuz"][data-kenar~="sol"]{ border-left-color: hsl(var(--kenar-olumsuz-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="olumsuz"][data-kenar~="sağ"]{ border-right-color: hsl(var(--kenar-olumsuz-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="olumsuz"][data-kenar~="üst"]{ border-top-color: hsl(var(--kenar-olumsuz-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-kenar~="olumsuz"][data-kenar~="alt"]{ border-bottom-color: hsl(var(--kenar-olumsuz-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
