/* ==========================================================================
    SEKME ÖRGÜSÜ s0.1
    Sadece css yöntemiyle kurulmuş sekme örgüsü
----------------------------------------------------------------------------- */
  [data-sekme]{
    @include esnek;
    @include dürme;
    @include satır;
    position: relative;
  }
  [data-sekme] > input{
    display:none;
  }

  [data-sekme] label{
    z-index: 2;
    /* özelleştirme +() */
    background: #5c51a1;
    color:#fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: background ease 0.6s;
    transition: background ease 0.6s;
  }

  [data-sekme] > label{
    @include sıralama(1);
    display:block;
    /* özelleştirme +() */
    margin-right: 2.8px;
    margin-right: 0.2rem;
  }
  [data-sekme] > input + label + div{
    @include esnek;
    width: 100%;
    position: absolute;
    z-index: -100;
    opacity: 0;
    padding:10px 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    @include sıralama(2);
    left:0;
  }
  [data-sekme] > input:checked + label + div{
    position: relative;
    z-index: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transition: all ease 0.6s;
    transition: all ease 0.6s;
  }

  [data-sekme~="sağda"]{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  [data-sekme~="altta"]{
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  [data-sekme~="ortada"]{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  [data-sekme~="gergin"]{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  [data-sekme~="gergin"] > label {
    -webkit-box-flex:1;
        -ms-flex:1 1 auto;
            flex:1 1 auto;
  }
  [data-sekme~="yan"] > .sekme-listesi{
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  [data-sekme~="yan"] > .sekme-listesi > label{
    margin:0 10px 10px 10px;
    width:100%;
  }
  [data-sekme] > input:checked + label,
  [data-sekme~="yan"] > input:nth-child(1):checked ~ .sekme-listesi > label:nth-child(1),
  [data-sekme~="yan"] > input:nth-child(2):checked ~ .sekme-listesi > label:nth-child(2),
  [data-sekme~="yan"] > input:nth-child(3):checked ~ .sekme-listesi > label:nth-child(3),
  [data-sekme~="yan"] > input:nth-child(4):checked ~ .sekme-listesi > label:nth-child(4),
  [data-sekme~="yan"] > input:nth-child(5):checked ~ .sekme-listesi > label:nth-child(5),
  [data-sekme~="yan"] > input:nth-child(6):checked ~ .sekme-listesi > label:nth-child(6),
  [data-sekme~="yan"] > input:nth-child(7):checked ~ .sekme-listesi > label:nth-child(7),
  [data-sekme~="yan"] > input:nth-child(8):checked ~ .sekme-listesi > label:nth-child(8),
  [data-sekme~="yan"] > input:nth-child(9):checked ~ .sekme-listesi > label:nth-child(9),
  [data-sekme~="yan"] > input:nth-child(10):checked ~ .sekme-listesi > label:nth-child(10),
  [data-sekme~="yan"] > input:nth-child(11):checked ~ .sekme-listesi > label:nth-child(11),
  [data-sekme~="yan"] > input:nth-child(12):checked ~ .sekme-listesi > label:nth-child(12){
    /* özelleştirme +() */
    background: #2c2171;
    color:#fff;
  }
  [data-sekme~="yan"] > .sekme-içeriği > div{
    position: absolute;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    height: 0;
    overflow: hidden;
    /* özelleştirme +() */
    margin:0 10px 10px 10px;
  }
  [data-sekme~="yan"] > input:nth-child(1):checked ~ .sekme-içeriği > div:nth-child(1),
  [data-sekme~="yan"] > input:nth-child(2):checked ~ .sekme-içeriği > div:nth-child(2),
  [data-sekme~="yan"] > input:nth-child(3):checked ~ .sekme-içeriği > div:nth-child(3),
  [data-sekme~="yan"] > input:nth-child(4):checked ~ .sekme-içeriği > div:nth-child(4),
  [data-sekme~="yan"] > input:nth-child(5):checked ~ .sekme-içeriği > div:nth-child(5),
  [data-sekme~="yan"] > input:nth-child(6):checked ~ .sekme-içeriği > div:nth-child(6),
  [data-sekme~="yan"] > input:nth-child(7):checked ~ .sekme-içeriği > div:nth-child(7),
  [data-sekme~="yan"] > input:nth-child(8):checked ~ .sekme-içeriği > div:nth-child(8),
  [data-sekme~="yan"] > input:nth-child(9):checked ~ .sekme-içeriği > div:nth-child(9),
  [data-sekme~="yan"] > input:nth-child(10):checked ~ .sekme-içeriği > div:nth-child(10),
  [data-sekme~="yan"] > input:nth-child(11):checked ~ .sekme-içeriği > div:nth-child(11),
  [data-sekme~="yan"] > input:nth-child(12):checked ~ .sekme-içeriği > div:nth-child(12){
      width:100%;
      position: relative;
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      height: auto;
    /* özelleştirme +() */
    margin:0 10px 10px 10px;
    -webkit-transition: all ease 0.6s;
    transition: all ease 0.6s;
  }
  [data-sekme~="yan"][data-sekme~="sağda"]{
    @include ters-satır;
  }
