.ufak{font-size:.7em}
.küçük{font-size:.85em}
.büyük{font-size: 1.1em}
.kocaman{font-size:1.2em}

.oval{border-radius: 50% / 50%;}

.kapsül{border-radius: 10rem;}
.sol-kapsül{border-top-left-radius:10rem;border-bottom-left-radius:10rem;}
.sağ-kapsül{border-top-right-radius:10rem;border-bottom-right-radius:10rem;}

.tel{border-width:1px;border-style:solid;background-color:transparent; color:inherit;}
.tel:hover:not([data-basmal~="grup"]){background-color:rgba(0,0,0,0.05);}

.keskin-köşeli{border-radius:0;}
.yumuşak-köşeli{border-radius:4px;}

.eğimli-yatay-kenar{border-radius: 50% / 10%;}
.eğimli-dikey-kenar{border-radius: 5px / 50%;}

.boncuklu::before, .boncuklu::after,
.sol-boncuklu::before, .sağ-boncuklu::after{
  display:inline-block;
  border-radius:100%;
  content:"";
  border-width:.5em;
  border-style:solid;
  border-color:inherit;
}
.boncuklu::before, .sol-boncuklu::before{
  margin-right:5px;
  margin-left:-.55em;
  margin-bottom:-1px;
  height:0;
}
.boncuklu::after, .sağ-boncuklu::after{
  margin-left:5px;
  margin-right:-.55em;
  margin-bottom:-1px;
  height:0;
}
.boncuklu{
  display:flex;
  align-items: center;
  margin-left:6px;
  margin-right:6px;
}
.boncuklu.boncuklu{padding-left:0;padding-right:0;}
.sol-boncuklu.sol-boncuklu{padding-left:0;margin-left:6px;}
.sağ-boncuklu.sağ-boncuklu{padding-right:0;margin-right:6px;}
