/*
2c2171
484cce
3442aa
572b77
2b727c
---
1e164f
373a9e
2d3891
4e266b
225a63
*/

.birincil, .birincil[data-basmal~="grup"] > a, .birincil[data-basmal~="grup"] > button
  { background-color: #2c2171;  color:#ffffff;  border-color:#1e164f; }
.ikincil, .ikincil[data-basmal~="grup"] > a, .ikincil[data-basmal~="grup"] > button
  { background-color: #484cce;  color:#ffffff;  border-color:#373a9e; }
.üçüncül, .üçüncül[data-basmal~="grup"] > a, .üçüncül[data-basmal~="grup"] > button
  { background-color: #3442aa;  color:#ffffff;  border-color:#2d3891; }
.dördüncül, .dördüncül[data-basmal~="grup"] > a, .dördüncül[data-basmal~="grup"] > button
  { background-color: #572b77;  color:#ffffff;  border-color:#4e266b; }
.beşincil, .beşincil[data-basmal~="grup"] > a, .beşincil[data-basmal~="grup"] > button
  { background-color: #2b727c;  color:#ffffff;  border-color:#225a63; }


.birincil-zıt { color: #2c2171;  background-color:#ffffff;  border-color:#1e164f; }
.ikincil-zıt  { color: #484cce;  background-color:#ffffff;  border-color:#373a9e; }
.üçüncül-zıt  { color: #3442aa;  background-color:#ffffff;  border-color:#2d3891; }
.dördüncül-zıt{ color: #572b77;  background-color:#ffffff;  border-color:#4e266b; }
.beşincil-zıt { color: #2b727c;  background-color:#ffffff;  border-color:#225a63; }
