[data-uyarı]{
  position:relative;
  width:100%;
  font-family: roboto;
}
[data-uyarı] > div{
  border:2px solid #eee;
  padding:15px;
  background-color:#fff;
  border-radius:4px;
  color:#666;
  position:relative;
  margin-bottom:10px;
}
[data-uyarı~="kapatılamaz"] > div > label:last-child{
  display:none;
}
[data-uyarı~="tamamlandı"] > div{
  color:#155724;
  background-color:#d4edda;
  border-color: #c3e6cb;
}
[data-uyarı~="birincil"] > div{
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
[data-uyarı~="başarılı"] > div{
  color:#155724;
  background-color:#d4edda;
  border-color: #c3e6cb;
}
[data-uyarı~="tehlike"] > div{
color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
}
[data-uyarı~="tehlike"] > div{
color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
}
[data-uyarı~="sorun"] > div{
color: #856404;
background-color: #fff3cd;
border-color: #ffeeba;
}
[data-uyarı~="bilgi"] > div{
color: #0c5460;
background-color: #d1ecf1;
border-color: #bee5eb;
}
[data-uyarı] > div h2{
  width:100%;
  margin:0;
}
[data-uyarı] > div p{
  width:100%;
  margin:0;
}
[data-uyarı] > input{
  display:none;
}
[data-uyarı] > input:checked + div{
  opacity:0;
  transition: all ease 0.3s;
  visibility: hidden;
  margin-top:-10vh;
  margin-right:10vh;
  z-index:100;
}
[data-uyarı] > input:checked + div{
  position:absolute;
  right:0;
  left:0;
}
[data-uyarı] > div{
  display:flex;
}
[data-uyarı] > div > div{
  display:flex;
  flex:1;
  flex-wrap:wrap;
}
[data-uyarı] > div > label{
  display:flex;
  flex:0;
}
