.aralık{ margin:10px }
.altüst-aralık{ margin-top:10px; margin-bottom:10px; }
.sağsol-aralık{ margin-left:10px; margin-right:10px; }
.üst-aralık{ margin-top:10px }
.sağ-aralık{ margin-right:10px }
.alt-aralık{ margin-bottom:10px }
.sol-aralık{ margin-left:10px }

.aralık-0{ margin:0 }
.altüst-aralık-0{ margin-top:0; margin-bottom:0; }
.sağsol-aralık-0{ margin-left:0; margin-right:0; }
.üst-aralık-0{ margin-top:0 }
.sağ-aralık-0{ margin-right:0 }
.alt-aralık-0{ margin-bottom:0 }
.sol-aralık-0{ margin-left:0 }


.kemer{ padding:10px }
.altüst-kemer{ padding-top:10px; padding-bottom:10px; }
.sağsol-kemer{ padding-left:10px; padding-right:10px; }
.üst-kemer{ padding-top:10px }
.sağ-kemer{ padding-right:10px }
.alt-kemer{ padding-bottom:10px }
.sol-kemer{ padding-left:10px }

.kemer-0{ padding:0 }
.altüst-kemer-0{ padding-top:0; padding-bottom:0; }
.sağsol-kemer-0{ padding-left:0; padding-right:0; }
.üst-kemer-0{ padding-top:0 }
.sağ-kemer-0{ padding-right:0 }
.alt-kemer-0{ padding-bottom:0 }
.sol-kemer-0{ padding-left:0 }
