@charset "UTF-8";
/*
  * [DEVEB 0.104] | (deveb.css) | (https://data-deveb.github.io)

  * İMLER
  * G00 | Kap Örgüsü
      G01 | Aralık verme
      G02 | Oluk açma
      G03 | Parça düzeni
      G04 | Genleşme düzeni
      G05 | Kaplama düzeni

  * ??? | Ekran Örgüsü
      S00 | Genel
                    [Genişleyerek | Sadece  | Daralarak]
      (gnl) Genel   [S000         | S000    | S000     ]
      (mnk) Minik   [S010         | S011    | S012     ]
      (ufk) Ufak    [S020         | S021    | S022     ]
      (kçk) Küçük   [S030         | S031    | S032     ]
      (ort) Orta    [S040         | S041    | S042     ]
      (byk) Büyük   [S050         | S051    | S052     ]
      (kcm) Kocaman [S060         | S061    | S062     ]
      (dev) Dev     [S070         | S071    | S072     ]

  * ??? | Renk Örgüsü
*/

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ÖZELLEŞTİRİLEBİLİR AYARLAR
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root{
 --aralık:5px;
 --oluk:5px;
 --parça:24; /* parça: par içinde kullanılabilecek parçalardır. */
 --par:24;   /* par: parçaların toplamı sonucu oluşabilecek bütündür. */
}
