/* ==========================================================================

    deveb (ilkel-sürüm 3.0.18)

    Yeni gelen özellikler bu css dosyasında bulunmakta ve geliştirilmektedir.
========================================================================== */

/* ==========================================================================
    Butonlar
-------------------------------------------------------------------------- */
[data-btn]{
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	    border-top-color: transparent;
	    border-right-color: transparent;
	    border-bottom-color: transparent;
	    border-left-color: transparent;
	padding: .5rem 1rem;
	font-size: 1rem;
	border-radius: .25rem;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
[data-btn~="genel"]{}
[href][data-btn~="genel"]{
	border:1px solid #ddd;
	background-color: #fff;
}
[href][data-btn~="genel"]:hover{
	background-color: #2c1166;
}


/* ==========================================================================
    GENEL DEVEB ETKİLERİ
-------------------------------------------------------------------------- */
[data-deveb~="daire"]{border-radius: 50%}
[data-deveb~="kare"]{border-radius: 0%}
[data-deveb~="yuvarlak"]{border-radius:3px;}
[data-deveb~="yuvarlak-1"]{border-radius:5px;}
[data-deveb~="yuvarlak-2"]{border-radius:8px;}
[data-deveb~="yuvarlak-3"]{border-radius:10px;}

/* ==========================================================================
    RESİM ÖRGÜSÜ s0.1
    Katkıda Bulunanlar
    {Ramazan Kapar Facebook>ramazankadir.kapan}
-------------------------------------------------------------------------- */
[data-resim~="daire"]{border-radius: 50%;}
[data-resim~="kare"]{border-radius: 0;}
[data-resim~="yuvarlak"]{border-radius:3px;}
[data-resim~="yuvarlak-1"]{border-radius:5px;}
[data-resim~="yuvarlak-2"]{border-radius:8px;}
[data-resim~="yuvarlak-3"]{border-radius:10px;}


/* ==========================================================================
    Butonlar s0.1
    Butonların nasıl görünmesiyle ilgili örgü.
-------------------------------------------------------------------------- */
.btn{
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  white-space: nowrap;
  padding: 7px 12px;
  font-size: 13px;
  line-height: 1.5384616;
  border-radius: 3px;
}
.btn > i:first-child{
  margin-right: 5px;
}
.btn > i:last-child{
  margin-left: 5px;
}
.btn-genel{
  color: #333;
  background-color: #fcfcfc;
  border-color: #ddd;
}
.btn-birincil{
  color: #fff;
  background-color: #0c7cd5;
  border-color: #08528d;
}
/* ==========================================================================
    SEKME ÖRGÜSÜ s0.7
    Sadece css yöntemiyle kurulmuş sekme örgüsü
========================================================================== */
.sekmeler, .yan-sekmeler{
  display:flex;
  flex-flow: row wrap;
}

.sekmeler > input[type="radio"], .yan-sekmeler > input[type="radio"]{
  display: none;
}



.sekmeler input[type="radio"]:checked + label{
  /* özelleştirme +() */
  background: #fff;
  color:#2c2171;
}

.yan-sekmeler .sekme label, .sekmeler label{
    box-sizing: border-box;
    z-index: 2;
    /* özelleştirme +() */
    background: #2c2171;
    color:#fff;
    padding: 1rem 2rem;
    cursor: pointer;
    -webkit-transition: background ease 0.6s;
    transition: background ease 0.6s;
}
.sekmeler label{
  -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
      order: 1;
  display:block;
  /* özelleştirme +() */
  margin-right: 0.2rem;
}

.yan-sekmeler > .sekme {
  position: relative;
  z-index: 999;
  white-space: nowrap;
  display: flex;
  flex-flow: row wrap !important;
  align-content: flex-start;
}

.yan-sekmeler > .sekme label {
  width: 100%;
  overflow: hidden;
}

.yan-sekmeler > .sekme label:hover {
  background-color: #3c3181;
}

.yan-sekmeler input:nth-child(1):checked ~ .sekme label:nth-child(1),
.yan-sekmeler input:nth-child(2):checked ~ .sekme label:nth-child(2),
.yan-sekmeler input:nth-child(3):checked ~ .sekme label:nth-child(3),
.yan-sekmeler input:nth-child(4):checked ~ .sekme label:nth-child(4),
.yan-sekmeler input:nth-child(5):checked ~ .sekme label:nth-child(5),
.yan-sekmeler input:nth-child(6):checked ~ .sekme label:nth-child(6),
.yan-sekmeler input:nth-child(7):checked ~ .sekme label:nth-child(7),
.yan-sekmeler input:nth-child(8):checked ~ .sekme label:nth-child(8),
.yan-sekmeler input:nth-child(9):checked ~ .sekme label:nth-child(9),
.yan-sekmeler input:nth-child(10):checked ~ .sekme label:nth-child(10),
.yan-sekmeler input:nth-child(11):checked ~ .sekme label:nth-child(11),
.yan-sekmeler input:nth-child(12):checked ~ .sekme label:nth-child(12),
.yan-sekmeler input:nth-child(13):checked ~ .sekme label:nth-child(13),
.yan-sekmeler input:nth-child(14):checked ~ .sekme label:nth-child(14),
.yan-sekmeler input:nth-child(15):checked ~ .sekme label:nth-child(15),
.yan-sekmeler input:nth-child(16):checked ~ .sekme label:nth-child(16) {
  background-color: #fff;
  color: #2c2171;
}
.yan-sekmeler .icerik > div{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  padding: 0.4rem 1rem;
  align-content: flex-start;
  width:auto;
}

.yan-sekmeler input:nth-child(1):checked ~ .icerik > div:nth-child(1),
.yan-sekmeler input:nth-child(2):checked ~ .icerik > div:nth-child(2),
.yan-sekmeler input:nth-child(3):checked ~ .icerik > div:nth-child(3),
.yan-sekmeler input:nth-child(4):checked ~ .icerik > div:nth-child(4),
.yan-sekmeler input:nth-child(5):checked ~ .icerik > div:nth-child(5),
.yan-sekmeler input:nth-child(6):checked ~ .icerik > div:nth-child(6),
.yan-sekmeler input:nth-child(7):checked ~ .icerik > div:nth-child(7),
.yan-sekmeler input:nth-child(8):checked ~ .icerik > div:nth-child(8),
.yan-sekmeler input:nth-child(9):checked ~ .icerik > div:nth-child(9),
.yan-sekmeler input:nth-child(10):checked ~ .icerik > div:nth-child(10),
.yan-sekmeler input:nth-child(11):checked ~ .icerik > div:nth-child(11),
.yan-sekmeler input:nth-child(12):checked ~ .icerik > div:nth-child(12),
.yan-sekmeler input:nth-child(13):checked ~ .icerik > div:nth-child(13),
.yan-sekmeler input:nth-child(14):checked ~ .icerik > div:nth-child(14),
.yan-sekmeler input:nth-child(15):checked ~ .icerik > div:nth-child(15),
.yan-sekmeler input:nth-child(16):checked ~ .icerik > div:nth-child(16) {
  position: relative;
  opacity: 1;
  visibility: visible;
  z-index: 1;
  width:auto;
  transition: opacity ease 1s;
}


.sekmeler.ters    { flex-wrap: wrap-reverse !important; }



.sekmeler .sekme{
  height:0;
  padding: 0;
  page-break-before: always;
  opacity: 0;
  -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
      order:2;
}

.sekmeler input[type="radio"]:checked + label + .sekme {
  opacity: 1;
  height: auto;
  /* özelleştirme +() */
  transition: opacity ease 1s;
  padding: 1rem 0.2rem;
}

@media (max-width: 45em) {
  .sekmeler .sekme,
  .sekmeler label {
    -webkit-box-ordinal-group: NaN;
        -ms-flex-order: initial;
            order: initial;
  }
  .sekmeler label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
