/* ==========================================================================
		TANIMLAMALAR
		beri: CSS > margin          		dolgu: CSS > padding

		gnl: (g)enel                		dev: dev
		byk: (b)ü(y)ü(k)             		kcm: (k)o(c)a(m)an
		ort: (ort)a                 		kçk: (k)ü(ç)ü(k)
		ufk: (uf)a(k)               		mnk: (m)i(n)i(k)

		go: (g)enişletme (o)ranı    		b: (b)ölüm
		p: (p)arça                  		o: (o)ran

		kap:

    • TEMİZLEME
    • KUTU DÜZENİ
    • KAP ÖRGÜSÜ: SATIR SONU
    • KAP ÖRGÜSÜ
========================================================================== */
/* ==========================================================================
    TEMİZLEME
    Varsayılan değiştirgeleri temizleme eylemi.
-------------------------------------------------------------------------- */
*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
	width: 100%;
}

body{
	font-family: 'Roboto', sans-serif;
  font-size:10pt;
}
/* ==========================================================================
    KUTU DÜZENİ
    Varsayılan bir kutu görünümüyle ayırt edici bir görsel için
========================================================================== */
.kutu{
  display: inherit;
}
.kutu-genel{
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  margin:2px;
  padding:2px;
}
/* ==========================================================================
    KAP ÖRGÜSÜ: SATIR SONU
    İhtiyaç halinde kullanılan yardım sınıfları
========================================================================== */

.kap.gnl-son-1n > .kap:nth-child(1n),
.kap.gnl-son-2n > .kap:nth-child(2n),
.kap.gnl-son-3n > .kap:nth-child(3n),
.kap.gnl-son-4n > .kap:nth-child(4n),
.kap.gnl-son-5n > .kap:nth-child(5n),
.kap.gnl-son-6n > .kap:nth-child(6n),
.kap.gnl-son-7n > .kap:nth-child(7n),
.kap.gnl-son-8n > .kap:nth-child(8n),
.kap.gnl-son-9n > .kap:nth-child(9n),
.kap.gnl-son-10n > .kap:nth-child(10n),
.kap.gnl-son-11n > .kap:nth-child(11n),
.kap.gnl-son-12n > .kap:nth-child(12n),
.kap.gnl-son-13n > .kap:nth-child(13n),
.kap.gnl-son-14n > .kap:nth-child(14n),
.kap.gnl-son-15n > .kap:nth-child(15n),
.kap.gnl-son-16n > .kap:nth-child(16n),
.kap.gnl-son-17n > .kap:nth-child(17n),
.kap.gnl-son-18n > .kap:nth-child(18n),
.kap.gnl-son-19n > .kap:nth-child(19n),
.kap.gnl-son-20n > .kap:nth-child(20n),
.kap.gnl-son-21n > .kap:nth-child(21n),
.kap.gnl-son-22n > .kap:nth-child(22n),
.kap.gnl-son-23n > .kap:nth-child(23n),
.kap.gnl-son-24n > .kap:nth-child(24n)  {  page-break-after: always;  }

@media screen and (max-width: 80em){
.kap[class*="byk-son-"] > .kap:nth-child(1n) {page-break-after:unset;}
.kap.byk-son-1n > .kap:nth-child(1n),
.kap.byk-son-2n > .kap:nth-child(2n),
.kap.byk-son-3n > .kap:nth-child(3n),
.kap.byk-son-4n > .kap:nth-child(4n),
.kap.byk-son-5n > .kap:nth-child(5n),
.kap.byk-son-6n > .kap:nth-child(6n),
.kap.byk-son-7n > .kap:nth-child(7n),
.kap.byk-son-8n > .kap:nth-child(8n),
.kap.byk-son-9n > .kap:nth-child(9n),
.kap.byk-son-10n > .kap:nth-child(10n),
.kap.byk-son-11n > .kap:nth-child(11n),
.kap.byk-son-12n > .kap:nth-child(12n),
.kap.byk-son-13n > .kap:nth-child(13n),
.kap.byk-son-14n > .kap:nth-child(14n),
.kap.byk-son-15n > .kap:nth-child(15n),
.kap.byk-son-16n > .kap:nth-child(16n),
.kap.byk-son-17n > .kap:nth-child(17n),
.kap.byk-son-18n > .kap:nth-child(18n),
.kap.byk-son-19n > .kap:nth-child(19n),
.kap.byk-son-20n > .kap:nth-child(20n),
.kap.byk-son-21n > .kap:nth-child(21n),
.kap.byk-son-22n > .kap:nth-child(22n),
.kap.byk-son-23n > .kap:nth-child(23n),
.kap.byk-son-24n > .kap:nth-child(24n)  {  page-break-after: always;  }
}

@media screen and (max-width: 64em){
.kap[class*="ort-son-"] > .kap:nth-child(1n) {page-break-after:unset;}
.kap.ort-son-1n > .kap:nth-child(1n),
.kap.ort-son-2n > .kap:nth-child(2n),
.kap.ort-son-3n > .kap:nth-child(3n),
.kap.ort-son-4n > .kap:nth-child(4n),
.kap.ort-son-5n > .kap:nth-child(5n),
.kap.ort-son-6n > .kap:nth-child(6n),
.kap.ort-son-7n > .kap:nth-child(7n),
.kap.ort-son-8n > .kap:nth-child(8n),
.kap.ort-son-9n > .kap:nth-child(9n),
.kap.ort-son-10n > .kap:nth-child(10n),
.kap.ort-son-11n > .kap:nth-child(11n),
.kap.ort-son-12n > .kap:nth-child(12n),
.kap.ort-son-13n > .kap:nth-child(13n),
.kap.ort-son-14n > .kap:nth-child(14n),
.kap.ort-son-15n > .kap:nth-child(15n),
.kap.ort-son-16n > .kap:nth-child(16n),
.kap.ort-son-17n > .kap:nth-child(17n),
.kap.ort-son-18n > .kap:nth-child(18n),
.kap.ort-son-19n > .kap:nth-child(19n),
.kap.ort-son-20n > .kap:nth-child(20n),
.kap.ort-son-21n > .kap:nth-child(21n),
.kap.ort-son-22n > .kap:nth-child(22n),
.kap.ort-son-23n > .kap:nth-child(23n),
.kap.ort-son-24n > .kap:nth-child(24n)  {  page-break-after: always;  }
}

@media screen and (max-width: 48em){
.kap[class*="kçk-son-"] > .kap:nth-child(1n) {page-break-after:unset;}
.kap.kçk-son-1n > .kap:nth-child(1n),
.kap.kçk-son-2n > .kap:nth-child(2n),
.kap.kçk-son-3n > .kap:nth-child(3n),
.kap.kçk-son-4n > .kap:nth-child(4n),
.kap.kçk-son-5n > .kap:nth-child(5n),
.kap.kçk-son-6n > .kap:nth-child(6n),
.kap.kçk-son-7n > .kap:nth-child(7n),
.kap.kçk-son-8n > .kap:nth-child(8n),
.kap.kçk-son-9n > .kap:nth-child(9n),
.kap.kçk-son-10n > .kap:nth-child(10n),
.kap.kçk-son-11n > .kap:nth-child(11n),
.kap.kçk-son-12n > .kap:nth-child(12n),
.kap.kçk-son-13n > .kap:nth-child(13n),
.kap.kçk-son-14n > .kap:nth-child(14n),
.kap.kçk-son-15n > .kap:nth-child(15n),
.kap.kçk-son-16n > .kap:nth-child(16n),
.kap.kçk-son-17n > .kap:nth-child(17n),
.kap.kçk-son-18n > .kap:nth-child(18n),
.kap.kçk-son-19n > .kap:nth-child(19n),
.kap.kçk-son-20n > .kap:nth-child(20n),
.kap.kçk-son-21n > .kap:nth-child(21n),
.kap.kçk-son-22n > .kap:nth-child(22n),
.kap.kçk-son-23n > .kap:nth-child(23n),
.kap.kçk-son-24n > .kap:nth-child(24n)  {  page-break-after: always;  }
}
@media screen and (max-width: 35.5em){
.kap[class*="ufk-son-"] > .kap:nth-child(1n) {page-break-after:unset;}
.kap.ufk-son-1n > .kap:nth-child(1n),
.kap.ufk-son-2n > .kap:nth-child(2n),
.kap.ufk-son-3n > .kap:nth-child(3n),
.kap.ufk-son-4n > .kap:nth-child(4n),
.kap.ufk-son-5n > .kap:nth-child(5n),
.kap.ufk-son-6n > .kap:nth-child(6n),
.kap.ufk-son-7n > .kap:nth-child(7n),
.kap.ufk-son-8n > .kap:nth-child(8n),
.kap.ufk-son-9n > .kap:nth-child(9n),
.kap.ufk-son-10n > .kap:nth-child(10n),
.kap.ufk-son-11n > .kap:nth-child(11n),
.kap.ufk-son-12n > .kap:nth-child(12n),
.kap.ufk-son-13n > .kap:nth-child(13n),
.kap.ufk-son-14n > .kap:nth-child(14n),
.kap.ufk-son-15n > .kap:nth-child(15n),
.kap.ufk-son-16n > .kap:nth-child(16n),
.kap.ufk-son-17n > .kap:nth-child(17n),
.kap.ufk-son-18n > .kap:nth-child(18n),
.kap.ufk-son-19n > .kap:nth-child(19n),
.kap.ufk-son-20n > .kap:nth-child(20n),
.kap.ufk-son-21n > .kap:nth-child(21n),
.kap.ufk-son-22n > .kap:nth-child(22n),
.kap.ufk-son-23n > .kap:nth-child(23n),
.kap.ufk-son-24n > .kap:nth-child(24n)  {  page-break-after: always;  }
}

/* ==========================================================================
    KAP ÖRGÜSÜ
    Display:Flexbox yöntemiyle geliştirilen örgü.
========================================================================== */
.kap{
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
}

/* KAP HİZALAMA */
.kap.sarkıtlat .kap { align-items: flex-start             }
.kap.sarkıt         { align-items: flex-start !important  }
.kap.dikitlet .kap  { align-items: flex-end               }
.kap.dikit          { align-items: flex-end !important    }
.kap.merkezlet .kap { align-items: center                 }
.kap.merkez         { align-items: center !important      }
.kap.direklet .kap  { align-items: stretch                }
.kap.direk          { align-items: stretch !important     }
.kap.dengelet .kap  { align-items: baseline               }
.kap.denge          { align-items: baseline !important    }
.kap.ortalat .kap   { justify-content: center             }
.kap.ortala         { justify-content: center !important  }
.kap.yanlat .kap    { justify-content: flex-end           }
.kap.yanla          { justify-content: flex-end !important}
.kap.sollat .kap    { justify-content: flex-start         }
.kap.solla          { justify-content: flex-start !important}
.kap.yaylat .kap    { justify-content: space-around       }
.kap.yay            { justify-content: space-around !important}
.kap.gerlet .kap    { justify-content: space-between      }
.kap.ger            { justify-content: space-between !important}
.kap.terslet .kap   { flex-direction: row-reverse         }
.kap.tersle         { flex-direction: row-reverse !important}

/* KAP ÖLÇEKLEME */
/* gnl - Tüm ekran genişliklerinde */


[gnl~="1"]{--parça:1;}[byk~="1"]{--b-parça:1;}[ort~="1"]{--o-parça:1;}[kçk~="1"]{--k-parça:1;}[ufk~="1"]{--u-parça:1;}
[gnl~="2"]{--parça:2;}[byk~="2"]{--b-parça:2;}[ort~="2"]{--o-parça:2;}[kçk~="2"]{--k-parça:2;}[ufk~="2"]{--u-parça:2;}
[gnl~="3"]{--parça:3;}[byk~="3"]{--b-parça:3;}[ort~="3"]{--o-parça:3;}[kçk~="3"]{--k-parça:3;}[ufk~="3"]{--u-parça:3;}
[gnl~="4"]{--parça:4;}[byk~="4"]{--b-parça:4;}[ort~="4"]{--o-parça:4;}[kçk~="4"]{--k-parça:4;}[ufk~="4"]{--u-parça:4;}
[gnl~="5"]{--parça:5;}[byk~="5"]{--b-parça:5;}[ort~="5"]{--o-parça:5;}[kçk~="5"]{--k-parça:5;}[ufk~="5"]{--u-parça:5;}
[gnl~="6"]{--parça:6;}[byk~="6"]{--b-parça:6;}[ort~="6"]{--o-parça:6;}[kçk~="6"]{--k-parça:6;}[ufk~="6"]{--u-parça:6;}
[gnl~="7"]{--parça:7;}[byk~="7"]{--b-parça:7;}[ort~="7"]{--o-parça:7;}[kçk~="7"]{--k-parça:7;}[ufk~="7"]{--u-parça:7;}
[gnl~="8"]{--parça:8;}[byk~="8"]{--b-parça:8;}[ort~="8"]{--o-parça:8;}[kçk~="8"]{--k-parça:8;}[ufk~="8"]{--u-parça:8;}
[gnl~="9"]{--parça:9;}[byk~="9"]{--b-parça:9;}[ort~="9"]{--o-parça:9;}[kçk~="9"]{--k-parça:9;}[ufk~="9"]{--u-parça:9;}
[gnl~="10"]{--parça:10;}[byk~="10"]{--b-parça:10;}[ort~="10"]{--o-parça:10;}[kçk~="10"]{--k-parça:10;}[ufk~="10"]{--u-parça:10;}
[gnl~="11"]{--parça:11;}[byk~="11"]{--b-parça:11;}[ort~="11"]{--o-parça:11;}[kçk~="11"]{--k-parça:11;}[ufk~="11"]{--u-parça:11;}
[gnl~="12"]{--parça:12;}[byk~="12"]{--b-parça:12;}[ort~="12"]{--o-parça:12;}[kçk~="12"]{--k-parça:12;}[ufk~="12"]{--u-parça:12;}
[gnl~="13"]{--parça:13;}[byk~="13"]{--b-parça:13;}[ort~="13"]{--o-parça:13;}[kçk~="13"]{--k-parça:13;}[ufk~="13"]{--u-parça:13;}
[gnl~="14"]{--parça:14;}[byk~="14"]{--b-parça:14;}[ort~="14"]{--o-parça:14;}[kçk~="14"]{--k-parça:14;}[ufk~="14"]{--u-parça:14;}
[gnl~="15"]{--parça:15;}[byk~="15"]{--b-parça:15;}[ort~="15"]{--o-parça:15;}[kçk~="15"]{--k-parça:15;}[ufk~="15"]{--u-parça:15;}
[gnl~="16"]{--parça:16;}[byk~="16"]{--b-parça:16;}[ort~="16"]{--o-parça:16;}[kçk~="16"]{--k-parça:16;}[ufk~="16"]{--u-parça:16;}
[gnl~="17"]{--parça:17;}[byk~="17"]{--b-parça:17;}[ort~="17"]{--o-parça:17;}[kçk~="17"]{--k-parça:17;}[ufk~="17"]{--u-parça:17;}
[gnl~="18"]{--parça:18;}[byk~="18"]{--b-parça:18;}[ort~="18"]{--o-parça:18;}[kçk~="18"]{--k-parça:18;}[ufk~="18"]{--u-parça:18;}
[gnl~="19"]{--parça:19;}[byk~="19"]{--b-parça:19;}[ort~="19"]{--o-parça:19;}[kçk~="19"]{--k-parça:19;}[ufk~="19"]{--u-parça:19;}
[gnl~="20"]{--parça:20;}[byk~="20"]{--b-parça:20;}[ort~="20"]{--o-parça:20;}[kçk~="20"]{--k-parça:20;}[ufk~="20"]{--u-parça:20;}
[gnl~="21"]{--parça:21;}[byk~="21"]{--b-parça:21;}[ort~="21"]{--o-parça:21;}[kçk~="21"]{--k-parça:21;}[ufk~="21"]{--u-parça:21;}
[gnl~="22"]{--parça:22;}[byk~="22"]{--b-parça:22;}[ort~="22"]{--o-parça:22;}[kçk~="22"]{--k-parça:22;}[ufk~="22"]{--u-parça:22;}
[gnl~="23"]{--parça:23;}[byk~="23"]{--b-parça:23;}[ort~="23"]{--o-parça:23;}[kçk~="23"]{--k-parça:23;}[ufk~="23"]{--u-parça:23;}
[gnl~="24"]{--parça:24;}[byk~="24"]{--b-parça:24;}[ort~="24"]{--o-parça:24;}[kçk~="24"]{--k-parça:24;}[ufk~="24"]{--u-parça:24;}

[gnl~="1p"]{--par:1;}[byk~="1p"]{--b-par:1;}[ort~="1p"]{--o-par:1;}[kçk~="1p"]{--k-par:1;}[ufk~="1p"]{--u-par:1;}
[gnl~="2p"]{--par:2;}[byk~="2p"]{--b-par:2;}[ort~="2p"]{--o-par:2;}[kçk~="2p"]{--k-par:2;}[ufk~="2p"]{--u-par:2;}
[gnl~="3p"]{--par:3;}[byk~="3p"]{--b-par:3;}[ort~="3p"]{--o-par:3;}[kçk~="3p"]{--k-par:3;}[ufk~="3p"]{--u-par:3;}
[gnl~="4p"]{--par:4;}[byk~="4p"]{--b-par:4;}[ort~="4p"]{--o-par:4;}[kçk~="4p"]{--k-par:4;}[ufk~="4p"]{--u-par:4;}
[gnl~="5p"]{--par:5;}[byk~="5p"]{--b-par:5;}[ort~="5p"]{--o-par:5;}[kçk~="5p"]{--k-par:5;}[ufk~="5p"]{--u-par:5;}
[gnl~="6p"]{--par:6;}[byk~="6p"]{--b-par:6;}[ort~="6p"]{--o-par:6;}[kçk~="6p"]{--k-par:6;}[ufk~="6p"]{--u-par:6;}
[gnl~="7p"]{--par:7;}[byk~="7p"]{--b-par:7;}[ort~="7p"]{--o-par:7;}[kçk~="7p"]{--k-par:7;}[ufk~="7p"]{--u-par:7;}
[gnl~="8p"]{--par:8;}[byk~="8p"]{--b-par:8;}[ort~="8p"]{--o-par:8;}[kçk~="8p"]{--k-par:8;}[ufk~="8p"]{--u-par:8;}
[gnl~="9p"]{--par:9;}[byk~="9p"]{--b-par:9;}[ort~="9p"]{--o-par:9;}[kçk~="9p"]{--k-par:9;}[ufk~="9p"]{--u-par:9;}
[gnl~="10p"]{--par:10;}[byk~="10p"]{--b-par:10;}[ort~="10p"]{--o-par:10;}[kçk~="10p"]{--k-par:10;}[ufk~="10p"]{--u-par:10;}
[gnl~="11p"]{--par:11;}[byk~="11p"]{--b-par:11;}[ort~="11p"]{--o-par:11;}[kçk~="11p"]{--k-par:11;}[ufk~="11p"]{--u-par:11;}
[gnl~="12p"]{--par:12;}[byk~="12p"]{--b-par:12;}[ort~="12p"]{--o-par:12;}[kçk~="12p"]{--k-par:12;}[ufk~="12p"]{--u-par:12;}
[gnl~="13p"]{--par:13;}[byk~="13p"]{--b-par:13;}[ort~="13p"]{--o-par:13;}[kçk~="13p"]{--k-par:13;}[ufk~="13p"]{--u-par:13;}
[gnl~="14p"]{--par:14;}[byk~="14p"]{--b-par:14;}[ort~="14p"]{--o-par:14;}[kçk~="14p"]{--k-par:14;}[ufk~="14p"]{--u-par:14;}
[gnl~="15p"]{--par:15;}[byk~="15p"]{--b-par:15;}[ort~="15p"]{--o-par:15;}[kçk~="15p"]{--k-par:15;}[ufk~="15p"]{--u-par:15;}
[gnl~="16p"]{--par:16;}[byk~="16p"]{--b-par:16;}[ort~="16p"]{--o-par:16;}[kçk~="16p"]{--k-par:16;}[ufk~="16p"]{--u-par:16;}
[gnl~="17p"]{--par:17;}[byk~="17p"]{--b-par:17;}[ort~="17p"]{--o-par:17;}[kçk~="17p"]{--k-par:17;}[ufk~="17p"]{--u-par:17;}
[gnl~="18p"]{--par:18;}[byk~="18p"]{--b-par:18;}[ort~="18p"]{--o-par:18;}[kçk~="18p"]{--k-par:18;}[ufk~="18p"]{--u-par:18;}
[gnl~="19p"]{--par:19;}[byk~="19p"]{--b-par:19;}[ort~="19p"]{--o-par:19;}[kçk~="19p"]{--k-par:19;}[ufk~="19p"]{--u-par:19;}
[gnl~="20p"]{--par:20;}[byk~="20p"]{--b-par:20;}[ort~="20p"]{--o-par:20;}[kçk~="20p"]{--k-par:20;}[ufk~="20p"]{--u-par:20;}
[gnl~="21p"]{--par:21;}[byk~="21p"]{--b-par:21;}[ort~="21p"]{--o-par:21;}[kçk~="21p"]{--k-par:21;}[ufk~="21p"]{--u-par:21;}
[gnl~="22p"]{--par:22;}[byk~="22p"]{--b-par:22;}[ort~="22p"]{--o-par:22;}[kçk~="22p"]{--k-par:22;}[ufk~="22p"]{--u-par:22;}
[gnl~="23p"]{--par:23;}[byk~="23p"]{--b-par:23;}[ort~="23p"]{--o-par:23;}[kçk~="23p"]{--k-par:23;}[ufk~="23p"]{--u-par:23;}
[gnl~="24p"]{--par:24;}[byk~="24p"]{--b-par:24;}[ort~="24p"]{--o-par:24;}[kçk~="24p"]{--k-par:24;}[ufk~="24p"]{--u-par:24;}

[gnl]{
  flex-basis: calc(100% / var(--par) * var(--parça));
  max-width: calc(100% / var(--par) * var(--parça));
  box-sizing: border-box;
  background-color: tomato;
  border:1px solid black;
}
@media screen and (max-width: 80em){
  [byk]{
    flex-basis: calc(100% / var(--b-par) * var(--b-parça));
    max-width: calc(100% / var(--b-par) * var(--b-parça));
    box-sizing: border-box;
    background-color: orange;
  }}
@media screen and (max-width: 64em){
  [ort]{
    flex-basis: calc(100% / var(--o-par) * var(--o-parça));
    max-width: calc(100% / var(--o-par) * var(--o-parça));
    box-sizing: border-box;
    background-color: yellow;
  }}

@media screen and (max-width: 48em){
  [kçk]{
    flex-basis: calc(100% / var(--k-par) * var(--k-parça));
    max-width: calc(100% / var(--k-par) * var(--k-parça));
    box-sizing: border-box;
    background-color: gray;
  }}
@media screen and (max-width: 35.5em){
  [ufk]{
    flex-basis: calc(100% / var(--u-par) * var(--u-parça));
    max-width: calc(100% / var(--u-par) * var(--u-parça));
    box-sizing: border-box;
    background-color: blue;
  }}

  
.gnl-1o  { flex: 1; }
.gnl-2o  { flex: 2; }
.gnl-3o  { flex: 3; }
.gnl-4o  { flex: 4; }
.gnl-5o  { flex: 5; }
.gnl-6o  { flex: 6; }
.gnl-7o  { flex: 7; }
.gnl-8o  { flex: 8; }
.gnl-9o  { flex: 9; }
.gnl-10o { flex: 10; }
.gnl-11o { flex: 11; }
.gnl-12o { flex: 12; }
.gnl-13o { flex: 13; }
.gnl-14o { flex: 14; }
.gnl-15o { flex: 15; }
.gnl-16o { flex: 16; }
.gnl-17o { flex: 17; }
.gnl-18o { flex: 18; }
.gnl-19o { flex: 19; }
.gnl-20o { flex: 20; }
.gnl-21o { flex: 21; }
.gnl-22o { flex: 22; }
.gnl-23o { flex: 23; }
.gnl-24o { flex: 24; }

.gnl-25b > .gnl-0p
	{ flex-basis: 4%;                  max-width: 4%;                }

.gnl-24b > .gnl-0p,
.gnl-1-24p
	{	flex-basis: 4.16666666666667%;   max-width: 4.16666666666667%; }

.gnl-23b > .gnl-0p
	{	flex-basis: 4.34782608696%;      max-width: 4.34782608696%;    }

.gnl-22b > .gnl-0p
	{	flex-basis: 4.54545454545%;      max-width: 4.54545454545%;    }

.gnl-21b > .gnl-0p
	{	flex-basis: 4.7619047619%;       max-width: 4.7619047619%;     }

.gnl-20b > .gnl-0p,
.gnl-1-20p
	{	flex-basis: 5%;                  max-width: 5%;                }

.gnl-19b > .gnl-0p
	{	flex-basis: 5.26315789474%;      max-width: 5.26315789474%;    }

.gnl-18b > .gnl-0p,
.gnl-1-18p
	{	flex-basis: 5.55555555555556%;   max-width: 5.55555555555556%; }

.gnl-17b > .gnl-0p
	{	flex-basis: 5.88235294118%;      max-width: 5.88235294118%;    }

.gnl-16b > .gnl-0p,
.gnl-1-16p
	{	flex-basis: 6.25%;               max-width: 6.25%;             }

.gnl-15b > .gnl-0p
	{	flex-basis: 6.66666666667%;      max-width: 6.66666666667%;    }

.gnl-14b > .gnl-0p
	{	flex-basis: 7.14285714286%;      max-width: 7.14285714286%;    }

.gnl-13b > .gnl-0p
	{	flex-basis: 7.69230769231%;      max-width: 7.69230769231%;    }

.gnl-12b > .gnl-0p,
.gnl-2-24p,
.gnl-1-12p
	{	flex-basis: 8.33333333333333%;   max-width: 8.33333333333333%; }

.gnl-11b > .gnl-0p
	{	flex-basis: 9.09090909091%;      max-width: 9.09090909091%;    }

.gnl-10b > .gnl-0p,
.gnl-2-20p,
.gnl-1-10p
	{	flex-basis: 10%;                 max-width: 10%;               }

.gnl-9b > .gnl-0p,
.gnl-2-18p,
.gnl-1-9p
	{	flex-basis: 11.1111111111111%;   max-width: 11.1111111111111%; }

.gnl-8b > .gnl-0p,
.gnl-3-24p,
.gnl-2-16p,
.gnl-1-8p
	{	flex-basis: 12.5%;               max-width: 12.5%;             }

.gnl-7b > .gnl-0p
	{	flex-basis: 14.2857142857%;      max-width: 14.2857142857%;    }

.gnl-3-20p
	{	flex-basis: 15%;                 max-width: 15%;               }

.gnl-6b > .gnl-0p,
.gnl-4-24p,
.gnl-3-18p,
.gnl-2-12p,
.gnl-1-6p
	{	flex-basis: 16.6666666666667%;   max-width: 16.6666666666667%; }

.gnl-3-16p
	{	flex-basis: 18.75%;              max-width: 18.75%;            }

.gnl-5b > .gnl-0p,
.gnl-4-20p,
.gnl-2-10p,
.gnl-1-5p
	{	flex-basis: 20%;                 max-width: 20%;               }

.gnl-5-24p
	{	flex-basis: 20.8333333333333%;   max-width: 20.8333333333333%; }

.gnl-4-18p,
.gnl-2-9p
	{	flex-basis: 22.2222222222222%;   max-width: 22.2222222222222%; }

.gnl-4b > .gnl-0p,
.gnl-6-24p,
.gnl-5-20p,
.gnl-4-16p,
.gnl-3-12p,
.gnl-2-8p
	{	flex-basis: 25%;                 max-width: 25%;               }

.gnl-5-18p
	{	flex-basis: 27.7777777777778%;   max-width: 27.7777777777778%; }

.gnl-7-24p
	{	flex-basis: 29.1666666666667%;   max-width: 29.1666666666667%; }

.gnl-6-20p,
.gnl-3-10p
	{	flex-basis: 30%;                 max-width: 30%;               }

.gnl-5-16p
	{	flex-basis: 31.25%;              max-width: 31.25%;            }

.gnl-3b > .gnl-0p,
.gnl-8-24p,
.gnl-6-18p,
.gnl-4-12p,
.gnl-3-9p,
.gnl-2-6p
	{	flex-basis: 33.3333333333333%;   max-width: 33.3333333333333%; }

.gnl-7-20p
	{	flex-basis: 35%;                 max-width: 35%;               }

.gnl-9-24p,
.gnl-6-16p,
.gnl-3-8p
	{	flex-basis: 37.5%;               max-width: 37.5%;             }

.gnl-7-18p
	{	flex-basis: 38.8888888888889%;   max-width: 38.8888888888889%; }

.gnl-8-20p,
.gnl-4-10p,
.gnl-2-5p
	{	flex-basis: 40%;                 max-width: 40%;               }

.gnl-10-24p,
.gnl-5-12p
	{	flex-basis: 41.6666666666667%;   max-width: 41.6666666666667%; }

.gnl-7-16p
	{	flex-basis: 43.75%;              max-width: 43.75%;            }

.gnl-8-18p,
.gnl-4-9p
		{	flex-basis: 44.4444444444444%; max-width: 44.4444444444444%;	}

.gnl-9-20p
	{	flex-basis: 45%;max-width: 45%;	}

.gnl-11-24p
	{	flex-basis: 45.8333333333333%;   max-width: 45.8333333333333%;	}

.gnl-2b > .gnl-0p,
.gnl-12-24p,
.gnl-10-20p,
.gnl-9-18p,
.gnl-8-16p,
.gnl-6-12p,
.gnl-5-10p,
.gnl-4-8p,
.gnl-3-6p
	{	flex-basis: 50%;                 max-width: 50%;               }

.gnl-13-24p
	{	flex-basis: 54.1666666666667%;   max-width: 54.1666666666667%; }

.gnl-11-20p
	{	flex-basis: 55%;                 max-width: 55%;               }

.gnl-10-18p,
.gnl-5-9p
	{	flex-basis: 55.5555555555556%;   max-width: 55.5555555555556%; }

.gnl-9-16p
	{	flex-basis: 56.25%;              max-width: 56.25%;            }

.gnl-14-24p,
.gnl-7-12p
	{	flex-basis: 58.3333333333333%;   max-width: 58.3333333333333%; }

.gnl-12-20p,
.gnl-6-10p,
.gnl-3-5p
	{	flex-basis: 60%;                 max-width: 60%;               }

.gnl-11-18p
	{	flex-basis: 61.1111111111111%;   max-width: 61.1111111111111%; }

.gnl-15-24p,
.gnl-10-16p,
.gnl-5-8p
	{	flex-basis: 62.5%;               max-width: 62.5%;             }

.gnl-13-20p
	{	flex-basis: 65%;                 max-width: 65%;               }

.gnl-16-24p,
.gnl-12-18p,
.gnl-8-12p,
.gnl-6-9p,
.gnl-4-6p
	{	flex-basis: 66.6666666666667%;   max-width: 66.6666666666667%; }

.gnl-11-16p
	{	flex-basis: 68.75%;              max-width: 68.75%;            }

.gnl-14-20p,
.gnl-7-10p
	{	flex-basis: 70%;                 max-width: 70%;               }

.gnl-17-24p
	{	flex-basis: 70.8333333333333%;   max-width: 70.8333333333333%; }

.gnl-13-18p
	{	flex-basis: 72.2222222222222%;   max-width: 72.2222222222222%; }

.gnl-18-24p,
.gnl-15-20p,
.gnl-12-16p,
.gnl-9-12p,
.gnl-6-8p
	{	flex-basis: 75%;                 max-width: 75%;               }

.gnl-14-18p,
.gnl-7-9p
	{	flex-basis: 77.7777777777778%;   max-width: 77.7777777777778%; }

.gnl-19-24p
	{	flex-basis: 79.1666666666667%;   max-width: 79.1666666666667%; }

.gnl-16-20p,
.gnl-8-10p,
.gnl-4-5p
	{	flex-basis: 80%;                 max-width: 80%;               }

.gnl-13-16p
	{	flex-basis: 81.25%;              max-width: 81.25%;            }

.gnl-20-24p,
.gnl-15-18p,
.gnl-10-12p,
.gnl-5-6p
	{	flex-basis: 83.3333333333333%;   max-width: 83.3333333333333%; }

.gnl-17-20p
	{	flex-basis: 85%;                 max-width: 85%;               }

.gnl-21-24p,
.gnl-14-16p,
.gnl-7-8p
	{	flex-basis: 87.5%;               max-width: 87.5%;             }

.gnl-16-18p,
.gnl-8-9p
	{	flex-basis: 88.8888888888889%;   max-width: 88.8888888888889%; }

.gnl-18-20p,
.gnl-9-10p
	{	flex-basis: 90%;                 max-width: 90%;               }

.gnl-22-24p,
.gnl-11-12p
	{	flex-basis: 91.6666666666667%;   max-width: 91.6666666666667%; }

.gnl-15-16p
	{	flex-basis: 93.75%;              max-width: 93.75%;            }

.gnl-17-18p
	{	flex-basis: 94.4444444444444%;   max-width: 94.4444444444444%; }

.gnl-19-20p
	{	flex-basis: 95%;                 max-width: 95%;               }

.gnl-23-24p
	{	flex-basis: 95.8333333333333%;   max-width: 95.8333333333333%; }

.gnl-1b > .gnl-0p,
.gnl-24-24p,
.gnl-20-20p,
.gnl-18-18p,
.gnl-16-16p,
.gnl-12-12p,
.gnl-10-10p,
.gnl-9-9p,
.gnl-8-8p,
.gnl-6-6p,
.gnl-5-5p,
.gnl-4-4p,
.gnl-3-3p,
.gnl-2-2p,
.gnl-1-1p
	{	flex-basis: 100%;                max-width: 100%;              }

.gnl-eb > .gnl-0p{
  flex:1 1 0%;
  overflow: hidden;
}

/* byk */
@media screen and (max-width: 80em){
.byk-1o  { flex: 1; }
.byk-2o  { flex: 2; }
.byk-3o  { flex: 3; }
.byk-4o  { flex: 4; }
.byk-5o  { flex: 5; }
.byk-6o  { flex: 6; }
.byk-7o  { flex: 7; }
.byk-8o  { flex: 8; }
.byk-9o  { flex: 9; }
.byk-10o { flex: 10; }

.byk-25b > .byk-0p
	{ flex-basis: 4%;                  max-width: 4%;                }

.byk-24b > .byk-0p,
.byk-1-24p
	{	flex-basis: 4.16666666666667%;   max-width: 4.16666666666667%; }

.byk-23b > .byk-0p
	{	flex-basis: 4.34782608696%;      max-width: 4.34782608696%;    }

.byk-22b > .byk-0p
	{	flex-basis: 4.54545454545%;      max-width: 4.54545454545%;    }

.byk-21b > .byk-0p
	{	flex-basis: 4.7619047619%;       max-width: 4.7619047619%;     }

.byk-20b > .byk-0p,
.byk-1-20p
	{	flex-basis: 5%;                  max-width: 5%;                }

.byk-19b > .byk-0p
	{	flex-basis: 5.26315789474%;      max-width: 5.26315789474%;    }

.byk-18b > .byk-0p,
.byk-1-18p
	{	flex-basis: 5.55555555555556%;   max-width: 5.55555555555556%; }

.byk-17b > .byk-0p
	{	flex-basis: 5.88235294118%;      max-width: 5.88235294118%;    }

.byk-16b > .byk-0p,
.byk-1-16p
	{	flex-basis: 6.25%;               max-width: 6.25%;             }

.byk-15b > .byk-0p
	{	flex-basis: 6.66666666667%;      max-width: 6.66666666667%;    }

.byk-14b > .byk-0p
	{	flex-basis: 7.14285714286%;      max-width: 7.14285714286%;    }

.byk-13b > .byk-0p
	{	flex-basis: 7.69230769231%;      max-width: 7.69230769231%;    }

.byk-12b > .byk-0p,
.byk-2-24p,
.byk-1-12p
	{	flex-basis: 8.33333333333333%;   max-width: 8.33333333333333%; }

.byk-11b > .byk-0p
	{	flex-basis: 9.09090909091%;      max-width: 9.09090909091%;    }

.byk-10b > .byk-0p,
.byk-2-20p,
.byk-1-10p
	{	flex-basis: 10%;                 max-width: 10%;               }

.byk-9b > .byk-0p,
.byk-2-18p,
.byk-1-9p
	{	flex-basis: 11.1111111111111%;   max-width: 11.1111111111111%; }

.byk-8b > .byk-0p,
.byk-3-24p,
.byk-2-16p,
.byk-1-8p
	{	flex-basis: 12.5%;               max-width: 12.5%;             }

.byk-7b > .byk-0p
	{	flex-basis: 14.2857142857%;      max-width: 14.2857142857%;    }

.byk-3-20p
	{	flex-basis: 15%;                 max-width: 15%;               }

.byk-6b > .byk-0p,
.byk-4-24p,
.byk-3-18p,
.byk-2-12p,
.byk-1-6p
	{	flex-basis: 16.6666666666667%;   max-width: 16.6666666666667%; }

.byk-3-16p
	{	flex-basis: 18.75%;              max-width: 18.75%;            }

.byk-5b > .byk-0p,
.byk-4-20p,
.byk-2-10p,
.byk-1-5p
	{	flex-basis: 20%;                 max-width: 20%;               }

.byk-5-24p
	{	flex-basis: 20.8333333333333%;   max-width: 20.8333333333333%; }

.byk-4-18p,
.byk-2-9p
	{	flex-basis: 22.2222222222222%;   max-width: 22.2222222222222%; }

.byk-4b > .byk-0p,
.byk-6-24p,
.byk-5-20p,
.byk-4-16p,
.byk-3-12p,
.byk-2-8p
	{	flex-basis: 25%;                 max-width: 25%;               }

.byk-5-18p
	{	flex-basis: 27.7777777777778%;   max-width: 27.7777777777778%; }

.byk-7-24p
	{	flex-basis: 29.1666666666667%;   max-width: 29.1666666666667%; }

.byk-6-20p,
.byk-3-10p
	{	flex-basis: 30%;                 max-width: 30%;               }

.byk-5-16p
	{	flex-basis: 31.25%;              max-width: 31.25%;            }

.byk-3b > .byk-0p,
.byk-8-24p,
.byk-6-18p,
.byk-4-12p,
.byk-3-9p,
.byk-2-6p
	{	flex-basis: 33.3333333333333%;   max-width: 33.3333333333333%; }

.byk-7-20p
	{	flex-basis: 35%;                 max-width: 35%;               }

.byk-9-24p,
.byk-6-16p,
.byk-3-8p
	{	flex-basis: 37.5%;               max-width: 37.5%;             }

.byk-7-18p
	{	flex-basis: 38.8888888888889%;   max-width: 38.8888888888889%; }

.byk-8-20p,
.byk-4-10p,
.byk-2-5p
	{	flex-basis: 40%;                 max-width: 40%;               }

.byk-10-24p,
.byk-5-12p
	{	flex-basis: 41.6666666666667%;   max-width: 41.6666666666667%; }

.byk-7-16p
	{	flex-basis: 43.75%;              max-width: 43.75%;            }

.byk-8-18p,
.byk-4-9p
		{	flex-basis: 44.4444444444444%; max-width: 44.4444444444444%;	}

.byk-9-20p
	{	flex-basis: 45%;max-width: 45%;	}

.byk-11-24p
	{	flex-basis: 45.8333333333333%;   max-width: 45.8333333333333%;	}

.byk-2b > .byk-0p,
.byk-12-24p,
.byk-10-20p,
.byk-9-18p,
.byk-8-16p,
.byk-6-12p,
.byk-5-10p,
.byk-4-8p,
.byk-3-6p
	{	flex-basis: 50%;                 max-width: 50%;               }

.byk-13-24p
	{	flex-basis: 54.1666666666667%;   max-width: 54.1666666666667%; }

.byk-11-20p
	{	flex-basis: 55%;                 max-width: 55%;               }

.byk-10-18p,
.byk-5-9p
	{	flex-basis: 55.5555555555556%;   max-width: 55.5555555555556%; }

.byk-9-16p
	{	flex-basis: 56.25%;              max-width: 56.25%;            }

.byk-14-24p,
.byk-7-12p
	{	flex-basis: 58.3333333333333%;   max-width: 58.3333333333333%; }

.byk-12-20p,
.byk-6-10p,
.byk-3-5p
	{	flex-basis: 60%;                 max-width: 60%;               }

.byk-11-18p
	{	flex-basis: 61.1111111111111%;   max-width: 61.1111111111111%; }

.byk-15-24p,
.byk-10-16p,
.byk-5-8p
	{	flex-basis: 62.5%;               max-width: 62.5%;             }

.byk-13-20p
	{	flex-basis: 65%;                 max-width: 65%;               }

.byk-16-24p,
.byk-12-18p,
.byk-8-12p,
.byk-6-9p,
.byk-4-6p
	{	flex-basis: 66.6666666666667%;   max-width: 66.6666666666667%; }

.byk-11-16p
	{	flex-basis: 68.75%;              max-width: 68.75%;            }

.byk-14-20p,
.byk-7-10p
	{	flex-basis: 70%;                 max-width: 70%;               }

.byk-17-24p
	{	flex-basis: 70.8333333333333%;   max-width: 70.8333333333333%; }

.byk-13-18p
	{	flex-basis: 72.2222222222222%;   max-width: 72.2222222222222%; }

.byk-18-24p,
.byk-15-20p,
.byk-12-16p,
.byk-9-12p,
.byk-6-8p
	{	flex-basis: 75%;                 max-width: 75%;               }

.byk-14-18p,
.byk-7-9p
	{	flex-basis: 77.7777777777778%;   max-width: 77.7777777777778%; }

.byk-19-24p
	{	flex-basis: 79.1666666666667%;   max-width: 79.1666666666667%; }

.byk-16-20p,
.byk-8-10p,
.byk-4-5p
	{	flex-basis: 80%;                 max-width: 80%;               }

.byk-13-16p
	{	flex-basis: 81.25%;              max-width: 81.25%;            }

.byk-20-24p,
.byk-15-18p,
.byk-10-12p,
.byk-5-6p
	{	flex-basis: 83.3333333333333%;   max-width: 83.3333333333333%; }

.byk-17-20p
	{	flex-basis: 85%;                 max-width: 85%;               }

.byk-21-24p,
.byk-14-16p,
.byk-7-8p
	{	flex-basis: 87.5%;               max-width: 87.5%;             }

.byk-16-18p,
.byk-8-9p
	{	flex-basis: 88.8888888888889%;   max-width: 88.8888888888889%; }

.byk-18-20p,
.byk-9-10p
	{	flex-basis: 90%;                 max-width: 90%;               }

.byk-22-24p,
.byk-11-12p
	{	flex-basis: 91.6666666666667%;   max-width: 91.6666666666667%; }

.byk-15-16p
	{	flex-basis: 93.75%;              max-width: 93.75%;            }

.byk-17-18p
	{	flex-basis: 94.4444444444444%;   max-width: 94.4444444444444%; }

.byk-19-20p
	{	flex-basis: 95%;                 max-width: 95%;               }

.byk-23-24p
	{	flex-basis: 95.8333333333333%;   max-width: 95.8333333333333%; }

.byk-1b > .byk-0p,
.byk-24-24p,
.byk-20-20p,
.byk-18-18p,
.byk-16-16p,
.byk-12-12p,
.byk-10-10p,
.byk-9-9p,
.byk-8-8p,
.byk-6-6p,
.byk-5-5p
	{	flex-basis: 100%;                max-width: 100%;              }

.byk-eb > .byk-0p{
  flex:1 1 0%;
  overflow: hidden;
}
}
/* ort */
@media screen and (max-width: 64em){
.ort-1o  { flex: 1; }
.ort-2o  { flex: 2; }
.ort-3o  { flex: 3; }
.ort-4o  { flex: 4; }
.ort-5o  { flex: 5; }
.ort-6o  { flex: 6; }
.ort-7o  { flex: 7; }
.ort-8o  { flex: 8; }
.ort-9o  { flex: 9; }
.ort-10o { flex: 10; }

.ort-25b > .ort-0p
	{ flex-basis: 4%;                  max-width: 4%;                }

.ort-24b > .ort-0p,
.ort-1-24p
	{	flex-basis: 4.16666666666667%;   max-width: 4.16666666666667%; }

.ort-23b > .ort-0p
	{	flex-basis: 4.34782608696%;      max-width: 4.34782608696%;    }

.ort-22b > .ort-0p
	{	flex-basis: 4.54545454545%;      max-width: 4.54545454545%;    }

.ort-21b > .ort-0p
	{	flex-basis: 4.7619047619%;       max-width: 4.7619047619%;     }

.ort-20b > .ort-0p,
.ort-1-20p
	{	flex-basis: 5%;                  max-width: 5%;                }

.ort-19b > .ort-0p
	{	flex-basis: 5.26315789474%;      max-width: 5.26315789474%;    }

.ort-18b > .ort-0p,
.ort-1-18p
	{	flex-basis: 5.55555555555556%;   max-width: 5.55555555555556%; }

.ort-17b > .ort-0p
	{	flex-basis: 5.88235294118%;      max-width: 5.88235294118%;    }

.ort-16b > .ort-0p,
.ort-1-16p
	{	flex-basis: 6.25%;               max-width: 6.25%;             }

.ort-15b > .ort-0p
	{	flex-basis: 6.66666666667%;      max-width: 6.66666666667%;    }

.ort-14b > .ort-0p
	{	flex-basis: 7.14285714286%;      max-width: 7.14285714286%;    }

.ort-13b > .ort-0p
	{	flex-basis: 7.69230769231%;      max-width: 7.69230769231%;    }

.ort-12b > .ort-0p,
.ort-2-24p,
.ort-1-12p
	{	flex-basis: 8.33333333333333%;   max-width: 8.33333333333333%; }

.ort-11b > .ort-0p
	{	flex-basis: 9.09090909091%;      max-width: 9.09090909091%;    }

.ort-10b > .ort-0p,
.ort-2-20p,
.ort-1-10p
	{	flex-basis: 10%;                 max-width: 10%;               }

.ort-9b > .ort-0p,
.ort-2-18p,
.ort-1-9p
	{	flex-basis: 11.1111111111111%;   max-width: 11.1111111111111%; }

.ort-8b > .ort-0p,
.ort-3-24p,
.ort-2-16p,
.ort-1-8p
	{	flex-basis: 12.5%;               max-width: 12.5%;             }

.ort-7b > .ort-0p
	{	flex-basis: 14.2857142857%;      max-width: 14.2857142857%;    }

.ort-3-20p
	{	flex-basis: 15%;                 max-width: 15%;               }

.ort-6b > .ort-0p,
.ort-4-24p,
.ort-3-18p,
.ort-2-12p,
.ort-1-6p
	{	flex-basis: 16.6666666666667%;   max-width: 16.6666666666667%; }

.ort-3-16p
	{	flex-basis: 18.75%;              max-width: 18.75%;            }

.ort-5b > .ort-0p,
.ort-4-20p,
.ort-2-10p,
.ort-1-5p
	{	flex-basis: 20%;                 max-width: 20%;               }

.ort-5-24p
	{	flex-basis: 20.8333333333333%;   max-width: 20.8333333333333%; }

.ort-4-18p,
.ort-2-9p
	{	flex-basis: 22.2222222222222%;   max-width: 22.2222222222222%; }

.ort-4b > .ort-0p,
.ort-6-24p,
.ort-5-20p,
.ort-4-16p,
.ort-3-12p,
.ort-2-8p
	{	flex-basis: 25%;                 max-width: 25%;               }

.ort-5-18p
	{	flex-basis: 27.7777777777778%;   max-width: 27.7777777777778%; }

.ort-7-24p
	{	flex-basis: 29.1666666666667%;   max-width: 29.1666666666667%; }

.ort-6-20p,
.ort-3-10p
	{	flex-basis: 30%;                 max-width: 30%;               }

.ort-5-16p
	{	flex-basis: 31.25%;              max-width: 31.25%;            }

.ort-3b > .ort-0p,
.ort-8-24p,
.ort-6-18p,
.ort-4-12p,
.ort-3-9p,
.ort-2-6p
	{	flex-basis: 33.3333333333333%;   max-width: 33.3333333333333%; }

.ort-7-20p
	{	flex-basis: 35%;                 max-width: 35%;               }

.ort-9-24p,
.ort-6-16p,
.ort-3-8p
	{	flex-basis: 37.5%;               max-width: 37.5%;             }

.ort-7-18p
	{	flex-basis: 38.8888888888889%;   max-width: 38.8888888888889%; }

.ort-8-20p,
.ort-4-10p,
.ort-2-5p
	{	flex-basis: 40%;                 max-width: 40%;               }

.ort-10-24p,
.ort-5-12p
	{	flex-basis: 41.6666666666667%;   max-width: 41.6666666666667%; }

.ort-7-16p
	{	flex-basis: 43.75%;              max-width: 43.75%;            }

.ort-8-18p,
.ort-4-9p
		{	flex-basis: 44.4444444444444%; max-width: 44.4444444444444%;	}

.ort-9-20p
	{	flex-basis: 45%;max-width: 45%;	}

.ort-11-24p
	{	flex-basis: 45.8333333333333%;   max-width: 45.8333333333333%;	}

.ort-2b > .ort-0p,
.ort-12-24p,
.ort-10-20p,
.ort-9-18p,
.ort-8-16p,
.ort-6-12p,
.ort-5-10p,
.ort-4-8p,
.ort-3-6p
	{	flex-basis: 50%;                 max-width: 50%;               }

.ort-13-24p
	{	flex-basis: 54.1666666666667%;   max-width: 54.1666666666667%; }

.ort-11-20p
	{	flex-basis: 55%;                 max-width: 55%;               }

.ort-10-18p,
.ort-5-9p
	{	flex-basis: 55.5555555555556%;   max-width: 55.5555555555556%; }

.ort-9-16p
	{	flex-basis: 56.25%;              max-width: 56.25%;            }

.ort-14-24p,
.ort-7-12p
	{	flex-basis: 58.3333333333333%;   max-width: 58.3333333333333%; }

.ort-12-20p,
.ort-6-10p,
.ort-3-5p
	{	flex-basis: 60%;                 max-width: 60%;               }

.ort-11-18p
	{	flex-basis: 61.1111111111111%;   max-width: 61.1111111111111%; }

.ort-15-24p,
.ort-10-16p,
.ort-5-8p
	{	flex-basis: 62.5%;               max-width: 62.5%;             }

.ort-13-20p
	{	flex-basis: 65%;                 max-width: 65%;               }

.ort-16-24p,
.ort-12-18p,
.ort-8-12p,
.ort-6-9p,
.ort-4-6p
	{	flex-basis: 66.6666666666667%;   max-width: 66.6666666666667%; }

.ort-11-16p
	{	flex-basis: 68.75%;              max-width: 68.75%;            }

.ort-14-20p,
.ort-7-10p
	{	flex-basis: 70%;                 max-width: 70%;               }

.ort-17-24p
	{	flex-basis: 70.8333333333333%;   max-width: 70.8333333333333%; }

.ort-13-18p
	{	flex-basis: 72.2222222222222%;   max-width: 72.2222222222222%; }

.ort-18-24p,
.ort-15-20p,
.ort-12-16p,
.ort-9-12p,
.ort-6-8p
	{	flex-basis: 75%;                 max-width: 75%;               }

.ort-14-18p,
.ort-7-9p
	{	flex-basis: 77.7777777777778%;   max-width: 77.7777777777778%; }

.ort-19-24p
	{	flex-basis: 79.1666666666667%;   max-width: 79.1666666666667%; }

.ort-16-20p,
.ort-8-10p,
.ort-4-5p
	{	flex-basis: 80%;                 max-width: 80%;               }

.ort-13-16p
	{	flex-basis: 81.25%;              max-width: 81.25%;            }

.ort-20-24p,
.ort-15-18p,
.ort-10-12p,
.ort-5-6p
	{	flex-basis: 83.3333333333333%;   max-width: 83.3333333333333%; }

.ort-17-20p
	{	flex-basis: 85%;                 max-width: 85%;               }

.ort-21-24p,
.ort-14-16p,
.ort-7-8p
	{	flex-basis: 87.5%;               max-width: 87.5%;             }

.ort-16-18p,
.ort-8-9p
	{	flex-basis: 88.8888888888889%;   max-width: 88.8888888888889%; }

.ort-18-20p,
.ort-9-10p
	{	flex-basis: 90%;                 max-width: 90%;               }

.ort-22-24p,
.ort-11-12p
	{	flex-basis: 91.6666666666667%;   max-width: 91.6666666666667%; }

.ort-15-16p
	{	flex-basis: 93.75%;              max-width: 93.75%;            }

.ort-17-18p
	{	flex-basis: 94.4444444444444%;   max-width: 94.4444444444444%; }

.ort-19-20p
	{	flex-basis: 95%;                 max-width: 95%;               }

.ort-23-24p
	{	flex-basis: 95.8333333333333%;   max-width: 95.8333333333333%; }

.ort-1b > .ort-0p,
.ort-24-24p,
.ort-20-20p,
.ort-18-18p,
.ort-16-16p,
.ort-12-12p,
.ort-10-10p,
.ort-9-9p,
.ort-8-8p,
.ort-6-6p,
.ort-5-5p
	{	flex-basis: 100%;                max-width: 100%;              }

.ort-eb > .ort-0p{
  flex:1 1 0%;
  overflow: hidden;
}
}
/* kçk */
@media screen and (max-width: 48em){
.kçk-1o  { flex: 1; }
.kçk-2o  { flex: 2; }
.kçk-3o  { flex: 3; }
.kçk-4o  { flex: 4; }
.kçk-5o  { flex: 5; }
.kçk-6o  { flex: 6; }
.kçk-7o  { flex: 7; }
.kçk-8o  { flex: 8; }
.kçk-9o  { flex: 9; }
.kçk-10o { flex: 10; }

.kçk-25b > .kçk-0p
	{ flex-basis: 4%;                  max-width: 4%;                }

.kçk-24b > .kçk-0p,
.kçk-1-24p
	{	flex-basis: 4.16666666666667%;   max-width: 4.16666666666667%; }

.kçk-23b > .kçk-0p
	{	flex-basis: 4.34782608696%;      max-width: 4.34782608696%;    }

.kçk-22b > .kçk-0p
	{	flex-basis: 4.54545454545%;      max-width: 4.54545454545%;    }

.kçk-21b > .kçk-0p
	{	flex-basis: 4.7619047619%;       max-width: 4.7619047619%;     }

.kçk-20b > .kçk-0p,
.kçk-1-20p
	{	flex-basis: 5%;                  max-width: 5%;                }

.kçk-19b > .kçk-0p
	{	flex-basis: 5.26315789474%;      max-width: 5.26315789474%;    }

.kçk-18b > .kçk-0p,
.kçk-1-18p
	{	flex-basis: 5.55555555555556%;   max-width: 5.55555555555556%; }

.kçk-17b > .kçk-0p
	{	flex-basis: 5.88235294118%;      max-width: 5.88235294118%;    }

.kçk-16b > .kçk-0p,
.kçk-1-16p
	{	flex-basis: 6.25%;               max-width: 6.25%;             }

.kçk-15b > .kçk-0p
	{	flex-basis: 6.66666666667%;      max-width: 6.66666666667%;    }

.kçk-14b > .kçk-0p
	{	flex-basis: 7.14285714286%;      max-width: 7.14285714286%;    }

.kçk-13b > .kçk-0p
	{	flex-basis: 7.69230769231%;      max-width: 7.69230769231%;    }

.kçk-12b > .kçk-0p,
.kçk-2-24p,
.kçk-1-12p
	{	flex-basis: 8.33333333333333%;   max-width: 8.33333333333333%; }

.kçk-11b > .kçk-0p
	{	flex-basis: 9.09090909091%;      max-width: 9.09090909091%;    }

.kçk-10b > .kçk-0p,
.kçk-2-20p,
.kçk-1-10p
	{	flex-basis: 10%;                 max-width: 10%;               }

.kçk-9b > .kçk-0p,
.kçk-2-18p,
.kçk-1-9p
	{	flex-basis: 11.1111111111111%;   max-width: 11.1111111111111%; }

.kçk-8b > .kçk-0p,
.kçk-3-24p,
.kçk-2-16p,
.kçk-1-8p
	{	flex-basis: 12.5%;               max-width: 12.5%;             }

.kçk-7b > .kçk-0p
	{	flex-basis: 14.2857142857%;      max-width: 14.2857142857%;    }

.kçk-3-20p
	{	flex-basis: 15%;                 max-width: 15%;               }

.kçk-6b > .kçk-0p,
.kçk-4-24p,
.kçk-3-18p,
.kçk-2-12p,
.kçk-1-6p
	{	flex-basis: 16.6666666666667%;   max-width: 16.6666666666667%; }

.kçk-3-16p
	{	flex-basis: 18.75%;              max-width: 18.75%;            }

.kçk-5b > .kçk-0p,
.kçk-4-20p,
.kçk-2-10p,
.kçk-1-5p
	{	flex-basis: 20%;                 max-width: 20%;               }

.kçk-5-24p
	{	flex-basis: 20.8333333333333%;   max-width: 20.8333333333333%; }

.kçk-4-18p,
.kçk-2-9p
	{	flex-basis: 22.2222222222222%;   max-width: 22.2222222222222%; }

.kçk-4b > .kçk-0p,
.kçk-6-24p,
.kçk-5-20p,
.kçk-4-16p,
.kçk-3-12p,
.kçk-2-8p
	{	flex-basis: 25%;                 max-width: 25%;               }

.kçk-5-18p
	{	flex-basis: 27.7777777777778%;   max-width: 27.7777777777778%; }

.kçk-7-24p
	{	flex-basis: 29.1666666666667%;   max-width: 29.1666666666667%; }

.kçk-6-20p,
.kçk-3-10p
	{	flex-basis: 30%;                 max-width: 30%;               }

.kçk-5-16p
	{	flex-basis: 31.25%;              max-width: 31.25%;            }

.kçk-3b > .kçk-0p,
.kçk-8-24p,
.kçk-6-18p,
.kçk-4-12p,
.kçk-3-9p,
.kçk-2-6p
	{	flex-basis: 33.3333333333333%;   max-width: 33.3333333333333%; }

.kçk-7-20p
	{	flex-basis: 35%;                 max-width: 35%;               }

.kçk-9-24p,
.kçk-6-16p,
.kçk-3-8p
	{	flex-basis: 37.5%;               max-width: 37.5%;             }

.kçk-7-18p
	{	flex-basis: 38.8888888888889%;   max-width: 38.8888888888889%; }

.kçk-8-20p,
.kçk-4-10p,
.kçk-2-5p
	{	flex-basis: 40%;                 max-width: 40%;               }

.kçk-10-24p,
.kçk-5-12p
	{	flex-basis: 41.6666666666667%;   max-width: 41.6666666666667%; }

.kçk-7-16p
	{	flex-basis: 43.75%;              max-width: 43.75%;            }

.kçk-8-18p,
.kçk-4-9p
		{	flex-basis: 44.4444444444444%; max-width: 44.4444444444444%;	}

.kçk-9-20p
	{	flex-basis: 45%;max-width: 45%;	}

.kçk-11-24p
	{	flex-basis: 45.8333333333333%;   max-width: 45.8333333333333%;	}

.kçk-2b > .kçk-0p,
.kçk-12-24p,
.kçk-10-20p,
.kçk-9-18p,
.kçk-8-16p,
.kçk-6-12p,
.kçk-5-10p,
.kçk-4-8p,
.kçk-3-6p
	{	flex-basis: 50%;                 max-width: 50%;               }

.kçk-13-24p
	{	flex-basis: 54.1666666666667%;   max-width: 54.1666666666667%; }

.kçk-11-20p
	{	flex-basis: 55%;                 max-width: 55%;               }

.kçk-10-18p,
.kçk-5-9p
	{	flex-basis: 55.5555555555556%;   max-width: 55.5555555555556%; }

.kçk-9-16p
	{	flex-basis: 56.25%;              max-width: 56.25%;            }

.kçk-14-24p,
.kçk-7-12p
	{	flex-basis: 58.3333333333333%;   max-width: 58.3333333333333%; }

.kçk-12-20p,
.kçk-6-10p,
.kçk-3-5p
	{	flex-basis: 60%;                 max-width: 60%;               }

.kçk-11-18p
	{	flex-basis: 61.1111111111111%;   max-width: 61.1111111111111%; }

.kçk-15-24p,
.kçk-10-16p,
.kçk-5-8p
	{	flex-basis: 62.5%;               max-width: 62.5%;             }

.kçk-13-20p
	{	flex-basis: 65%;                 max-width: 65%;               }

.kçk-16-24p,
.kçk-12-18p,
.kçk-8-12p,
.kçk-6-9p,
.kçk-4-6p
	{	flex-basis: 66.6666666666667%;   max-width: 66.6666666666667%; }

.kçk-11-16p
	{	flex-basis: 68.75%;              max-width: 68.75%;            }

.kçk-14-20p,
.kçk-7-10p
	{	flex-basis: 70%;                 max-width: 70%;               }

.kçk-17-24p
	{	flex-basis: 70.8333333333333%;   max-width: 70.8333333333333%; }

.kçk-13-18p
	{	flex-basis: 72.2222222222222%;   max-width: 72.2222222222222%; }

.kçk-18-24p,
.kçk-15-20p,
.kçk-12-16p,
.kçk-9-12p,
.kçk-6-8p
	{	flex-basis: 75%;                 max-width: 75%;               }

.kçk-14-18p,
.kçk-7-9p
	{	flex-basis: 77.7777777777778%;   max-width: 77.7777777777778%; }

.kçk-19-24p
	{	flex-basis: 79.1666666666667%;   max-width: 79.1666666666667%; }

.kçk-16-20p,
.kçk-8-10p,
.kçk-4-5p
	{	flex-basis: 80%;                 max-width: 80%;               }

.kçk-13-16p
	{	flex-basis: 81.25%;              max-width: 81.25%;            }

.kçk-20-24p,
.kçk-15-18p,
.kçk-10-12p,
.kçk-5-6p
	{	flex-basis: 83.3333333333333%;   max-width: 83.3333333333333%; }

.kçk-17-20p
	{	flex-basis: 85%;                 max-width: 85%;               }

.kçk-21-24p,
.kçk-14-16p,
.kçk-7-8p
	{	flex-basis: 87.5%;               max-width: 87.5%;             }

.kçk-16-18p,
.kçk-8-9p
	{	flex-basis: 88.8888888888889%;   max-width: 88.8888888888889%; }

.kçk-18-20p,
.kçk-9-10p
	{	flex-basis: 90%;                 max-width: 90%;               }

.kçk-22-24p,
.kçk-11-12p
	{	flex-basis: 91.6666666666667%;   max-width: 91.6666666666667%; }

.kçk-15-16p
	{	flex-basis: 93.75%;              max-width: 93.75%;            }

.kçk-17-18p
	{	flex-basis: 94.4444444444444%;   max-width: 94.4444444444444%; }

.kçk-19-20p
	{	flex-basis: 95%;                 max-width: 95%;               }

.kçk-23-24p
	{	flex-basis: 95.8333333333333%;   max-width: 95.8333333333333%; }

.kçk-1b > .kçk-0p,
.kçk-24-24p,
.kçk-20-20p,
.kçk-18-18p,
.kçk-16-16p,
.kçk-12-12p,
.kçk-10-10p,
.kçk-9-9p,
.kçk-8-8p,
.kçk-6-6p,
.kçk-5-5p
	{	flex-basis: 100%;                max-width: 100%;              }

.kçk-eb > .kçk-0p{
  flex:1 1 0%;
  overflow: hidden;
}
}
/* ufk */
@media screen and (max-width: 35.5em){
.ufk-1o  { flex: 1; }
.ufk-2o  { flex: 2; }
.ufk-3o  { flex: 3; }
.ufk-4o  { flex: 4; }
.ufk-5o  { flex: 5; }
.ufk-6o  { flex: 6; }
.ufk-7o  { flex: 7; }
.ufk-8o  { flex: 8; }
.ufk-9o  { flex: 9; }
.ufk-10o { flex: 10; }

.ufk-25b > .ufk-0p
	{ flex-basis: 4%;                  max-width: 4%;                }

.ufk-24b > .ufk-0p,
.ufk-1-24p
	{	flex-basis: 4.16666666666667%;   max-width: 4.16666666666667%; }

.ufk-23b > .ufk-0p
	{	flex-basis: 4.34782608696%;      max-width: 4.34782608696%;    }

.ufk-22b > .ufk-0p
	{	flex-basis: 4.54545454545%;      max-width: 4.54545454545%;    }

.ufk-21b > .ufk-0p
	{	flex-basis: 4.7619047619%;       max-width: 4.7619047619%;     }

.ufk-20b > .ufk-0p,
.ufk-1-20p
	{	flex-basis: 5%;                  max-width: 5%;                }

.ufk-19b > .ufk-0p
	{	flex-basis: 5.26315789474%;      max-width: 5.26315789474%;    }

.ufk-18b > .ufk-0p,
.ufk-1-18p
	{	flex-basis: 5.55555555555556%;   max-width: 5.55555555555556%; }

.ufk-17b > .ufk-0p
	{	flex-basis: 5.88235294118%;      max-width: 5.88235294118%;    }

.ufk-16b > .ufk-0p,
.ufk-1-16p
	{	flex-basis: 6.25%;               max-width: 6.25%;             }

.ufk-15b > .ufk-0p
	{	flex-basis: 6.66666666667%;      max-width: 6.66666666667%;    }

.ufk-14b > .ufk-0p
	{	flex-basis: 7.14285714286%;      max-width: 7.14285714286%;    }

.ufk-13b > .ufk-0p
	{	flex-basis: 7.69230769231%;      max-width: 7.69230769231%;    }

.ufk-12b > .ufk-0p,
.ufk-2-24p,
.ufk-1-12p
	{	flex-basis: 8.33333333333333%;   max-width: 8.33333333333333%; }

.ufk-11b > .ufk-0p
	{	flex-basis: 9.09090909091%;      max-width: 9.09090909091%;    }

.ufk-10b > .ufk-0p,
.ufk-2-20p,
.ufk-1-10p
	{	flex-basis: 10%;                 max-width: 10%;               }

.ufk-9b > .ufk-0p,
.ufk-2-18p,
.ufk-1-9p
	{	flex-basis: 11.1111111111111%;   max-width: 11.1111111111111%; }

.ufk-8b > .ufk-0p,
.ufk-3-24p,
.ufk-2-16p,
.ufk-1-8p
	{	flex-basis: 12.5%;               max-width: 12.5%;             }

.ufk-7b > .ufk-0p
	{	flex-basis: 14.2857142857%;      max-width: 14.2857142857%;    }

.ufk-3-20p
	{	flex-basis: 15%;                 max-width: 15%;               }

.ufk-6b > .ufk-0p,
.ufk-4-24p,
.ufk-3-18p,
.ufk-2-12p,
.ufk-1-6p
	{	flex-basis: 16.6666666666667%;   max-width: 16.6666666666667%; }

.ufk-3-16p
	{	flex-basis: 18.75%;              max-width: 18.75%;            }

.ufk-5b > .ufk-0p,
.ufk-4-20p,
.ufk-2-10p,
.ufk-1-5p
	{	flex-basis: 20%;                 max-width: 20%;               }

.ufk-5-24p
	{	flex-basis: 20.8333333333333%;   max-width: 20.8333333333333%; }

.ufk-4-18p,
.ufk-2-9p
	{	flex-basis: 22.2222222222222%;   max-width: 22.2222222222222%; }

.ufk-4b > .ufk-0p,
.ufk-6-24p,
.ufk-5-20p,
.ufk-4-16p,
.ufk-3-12p,
.ufk-2-8p
	{	flex-basis: 25%;                 max-width: 25%;               }

.ufk-5-18p
	{	flex-basis: 27.7777777777778%;   max-width: 27.7777777777778%; }

.ufk-7-24p
	{	flex-basis: 29.1666666666667%;   max-width: 29.1666666666667%; }

.ufk-6-20p,
.ufk-3-10p
	{	flex-basis: 30%;                 max-width: 30%;               }

.ufk-5-16p
	{	flex-basis: 31.25%;              max-width: 31.25%;            }

.ufk-3b > .ufk-0p,
.ufk-8-24p,
.ufk-6-18p,
.ufk-4-12p,
.ufk-3-9p,
.ufk-2-6p
	{	flex-basis: 33.3333333333333%;   max-width: 33.3333333333333%; }

.ufk-7-20p
	{	flex-basis: 35%;                 max-width: 35%;               }

.ufk-9-24p,
.ufk-6-16p,
.ufk-3-8p
	{	flex-basis: 37.5%;               max-width: 37.5%;             }

.ufk-7-18p
	{	flex-basis: 38.8888888888889%;   max-width: 38.8888888888889%; }

.ufk-8-20p,
.ufk-4-10p,
.ufk-2-5p
	{	flex-basis: 40%;                 max-width: 40%;               }

.ufk-10-24p,
.ufk-5-12p
	{	flex-basis: 41.6666666666667%;   max-width: 41.6666666666667%; }

.ufk-7-16p
	{	flex-basis: 43.75%;              max-width: 43.75%;            }

.ufk-8-18p,
.ufk-4-9p
		{	flex-basis: 44.4444444444444%; max-width: 44.4444444444444%;	}

.ufk-9-20p
	{	flex-basis: 45%;max-width: 45%;	}

.ufk-11-24p
	{	flex-basis: 45.8333333333333%;   max-width: 45.8333333333333%;	}

.ufk-2b > .ufk-0p,
.ufk-12-24p,
.ufk-10-20p,
.ufk-9-18p,
.ufk-8-16p,
.ufk-6-12p,
.ufk-5-10p,
.ufk-4-8p,
.ufk-3-6p
	{	flex-basis: 50%;                 max-width: 50%;               }

.ufk-13-24p
	{	flex-basis: 54.1666666666667%;   max-width: 54.1666666666667%; }

.ufk-11-20p
	{	flex-basis: 55%;                 max-width: 55%;               }

.ufk-10-18p,
.ufk-5-9p
	{	flex-basis: 55.5555555555556%;   max-width: 55.5555555555556%; }

.ufk-9-16p
	{	flex-basis: 56.25%;              max-width: 56.25%;            }

.ufk-14-24p,
.ufk-7-12p
	{	flex-basis: 58.3333333333333%;   max-width: 58.3333333333333%; }

.ufk-12-20p,
.ufk-6-10p,
.ufk-3-5p
	{	flex-basis: 60%;                 max-width: 60%;               }

.ufk-11-18p
	{	flex-basis: 61.1111111111111%;   max-width: 61.1111111111111%; }

.ufk-15-24p,
.ufk-10-16p,
.ufk-5-8p
	{	flex-basis: 62.5%;               max-width: 62.5%;             }

.ufk-13-20p
	{	flex-basis: 65%;                 max-width: 65%;               }

.ufk-16-24p,
.ufk-12-18p,
.ufk-8-12p,
.ufk-6-9p,
.ufk-4-6p
	{	flex-basis: 66.6666666666667%;   max-width: 66.6666666666667%; }

.ufk-11-16p
	{	flex-basis: 68.75%;              max-width: 68.75%;            }

.ufk-14-20p,
.ufk-7-10p
	{	flex-basis: 70%;                 max-width: 70%;               }

.ufk-17-24p
	{	flex-basis: 70.8333333333333%;   max-width: 70.8333333333333%; }

.ufk-13-18p
	{	flex-basis: 72.2222222222222%;   max-width: 72.2222222222222%; }

.ufk-18-24p,
.ufk-15-20p,
.ufk-12-16p,
.ufk-9-12p,
.ufk-6-8p
	{	flex-basis: 75%;                 max-width: 75%;               }

.ufk-14-18p,
.ufk-7-9p
	{	flex-basis: 77.7777777777778%;   max-width: 77.7777777777778%; }

.ufk-19-24p
	{	flex-basis: 79.1666666666667%;   max-width: 79.1666666666667%; }

.ufk-16-20p,
.ufk-8-10p,
.ufk-4-5p
	{	flex-basis: 80%;                 max-width: 80%;               }

.ufk-13-16p
	{	flex-basis: 81.25%;              max-width: 81.25%;            }

.ufk-20-24p,
.ufk-15-18p,
.ufk-10-12p,
.ufk-5-6p
	{	flex-basis: 83.3333333333333%;   max-width: 83.3333333333333%; }

.ufk-17-20p
	{	flex-basis: 85%;                 max-width: 85%;               }

.ufk-21-24p,
.ufk-14-16p,
.ufk-7-8p
	{	flex-basis: 87.5%;               max-width: 87.5%;             }

.ufk-16-18p,
.ufk-8-9p
	{	flex-basis: 88.8888888888889%;   max-width: 88.8888888888889%; }

.ufk-18-20p,
.ufk-9-10p
	{	flex-basis: 90%;                 max-width: 90%;               }

.ufk-22-24p,
.ufk-11-12p
	{	flex-basis: 91.6666666666667%;   max-width: 91.6666666666667%; }

.ufk-15-16p
	{	flex-basis: 93.75%;              max-width: 93.75%;            }

.ufk-17-18p
	{	flex-basis: 94.4444444444444%;   max-width: 94.4444444444444%; }

.ufk-19-20p
	{	flex-basis: 95%;                 max-width: 95%;               }

.ufk-23-24p
	{	flex-basis: 95.8333333333333%;   max-width: 95.8333333333333%; }

.ufk-1b > .ufk-0p,
.ufk-24-24p,
.ufk-20-20p,
.ufk-18-18p,
.ufk-16-16p,
.ufk-12-12p,
.ufk-10-10p,
.ufk-9-9p,
.ufk-8-8p,
.ufk-6-6p,
.ufk-5-5p
	{	flex-basis: 100%;                max-width: 100%;              }

.ufk-eb > .ufk-0p{
  flex:1 1 0%;
  overflow: hidden;
}
}
/* Buradan sonrası haricidir */
