@keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade{10%{transform:scale(1, 1)}35%{transform:scale(1, 1.7)}40%{transform:scale(1, 1.7)}50%{opacity:1}60%{transform:scale(1, 1)}100%{transform:scale(1, 1);opacity:0}}[data-language] code,[class^="lang"] code,pre [data-language],pre [class^="lang"]{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";animation:50ms ease-in-out 2s forwards fade-in}[data-language] code.rainbow,[class^="lang"] code.rainbow,pre [data-language].rainbow,pre [class^="lang"].rainbow{animation-delay:0s}[data-language] code.loading,[class^="lang"] code.loading,pre [data-language].loading,pre [class^="lang"].loading{animation-play-state:paused}pre{position:relative}pre.loading .preloader div{animation-play-state:running}pre.loading .preloader div:nth-of-type(1){background:#0081f5;animation:fade 1.5s 300ms linear infinite}pre.loading .preloader div:nth-of-type(2){background:#5000f5;animation:fade 1.5s 438ms linear infinite}pre.loading .preloader div:nth-of-type(3){background:#9000f5;animation:fade 1.5s 577ms linear infinite}pre.loading .preloader div:nth-of-type(4){background:#f50419;animation:fade 1.5s 715ms linear infinite}pre.loading .preloader div:nth-of-type(5){background:#f57900;animation:fade 1.5s 853ms linear infinite}pre.loading .preloader div:nth-of-type(6){background:#f5e600;animation:fade 1.5s 992ms linear infinite}pre.loading .preloader div:nth-of-type(7){background:#00f50c;animation:fade 1.5s 1130ms linear infinite}pre .preloader{position:absolute;top:12px;left:10px}pre .preloader div{width:12px;height:12px;border-radius:4px;display:inline-block;margin-right:4px;opacity:0;animation-play-state:paused;animation-fill-mode:forwards}pre{border:1px solid #ccc;word-wrap:break-word;padding:6px 10px;line-height:19px;margin-bottom:20px}pre code{border:0;padding:0;margin:0;border-radius:0}code{border:1px solid #eaeaea;margin:0px 2px;padding:0px 5px;font-size:12px}pre,code{font-family:Consolas, 'Liberation Mono', Courier, monospace;color:#333;background:#f8f8f8;border-radius:3px}pre,pre code{font-size:13px}pre .comment{color:#998}pre .support{color:#0086B3}pre .tag,pre .tag-name{color:navy}pre .keyword,pre .css-property,pre .vendor-fix,pre .sass,pre .class,pre .id,pre .css-value,pre .entity.function,pre .storage.function{font-weight:bold}pre .css-property,pre .css-value,pre .vendor-fix,pre .support.namespace{color:#333}pre .constant.numeric,pre .keyword.unit,pre .hex-color{font-weight:normal;color:#099}pre .entity.class{color:#458}pre .entity.id,pre .entity.function{color:#900}pre .attribute,pre .variable{color:teal}pre .string,pre .support.value{font-weight:normal;color:#d14}pre .regexp{color:#009926}

/* */
.header{min-height: 75px;}
.menu
{
	margin-top:15px
}

.menu ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

.menu ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0.6rem 1rem;
	color:#fff;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

.menu ul li
{
	position:relative;
	float:left;
	background: #2c2171;
	margin:0;
	padding:0
}

.menu ul li.menu-etkin
{
	background: #3c3181;
}

.menu ul li:hover
{
	background: #3c3181;
}

.menu ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

.menu ul ul li
{
	float:none;
	width:200px
}

.menu ul ul a
{
	line-height:120%;
	padding:10px 15px
}

.menu ul ul ul
{
	top:0;
	left:100%
}

.menu ul li:hover > ul
{
	display:block
}














.logo{
	font-family: 'Comfortaa', cursive;
	font-size: 26px;
	color:#2c2171 !important;
}
.ap-kara	{background-color:#222;}
.ap-deniz	{background-color: #17C4BB;}
.ap-deveb	{background-color: #2c2171;}
.ap-yesil	{background-color: #00BF6F;}

.kenar-alt{border-bottom:1px solid #eceeef;-webkit-box-shadow: 0 2px 0 hsla(200,9%,93%,.25);
box-shadow: 0 2px 0 hsla(200,9%,93%,.25);
}

.beri-1			{	margin:		15px !important}
.beri-2			{	margin:		30px}
.beri--1		{	margin:		-15px}
.beri--2		{	margin:		-30px}
.dolgu-1		{ padding:	15px}
.dolgu-yan-1{ padding-right: 15px; padding-left: 15px}
.dolgu-üst-1{ padding-top:15px}
.dolgu-sağ-1{ padding-right:15px}
.dolgu-sol-1{ padding-left: 15px}
.dolgu-alt-1{ padding-bottom: 15px}
.dolgu-2		{ padding: 	15px}
.dolgu-yan-2{padding: 30px}
.beri-yan-1	{ margin-left:15px; margin-right: 15px;}
.beri-yan-2{ margin-left:30px; margin-right: 30px;}
.beri-sağ-1	{ margin-right:	15px}
.beri-sol-1	{ margin-left:	15px}
.beri-üst-1	{ margin-top:		15px}
.beri-alt-1	{ margin-bottom:15px}
.beri-sağ-2{ margin-right:	30px}
.beri-sol-2{ margin-left: 	30px}
.beri-üst-2{ margin-top:		30px}
.beri-alt-2{ margin-bottom:	30px}

/* ==========================================================================
    MENÜLER
    Menü görünümleri
========================================================================== */
.menü-genel{ padding: 5px;}
	.menü-genel li{display: inline-block;margin-right: 5px;font-size: 11pt;}
	.menü-genel li a{display: inline-block; text-decoration: none; padding:8px; color: #4f545c; font-weight: bold;}
	.menü-genel li a:hover{color:black;}
/* ==========================================================================
    METİN
    Metin görünümleri
========================================================================== */
.metin-orta{text-align: center;}
.metin-sol{text-align: left;}
.metin-sağ{text-align: right;}
.metin-yay{text-align: justify;}
.metin-kesik{word-break: break-all;}
.metin-olumlu{	color: green;}
.metin-olumsuz{	color: gray;}
.metin-belirsiz{color: tomato;}
.metin-hata{	color:	red;}
.metin-tehlike{	color: #c70000;}
.metin-beyaz{	color:#fff;}
.metin-deveb{ color:#904;}
.metin-gri-3{ color:#999;}
/* ==========================================================================
    TABLO
    Tablo görünümleri
========================================================================== */
table{
	border-collapse: collapse;
}
.tablo{
	border:1px solid #ddd;
	padding: 0;
}
.tablo th, .tablo td{
	border:1px solid #ddd;
	padding:5px;
}
/* ==========================================================================
    Liste
    Temiz Liste
========================================================================== */
ul.liste-temiz li{
	list-style: none;
	margin-left: 0;
}

/* ==========================================================================
    KUTU DÜZENİ
    Varsayılan bir kutu görünümüyle ayırt edici bir görsel için
========================================================================== */
.kutu{
  width: 100%;
}
.kutu-genel{
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  margin:2px;
  padding:5px;
  background-color: #fff;
}
