/* ==========================================================================

    [DEVEB FINAL VERSION 0.1]
    file:: "deveb.final.v0.1.css"

    DEFINITIONS
    mr: CSS > margin          		pd: CSS > padding

    SCREEN SCALE
    hg: (h)u(g)e
    xl: (e)xtra (l)arge
    lg: (l)ar(g)e
    md: (m)i(d)dle
    sm: (s)(m)all
    xs: (e)xtra (s)mall
    ty: (t)in(y)
    gnl: (g)e(n)era(l): min-screen size 0

    p: (p)art

    • DEFAULT
    • GRID SYSTEM         -> Line-tag: G00
    • SCREEN CONTROL      -> Line-tag: none
      • GENERAL           -> Line-tag: S01
      • EXTRA-SMALL START -> Line-tag: S02
      • SMALL START       -> Line-tag: S03
      • MEDIUM START      -> Line-tag: S04
      • LARGE START       -> Line-tag: S05
      • EXTRA-LARGE START -> Line-tag: S06
      • HUGE START        -> Line-tag: S07
========================================================================== */

/* ==========================================================================
    DEFAULT
    Varsayılan değiştirgeleri temizleme eylemi.
-------------------------------------------------------------------------- */
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  width: 100%;
  display: block;
  font-weight: bold;
  -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h1{font-size:3.6em}
  h2{font-size:2.6em}
    h3{font-size:1.8em}
      h4{font-size:1.4em}
        h5{font-size:1.2em}
          h6{font-size:1.0em}




/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
G00 GENERAL | Screen size: 0 ≤ * < ∞
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*
GS1 | GRID SYSTEM
    | Flexbox
*/

    [data-gnl]{
      display: flex;
      flex-flow: wrap;
      box-sizing: border-box;
    }

    /* Grid pieces settings */
    [data-gnl~="1"]{--piece:1;}   [data-gnl~="2"]{--piece:2;}   [data-gnl~="3"]{--piece:3;}   [data-gnl~="4"]{--piece:4;}
    [data-gnl~="5"]{--piece:5;}   [data-gnl~="6"]{--piece:6;}   [data-gnl~="7"]{--piece:7;}   [data-gnl~="8"]{--piece:8;}
    [data-gnl~="9"]{--piece:9;}   [data-gnl~="10"]{--piece:10;} [data-gnl~="11"]{--piece:11;} [data-gnl~="12"]{--piece:12;}
    [data-gnl~="13"]{--piece:13;} [data-gnl~="14"]{--piece:14;} [data-gnl~="15"]{--piece:15;} [data-gnl~="16"]{--piece:16;}
    [data-gnl~="17"]{--piece:17;} [data-gnl~="18"]{--piece:18;} [data-gnl~="19"]{--piece:19;} [data-gnl~="20"]{--piece:20;}
    [data-gnl~="21"]{--piece:21;} [data-gnl~="22"]{--piece:22;} [data-gnl~="23"]{--piece:23;} [data-gnl~="24"]{--piece:24;}

    [data-gnl~="1p"]{--part:1;}   [data-gnl~="2p"]{--part:2;}   [data-gnl~="3p"]{--part:3;}   [data-gnl~="4p"]{--part:4;}
    [data-gnl~="5p"]{--part:5;}   [data-gnl~="6p"]{--part:6;}   [data-gnl~="7p"]{--part:7;}   [data-gnl~="8p"]{--part:8;}
    [data-gnl~="9p"]{--part:9;}   [data-gnl~="10p"]{--part:10;} [data-gnl~="11p"]{--part:11;} [data-gnl~="12p"]{--part:12;}
    [data-gnl~="13p"]{--part:13;} [data-gnl~="14p"]{--part:14;} [data-gnl~="15p"]{--part:15;} [data-gnl~="16p"]{--part:16;}
    [data-gnl~="17p"]{--part:17;} [data-gnl~="18p"]{--part:18;} [data-gnl~="19p"]{--part:19;} [data-gnl~="20p"]{--part:20;}
    [data-gnl~="21p"]{--part:21;} [data-gnl~="22p"]{--part:22;} [data-gnl~="23p"]{--part:23;} [data-gnl~="24p"]{--part:24;}

    /* Grid pieces calc */
    [data-gnl]{
      flex-basis: calc(100% / var(--part) * var(--piece));
      max-width:  calc(100% / var(--part) * var(--piece));
    }

    /* Free grid piece */
    [data-gnl~="0p"]{
      flex-basis: auto;
    }

    /* Grid ratio settings */
    [data-gnl~="1o"]{flex:1;}   [data-gnl~="2o"]{flex:2;}   [data-gnl~="3o"]{flex:3;}   [data-gnl~="4o"]{flex:4;}
    [data-gnl~="5o"]{flex:5;}   [data-gnl~="6o"]{flex:6;}   [data-gnl~="7o"]{flex:7;}   [data-gnl~="8o"]{flex:8;}
    [data-gnl~="9o"]{flex:9;}   [data-gnl~="10o"]{flex:10;} [data-gnl~="11o"]{flex:11;} [data-gnl~="12o"]{flex:12;}
    [data-gnl~="13o"]{flex:13;} [data-gnl~="14o"]{flex:14;} [data-gnl~="15o"]{flex:15;} [data-gnl~="16o"]{flex:16;}
    [data-gnl~="17o"]{flex:17;} [data-gnl~="18o"]{flex:18;} [data-gnl~="19o"]{flex:19;} [data-gnl~="20o"]{flex:20;}
    [data-gnl~="21o"]{flex:21;} [data-gnl~="22o"]{flex:22;} [data-gnl~="23o"]{flex:23;} [data-gnl~="24o"]{flex:24;}

    /* Position Settings */
    [data-gnl~="hidden-overflow"]{overflow: hidden;}
    [data-gnl~="nowrap"]{flex-wrap: nowrap;}

    [data-gnl~="wrap-reverse"]{flex-wrap: wrap-reverse;}
    [data-gnl~="row-reverse"]{flex-direction: row-reverse;}
    [data-gnl~="column-reverse"]{flex-direction: column-reverse;}

    [data-gnl~="left"]{justify-content: flex-start;}
    [data-gnl~="center"]{justify-content:center;}
    [data-gnl~="right"]{justify-content: flex-end;}

    [data-gnl~="center-vh"]{align-items:center; justify-content: center;}
    [data-gnl~="top"]{align-items: flex-start;}
    [data-gnl~="middle"]{align-items: center;}
    [data-gnl~="bottom"]{align-items: flex-end;}
    [data-gnl~="top-this"]{align-self: flex-start !important;}
    [data-gnl~="middle-this"]{align-self: center !important;}
    [data-gnl~="bottom-this"]{align-self: flex-end !important;}
    [data-gnl~="right-this"]{margin-left:auto; align-self:flex-start;}
    [data-gnl~="left-this"]{margin-right:auto; align-self:flex-start;}
    [data-gnl~="center-this"]{margin-left:auto; margin-right:auto; align-self:flex-start;}

    [data-gnl~="space-between"]{justify-content: space-between;}
    [data-gnl~="space-around"]{justify-content: space-around;}
    [data-gnl~="stretch"]{align-items: stretch;}
    [data-gnl~="stretch-this"]{align-self: stretch;}

    [data-gnl~="baseline"]{align-items: baseline;}
    [data-gnl~="baseline-this"]{align-self: baseline;}

/*  RESPONSIVE TYPE 0 >> ∞ */
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    EXTRA-LARGE-END (xl) or (xle) | Screen size: * < 1900px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:1899.99px;) {

    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    LARGE-END (lg) or (lge) | Screen size: * < 1200px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:1199.99px;) {

    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MIDDLE-END (md) or (mde) | Screen size: * < 992px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:992.99px;) {

    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    SMALL-END (sm) or (sme) | Screen size: * < 768px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:767.99px;) {

    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    EXTRA-SMALL-END (xs) or (xse) | Screen size: * < 576px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:575.99px;) {

    }

/*  RESPONSIVE TYPE START * >> ∞  */
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S01 EXTRA-SMALL-START (xs) or (xss) | Screen size: 300px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:300px;) {
      [data-xs~="1"]{--piece:1;}   [data-xs~="2"]{--piece:2;}   [data-xs~="3"]{--piece:3;}   [data-xs~="4"]{--piece:4;}
      [data-xs~="5"]{--piece:5;}   [data-xs~="6"]{--piece:6;}   [data-xs~="7"]{--piece:7;}   [data-xs~="8"]{--piece:8;}
      [data-xs~="9"]{--piece:9;}   [data-xs~="10"]{--piece:10;} [data-xs~="11"]{--piece:11;} [data-xs~="12"]{--piece:12;}
      [data-xs~="13"]{--piece:13;} [data-xs~="14"]{--piece:14;} [data-xs~="15"]{--piece:15;} [data-xs~="16"]{--piece:16;}
      [data-xs~="17"]{--piece:17;} [data-xs~="18"]{--piece:18;} [data-xs~="19"]{--piece:19;} [data-xs~="20"]{--piece:20;}
      [data-xs~="21"]{--piece:21;} [data-xs~="22"]{--piece:22;} [data-xs~="23"]{--piece:23;} [data-xs~="24"]{--piece:24;}

      [data-xs~="1p"]{--part:1;}   [data-xs~="2p"]{--part:2;}   [data-xs~="3p"]{--part:3;}   [data-xs~="4p"]{--part:4;}
      [data-xs~="5p"]{--part:5;}   [data-xs~="6p"]{--part:6;}   [data-xs~="7p"]{--part:7;}   [data-xs~="8p"]{--part:8;}
      [data-xs~="9p"]{--part:9;}   [data-xs~="10p"]{--part:10;} [data-xs~="11p"]{--part:11;} [data-xs~="12p"]{--part:12;}
      [data-xs~="13p"]{--part:13;} [data-xs~="14p"]{--part:14;} [data-xs~="15p"]{--part:15;} [data-xs~="16p"]{--part:16;}
      [data-xs~="17p"]{--part:17;} [data-xs~="18p"]{--part:18;} [data-xs~="19p"]{--part:19;} [data-xs~="20p"]{--part:20;}
      [data-xs~="21p"]{--part:21;} [data-xs~="22p"]{--part:22;} [data-xs~="23p"]{--part:23;} [data-xs~="24p"]{--part:24;}

      [data-xs]{
        flex-basis: calc(100% / var(--part) * var(--piece));
        max-width:  calc(100% / var(--part) * var(--piece));
      }

      [data-xs~="0p"]{
        flex-basis: auto;
      }

      [data-xs~="1o"]{flex:1;}   [data-xs~="2o"]{flex:2;}   [data-xs~="3o"]{flex:3;}   [data-xs~="4o"]{flex:4;}
      [data-xs~="5o"]{flex:5;}   [data-xs~="6o"]{flex:6;}   [data-xs~="7o"]{flex:7;}   [data-xs~="8o"]{flex:8;}
      [data-xs~="9o"]{flex:9;}   [data-xs~="10o"]{flex:10;} [data-xs~="11o"]{flex:11;} [data-xs~="12o"]{flex:12;}
      [data-xs~="13o"]{flex:13;} [data-xs~="14o"]{flex:14;} [data-xs~="15o"]{flex:15;} [data-xs~="16o"]{flex:16;}
      [data-xs~="17o"]{flex:17;} [data-xs~="18o"]{flex:18;} [data-xs~="19o"]{flex:19;} [data-xs~="20o"]{flex:20;}
      [data-xs~="21o"]{flex:21;} [data-xs~="22o"]{flex:22;} [data-xs~="23o"]{flex:23;} [data-xs~="24o"]{flex:24;}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S02 SMALL-START (sm) or (sms) | Screen size: 576px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:576px;) {
      [data-sm~="1"]{--piece:1;}   [data-sm~="2"]{--piece:2;}   [data-sm~="3"]{--piece:3;}   [data-sm~="4"]{--piece:4;}
      [data-sm~="5"]{--piece:5;}   [data-sm~="6"]{--piece:6;}   [data-sm~="7"]{--piece:7;}   [data-sm~="8"]{--piece:8;}
      [data-sm~="9"]{--piece:9;}   [data-sm~="10"]{--piece:10;} [data-sm~="11"]{--piece:11;} [data-sm~="12"]{--piece:12;}
      [data-sm~="13"]{--piece:13;} [data-sm~="14"]{--piece:14;} [data-sm~="15"]{--piece:15;} [data-sm~="16"]{--piece:16;}
      [data-sm~="17"]{--piece:17;} [data-sm~="18"]{--piece:18;} [data-sm~="19"]{--piece:19;} [data-sm~="20"]{--piece:20;}
      [data-sm~="21"]{--piece:21;} [data-sm~="22"]{--piece:22;} [data-sm~="23"]{--piece:23;} [data-sm~="24"]{--piece:24;}

      [data-sm~="1p"]{--part:1;}   [data-sm~="2p"]{--part:2;}   [data-sm~="3p"]{--part:3;}   [data-sm~="4p"]{--part:4;}
      [data-sm~="5p"]{--part:5;}   [data-sm~="6p"]{--part:6;}   [data-sm~="7p"]{--part:7;}   [data-sm~="8p"]{--part:8;}
      [data-sm~="9p"]{--part:9;}   [data-sm~="10p"]{--part:10;} [data-sm~="11p"]{--part:11;} [data-sm~="12p"]{--part:12;}
      [data-sm~="13p"]{--part:13;} [data-sm~="14p"]{--part:14;} [data-sm~="15p"]{--part:15;} [data-sm~="16p"]{--part:16;}
      [data-sm~="17p"]{--part:17;} [data-sm~="18p"]{--part:18;} [data-sm~="19p"]{--part:19;} [data-sm~="20p"]{--part:20;}
      [data-sm~="21p"]{--part:21;} [data-sm~="22p"]{--part:22;} [data-sm~="23p"]{--part:23;} [data-sm~="24p"]{--part:24;}

      [data-sm]{
        flex-basis: calc(100% / var(--part) * var(--piece));
        max-width:  calc(100% / var(--part) * var(--piece));
      }

      [data-sm~="0p"]{
        flex-basis: auto;
      }

      [data-sm~="1o"]{flex:1;}    [data-sm~="2o"]{flex:2;}   [data-sm~="3o"]{flex:3;}    [data-sm~="4o"]{flex:4;}
      [data-sm~="5o"]{flex:5;}    [data-sm~="6o"]{flex:6;}   [data-sm~="7o"]{flex:7;}    [data-sm~="8o"]{flex:8;}
      [data-sm~="9o"]{flex:9;}    [data-sm~="10o"]{flex:10;} [data-sm~="11o"]{flex:11;}  [data-sm~="12o"]{flex:12;}
      [data-sm~="13o"]{flex:13;}  [data-sm~="14o"]{flex:14;} [data-sm~="15o"]{flex:15;}  [data-sm~="16o"]{flex:16;}
      [data-sm~="17o"]{flex:17;}  [data-sm~="18o"]{flex:18;} [data-sm~="19o"]{flex:19;}  [data-sm~="20o"]{flex:20;}
      [data-sm~="21o"]{flex:21;}  [data-sm~="22o"]{flex:22;} [data-sm~="23o"]{flex:23;}  [data-sm~="24o"]{flex:24;}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S03 MIDDLE-START (md) or (mds) | Screen size: 768px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:768px;) {
      [data-md~="1"]{--piece:1;}   [data-md~="2"]{--piece:2;}   [data-md~="3"]{--piece:3;}   [data-md~="4"]{--piece:4;}
      [data-md~="5"]{--piece:5;}   [data-md~="6"]{--piece:6;}   [data-md~="7"]{--piece:7;}   [data-md~="8"]{--piece:8;}
      [data-md~="9"]{--piece:9;}   [data-md~="10"]{--piece:10;} [data-md~="11"]{--piece:11;} [data-md~="12"]{--piece:12;}
      [data-md~="13"]{--piece:13;} [data-md~="14"]{--piece:14;} [data-md~="15"]{--piece:15;} [data-md~="16"]{--piece:16;}
      [data-md~="17"]{--piece:17;} [data-md~="18"]{--piece:18;} [data-md~="19"]{--piece:19;} [data-md~="20"]{--piece:20;}
      [data-md~="21"]{--piece:21;} [data-md~="22"]{--piece:22;} [data-md~="23"]{--piece:23;} [data-md~="24"]{--piece:24;}

      [data-md~="1p"]{--part:1;}   [data-md~="2p"]{--part:2;}   [data-md~="3p"]{--part:3;}   [data-md~="4p"]{--part:4;}
      [data-md~="5p"]{--part:5;}   [data-md~="6p"]{--part:6;}   [data-md~="7p"]{--part:7;}   [data-md~="8p"]{--part:8;}
      [data-md~="9p"]{--part:9;}   [data-md~="10p"]{--part:10;} [data-md~="11p"]{--part:11;} [data-md~="12p"]{--part:12;}
      [data-md~="13p"]{--part:13;} [data-md~="14p"]{--part:14;} [data-md~="15p"]{--part:15;} [data-md~="16p"]{--part:16;}
      [data-md~="17p"]{--part:17;} [data-md~="18p"]{--part:18;} [data-md~="19p"]{--part:19;} [data-md~="20p"]{--part:20;}
      [data-md~="21p"]{--part:21;} [data-md~="22p"]{--part:22;} [data-md~="23p"]{--part:23;} [data-md~="24p"]{--part:24;}

      [data-md]{
        flex-basis: calc(100% / var(--part) * var(--piece));
        max-width:  calc(100% / var(--part) * var(--piece));
      }

      [data-md~="0p"]{
        flex-basis: auto;
      }

      [data-md~="1o"]{flex:1;}    [data-md~="2o"]{flex:2;}   [data-md~="3o"]{flex:3;}    [data-md~="4o"]{flex:4;}
      [data-md~="5o"]{flex:5;}    [data-md~="6o"]{flex:6;}   [data-md~="7o"]{flex:7;}    [data-md~="8o"]{flex:8;}
      [data-md~="9o"]{flex:9;}    [data-md~="10o"]{flex:10;} [data-md~="11o"]{flex:11;}  [data-md~="12o"]{flex:12;}
      [data-md~="13o"]{flex:13;}  [data-md~="14o"]{flex:14;} [data-md~="15o"]{flex:15;}  [data-md~="16o"]{flex:16;}
      [data-md~="17o"]{flex:17;}  [data-md~="18o"]{flex:18;} [data-md~="19o"]{flex:19;}  [data-md~="20o"]{flex:20;}
      [data-md~="21o"]{flex:21;}  [data-md~="22o"]{flex:22;} [data-md~="23o"]{flex:23;}  [data-md~="24o"]{flex:24;}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S04 LARGE-START (lg) or (lgs) | Screen size: 992px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:992px;) {
      [data-lg~="1"]{--piece:1;}   [data-lg~="2"]{--piece:2;}   [data-lg~="3"]{--piece:3;}   [data-lg~="4"]{--piece:4;}
      [data-lg~="5"]{--piece:5;}   [data-lg~="6"]{--piece:6;}   [data-lg~="7"]{--piece:7;}   [data-lg~="8"]{--piece:8;}
      [data-lg~="9"]{--piece:9;}   [data-lg~="10"]{--piece:10;} [data-lg~="11"]{--piece:11;} [data-lg~="12"]{--piece:12;}
      [data-lg~="13"]{--piece:13;} [data-lg~="14"]{--piece:14;} [data-lg~="15"]{--piece:15;} [data-lg~="16"]{--piece:16;}
      [data-lg~="17"]{--piece:17;} [data-lg~="18"]{--piece:18;} [data-lg~="19"]{--piece:19;} [data-lg~="20"]{--piece:20;}
      [data-lg~="21"]{--piece:21;} [data-lg~="22"]{--piece:22;} [data-lg~="23"]{--piece:23;} [data-lg~="24"]{--piece:24;}

      [data-lg~="1p"]{--part:1;}   [data-lg~="2p"]{--part:2;}   [data-lg~="3p"]{--part:3;}   [data-lg~="4p"]{--part:4;}
      [data-lg~="5p"]{--part:5;}   [data-lg~="6p"]{--part:6;}   [data-lg~="7p"]{--part:7;}   [data-lg~="8p"]{--part:8;}
      [data-lg~="9p"]{--part:9;}   [data-lg~="10p"]{--part:10;} [data-lg~="11p"]{--part:11;} [data-lg~="12p"]{--part:12;}
      [data-lg~="13p"]{--part:13;} [data-lg~="14p"]{--part:14;} [data-lg~="15p"]{--part:15;} [data-lg~="16p"]{--part:16;}
      [data-lg~="17p"]{--part:17;} [data-lg~="18p"]{--part:18;} [data-lg~="19p"]{--part:19;} [data-lg~="20p"]{--part:20;}
      [data-lg~="21p"]{--part:21;} [data-lg~="22p"]{--part:22;} [data-lg~="23p"]{--part:23;} [data-lg~="24p"]{--part:24;}

      [data-lg]{
        flex-basis: calc(100% / var(--part) * var(--piece));
        max-width:  calc(100% / var(--part) * var(--piece));
      }

      [data-lg~="0p"]{
        flex-basis: auto;
      }

      [data-lg~="1o"]{flex:1;}    [data-lg~="2o"]{flex:2;}   [data-lg~="3o"]{flex:3;}    [data-lg~="4o"]{flex:4;}
      [data-lg~="5o"]{flex:5;}    [data-lg~="6o"]{flex:6;}   [data-lg~="7o"]{flex:7;}    [data-lg~="8o"]{flex:8;}
      [data-lg~="9o"]{flex:9;}    [data-lg~="10o"]{flex:10;} [data-lg~="11o"]{flex:11;}  [data-lg~="12o"]{flex:12;}
      [data-lg~="13o"]{flex:13;}  [data-lg~="14o"]{flex:14;} [data-lg~="15o"]{flex:15;}  [data-lg~="16o"]{flex:16;}
      [data-lg~="17o"]{flex:17;}  [data-lg~="18o"]{flex:18;} [data-lg~="19o"]{flex:19;}  [data-lg~="20o"]{flex:20;}
      [data-lg~="21o"]{flex:21;}  [data-lg~="22o"]{flex:22;} [data-lg~="23o"]{flex:23;}  [data-lg~="24o"]{flex:24;}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S05 EXTRA-LARGE-START (xl) or (xls) | Screen size: 1200px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:1200px;) {
      [data-xl~="1"]{--piece:1;}   [data-xl~="2"]{--piece:2;}   [data-xl~="3"]{--piece:3;}   [data-xl~="4"]{--piece:4;}
      [data-xl~="5"]{--piece:5;}   [data-xl~="6"]{--piece:6;}   [data-xl~="7"]{--piece:7;}   [data-xl~="8"]{--piece:8;}
      [data-xl~="9"]{--piece:9;}   [data-xl~="10"]{--piece:10;} [data-xl~="11"]{--piece:11;} [data-xl~="12"]{--piece:12;}
      [data-xl~="13"]{--piece:13;} [data-xl~="14"]{--piece:14;} [data-xl~="15"]{--piece:15;} [data-xl~="16"]{--piece:16;}
      [data-xl~="17"]{--piece:17;} [data-xl~="18"]{--piece:18;} [data-xl~="19"]{--piece:19;} [data-xl~="20"]{--piece:20;}
      [data-xl~="21"]{--piece:21;} [data-xl~="22"]{--piece:22;} [data-xl~="23"]{--piece:23;} [data-xl~="24"]{--piece:24;}

      [data-xl~="1p"]{--part:1;}   [data-xl~="2p"]{--part:2;}   [data-xl~="3p"]{--part:3;}   [data-xl~="4p"]{--part:4;}
      [data-xl~="5p"]{--part:5;}   [data-xl~="6p"]{--part:6;}   [data-xl~="7p"]{--part:7;}   [data-xl~="8p"]{--part:8;}
      [data-xl~="9p"]{--part:9;}   [data-xl~="10p"]{--part:10;} [data-xl~="11p"]{--part:11;} [data-xl~="12p"]{--part:12;}
      [data-xl~="13p"]{--part:13;} [data-xl~="14p"]{--part:14;} [data-xl~="15p"]{--part:15;} [data-xl~="16p"]{--part:16;}
      [data-xl~="17p"]{--part:17;} [data-xl~="18p"]{--part:18;} [data-xl~="19p"]{--part:19;} [data-xl~="20p"]{--part:20;}
      [data-xl~="21p"]{--part:21;} [data-xl~="22p"]{--part:22;} [data-xl~="23p"]{--part:23;} [data-xl~="24p"]{--part:24;}

      [data-xl]{
        flex-basis: calc(100% / var(--part) * var(--piece));
        max-width:  calc(100% / var(--part) * var(--piece));
      }

      [data-xl~="0p"]{
        flex-basis: auto;
      }

      [data-xl~="1o"]{flex:1;}    [data-xl~="2o"]{flex:2;}   [data-xl~="3o"]{flex:3;}    [data-xl~="4o"]{flex:4;}
      [data-xl~="5o"]{flex:5;}    [data-xl~="6o"]{flex:6;}   [data-xl~="7o"]{flex:7;}    [data-xl~="8o"]{flex:8;}
      [data-xl~="9o"]{flex:9;}    [data-xl~="10o"]{flex:10;} [data-xl~="11o"]{flex:11;}  [data-xl~="12o"]{flex:12;}
      [data-xl~="13o"]{flex:13;}  [data-xl~="14o"]{flex:14;} [data-xl~="15o"]{flex:15;}  [data-xl~="16o"]{flex:16;}
      [data-xl~="17o"]{flex:17;}  [data-xl~="18o"]{flex:18;} [data-xl~="19o"]{flex:19;}  [data-xl~="20o"]{flex:20;}
      [data-xl~="21o"]{flex:21;}  [data-xl~="22o"]{flex:22;} [data-xl~="23o"]{flex:23;}  [data-xl~="24o"]{flex:24;}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S06 HUGE-START (hg) or (hgs) or (hgo) | Screen size: 1900px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:1900px;) {
      [data-hg~="1"]{--piece:1;}   [data-hg~="2"]{--piece:2;}   [data-hg~="3"]{--piece:3;}   [data-hg~="4"]{--piece:4;}
      [data-hg~="5"]{--piece:5;}   [data-hg~="6"]{--piece:6;}   [data-hg~="7"]{--piece:7;}   [data-hg~="8"]{--piece:8;}
      [data-hg~="9"]{--piece:9;}   [data-hg~="10"]{--piece:10;} [data-hg~="11"]{--piece:11;} [data-hg~="12"]{--piece:12;}
      [data-hg~="13"]{--piece:13;} [data-hg~="14"]{--piece:14;} [data-hg~="15"]{--piece:15;} [data-hg~="16"]{--piece:16;}
      [data-hg~="17"]{--piece:17;} [data-hg~="18"]{--piece:18;} [data-hg~="19"]{--piece:19;} [data-hg~="20"]{--piece:20;}
      [data-hg~="21"]{--piece:21;} [data-hg~="22"]{--piece:22;} [data-hg~="23"]{--piece:23;} [data-hg~="24"]{--piece:24;}

      [data-hg~="1p"]{--part:1;}   [data-hg~="2p"]{--part:2;}   [data-hg~="3p"]{--part:3;}   [data-hg~="4p"]{--part:4;}
      [data-hg~="5p"]{--part:5;}   [data-hg~="6p"]{--part:6;}   [data-hg~="7p"]{--part:7;}   [data-hg~="8p"]{--part:8;}
      [data-hg~="9p"]{--part:9;}   [data-hg~="10p"]{--part:10;} [data-hg~="11p"]{--part:11;} [data-hg~="12p"]{--part:12;}
      [data-hg~="13p"]{--part:13;} [data-hg~="14p"]{--part:14;} [data-hg~="15p"]{--part:15;} [data-hg~="16p"]{--part:16;}
      [data-hg~="17p"]{--part:17;} [data-hg~="18p"]{--part:18;} [data-hg~="19p"]{--part:19;} [data-hg~="20p"]{--part:20;}
      [data-hg~="21p"]{--part:21;} [data-hg~="22p"]{--part:22;} [data-hg~="23p"]{--part:23;} [data-hg~="24p"]{--part:24;}

      [data-hg]{
        flex-basis: calc(100% / var(--part) * var(--piece));
        max-width:  calc(100% / var(--part) * var(--piece));
      }

      [data-hg~="0p"]{
        flex-basis: auto;
      }

      [data-hg~="1o"]{flex:1;}    [data-hg~="2o"]{flex:2;}   [data-hg~="3o"]{flex:3;}    [data-hg~="4o"]{flex:4;}
      [data-hg~="5o"]{flex:5;}    [data-hg~="6o"]{flex:6;}   [data-hg~="7o"]{flex:7;}    [data-hg~="8o"]{flex:8;}
      [data-hg~="9o"]{flex:9;}    [data-hg~="10o"]{flex:10;} [data-hg~="11o"]{flex:11;}  [data-hg~="12o"]{flex:12;}
      [data-hg~="13o"]{flex:13;}  [data-hg~="14o"]{flex:14;} [data-hg~="15o"]{flex:15;}  [data-hg~="16o"]{flex:16;}
      [data-hg~="17o"]{flex:17;}  [data-hg~="18o"]{flex:18;} [data-hg~="19o"]{flex:19;}  [data-hg~="20o"]{flex:20;}
      [data-hg~="21o"]{flex:21;}  [data-hg~="22o"]{flex:22;} [data-hg~="23o"]{flex:23;}  [data-hg~="24o"]{flex:24;}
    }

/*  RESPONSIVE TYPE ONLY |< * >| */
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    TINY-ONLY (ti) or (tio) | Screen size: 0 ≤ * < 300px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:299.99px;) {

    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    EXTRA-SMALL-ONLY (xs) or (xso) | Screen size: 300px ≤ * < 576px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:300px;) and (max-width:575.99px;) {

    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    SMALL-ONLY (sm) or (smo) | Screen size: 576px ≤ * < 768px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:576px;) and (max-width:767.99px;) {

    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MIDDLE-ONLY (md) or (mdo)
    Screen size: 768px ≤ * < 992px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:768px;) and (max-width:991.99px;) {

    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    LARGE-ONLY (lg) or (lgo) | Screen size: 992px ≤ * < 1200px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:992px;) and (max-width:1199.99px;) {

    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    EXTRA-LARGE-ONLY (xl) or (xlo) | Screen size: 1200px ≤ * < 1900px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:1200px;) and (max-width:1899.99px;) {

    }
