/*! [DEVEB SÜRÜM 0.11] | dosya:: "deveb.css" */

/*
  TANIMLAMALAR
  ==========================================================================
:: Yardımcılar
    beri: CSS > margin          		dolgu: CSS > padding

:: Ekran Ölçekleri
    data-byk: (b)ü(y)ü(k): en büyük ekran ve daha büyükleri
    data-ort: (data-ort)a: data-orta ekran ve daha büyükleri
    data-ufk: (uf)a(k): ufak ekran ve daha büyükleri
    data-deveb: (g)enel: en küçük ekran ve daha büyükleri.

:: Kap Örgüsü
    p: (p)arça

:: Özellikler
    Temizleme
    Kap Örgüsü
    Renk Örgüsü
*/
/*  AYARLAR
    ==========================================================================*/

:root{
  --yazı-biçimi:'Roboto', sans-serif;
  --yazı-boyutu:11pt;

  --kaplama:980px !important;

  /* Kap örgüsü varsayılan genişlik */
  --par:12;--parça:1;
  --u-par:12;--u-parça:1;
  --o-par:12;--o-parça:1;
  --b-par:12;--b-parça:1;
}
/*  Temizleme
    ==========================================================================*/
/** Varsayılan değiştirgeleri temizleme eylemi. */
html {
  /* Metin boyutlarında ayarlamaları doğallaştırma. */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*{
  /* Tüm tarayıcılar için her şeyin beri (margin) değerini sıfırlama. */
  margin: 0;
  /* Tüm tarayıcılar için her şeyin dolgu (padding) değerini sıfırlama. */
  padding: 0;
}

article,aside,details,
figcaption,figure,footer,
header,hgroup,section,
menu,main,nav{
  /* Varsayılan gösterim ayarı */
  display: block;
}
a{
  /* Bağ verilen tüm yazıların altı çizili durumunu kaldırma */
  text-decoration: none;
}

a, button, input, textarea {
  /* Sınır çizgilerini sıfırlama ayarı */
    outline: 0;
}

/* Başlık ayarları */
h1, h2, h3, h4, h5, h6{
  /* Her bulunduğu yerin genişliğinde olması ayarı */
  width: 100%;
  display: block;
  -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  /* Başlıkları varsayılan olarak kalın yapma ayarı */
  font-weight: bold;
  margin:1rem 0 0.5rem 0;
  color:#111;
}
h1{font-size: 2.4rem;}
h2{font-size: 1.6rem;}
h3{font-size: 1.2rem;}

img {
  /* Kenarlıkları sıfırlama */
  border: 0;
}

/* Deveb Varsayılan */
body{
  /* Her yerde varsayılan yazı biçimi */
  font-family: var(--yazı-biçimi);
  /* Her yerde varsayılan yazı boyutu ve tipi */
    font-size: var(--yazı-boyutu);
    font-weight: 300;
}
/* Paragraf ayarları */
p{display: block; width:100%;}
  /* İki paragraf arasına mesafe verme ayarı */
  p+p{margin-top:1rem;}

/* Liste ayarları */
ul{
  padding:0;
  margin:0;
}
  /* Liste tipini temizleme ayarı */
  ul li{
    list-style-type: none;
  }
/* ==========================================================================
    KAP ÖRGÜSÜ
    'Display:flex' yöntemiyle geliştirilen kap örgüsü.
    * data-deveb, data-byk, data-ort, data-ufk ekran genişlikleri için kullanılan özel nitelikler.
========================================================================== */

/* Konumlama */
[data-deveb~="taşma"]{overflow: hidden;}
[data-deveb~="kayma"]{flex-wrap: nowrap;}

[data-deveb~="ters-dizi"]{flex-wrap: wrap-reverse;}
[data-deveb~="ters-satır"]{flex-direction: row-reverse;}
[data-deveb~="ters-sütun"]{flex-direction: column-reverse;}

[data-deveb~="solda"]{justify-content: flex-start;}
[data-deveb~="ortada"]{justify-content:center;}
[data-deveb~="sağda"]{justify-content: flex-end;}
[data-deveb~="ortada-ol"]{align-items: center;}

[data-deveb~="merkezde"]{align-items:center; justify-content: center;}
[data-deveb~="üstte"]{align-items: flex-start;}
[data-deveb~="göbekte"]{align-items: center;}
[data-deveb~="altta"]{align-items: flex-end;}
[data-deveb~="üstte-ol"]{align-self: flex-start !important;}
[data-deveb~="göbekte-ol"]{align-self: center !important;}
[data-deveb~="altta-ol"]{align-self: flex-end !important;}
[data-deveb~="sağda-ol"]{margin-left:auto; align-self:flex-start;}
[data-deveb~="solda-ol"]{margin-right:auto; align-self:flex-start;}
[data-deveb~="ortada-ol"]{margin-left:auto; margin-right:auto; align-self:flex-start;}

[data-deveb~="ger"]{justify-content: space-between;}
[data-deveb~="yay"]{justify-content: space-around;}
[data-deveb~="uza"]{align-items: stretch;}
[data-deveb~="uzun-ol"]{align-self: stretch;}

[data-deveb~="çizgide"]{align-items: baseline;}
[data-deveb~="çizgide-ol"]{align-self: baseline;}

[data-deveb~="gizli"]{display: none !important;}

/* KAP ÖLÇEKLEMELER */
[data-deveb~="kap"],[data-deveb],[data-byk],[data-ort],[data-ufk]{
  /* Her durumda esnek görünüm tanımlama ayarı */
  display: flex;
  /* Her durumda varsayılan olarak satır düzeninde kaydırılmış içerik ayarı */
  flex-flow: row wrap;
  /* Genişliklerin başka etkenlerle etkilenmesini temizleme */
  box-sizing: border-box;
}
[data-deveb~="kaplama"]{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* TÜM EKRANLAR [data-deveb] */
/* KAP ÖRGÜSÜ : Parça Yöntemi */

/* Kap alanını gizleme sınıfı */
[data-deveb~="gizli"]{display: none;}

/* Kap alanını parça değerlerini aktarma */
[data-deveb~="1"] {--parca:1;} [data-deveb~="2"] {--parca:2;} [data-deveb~="3"] {--parca:3;} [data-deveb~="4"] {--parca:4;}
[data-deveb~="5"] {--parca:5;} [data-deveb~="6"] {--parca:6;} [data-deveb~="7"] {--parca:7;} [data-deveb~="8"] {--parca:8;}
[data-deveb~="9"] {--parca:9;} [data-deveb~="10"]{--parca:10;}[data-deveb~="11"]{--parca:11;}[data-deveb~="12"]{--parca:12;}
[data-deveb~="13"]{--parca:13;}[data-deveb~="14"]{--parca:14;}[data-deveb~="15"]{--parca:15;}[data-deveb~="16"]{--parca:16;}
[data-deveb~="17"]{--parca:17;}[data-deveb~="18"]{--parca:18;}[data-deveb~="19"]{--parca:19;}[data-deveb~="20"]{--parca:20;}
[data-deveb~="21"]{--parca:21;}[data-deveb~="22"]{--parca:22;}[data-deveb~="23"]{--parca:23;}[data-deveb~="24"]{--parca:24;}

/* Kap alanını parça düzeni değerlerini aktarma */
[data-deveb~="1p"] {--par:1;} [data-deveb~="2p"] {--par:2;} [data-deveb~="3p"] {--par:3;} [data-deveb~="4p"] {--par:4;}
[data-deveb~="5p"] {--par:5;} [data-deveb~="6p"] {--par:6;} [data-deveb~="7p"] {--par:7;} [data-deveb~="8p"] {--par:8;}
[data-deveb~="9p"] {--par:9;} [data-deveb~="10p"]{--par:10;}[data-deveb~="11p"]{--par:11;}[data-deveb~="12p"]{--par:12;}
[data-deveb~="13p"]{--par:13;}[data-deveb~="14p"]{--par:14;}[data-deveb~="15p"]{--par:15;}[data-deveb~="16p"]{--par:16;}
[data-deveb~="17p"]{--par:17;}[data-deveb~="18p"]{--par:18;}[data-deveb~="19p"]{--par:19;}[data-deveb~="20p"]{--par:20;}
[data-deveb~="21p"]{--par:21;}[data-deveb~="22p"]{--par:22;}[data-deveb~="23p"]{--par:23;}[data-deveb~="24p"]{--par:24;}

/* Kap alanının genişliğini hesaplama */
[data-deveb]{flex-basis: calc(100% / var(--par) * var(--parca));      max-width: calc(100% / var(--par) * var(--parca));}
/* Kap alanının sütunlara bölme */
[data-deveb~="sütun"]{display:block; width: 100%; column-count: var(--parca);}
[data-deveb~="ortada"][data-deveb~="sütun"] > [data-deveb]{
  margin-left: auto;
  margin-right: auto;}

[data-deveb~="0p"]{flex-basis: auto;}

/* Kap alanı genişliğini esnek yapmak */
[data-deveb~="0p"] {flex-basis: auto;}

/* KAP ÖRGÜSÜ : Oran Yöntemi */
[data-deveb~="0o"] {flex: 0;}
[data-deveb~="1o"] {flex: 1;} [data-deveb~="2o"] {flex: 2;} [data-deveb~="3o"] {flex: 3;} [data-deveb~="4o"] {flex: 4;}
[data-deveb~="5o"] {flex: 5;} [data-deveb~="6o"] {flex: 6;} [data-deveb~="7o"] {flex: 7;} [data-deveb~="8o"] {flex: 8;}
[data-deveb~="9o"] {flex: 9;} [data-deveb~="10o"]{flex: 10;}[data-deveb~="11o"]{flex: 11;}[data-deveb~="12o"]{flex: 12;}
[data-deveb~="13o"]{flex: 13;}[data-deveb~="14o"]{flex: 14;}[data-deveb~="15o"]{flex: 15;}[data-deveb~="16o"]{flex: 16;}
[data-deveb~="17o"]{flex: 17;}[data-deveb~="18o"]{flex: 18;}[data-deveb~="19o"]{flex: 19;}[data-deveb~="20o"]{flex: 20;}
[data-deveb~="21o"]{flex: 21;}[data-deveb~="22o"]{flex: 22;}[data-deveb~="23o"]{flex: 23;}[data-deveb~="24o"]{flex: 24;}

@media screen and (min-width: 35.5em){
/* UFAK: data-ufk+ */

/* Kap alanını gizleme sınıfı */
[data-deveb~="ufk-gizli"]{display: none;}
/* Kap alanı gizleme data-deveb ve diğer ekran tanımlamalarından gelirse iptal etmek */
[data-deveb]:not([data-deveb~="ufk-gizli"]){display: flex;}

/* Kap alanını parça değerlerini aktarma */
[data-deveb~="ufk-1"] {--u-parca:1;} [data-deveb~="ufk-2"] {--u-parca:2;} [data-deveb~="ufk-3"] {--u-parca:3;} [data-deveb~="ufk-4"] {--u-parca:4;}
[data-deveb~="ufk-5"] {--u-parca:5;} [data-deveb~="ufk-6"] {--u-parca:6;} [data-deveb~="ufk-7"] {--u-parca:7;} [data-deveb~="ufk-8"] {--u-parca:8;}
[data-deveb~="ufk-9"] {--u-parca:9;} [data-deveb~="ufk-10"]{--u-parca:10;}[data-deveb~="ufk-11"]{--u-parca:11;}[data-deveb~="ufk-12"]{--u-parca:12;}
[data-deveb~="ufk-13"]{--u-parca:13;}[data-deveb~="ufk-14"]{--u-parca:14;}[data-deveb~="ufk-15"]{--u-parca:15;}[data-deveb~="ufk-16"]{--u-parca:16;}
[data-deveb~="ufk-17"]{--u-parca:17;}[data-deveb~="ufk-18"]{--u-parca:18;}[data-deveb~="ufk-19"]{--u-parca:19;}[data-deveb~="ufk-20"]{--u-parca:20;}
[data-deveb~="ufk-21"]{--u-parca:21;}[data-deveb~="ufk-22"]{--u-parca:22;}[data-deveb~="ufk-23"]{--u-parca:23;}[data-deveb~="ufk-24"]{--u-parca:24;}

/* Kap alanını parça düzeni değerlerini aktarma */
[data-deveb~="ufk-1p"] {--u-par:1;} [data-deveb~="ufk-2p"] {--u-par:2;} [data-deveb~="ufk-3p"] {--u-par:3;} [data-deveb~="ufk-4p"] {--u-par:4;}
[data-deveb~="ufk-5p"] {--u-par:5;} [data-deveb~="ufk-6p"] {--u-par:6;} [data-deveb~="ufk-7p"] {--u-par:7;} [data-deveb~="ufk-8p"] {--u-par:8;}
[data-deveb~="ufk-9p"] {--u-par:9;} [data-deveb~="ufk-10p"]{--u-par:10;}[data-deveb~="ufk-11p"]{--u-par:11;}[data-deveb~="ufk-12p"]{--u-par:12;}
[data-deveb~="ufk-13p"]{--u-par:13;}[data-deveb~="ufk-14p"]{--u-par:14;}[data-deveb~="ufk-15p"]{--u-par:15;}[data-deveb~="ufk-16p"]{--u-par:16;}
[data-deveb~="ufk-17p"]{--u-par:17;}[data-deveb~="ufk-18p"]{--u-par:18;}[data-deveb~="ufk-19p"]{--u-par:19;}[data-deveb~="ufk-20p"]{--u-par:20;}
[data-deveb~="ufk-21p"]{--u-par:21;}[data-deveb~="ufk-22p"]{--u-par:22;}[data-deveb~="ufk-23p"]{--u-par:23;}[data-deveb~="ufk-24p"]{--u-par:24;}

/* Kap alanının genişliğini hesaplama */
[data-deveb]{flex-basis: calc(100% / var(--u-par) * var(--u-parca));  max-width: calc(100% / var(--u-par) * var(--u-parca));}
/* Kap alanının sütunlara bölme */
[data-deveb~="ufk-sütun"]{display:block; width: 100%; column-count: var(--parca);}
[data-deveb~="ortada"][data-deveb~="ufk-sütun"] > [data-ufk]{
  margin-left: auto;
  margin-right: auto;}

/* Kap alanı genişliğini esnek yapmak */
[data-deveb~="ufk-0p"]{flex-basis: auto;}

/* Kap alanı genişliğini esnek oran yöntemiyle kullanmak */
[data-deveb~="ufk-0o"] {flex: 0;}
[data-deveb~="ufk-1o"] {flex: 1;} [data-deveb~="ufk-2o"] {flex: 2;} [data-deveb~="ufk-3o"] {flex: 3;} [data-deveb~="ufk-4o"] {flex: 4;}
[data-deveb~="ufk-5o"] {flex: 5;} [data-deveb~="ufk-6o"] {flex: 6;} [data-deveb~="ufk-7o"] {flex: 7;} [data-deveb~="ufk-8o"] {flex: 8;}
[data-deveb~="ufk-9o"] {flex: 9;} [data-deveb~="ufk-10o"]{flex: 10;}[data-deveb~="ufk-11o"]{flex: 11;}[data-deveb~="ufk-12o"]{flex: 12;}
[data-deveb~="ufk-13o"]{flex: 13;}[data-deveb~="ufk-14o"]{flex: 14;}[data-deveb~="ufk-15o"]{flex: 15;}[data-deveb~="ufk-16o"]{flex: 16;}
[data-deveb~="ufk-17o"]{flex: 17;}[data-deveb~="ufk-18o"]{flex: 18;}[data-deveb~="ufk-19o"]{flex: 19;}[data-deveb~="ufk-20o"]{flex: 20;}
[data-deveb~="ufk-21o"]{flex: 21;}[data-deveb~="ufk-22o"]{flex: 22;}[data-deveb~="ufk-23o"]{flex: 23;}[data-deveb~="ufk-24o"]{flex: 24;}

}

/* Dizüstü ve büyük: data-ort + */
@media screen and (min-width: 48em){
/* Kap alanının en fazla genişlik ölçüsünü sabitler */
[data-deveb~="kaplama"]{
   max-width:var(--kaplama);
 }
/* Kap alanını gizleme sınıfı */
[data-deveb~="ort-gizli"]{display: none;}
/* Kap alanı gizleme data-deveb ve diğer ekran tanımlamalarından gelirse iptal etmek */
[data-deveb]:not([data-deveb~="ort-gizli"]){display: flex;}

/* Kap alanını parça değerlerini aktarma */
[data-deveb~="ort-1"] {--o-parca:1;} [data-deveb~="ort-2"] {--o-parca:2;} [data-deveb~="ort-3"] {--o-parca:3;} [data-deveb~="ort-4"] {--o-parca:4;}
[data-deveb~="ort-5"] {--o-parca:5;} [data-deveb~="ort-6"] {--o-parca:6;} [data-deveb~="ort-7"] {--o-parca:7;} [data-deveb~="ort-8"] {--o-parca:8;}
[data-deveb~="ort-9"] {--o-parca:9;} [data-deveb~="ort-10"]{--o-parca:10;}[data-deveb~="ort-11"]{--o-parca:11;}[data-deveb~="ort-12"]{--o-parca:12;}
[data-deveb~="ort-13"]{--o-parca:13;}[data-deveb~="ort-14"]{--o-parca:14;}[data-deveb~="ort-15"]{--o-parca:15;}[data-deveb~="ort-16"]{--o-parca:16;}
[data-deveb~="ort-17"]{--o-parca:17;}[data-deveb~="ort-18"]{--o-parca:18;}[data-deveb~="ort-19"]{--o-parca:19;}[data-deveb~="ort-20"]{--o-parca:20;}
[data-deveb~="ort-21"]{--o-parca:21;}[data-deveb~="ort-22"]{--o-parca:22;}[data-deveb~="ort-23"]{--o-parca:23;}[data-deveb~="ort-24"]{--o-parca:24;}

/* Kap alanını parça düzeni değerlerini aktarma */
[data-deveb~="ort-1p"] {--o-par:1;} [data-deveb~="ort-2p"] {--o-par:2;} [data-deveb~="ort-3p"] {--o-par:3;} [data-deveb~="ort-4p"] {--o-par:4;}
[data-deveb~="ort-5p"] {--o-par:5;} [data-deveb~="ort-6p"] {--o-par:6;} [data-deveb~="ort-7p"] {--o-par:7;} [data-deveb~="ort-8p"] {--o-par:8;}
[data-deveb~="ort-9p"] {--o-par:9;} [data-deveb~="ort-10p"]{--o-par:10;}[data-deveb~="ort-11p"]{--o-par:11;}[data-deveb~="ort-12p"]{--o-par:12;}
[data-deveb~="ort-13p"]{--o-par:13;}[data-deveb~="ort-14p"]{--o-par:14;}[data-deveb~="ort-15p"]{--o-par:15;}[data-deveb~="ort-16p"]{--o-par:16;}
[data-deveb~="ort-17p"]{--o-par:17;}[data-deveb~="ort-18p"]{--o-par:18;}[data-deveb~="ort-19p"]{--o-par:19;}[data-deveb~="ort-20p"]{--o-par:20;}
[data-deveb~="ort-21p"]{--o-par:21;}[data-deveb~="ort-22p"]{--o-par:22;}[data-deveb~="ort-23p"]{--o-par:23;}[data-deveb~="ort-24p"]{--o-par:24;}

/* Kap alanının genişliğini hesaplama */
[data-deveb]{flex-basis: calc(100% / var(--o-par) * var(--o-parca));  max-width: calc(100% / var(--o-par) * var(--o-parca));}
/* Kap alanının sütunlara bölme */
[data-deveb~="ort-sütun"]{display:block; width: 100%; column-count: var(--parca);}
[data-deveb~="ortada"][data-deveb~="ort-sütun"] > [data-ort]{
  margin-left: auto;
  margin-right: auto;}

/* Kap alanı genişliğini esnek yapmak */
[data-deveb~="ort-0p"]{flex-basis: auto;}

/* Kap alanı genişliğini esnek oran yöntemiyle kullanmak */
[data-deveb~="ort-0o"] {flex: 0;}
[data-deveb~="ort-1o"] {flex: 1;} [data-deveb~="ort-2o"] {flex: 2;} [data-deveb~="ort-3o"] {flex: 3;} [data-deveb~="ort-4o"]{flex: 4;}
[data-deveb~="ort-5o"] {flex: 5;} [data-deveb~="ort-6o"] {flex: 6;} [data-deveb~="ort-7o"] {flex: 7;} [data-deveb~="ort-8o"]{flex: 8;}
[data-deveb~="ort-9o"] {flex: 9;} [data-deveb~="ort-10o"]{flex: 10;}[data-deveb~="ort-11o"]{flex: 11;}[data-deveb~="ort-12o"]{flex: 12;}
[data-deveb~="ort-13o"]{flex: 13;}[data-deveb~="ort-14o"]{flex: 14;}[data-deveb~="ort-15o"]{flex: 15;}[data-deveb~="ort-16o"]{flex: 16;}
[data-deveb~="ort-17o"]{flex: 17;}[data-deveb~="ort-18o"]{flex: 18;}[data-deveb~="ort-19o"]{flex: 19;}[data-deveb~="ort-20o"]{flex: 20;}
[data-deveb~="ort-21o"]{flex: 21;}[data-deveb~="ort-22o"]{flex: 22;}[data-deveb~="ort-23o"]{flex: 23;}[data-deveb~="ort-24o"]{flex: 24;}
}

/* Büyükler: data-byk + */
@media screen and (min-width: 64em){

/* Kap alanını gizleme sınıfı */
[data-deveb~="byk-gizli"]{display: none;}
/* Kap alanı gizleme data-deveb ve diğer ekran tanımlamalarından gelirse iptal etmek */
[data-deveb]:not([data-deveb~="byk-gizli"]){display: flex;}

/* Kap alanını parça değerlerini aktarma */
[data-deveb~="byk-1"] {--b-parca:1;} [data-deveb~="byk-2"] {--b-parca:2;} [data-deveb~="byk-3"] {--b-parca:3;} [data-deveb~="byk-4"] {--b-parca:4;}
[data-deveb~="byk-5"] {--b-parca:5;} [data-deveb~="byk-6"] {--b-parca:6;} [data-deveb~="byk-7"] {--b-parca:7;} [data-deveb~="byk-8"] {--b-parca:8;}
[data-deveb~="byk-9"] {--b-parca:9;} [data-deveb~="byk-10"]{--b-parca:10;}[data-deveb~="byk-11"]{--b-parca:11;}[data-deveb~="byk-12"]{--b-parca:12;}
[data-deveb~="byk-13"]{--b-parca:13;}[data-deveb~="byk-14"]{--b-parca:14;}[data-deveb~="byk-15"]{--b-parca:15;}[data-deveb~="byk-16"]{--b-parca:16;}
[data-deveb~="byk-17"]{--b-parca:17;}[data-deveb~="byk-18"]{--b-parca:18;}[data-deveb~="byk-19"]{--b-parca:19;}[data-deveb~="byk-20"]{--b-parca:20;}
[data-deveb~="byk-21"]{--b-parca:21;}[data-deveb~="byk-22"]{--b-parca:22;}[data-deveb~="byk-23"]{--b-parca:23;}[data-deveb~="byk-24"]{--b-parca:24;}

/* Kap alanını parça düzeni değerlerini aktarma */
[data-deveb~="byk-1p"] {--b-par:1;} [data-deveb~="byk-2p"] {--b-par:2;} [data-deveb~="byk-3p"] {--b-par:3;} [data-deveb~="byk-4p"]{--b-par:4;}
[data-deveb~="byk-5p"] {--b-par:5;} [data-deveb~="byk-6p"] {--b-par:6;} [data-deveb~="byk-7p"] {--b-par:7;} [data-deveb~="byk-8p"]{--b-par:8;}
[data-deveb~="byk-9p"] {--b-par:9;} [data-deveb~="byk-10p"]{--b-par:10;}[data-deveb~="byk-11p"]{--b-par:11;}[data-deveb~="byk-12p"]{--b-par:12;}
[data-deveb~="byk-13p"]{--b-par:13;}[data-deveb~="byk-14p"]{--b-par:14;}[data-deveb~="byk-15p"]{--b-par:15;}[data-deveb~="byk-16p"]{--b-par:16;}
[data-deveb~="byk-17p"]{--b-par:17;}[data-deveb~="byk-18p"]{--b-par:18;}[data-deveb~="byk-19p"]{--b-par:19;}[data-deveb~="byk-20p"]{--b-par:20;}
[data-deveb~="byk-21p"]{--b-par:21;}[data-deveb~="byk-22p"]{--b-par:22;}[data-deveb~="byk-23p"]{--b-par:23;}[data-deveb~="byk-24p"]{--b-par:24;}

/* Kap alanının genişliğini hesaplama */
[data-deveb]{flex-basis: calc(100% / var(--b-par) * var(--b-parca));  max-width: calc(100% / var(--b-par) * var(--b-parca));}
/* Kap alanının sütunlara bölme */
[data-deveb~="byk-sütun"]{display:block; width: 100%; column-count: var(--parca);}
[data-deveb~="ortada"][data-deveb~="byk-sütun"] > [data-byk]{
  margin-left: auto;
  margin-right: auto;}

/* Kap alanı genişliğini esnek yapmak */
[data-deveb~="byk-0p"]{flex-basis: auto;}

/* Kap alanı genişliğini esnek oran yöntemiyle kullanmak */
[data-deveb~="byk-0o"]{flex: 0;}
[data-deveb~="byk-1o"]{flex: 1;}[data-deveb~="byk-2o"]{flex: 2;}[data-deveb~="byk-3o"]{flex: 3;}[data-deveb~="byk-4o"]{flex: 4;}
[data-deveb~="byk-5o"]{flex: 5;}[data-deveb~="byk-6o"]{flex: 6;}[data-deveb~="byk-7o"]{flex: 7;}[data-deveb~="byk-8o"]{flex: 8;}
[data-deveb~="byk-9o"]{flex: 9;}[data-deveb~="byk-10o"]{flex: 10;}[data-deveb~="byk-11o"]{flex: 11;}[data-deveb~="byk-12o"]{flex: 12;}
[data-deveb~="byk-13o"]{flex: 13;}[data-deveb~="byk-14o"]{flex: 14;}[data-deveb~="byk-15o"]{flex: 15;}[data-deveb~="byk-16o"]{flex: 16;}
[data-deveb~="byk-17o"]{flex: 17;}[data-deveb~="byk-18o"]{flex: 18;}[data-deveb~="byk-19o"]{flex: 19;}[data-deveb~="byk-20o"]{flex: 20;}
[data-deveb~="byk-21o"]{flex: 21;}[data-deveb~="byk-22o"]{flex: 22;}[data-deveb~="byk-23o"]{flex: 23;}[data-deveb~="byk-24o"]{flex: 24;}
}

/* ==========================================================================
    RENK ÖRGÜSÜ s0.4
    Ayırt etmek için önceden belirlenmiş renk grupları.
    data-arka | data-metin | data-kenar

    RENKLER: ana | ara | birincil | ikincil
    DOLGULAR: 900-800-700-600-500-400-300-200-100
    TONLAR: en-parlak çok-parlak parlak az-parlak normal az-soluk soluk çok-soluk en-soluk
-------------------------------------------------------------------------- */
:root{
  /* 0 ile 360 değeri arasında değerleri kullanarak renklerinizi belirtin. hsl yapısı kullanılmaktadır. */
  --arka-ana-renk: 0;     --arka-ara-renk: 34;    --arka-birincil-renk: 207;  --arka-ikincil-renk: 260;
  --arka-dikkat-renk: 60; --arka-tehlike-renk: 0; --arka-bilgi-renk: 190;     --arka-olumlu-renk: 85;  --arka-olumsuz-renk: 260;

  --metin-ana-renk:0;     --metin-ara-renk:34;     --metin-birincil-renk:207;    --metin-ikincil-renk:260;
  --metin-dikkat-renk: 0; --metin-tehlike-renk: 34;--metin-bilgi-renk: 190;   --metin-olumlu-renk: 260; --metin-olumsuz-renk: 260;

  --kenar-ana-renk:0;     --kenar-ara-renk:34;       --kenar-birincil-renk:207;  --kenar-ikincil-renk:260;
  --kenar-dikkat-renk: 0; --kenar-tehlike-renk: 10; --kenar-bilgi-renk: 190;  --kenar-olumlu-renk: 260; --kenar-olumsuz-renk: 260;
}
/* Renk tonu oranları */
[data-deveb]{
  --kenar-tonu:50%;       --kenar-dolgu:50%;
  --metin-tonu:50%;       --metin-dolgu:50%;
  --arka-tonu: 50%;       --arka-dolgu: 50%;      --arka-metin-dolgu:100%;
}
[data-deveb~="kenar-beyaz"]{--kenar-tonu:0%; --kenar-dolgu:100%;}
[data-deveb~="metin-beyaz"]{--metin-tonu:0%; --metin-dolgu:100%;}
[data-deveb~="arka-beyaz"]{--arka-tonu:0%; --arka-dolgu:100%;--arka-metin-dolgu:0%;}
[data-deveb~="kenar-100"]{--kenar-dolgu:90%;}
[data-deveb~="metin-100"]{--metin-dolgu:90%;}
[data-deveb~="arka-100"]{--arka-dolgu:90%;--arka-metin-dolgu:0%;}
[data-deveb~="kenar-200"]{--kenar-dolgu:80%;}
[data-deveb~="metin-200"]{--metin-dolgu:80%;}
[data-deveb~="arka-200"]{--arka-dolgu:80%;--arka-metin-dolgu:0%;}
[data-deveb~="kenar-300"]{--kenar-dolgu:70%;}
[data-deveb~="metin-300"]{--metin-dolgu:70%;}
[data-deveb~="arka-300"]{--arka-dolgu:70%;--arka-metin-dolgu:0%;}
[data-deveb~="kenar-400"]{--kenar-dolgu:60%;}
[data-deveb~="metin-400"]{--metin-dolgu:60%;}
[data-deveb~="arka-400"]{--arka-dolgu:60%;--arka-metin-dolgu:100%;}
[data-deveb~="kenar-500"]{--kenar-dolgu:50%;}
[data-deveb~="metin-500"]{--metin-dolgu:50%;}
[data-deveb~="arka-500"]{--arka-dolgu:50%;--arka-metin-dolgu:100%;}
[data-deveb~="kenar-600"]{--kenar-dolgu:40%;}
[data-deveb~="metin-600"]{--metin-dolgu:40%;}
[data-deveb~="arka-600"]{--arka-dolgu:40%;--arka-metin-dolgu:100%;}
[data-deveb~="kenar-700"]{--kenar-dolgu:30%;}
[data-deveb~="metin-700"]{--metin-dolgu:30%;}
[data-deveb~="arka-700"]{--arka-dolgu:30%;--arka-metin-dolgu:100%;}
[data-deveb~="kenar-800"]{--kenar-dolgu:20%;}
[data-deveb~="metin-800"]{--metin-dolgu:20%;}
[data-deveb~="arka-800"]{--arka-dolgu:20%;--arka-metin-dolgu:100%;}
[data-deveb~="kenar-900"]{--kenar-dolgu:10%;}
[data-deveb~="metin-900"]{--metin-dolgu:10%;}
[data-deveb~="arka-900"]{--arka-dolgu:10%;--arka-metin-dolgu:100%;}
[data-deveb~="kenar-siyah"]{--kenar-tonu:0%; --kenar-dolgu:0%;}
[data-deveb~="metin-siyah"]{--metin-tonu:0%; --metin-dolgu:0%;}
[data-deveb~="arka-siyah"]{--arka-tonu:0%; --arka-dolgu:0%;--arka-metin-dolgu:100%;}
[data-deveb~="kenar-gri"]{--kenar-tonu:0%; --kenar-dolgu:70%;}
[data-deveb~="metin-gri"]{--metin-tonu:0%; --metin-dolgu:70%;}
[data-deveb~="arka-gri"]{--arka-tonu:0%; --arka-dolgu:70%;--arka-metin-dolgu:0%;}

/* Parlaklık ve solgunluk oranları */
[data-deveb~="kenar-en-soluk"]{--kenar-tonu:10%;}
[data-deveb~="metin-en-soluk"]{--metin-tonu:10%;}
[data-deveb~="arka-en-soluk"]{--arka-tonu:10%;}
[data-deveb~="kenar-çok-soluk"]{--kenar-tonu:20%;}
[data-deveb~="metin-çok-soluk"]{--metin-tonu:20%;}
[data-deveb~="arka-çok-soluk"]{--arka-tonu:20%;}
[data-deveb~="kenar-soluk"]{--kenar-tonu:30%;}
[data-deveb~="metin-soluk"]{--metin-tonu:30%;}
[data-deveb~="arka-soluk"]{--arka-tonu:30%;}
[data-deveb~="kenar-az-soluk"]{--kenar-tonu:40%;}
[data-deveb~="metin-az-soluk"]{--metin-tonu:40%;}
[data-deveb~="arka-az-soluk"]{--arka-tonu:40%;}
[data-deveb~="kenar-normal"]{--kenar-tonu:50%;}
[data-deveb~="metin-normal"]{--metin-tonu:50%;}
[data-deveb~="arka-normal"]{--arka-tonu:50%;}
[data-deveb~="kenar-az-parlak"]{--kenar-tonu:60%;}
[data-deveb~="metin-az-parlak"]{--metin-tonu:60%;}
[data-deveb~="arka-az-parlak"]{--arka-tonu:60%;}
[data-deveb~="kenar-parlak"]{--kenar-tonu:70%;}
[data-deveb~="metin-parlak"]{--metin-tonu:70%;}
[data-deveb~="arka-parlak"]{--arka-tonu:70%;}
[data-deveb~="kenar-çok-parlak"]{--kenar-tonu:80%;}
[data-deveb~="metin-çok-parlak"]{--metin-tonu:80%;}
[data-deveb~="arka-çok-parlak"]{--arka-tonu:80%;}
[data-deveb~="kenar-en-parlak"]{--kenar-tonu:90%;}
[data-deveb~="metin-en-parlak"]{--metin-tonu:90%;}
[data-deveb~="arka-en-parlak"]{--arka-tonu:90%;}

[class*="arka-"],[data-arka]{
  background-color: hsl(0,var(--arka-tonu),var(--arka-dolgu));
  color: hsl(0,0%,var(--arka-metin-dolgu));}

[data-deveb~="arka-ana"]{background-color: hsl(var(--arka-ana-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}
[data-deveb~="arka-ara"]{background-color: hsl(var(--arka-ara-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}
[data-deveb~="arka-birincil"]{background-color: hsl(var(--arka-birincil-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}
[data-deveb~="arka-ikincil"]{background-color: hsl(var(--arka-ikincil-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}
[data-deveb~="arka-dikkat"]{background-color: hsl(var(--arka-dikkat-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}
[data-deveb~="arka-tehlike"]{background-color: hsl(var(--arka-tehlike-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}
[data-deveb~="arka-bilgi"]{background-color: hsl(var(--arka-bilgi-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}
[data-deveb~="arka-olumlu"]{background-color: hsl(var(--arka-olumlu-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}
[data-deveb~="arka-olumsuz"]{background-color: hsl(var(--arka-olumsuz-renk),var(--arka-tonu),var(--arka-dolgu)) !important;}

[data-deveb~="metin-ana"]{ color: hsl(var(--metin-ana-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}
[data-deveb~="metin-ara"]{ color: hsl(var(--metin-ara-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}
[data-deveb~="metin-birincil"]{color: hsl(var(--metin-birincil-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}
[data-deveb~="metin-ikincil"]{color: hsl(var(--metin-ikincil-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}
[data-deveb~="metin-dikkat"]{color: hsl(var(--metin-dikkat-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}
[data-deveb~="metin-tehlike"]{color: hsl(var(--metin-tehlike-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}
[data-deveb~="metin-bilgi"]{color: hsl(var(--metin-bilgi-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}
[data-deveb~="metin-olumlu"]{color: hsl(var(--metin-olumlu-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}
[data-deveb~="metin-olumsuz"]{color: hsl(var(--metin-olumsuz-renk),var(--metin-tonu),var(--metin-dolgu)) !important;}

[data-deveb~="kenar-ana"][data-deveb~="kenar-tam"]{ border-color: hsl(var(--kenar-ana-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-ana"][data-deveb~="kenar-sol"]{ border-left-color: hsl(var(--kenar-ana-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-ana"][data-deveb~="kenar-sağ"]{ border-right-color: hsl(var(--kenar-ana-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-ana"][data-deveb~="kenar-üst"]{ border-top-color: hsl(var(--kenar-ana-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-ana"][data-deveb~="kenar-alt"]{ border-bottom-color: hsl(var(--kenar-ana-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}

[data-deveb~="kenar-ara"][data-deveb~="kenar-tam"]{ border-color: hsl(var(--kenar-ara-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-ara"][data-deveb~="kenar-sol"]{ border-left-color: hsl(var(--kenar-ara-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-ara"][data-deveb~="kenar-sağ"]{ border-right-color: hsl(var(--kenar-ara-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-ara"][data-deveb~="kenar-üst"]{ border-top-color: hsl(var(--kenar-ara-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-ara"][data-deveb~="kenar-alt"]{ border-bottom-color: hsl(var(--kenar-ara-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}

[data-deveb~="kenar-birincil"][data-deveb~="kenar-tam"]{ border-color: hsl(var(--kenar-birincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-birincil"][data-deveb~="kenar-sol"]{ border-left-color: hsl(var(--kenar-birincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-birincil"][data-deveb~="kenar-sağ"]{ border-right-color: hsl(var(--kenar-birincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-birincil"][data-deveb~="kenar-üst"]{ border-top-color: hsl(var(--kenar-birincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-birincil"][data-deveb~="kenar-alt"]{ border-bottom-color: hsl(var(--kenar-birincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}

[data-deveb~="kenar-ikincil"][data-deveb~="kenar-tam"]{ border-color: hsl(var(--kenar-ikincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-ikincil"][data-deveb~="kenar-sol"]{ border-left-color: hsl(var(--kenar-ikincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-ikincil"][data-deveb~="kenar-sağ"]{ border-right-color: hsl(var(--kenar-ikincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-ikincil"][data-deveb~="kenar-üst"]{ border-top-color: hsl(var(--kenar-ikincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-ikincil"][data-deveb~="kenar-alt"]{ border-bottom-color: hsl(var(--kenar-ikincil-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}

[data-deveb~="kenar-dikkat"][data-deveb~="kenar-tam"]{ border-color: hsl(var(--kenar-dikkat-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-dikkat"][data-deveb~="kenar-sol"]{ border-left-color: hsl(var(--kenar-dikkat-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-dikkat"][data-deveb~="kenar-sağ"]{ border-right-color: hsl(var(--kenar-dikkat-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-dikkat"][data-deveb~="kenar-üst"]{ border-top-color: hsl(var(--kenar-dikkat-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-dikkat"][data-deveb~="kenar-alt"]{ border-bottom-color: hsl(var(--kenar-dikkat-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}

[data-deveb~="kenar-tehlike"][data-deveb~="kenar-tam"]{ border-color: hsl(var(--kenar-tehlike-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-tehlike"][data-deveb~="kenar-sol"]{ border-left-color: hsl(var(--kenar-tehlike-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-tehlike"][data-deveb~="kenar-sağ"]{ border-right-color: hsl(var(--kenar-tehlike-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-tehlike"][data-deveb~="kenar-üst"]{ border-top-color: hsl(var(--kenar-tehlike-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-tehlike"][data-deveb~="kenar-alt"]{ border-bottom-color: hsl(var(--kenar-tehlike-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}

[data-deveb~="kenar-bilgi"][data-deveb~="kenar-tam"]{ border-color: hsl(var(--kenar-bilgi-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-bilgi"][data-deveb~="kenar-sol"]{ border-left-color: hsl(var(--kenar-bilgi-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-bilgi"][data-deveb~="kenar-sağ"]{ border-right-color: hsl(var(--kenar-bilgi-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-bilgi"][data-deveb~="kenar-üst"]{ border-top-color: hsl(var(--kenar-bilgi-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-bilgi"][data-deveb~="kenar-alt"]{ border-bottom-color: hsl(var(--kenar-bilgi-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}

[data-deveb~="kenar-olumlu"][data-deveb~="kenar-tam"]{ border-color: hsl(var(--kenar-olumlu-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-olumlu"][data-deveb~="kenar-sol"]{ border-left-color: hsl(var(--kenar-olumlu-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-olumlu"][data-deveb~="kenar-sağ"]{ border-right-color: hsl(var(--kenar-olumlu-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-olumlu"][data-deveb~="kenar-üst"]{ border-top-color: hsl(var(--kenar-olumlu-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-olumlu"][data-deveb~="kenar-alt"]{ border-bottom-color: hsl(var(--kenar-olumlu-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}

[data-deveb~="kenar-olumsuz"][data-deveb~="kenar-tam"]{ border-color: hsl(var(--kenar-olumsuz-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-olumsuz"][data-deveb~="kenar-sol"]{ border-left-color: hsl(var(--kenar-olumsuz-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-olumsuz"][data-deveb~="kenar-sağ"]{ border-right-color: hsl(var(--kenar-olumsuz-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-olumsuz"][data-deveb~="kenar-üst"]{ border-top-color: hsl(var(--kenar-olumsuz-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
[data-deveb~="kenar-olumsuz"][data-deveb~="kenar-alt"]{ border-bottom-color: hsl(var(--kenar-olumsuz-renk),var(--kenar-tonu),var(--kenar-dolgu)) !important;}
