pre{
	color: #000000;
	background-color: #f0f0f0 !important;
	padding: 1em;
	border: 1px solid #ddd;
	border-radius: 3px;
	width: 100%;
	overflow-x: auto;
}
.header{min-height: 75px;}
#header{
	background-color: #2c2171;
	min-height:72px;
}
.menu
{
	margin-top:15px
}

.menu ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

.menu ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:300;
	font-size:12px;
	line-height:32px;
	padding:0.6rem 1rem;
	color:#fff;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

.menu ul li
{
	position:relative;
	float:left;
	background: #2c2171;
	margin:0;
	padding:0
}

.menu ul li.menu-etkin
{
	background: #3c3181;
}

.menu ul li:hover
{
	background: #3c3181;
}

.menu ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

.menu ul ul li
{
	float:none;
	width:200px
}

.menu ul ul a
{
	line-height:120%;
	padding:10px 15px
}

.menu ul ul ul
{
	top:0;
	left:100%
}

.menu ul li:hover > ul
{
	display:block
}


.sayfa-başlığı{
	background:rgb(114, 137, 218) none repeat scroll 0% 0%;
	padding-top:20px;
	padding-bottom:15px;
	color:#fff;
}











a.logo{
	font-family: 'Comfortaa', cursive;
	font-size: 26px !important;
	color:#fff !important;
	font-weight: bold !important;
	opacity: 1 !important;
}
.ap-kara	{background-color:#222;}
.ap-deniz	{background-color: #17C4BB;}
.ap-deveb	{background-color: #2c2171;}
.ap-yesil	{background-color: #00BF6F;}

.kenar-alt{border-bottom:1px solid #eceeef;-webkit-box-shadow: 0 2px 0 hsla(200,9%,93%,.25);
box-shadow: 0 2px 0 hsla(200,9%,93%,.25);
}

.beri-1			{	margin:		15px !important}
.beri-2			{	margin:		30px}
.beri--1		{	margin:		-15px}
.beri--2		{	margin:		-30px}
.dolgu-1		{ padding:	15px}
.dolgu-yan-1{ padding-right: 15px; padding-left: 15px}
.dolgu-üst-1{ padding-top:15px}
.dolgu-sağ-1{ padding-right:15px}
.dolgu-sol-1{ padding-left: 15px}
.dolgu-alt-1{ padding-bottom: 15px}
.dolgu-2		{ padding: 	15px}
.dolgu-yan-2{padding: 30px}
.beri-yan-1	{ margin-left:15px; margin-right: 15px;}
.beri-yan-2{ margin-left:30px; margin-right: 30px;}
.beri-sağ-1	{ margin-right:	15px}
.beri-sol-1	{ margin-left:	15px}
.beri-üst-1	{ margin-top:		15px}
.beri-alt-1	{ margin-bottom:15px}
.beri-sağ-2{ margin-right:	30px}
.beri-sol-2{ margin-left: 	30px}
.beri-üst-2{ margin-top:		30px}
.beri-alt-2{ margin-bottom:	30px}

/* ==========================================================================
    MENÜLER
    Menü görünümleri
========================================================================== */
.menü-genel{ padding: 5px;}
	.menü-genel li{display: inline-block;margin-right: 5px;font-size: 11pt;}
	.menü-genel li a{ opacity: .8;display: inline-block; text-decoration: none; padding:8px; color: #fff; font-weight: 300;-webkit-transition: .3s all;
-o-transition: .3s all;
transition: .3s all;
font-weight: 600;
font-size: 13px;}
	.menü-genel li a:hover{
		opacity: 1;
		color: #fff !important;
		background: #2c2171;
		border-radius: 40px;
		transition: .3s all;
			-webkit-transition: .3s all;
			-o-transition: .3s all;
	}
	footer .menü-genel li a{color:#333 !important;}
/* ==========================================================================
    METİN
    Metin görünümleri
========================================================================== */
.metin-orta{text-align: center;}
.metin-sol{text-align: left;}
.metin-sağ{text-align: right;}
.metin-yay{text-align: justify;}
.metin-kesik{word-break: break-all;}
.metin-olumlu{	color: green;}
.metin-olumsuz{	color: gray;}
.metin-belirsiz{color: tomato;}
.metin-hata{	color:	red;}
.metin-tehlike{	color: #c70000;}
.metin-beyaz{	color:#fff;}
.metin-deveb{ color:#904;}
.metin-gri-3{ color:#999;}
/* ==========================================================================
    TABLO
    Tablo görünümleri
========================================================================== */
table{
	border-collapse: collapse;
}
.tablo{
	border:1px solid #ddd;
	padding: 0;
}
.tablo th, .tablo td{
	border:1px solid #ddd;
	padding:5px;
}
/* ==========================================================================
    Liste
    Temiz Liste
========================================================================== */
ul.liste-temiz li{
	list-style: none;
	margin-left: 0;
}

/* ==========================================================================
    KUTU DÜZENİ
    Varsayılan bir kutu görünümüyle ayırt edici bir görsel için
========================================================================== */
.kutu{
  width: 100%;
}
.kutu-genel{
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  margin:2px;
  padding:5px;
  background-color: #fff;
}
[data-kart~="haber"]{
	display: flex;
	flex-wrap: wrap;
	border-radius: 10px;
	margin:15px;
	border:1px solid rgba(0,0,0,0.1);
	width: 100%;
	max-width: 300px;
	padding:5px;

}
[data-kart~="haber"] > *:first-child{
	border-radius: 6px 6px 0 0;
}
[data-kart~="haber"] > *:last-child{
	border-radius: 0 0 4px 4px;
}

[data-kart~="haber"] > img{
	width:100%;
}
[data-kart~="haber"] > h1{
	font-size:1.4em;
	color:#444;
	padding:5px;
}
[data-menü~="basamak"] ul{
	margin-left: 2px;
}
[data-menü~="basamak"] li{
	padding:5px 0 5px 10px;
	margin-bottom: 5px;
}
[data-menü~="basamak"] li{
	border-left:3px solid #abcdef;
	border-radius: 10px;
}
[data-menü~="basamak"] li:hover{
	-webkit-animation: lamba 1s infinite;
	-moz-animation:    lamba 1s infinite;
	-ms-animation:     lamba 1s infinite;
}
[data-menü~="basamak"] li > ul > li:first-child{
	margin-top:15px;}

	@-webkit-keyframes lamba {
	  from {border-color: #abcdef;}
	  to {border-color: transparent;}
	}
	@-moz-keyframes lamba {
		from {border-color: #abcdef;}
	  to {border-color: transparent;}
	}
	@-ms-keyframes lamba {
		from {border-color: #abcdef;}
	  to {border-color: transparent;}
	}
