/* MENÜ İMGESİ */
@media screen and (max-width:576px) {
  body{
    font-size:16px !important;
  }
  header{
    padding-top:10px;
    padding-bottom:10px;
  }

}

footer{
  padding-top:30px;
  padding-bottom:30px;
  border-top: 1px solid #ddd;
  background:rgba(0, 0, 0, 0) url('/temalar/ilker/assets/img/geometry_@2X.png') repeat scroll 0% 0%;

}



[data-menü~="yatay"][data-menü~="basit"]{
  overflow-x: auto;
  flex-wrap: nowrap !important;
}

[data-menü~="yatay"][data-menü~="basit"] > li a{
  padding:5px 10px;
  text-decoration: none;
  padding-top: 11px;
}
[data-menü~="yatay"][data-menü~="basit"] > li:first-child a{
  padding-left:0;
}
[data-menü~="yatay"][data-menü~="basit"] > li:last-child a{
  padding-right:0;
}
label[for="menü-0by"]{
  padding:5px 10px;
  padding-right: 0;
}
[data-menü~="yatay"][data-menü~="basit"] > li a{
  display: inline-block;
}
[data-menü~="yatay"][data-menü~="basit"] > li a::after {
    content: '';
    display: block;
    width: 0;
    height: 6px;
    background: #626dd4;
    transition: width .3s;
    margin-top:3px;
}

[data-menü~="yatay"][data-menü~="basit"] > li a:hover::after {
    width: 100%;
}


/* ALAN */
.alan{
  background-color:#626dd4;
  background: linear-gradient(to bottom,#626dd4,#5d3bb4);
  padding:120px 0;

  font-size:40px;
  color:#fff;
}
.alan > div{
    justify-content:center;
    text-align: center;
}
.alan > div > p{
  text-align: center;
  font-size:14px;
}
