@charset "UTF-8";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@media screen and (min-width: 0) {
  [class*="("] {
    --b: 0;
    --i: 0;
  }
  [class*="("][class*=")"] {
    --o: 0;
    --n: 0;
  }
  [class*="1/"] {
    --b: 1;
  }
  [class*="2/"] {
    --b: 2;
  }
  [class*="3/"] {
    --b: 3;
  }
  [class*="4/"] {
    --b: 4;
  }
  [class*="5/"] {
    --b: 5;
  }
  [class*="6/"] {
    --b: 6;
  }
  [class*="7/"] {
    --b: 7;
  }
  [class*="8/"] {
    --b: 8;
  }
  [class*="9/"] {
    --b: 9;
  }
  [class*="100/"] {
    --b: 90;
  }
  [class*="(1"]:not([class*="(1/"]) {
    --o: 1;
  }
  [class*="(2"]:not([class*="(2/"]) {
    --o: 2;
  }
  [class*="(3"]:not([class*="(3/"]) {
    --o: 3;
  }
  [class*="(4"]:not([class*="(4/"]) {
    --o: 4;
  }
  [class*="(5"]:not([class*="(5/"]) {
    --o: 5;
  }
  [class*="(6"]:not([class*="(6/"]) {
    --o: 6;
  }
  [class*="(7"]:not([class*="(7/"]) {
    --o: 7;
  }
  [class*="(8"]:not([class*="(8/"]) {
    --o: 8;
  }
  [class*="(9"]:not([class*="(9/"]) {
    --o: 9;
  }
  [class*="1)"] {
    --i: 1;
  }
  [class*="2)"] {
    --i: 2;
  }
  [class*="3)"] {
    --i: 3;
  }
  [class*="4)"] {
    --i: 4;
  }
  [class*="5)"] {
    --i: 5;
  }
  [class*="6)"] {
    --i: 6;
  }
  [class*="7)"] {
    --i: 7;
  }
  [class*="8)"] {
    --i: 8;
  }
  [class*="9)"] {
    --i: 9;
  }
  [class*="/100"] {
    --i: 90;
  }
  [class*="/1"]:not([class*="/1)"]) {
    --n: 1;
  }
  [class*="/2"]:not([class*="/2)"]) {
    --n: 2;
  }
  [class*="/3"]:not([class*="/3)"]) {
    --n: 3;
  }
  [class*="/4"]:not([class*="/4)"]) {
    --n: 4;
  }
  [class*="/5"]:not([class*="/5)"]) {
    --n: 5;
  }
  [class*="/6"]:not([class*="/6)"]) {
    --n: 6;
  }
  [class*="/7"]:not([class*="/7)"]) {
    --n: 7;
  }
  [class*="/8"]:not([class*="/8)"]) {
    --n: 8;
  }
  [class*="/9"]:not([class*="/9)"]) {
    --n: 9;
  }
  [class*="/"] {
    width: calc(100% * (var(--o, 0) * 10 + var(--b, 1)) / (var(--n, 0) * 10 + var(--i, 1)) - (var(--gap, 0px) - var(--gap, 0px) / (var(--o, 0) * 10 + var(--b, 1)) / (var(--n, 0) * 10 + var(--i, 1))));
    flex: unset;
  }
  [class*="/"], [class*="}"] {
    display: flex;
    flex-wrap: wrap;
  }
  [class*="}"][class*=")"] {
    width: auto;
    min-width: calc(100% * (var(--o) * 10 + var(--b)) / (var(--n) * 10 + var(--i)) - (var(--gap, 0px) - var(--gap, 0px) * (var(--o) * 10 + var(--b)) / (var(--n) * 10 + var(--i))));
  }
  [class*=görünür] {
    display: inherit;
  }
  [class*=gizli] {
    display: none;
  }
  [class*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }
  [class*=block] {
    display: block;
  }
  [class*="ortalı yazı"] {
    text-align: center;
  }
  [class*="başuçlu yazı"] {
    text-align: start;
  }
  [class*="sollu yazı"] {
    text-align: left;
  }
  [class*="ayakuçlu yazı"] {
    text-align: end;
  }
  [class*="sağlı yazı"] {
    text-align: right;
  }
  [class*="yazıyı yasa"] {
    text-align: justify;
  }
  [class*=ortalı] {
    justify-content: center;
  }
  [class*="}"] {
    --b1: 0;
    --i1: 0;
    --o1: 0;
    --n1: 0;
  }
  [class*="1}"] {
    --b1: 1;
  }
  [class*="2}"] {
    --b1: 2;
  }
  [class*="3}"] {
    --b1: 3;
  }
  [class*="4}"] {
    --b1: 4;
  }
  [class*="5}"] {
    --b1: 5;
  }
  [class*="6}"] {
    --b1: 6;
  }
  [class*="7}"] {
    --b1: 7;
  }
  [class*="8}"] {
    --b1: 8;
  }
  [class*="9}"] {
    --b1: 9;
  }
  [class*="100}"] {
    --b1: 90;
  }
  [class*="{1"]:not([class*="{1}"]) {
    --o1: 1;
  }
  [class*="{2"]:not([class*="{2}"]) {
    --o1: 2;
  }
  [class*="{3"]:not([class*="{3}"]) {
    --o1: 3;
  }
  [class*="{4"]:not([class*="{4}"]) {
    --o1: 4;
  }
  [class*="{5"]:not([class*="{5}"]) {
    --o1: 5;
  }
  [class*="{6"]:not([class*="{6}"]) {
    --o1: 6;
  }
  [class*="{7"]:not([class*="{7}"]) {
    --o1: 7;
  }
  [class*="{8"]:not([class*="{8}"]) {
    --o1: 8;
  }
  [class*="{9"]:not([class*="{9}"]) {
    --o1: 9;
  }
  [class*="{"][class*="}"] {
    flex: calc(var(--o1) * 10 + var(--b1));
  }
}
@media screen and (min-width: 576px) {
  [küçük*="("] {
    --b: 0;
    --i: 0;
  }
  [küçük*="("][küçük*=")"] {
    --o: 0;
    --n: 0;
  }
  [küçük*="1/"] {
    --b: 1;
  }
  [küçük*="2/"] {
    --b: 2;
  }
  [küçük*="3/"] {
    --b: 3;
  }
  [küçük*="4/"] {
    --b: 4;
  }
  [küçük*="5/"] {
    --b: 5;
  }
  [küçük*="6/"] {
    --b: 6;
  }
  [küçük*="7/"] {
    --b: 7;
  }
  [küçük*="8/"] {
    --b: 8;
  }
  [küçük*="9/"] {
    --b: 9;
  }
  [küçük*="100/"] {
    --b: 90;
  }
  [küçük*="(1"]:not([küçük*="(1/"]) {
    --o: 1;
  }
  [küçük*="(2"]:not([küçük*="(2/"]) {
    --o: 2;
  }
  [küçük*="(3"]:not([küçük*="(3/"]) {
    --o: 3;
  }
  [küçük*="(4"]:not([küçük*="(4/"]) {
    --o: 4;
  }
  [küçük*="(5"]:not([küçük*="(5/"]) {
    --o: 5;
  }
  [küçük*="(6"]:not([küçük*="(6/"]) {
    --o: 6;
  }
  [küçük*="(7"]:not([küçük*="(7/"]) {
    --o: 7;
  }
  [küçük*="(8"]:not([küçük*="(8/"]) {
    --o: 8;
  }
  [küçük*="(9"]:not([küçük*="(9/"]) {
    --o: 9;
  }
  [küçük*="1)"] {
    --i: 1;
  }
  [küçük*="2)"] {
    --i: 2;
  }
  [küçük*="3)"] {
    --i: 3;
  }
  [küçük*="4)"] {
    --i: 4;
  }
  [küçük*="5)"] {
    --i: 5;
  }
  [küçük*="6)"] {
    --i: 6;
  }
  [küçük*="7)"] {
    --i: 7;
  }
  [küçük*="8)"] {
    --i: 8;
  }
  [küçük*="9)"] {
    --i: 9;
  }
  [küçük*="/100"] {
    --i: 90;
  }
  [küçük*="/1"]:not([küçük*="/1)"]) {
    --n: 1;
  }
  [küçük*="/2"]:not([küçük*="/2)"]) {
    --n: 2;
  }
  [küçük*="/3"]:not([küçük*="/3)"]) {
    --n: 3;
  }
  [küçük*="/4"]:not([küçük*="/4)"]) {
    --n: 4;
  }
  [küçük*="/5"]:not([küçük*="/5)"]) {
    --n: 5;
  }
  [küçük*="/6"]:not([küçük*="/6)"]) {
    --n: 6;
  }
  [küçük*="/7"]:not([küçük*="/7)"]) {
    --n: 7;
  }
  [küçük*="/8"]:not([küçük*="/8)"]) {
    --n: 8;
  }
  [küçük*="/9"]:not([küçük*="/9)"]) {
    --n: 9;
  }
  [küçük*="/"] {
    width: calc(100% * (var(--o, 0) * 10 + var(--b, 1)) / (var(--n, 0) * 10 + var(--i, 1)) - (var(--gap, 0px) - var(--gap, 0px) / (var(--o, 0) * 10 + var(--b, 1)) / (var(--n, 0) * 10 + var(--i, 1))));
    flex: unset;
  }
  [küçük*="/"], [küçük*="}"] {
    display: flex;
    flex-wrap: wrap;
  }
  [küçük*="}"][küçük*=")"] {
    width: auto;
    min-width: calc(100% * (var(--o) * 10 + var(--b)) / (var(--n) * 10 + var(--i)) - (var(--gap, 0px) - var(--gap, 0px) * (var(--o) * 10 + var(--b)) / (var(--n) * 10 + var(--i))));
  }
  [küçük*=görünür] {
    display: inherit;
  }
  [küçük*=gizli] {
    display: none;
  }
  [küçük*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }
  [küçük*=block] {
    display: block;
  }
  [küçük*="ortalı yazı"] {
    text-align: center;
  }
  [küçük*="başuçlu yazı"] {
    text-align: start;
  }
  [küçük*="sollu yazı"] {
    text-align: left;
  }
  [küçük*="ayakuçlu yazı"] {
    text-align: end;
  }
  [küçük*="sağlı yazı"] {
    text-align: right;
  }
  [küçük*="yazıyı yasa"] {
    text-align: justify;
  }
  [küçük*=ortalı] {
    justify-content: center;
  }
  [küçük*="}"] {
    --b1: 0;
    --i1: 0;
    --o1: 0;
    --n1: 0;
  }
  [küçük*="1}"] {
    --b1: 1;
  }
  [küçük*="2}"] {
    --b1: 2;
  }
  [küçük*="3}"] {
    --b1: 3;
  }
  [küçük*="4}"] {
    --b1: 4;
  }
  [küçük*="5}"] {
    --b1: 5;
  }
  [küçük*="6}"] {
    --b1: 6;
  }
  [küçük*="7}"] {
    --b1: 7;
  }
  [küçük*="8}"] {
    --b1: 8;
  }
  [küçük*="9}"] {
    --b1: 9;
  }
  [küçük*="100}"] {
    --b1: 90;
  }
  [küçük*="{1"]:not([küçük*="{1}"]) {
    --o1: 1;
  }
  [küçük*="{2"]:not([küçük*="{2}"]) {
    --o1: 2;
  }
  [küçük*="{3"]:not([küçük*="{3}"]) {
    --o1: 3;
  }
  [küçük*="{4"]:not([küçük*="{4}"]) {
    --o1: 4;
  }
  [küçük*="{5"]:not([küçük*="{5}"]) {
    --o1: 5;
  }
  [küçük*="{6"]:not([küçük*="{6}"]) {
    --o1: 6;
  }
  [küçük*="{7"]:not([küçük*="{7}"]) {
    --o1: 7;
  }
  [küçük*="{8"]:not([küçük*="{8}"]) {
    --o1: 8;
  }
  [küçük*="{9"]:not([küçük*="{9}"]) {
    --o1: 9;
  }
  [küçük*="{"][küçük*="}"] {
    flex: calc(var(--o1) * 10 + var(--b1));
  }
}
@media screen and (min-width: 768px) {
  [orta*="("] {
    --b: 0;
    --i: 0;
  }
  [orta*="("][orta*=")"] {
    --o: 0;
    --n: 0;
  }
  [orta*="1/"] {
    --b: 1;
  }
  [orta*="2/"] {
    --b: 2;
  }
  [orta*="3/"] {
    --b: 3;
  }
  [orta*="4/"] {
    --b: 4;
  }
  [orta*="5/"] {
    --b: 5;
  }
  [orta*="6/"] {
    --b: 6;
  }
  [orta*="7/"] {
    --b: 7;
  }
  [orta*="8/"] {
    --b: 8;
  }
  [orta*="9/"] {
    --b: 9;
  }
  [orta*="100/"] {
    --b: 90;
  }
  [orta*="(1"]:not([orta*="(1/"]) {
    --o: 1;
  }
  [orta*="(2"]:not([orta*="(2/"]) {
    --o: 2;
  }
  [orta*="(3"]:not([orta*="(3/"]) {
    --o: 3;
  }
  [orta*="(4"]:not([orta*="(4/"]) {
    --o: 4;
  }
  [orta*="(5"]:not([orta*="(5/"]) {
    --o: 5;
  }
  [orta*="(6"]:not([orta*="(6/"]) {
    --o: 6;
  }
  [orta*="(7"]:not([orta*="(7/"]) {
    --o: 7;
  }
  [orta*="(8"]:not([orta*="(8/"]) {
    --o: 8;
  }
  [orta*="(9"]:not([orta*="(9/"]) {
    --o: 9;
  }
  [orta*="1)"] {
    --i: 1;
  }
  [orta*="2)"] {
    --i: 2;
  }
  [orta*="3)"] {
    --i: 3;
  }
  [orta*="4)"] {
    --i: 4;
  }
  [orta*="5)"] {
    --i: 5;
  }
  [orta*="6)"] {
    --i: 6;
  }
  [orta*="7)"] {
    --i: 7;
  }
  [orta*="8)"] {
    --i: 8;
  }
  [orta*="9)"] {
    --i: 9;
  }
  [orta*="/100"] {
    --i: 90;
  }
  [orta*="/1"]:not([orta*="/1)"]) {
    --n: 1;
  }
  [orta*="/2"]:not([orta*="/2)"]) {
    --n: 2;
  }
  [orta*="/3"]:not([orta*="/3)"]) {
    --n: 3;
  }
  [orta*="/4"]:not([orta*="/4)"]) {
    --n: 4;
  }
  [orta*="/5"]:not([orta*="/5)"]) {
    --n: 5;
  }
  [orta*="/6"]:not([orta*="/6)"]) {
    --n: 6;
  }
  [orta*="/7"]:not([orta*="/7)"]) {
    --n: 7;
  }
  [orta*="/8"]:not([orta*="/8)"]) {
    --n: 8;
  }
  [orta*="/9"]:not([orta*="/9)"]) {
    --n: 9;
  }
  [orta*="/"] {
    width: calc(100% * (var(--o, 0) * 10 + var(--b, 1)) / (var(--n, 0) * 10 + var(--i, 1)) - (var(--gap, 0px) - var(--gap, 0px) / (var(--o, 0) * 10 + var(--b, 1)) / (var(--n, 0) * 10 + var(--i, 1))));
    flex: unset;
  }
  [orta*="/"], [orta*="}"] {
    display: flex;
    flex-wrap: wrap;
  }
  [orta*="}"][orta*=")"] {
    width: auto;
    min-width: calc(100% * (var(--o) * 10 + var(--b)) / (var(--n) * 10 + var(--i)) - (var(--gap, 0px) - var(--gap, 0px) * (var(--o) * 10 + var(--b)) / (var(--n) * 10 + var(--i))));
  }
  [orta*=görünür] {
    display: inherit;
  }
  [orta*=gizli] {
    display: none;
  }
  [orta*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }
  [orta*=block] {
    display: block;
  }
  [orta*="ortalı yazı"] {
    text-align: center;
  }
  [orta*="başuçlu yazı"] {
    text-align: start;
  }
  [orta*="sollu yazı"] {
    text-align: left;
  }
  [orta*="ayakuçlu yazı"] {
    text-align: end;
  }
  [orta*="sağlı yazı"] {
    text-align: right;
  }
  [orta*="yazıyı yasa"] {
    text-align: justify;
  }
  [orta*=ortalı] {
    justify-content: center;
  }
  [orta*="}"] {
    --b1: 0;
    --i1: 0;
    --o1: 0;
    --n1: 0;
  }
  [orta*="1}"] {
    --b1: 1;
  }
  [orta*="2}"] {
    --b1: 2;
  }
  [orta*="3}"] {
    --b1: 3;
  }
  [orta*="4}"] {
    --b1: 4;
  }
  [orta*="5}"] {
    --b1: 5;
  }
  [orta*="6}"] {
    --b1: 6;
  }
  [orta*="7}"] {
    --b1: 7;
  }
  [orta*="8}"] {
    --b1: 8;
  }
  [orta*="9}"] {
    --b1: 9;
  }
  [orta*="100}"] {
    --b1: 90;
  }
  [orta*="{1"]:not([orta*="{1}"]) {
    --o1: 1;
  }
  [orta*="{2"]:not([orta*="{2}"]) {
    --o1: 2;
  }
  [orta*="{3"]:not([orta*="{3}"]) {
    --o1: 3;
  }
  [orta*="{4"]:not([orta*="{4}"]) {
    --o1: 4;
  }
  [orta*="{5"]:not([orta*="{5}"]) {
    --o1: 5;
  }
  [orta*="{6"]:not([orta*="{6}"]) {
    --o1: 6;
  }
  [orta*="{7"]:not([orta*="{7}"]) {
    --o1: 7;
  }
  [orta*="{8"]:not([orta*="{8}"]) {
    --o1: 8;
  }
  [orta*="{9"]:not([orta*="{9}"]) {
    --o1: 9;
  }
  [orta*="{"][orta*="}"] {
    flex: calc(var(--o1) * 10 + var(--b1));
  }
}
@media screen and (min-width: 992px) {
  [büyük*="("] {
    --b: 0;
    --i: 0;
  }
  [büyük*="("][büyük*=")"] {
    --o: 0;
    --n: 0;
  }
  [büyük*="1/"] {
    --b: 1;
  }
  [büyük*="2/"] {
    --b: 2;
  }
  [büyük*="3/"] {
    --b: 3;
  }
  [büyük*="4/"] {
    --b: 4;
  }
  [büyük*="5/"] {
    --b: 5;
  }
  [büyük*="6/"] {
    --b: 6;
  }
  [büyük*="7/"] {
    --b: 7;
  }
  [büyük*="8/"] {
    --b: 8;
  }
  [büyük*="9/"] {
    --b: 9;
  }
  [büyük*="100/"] {
    --b: 90;
  }
  [büyük*="(1"]:not([büyük*="(1/"]) {
    --o: 1;
  }
  [büyük*="(2"]:not([büyük*="(2/"]) {
    --o: 2;
  }
  [büyük*="(3"]:not([büyük*="(3/"]) {
    --o: 3;
  }
  [büyük*="(4"]:not([büyük*="(4/"]) {
    --o: 4;
  }
  [büyük*="(5"]:not([büyük*="(5/"]) {
    --o: 5;
  }
  [büyük*="(6"]:not([büyük*="(6/"]) {
    --o: 6;
  }
  [büyük*="(7"]:not([büyük*="(7/"]) {
    --o: 7;
  }
  [büyük*="(8"]:not([büyük*="(8/"]) {
    --o: 8;
  }
  [büyük*="(9"]:not([büyük*="(9/"]) {
    --o: 9;
  }
  [büyük*="1)"] {
    --i: 1;
  }
  [büyük*="2)"] {
    --i: 2;
  }
  [büyük*="3)"] {
    --i: 3;
  }
  [büyük*="4)"] {
    --i: 4;
  }
  [büyük*="5)"] {
    --i: 5;
  }
  [büyük*="6)"] {
    --i: 6;
  }
  [büyük*="7)"] {
    --i: 7;
  }
  [büyük*="8)"] {
    --i: 8;
  }
  [büyük*="9)"] {
    --i: 9;
  }
  [büyük*="/100"] {
    --i: 90;
  }
  [büyük*="/1"]:not([büyük*="/1)"]) {
    --n: 1;
  }
  [büyük*="/2"]:not([büyük*="/2)"]) {
    --n: 2;
  }
  [büyük*="/3"]:not([büyük*="/3)"]) {
    --n: 3;
  }
  [büyük*="/4"]:not([büyük*="/4)"]) {
    --n: 4;
  }
  [büyük*="/5"]:not([büyük*="/5)"]) {
    --n: 5;
  }
  [büyük*="/6"]:not([büyük*="/6)"]) {
    --n: 6;
  }
  [büyük*="/7"]:not([büyük*="/7)"]) {
    --n: 7;
  }
  [büyük*="/8"]:not([büyük*="/8)"]) {
    --n: 8;
  }
  [büyük*="/9"]:not([büyük*="/9)"]) {
    --n: 9;
  }
  [büyük*="/"] {
    width: calc(100% * (var(--o, 0) * 10 + var(--b, 1)) / (var(--n, 0) * 10 + var(--i, 1)) - (var(--gap, 0px) - var(--gap, 0px) / (var(--o, 0) * 10 + var(--b, 1)) / (var(--n, 0) * 10 + var(--i, 1))));
    flex: unset;
  }
  [büyük*="/"], [büyük*="}"] {
    display: flex;
    flex-wrap: wrap;
  }
  [büyük*="}"][büyük*=")"] {
    width: auto;
    min-width: calc(100% * (var(--o) * 10 + var(--b)) / (var(--n) * 10 + var(--i)) - (var(--gap, 0px) - var(--gap, 0px) * (var(--o) * 10 + var(--b)) / (var(--n) * 10 + var(--i))));
  }
  [büyük*=görünür] {
    display: inherit;
  }
  [büyük*=gizli] {
    display: none;
  }
  [büyük*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }
  [büyük*=block] {
    display: block;
  }
  [büyük*="ortalı yazı"] {
    text-align: center;
  }
  [büyük*="başuçlu yazı"] {
    text-align: start;
  }
  [büyük*="sollu yazı"] {
    text-align: left;
  }
  [büyük*="ayakuçlu yazı"] {
    text-align: end;
  }
  [büyük*="sağlı yazı"] {
    text-align: right;
  }
  [büyük*="yazıyı yasa"] {
    text-align: justify;
  }
  [büyük*=ortalı] {
    justify-content: center;
  }
  [büyük*="}"] {
    --b1: 0;
    --i1: 0;
    --o1: 0;
    --n1: 0;
  }
  [büyük*="1}"] {
    --b1: 1;
  }
  [büyük*="2}"] {
    --b1: 2;
  }
  [büyük*="3}"] {
    --b1: 3;
  }
  [büyük*="4}"] {
    --b1: 4;
  }
  [büyük*="5}"] {
    --b1: 5;
  }
  [büyük*="6}"] {
    --b1: 6;
  }
  [büyük*="7}"] {
    --b1: 7;
  }
  [büyük*="8}"] {
    --b1: 8;
  }
  [büyük*="9}"] {
    --b1: 9;
  }
  [büyük*="100}"] {
    --b1: 90;
  }
  [büyük*="{1"]:not([büyük*="{1}"]) {
    --o1: 1;
  }
  [büyük*="{2"]:not([büyük*="{2}"]) {
    --o1: 2;
  }
  [büyük*="{3"]:not([büyük*="{3}"]) {
    --o1: 3;
  }
  [büyük*="{4"]:not([büyük*="{4}"]) {
    --o1: 4;
  }
  [büyük*="{5"]:not([büyük*="{5}"]) {
    --o1: 5;
  }
  [büyük*="{6"]:not([büyük*="{6}"]) {
    --o1: 6;
  }
  [büyük*="{7"]:not([büyük*="{7}"]) {
    --o1: 7;
  }
  [büyük*="{8"]:not([büyük*="{8}"]) {
    --o1: 8;
  }
  [büyük*="{9"]:not([büyük*="{9}"]) {
    --o1: 9;
  }
  [büyük*="{"][büyük*="}"] {
    flex: calc(var(--o1) * 10 + var(--b1));
  }
}
@media screen and (min-width: 1200px) {
  [koca*="("] {
    --b: 0;
    --i: 0;
  }
  [koca*="("][koca*=")"] {
    --o: 0;
    --n: 0;
  }
  [koca*="1/"] {
    --b: 1;
  }
  [koca*="2/"] {
    --b: 2;
  }
  [koca*="3/"] {
    --b: 3;
  }
  [koca*="4/"] {
    --b: 4;
  }
  [koca*="5/"] {
    --b: 5;
  }
  [koca*="6/"] {
    --b: 6;
  }
  [koca*="7/"] {
    --b: 7;
  }
  [koca*="8/"] {
    --b: 8;
  }
  [koca*="9/"] {
    --b: 9;
  }
  [koca*="100/"] {
    --b: 90;
  }
  [koca*="(1"]:not([koca*="(1/"]) {
    --o: 1;
  }
  [koca*="(2"]:not([koca*="(2/"]) {
    --o: 2;
  }
  [koca*="(3"]:not([koca*="(3/"]) {
    --o: 3;
  }
  [koca*="(4"]:not([koca*="(4/"]) {
    --o: 4;
  }
  [koca*="(5"]:not([koca*="(5/"]) {
    --o: 5;
  }
  [koca*="(6"]:not([koca*="(6/"]) {
    --o: 6;
  }
  [koca*="(7"]:not([koca*="(7/"]) {
    --o: 7;
  }
  [koca*="(8"]:not([koca*="(8/"]) {
    --o: 8;
  }
  [koca*="(9"]:not([koca*="(9/"]) {
    --o: 9;
  }
  [koca*="1)"] {
    --i: 1;
  }
  [koca*="2)"] {
    --i: 2;
  }
  [koca*="3)"] {
    --i: 3;
  }
  [koca*="4)"] {
    --i: 4;
  }
  [koca*="5)"] {
    --i: 5;
  }
  [koca*="6)"] {
    --i: 6;
  }
  [koca*="7)"] {
    --i: 7;
  }
  [koca*="8)"] {
    --i: 8;
  }
  [koca*="9)"] {
    --i: 9;
  }
  [koca*="/100"] {
    --i: 90;
  }
  [koca*="/1"]:not([koca*="/1)"]) {
    --n: 1;
  }
  [koca*="/2"]:not([koca*="/2)"]) {
    --n: 2;
  }
  [koca*="/3"]:not([koca*="/3)"]) {
    --n: 3;
  }
  [koca*="/4"]:not([koca*="/4)"]) {
    --n: 4;
  }
  [koca*="/5"]:not([koca*="/5)"]) {
    --n: 5;
  }
  [koca*="/6"]:not([koca*="/6)"]) {
    --n: 6;
  }
  [koca*="/7"]:not([koca*="/7)"]) {
    --n: 7;
  }
  [koca*="/8"]:not([koca*="/8)"]) {
    --n: 8;
  }
  [koca*="/9"]:not([koca*="/9)"]) {
    --n: 9;
  }
  [koca*="/"] {
    width: calc(100% * (var(--o, 0) * 10 + var(--b, 1)) / (var(--n, 0) * 10 + var(--i, 1)) - (var(--gap, 0px) - var(--gap, 0px) / (var(--o, 0) * 10 + var(--b, 1)) / (var(--n, 0) * 10 + var(--i, 1))));
    flex: unset;
  }
  [koca*="/"], [koca*="}"] {
    display: flex;
    flex-wrap: wrap;
  }
  [koca*="}"][koca*=")"] {
    width: auto;
    min-width: calc(100% * (var(--o) * 10 + var(--b)) / (var(--n) * 10 + var(--i)) - (var(--gap, 0px) - var(--gap, 0px) * (var(--o) * 10 + var(--b)) / (var(--n) * 10 + var(--i))));
  }
  [koca*=görünür] {
    display: inherit;
  }
  [koca*=gizli] {
    display: none;
  }
  [koca*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }
  [koca*=block] {
    display: block;
  }
  [koca*="ortalı yazı"] {
    text-align: center;
  }
  [koca*="başuçlu yazı"] {
    text-align: start;
  }
  [koca*="sollu yazı"] {
    text-align: left;
  }
  [koca*="ayakuçlu yazı"] {
    text-align: end;
  }
  [koca*="sağlı yazı"] {
    text-align: right;
  }
  [koca*="yazıyı yasa"] {
    text-align: justify;
  }
  [koca*=ortalı] {
    justify-content: center;
  }
  [koca*="}"] {
    --b1: 0;
    --i1: 0;
    --o1: 0;
    --n1: 0;
  }
  [koca*="1}"] {
    --b1: 1;
  }
  [koca*="2}"] {
    --b1: 2;
  }
  [koca*="3}"] {
    --b1: 3;
  }
  [koca*="4}"] {
    --b1: 4;
  }
  [koca*="5}"] {
    --b1: 5;
  }
  [koca*="6}"] {
    --b1: 6;
  }
  [koca*="7}"] {
    --b1: 7;
  }
  [koca*="8}"] {
    --b1: 8;
  }
  [koca*="9}"] {
    --b1: 9;
  }
  [koca*="100}"] {
    --b1: 90;
  }
  [koca*="{1"]:not([koca*="{1}"]) {
    --o1: 1;
  }
  [koca*="{2"]:not([koca*="{2}"]) {
    --o1: 2;
  }
  [koca*="{3"]:not([koca*="{3}"]) {
    --o1: 3;
  }
  [koca*="{4"]:not([koca*="{4}"]) {
    --o1: 4;
  }
  [koca*="{5"]:not([koca*="{5}"]) {
    --o1: 5;
  }
  [koca*="{6"]:not([koca*="{6}"]) {
    --o1: 6;
  }
  [koca*="{7"]:not([koca*="{7}"]) {
    --o1: 7;
  }
  [koca*="{8"]:not([koca*="{8}"]) {
    --o1: 8;
  }
  [koca*="{9"]:not([koca*="{9}"]) {
    --o1: 9;
  }
  [koca*="{"][koca*="}"] {
    flex: calc(var(--o1) * 10 + var(--b1));
  }
}
[class*=sağlı] {
  margin-left: auto;
}

[küçük*=sağlı] {
  margin-left: auto;
}

[orta*=sağlı] {
  margin-left: auto;
}

[büyük*=sağlı] {
  margin-left: auto;
}

[koca*=sağlı] {
  margin-left: auto;
}/*# sourceMappingURL=deveb.css.map */