<nav>
  <input id="menü-ana" type="radio" name="ana-menü" data-kapaç="çaprazlama gizle">
  <label for="menü-ana">•••</label>
  <label for="menü-ana-çapraz">///</label>
  <ul class="imge" data-menü="görünür dikey">
    <li class="{% if page.url == '/0.1/' %}etkin{% endif %}">
      <a href="/0.1/">Giriş</a>
    </li>
    <li class="{% if page.url == '/0.1/kurulum' %}etkin{% endif %}">
      <a href="/0.1/kurulum">Kurulum</a>
    </li>
    <li class="{% if page.url == '/0.1/ekran-orgusu' %}etkin{% endif %}">
      <a href="/0.1/ekran-orgusu">Ekran Örgüsü</a>
    </li>
    <li class="{% if page.url == '/0.1/kap-orgusu' %}etkin{% endif %}">
      <a href="/0.1/kap-orgusu">Kap Örgüsü</a>
      <input id="kap-örgüsü" type="checkbox" {% if page.url == '/0.1/kap-orgusu' or page.url contains '/0.1/kap-orgusu/' or page.url contains '/0.1/ornekler/' %}checked{% endif %} data-kapaç="sağda">
      <label for="kap-örgüsü"><span>▽</span></label>
      <label for="kap-örgüsü"><span>▼</span></label>
      <ul>
        <li class="{% if page.url == '/0.1/kap-orgusu/parca-duzeni' %}etkin{% endif %}">
          <a href="/0.1/kap-orgusu/parca-duzeni.html">Parça Düzeni</a>
        </li>
        <li class="{% if page.url == '/0.1/kap-orgusu/genlesme-duzeni.html' %}etkin{% endif %}">
          <a href="/0.1/kap-orgusu/genlesme-duzeni.html">Genleşme Düzeni</a>
        </li>
        <li class="{% if page.url == '/0.1/kap-orgusu/konumlama.html' %}etkin{% endif %}">
          <a href="/0.1/kap-orgusu/konumlama.html">Konumlama</a>
        </li>
        <li class="{% if page.url == '/0.1/kap-orgusu/siralama.html' %}etkin{% endif %}">
          <a href="/0.1/kap-orgusu/siralama.html">Sıralama</a>
        </li>
        <li class="{% if page.url == '/0.1/kap-orgusu/olcekler.html' %}etkin{% endif %}">
          <a href="/0.1/kap-orgusu/olcekler.html">Ölçekler</a>
        </li>
        <li>
          <input id="kap-örgüsü-örnekler" type="checkbox" {% if page.url contains '/belgeler/ornekler/' %}checked{% endif %} data-kapaç="sağda">
          <label for="kap-örgüsü-örnekler"><a href="#">Örnekler</a><span>▽</span></label>
          <label for="kap-örgüsü-örnekler"><a href="#">Örnekler</a><span>▼</span></label>
          <ul>
            <li class="{% if page.url == '/0.1/ornekler/kap-orgusu-esit-bolme.html' %}etkin{% endif %}">
              <a href="/0.1/ornekler/kap-orgusu-esit-bolme.html">Eşit Bölme #1</a>
            </li>
            <li class="{% if page.url == '/0.1/ornekler/kap-orgusu-esit-bolme-2.html' %}etkin{% endif %}">
              <a href="/0.1/ornekler/kap-orgusu-esit-bolme-2.html">Eşit Bölme #2</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="{% if page.url == '/0.1/sekme-orgusu.html' %}etkin{% endif %}">
      <a href="/0.1/sekme-orgusu.html">Sekme Örgüsü</a>
    </li>
    <li class="{% if page.url == '/0.1/renk-orgusu.html' %}etkin{% endif %}">
      <a href="/0.1/renk-orgusu.html">Renk Örgüsü</a>
    </li>
    <li class="{% if page.url == '/0.1/terimler.html' %}etkin{% endif %}">
      <a href="/0.1/terimler.html">Terimler</a>
    </li>
    <li class="{% if page.url == '/0.1/takim.html' %}etkin{% endif %}">
      <a href="/0.1/takim.html">Takım</a>
    </li>
    <li class="{% if page.url == '/0.1/tarayici-destegi.html' %}etkin{% endif %}">
      <a href="/0.1/tarayici-destegi.html">Tarayıcı Desteği</a>
    </li>
  </ul>
</nav>
