<div class="main-menu" data-gnl="0 göbekte 2nc">
  <nav>
    <input id="menü-ana" name="ana-menü" data-kapaç="çaprazlama gizle" type="radio">
    <label for="menü-ana">•••</label>
    <label for="menü-ana-çapraz">✕</label>
    <ul data-menü="dikey sağ-kaval" data-gnl="solda" data-kçk="sağda">
      <li><a href="#">◘­◘­◘­<span>Anasayfa</span></a></li>
      <li><a href="#">◘­◘­◘­<span>Blog</span></a></li>
      <li><a href="#">◘­◘­◘<span>Hakkımızda</span></a></li>
      <li><a href="#">◘­◘­◘<span>İletişim</span></a></li>
    </ul>
  </nav>
</div>
