<div class="main-menu" data-gnl="0 göbekte 2nc">
  <nav>
    <input id="menü-ana" name="ana-menü" data-kapaç="çaprazlama gizle" type="radio">
    <label for="menü-ana">•••</label>
    <label for="menü-ana-çapraz">✕</label>
    <ul data-menü="dikey sağ-kaval">
      <li data-byk="gizle" style="margin-bottom:20px;">
        <a class="baş" data-gnl="0 üstte-ol" style="padding:0 10px;" href="#">
          <img style="width:100px; height:auto;" src="/temalar/sosero/assets/img/sosero.png" alt="SOSERO">
        </a>
        <label for="menü-ana-çapraz" onclick="document.body.classList.remove('gelgit-etkin');">
          <img src="/temalar/sosero/assets/img/menu/hamburger-x.svg" alt="">
        </label>
      </li>
      <li>
        <a href="urunler.html"><i class="simge-urunler"></i><span>Ürünler</span></a>
      </li>
      <li>
        <a href="tarifler.html"><i class="simge-yemek-tarifleri"></i><span>Yemek Tarifleri</span></a>
      </li>
      <li>
        <a href="tesisler.html"><i class="simge-uretim-tesisleri"></i><span>Üretim Tesisleri</span></a>
      </li>
      <li>
        <a href="katalog.html"><i class="simge-katalog"></i><span>Katalog</span></a>
      </li>
      <li>
        <a href="satisnoktalari.html"><i class="simge-satis-noktalari"></i><span>Satış Noktaları</span></a></li>
      <li>
        <a href="haberler.html"><i class="simge-haberler"></i><span>Haberler</span></a>
      </li>
      <li>
        <a href="hakkimizda.html"><i class="simge-hakkimizda"></i><span>Hakkımızda</span></a>
      </li>
      <li>
        <a href="iletisim.html"><i class="simge-iletisim"></i><span>İletişim</span></a>
      </li>
    </ul>
  </nav>
</div>
