<!DOCTYPE html>
<html lang="tr">
<head>
{% include temalar/ilker/baslangic.html %}
</head>
<body data-gnl="kaplam">
  <header>
    <div data-gnl="kap">
      <nav>
        <div data-gnl="0 o">
          İLKER
        </div>
        <input id="menü-0by" type="checkbox" data-kapaç="sağda">
        <label for="menü-0by">•••</label>
        <label for="menü-0by">✕</label>
        <ul data-menü="basit yatay" data-gnl="l" data-kçk="s">
          <li><a href="/temalar/ilker">Anasayfa</a></li>
          <li><a href="blog">Blog</a></li>
          <li><a href="#">Hakkımızda</a></li>
          <li><a href="#">İletişim</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <div data-gnl="kap">
      {% include temalar/ilker/taban.html %}
    </div>
  </footer>
</body>
</html>
