<!DOCTYPE html>
<html lang="tr">
<head>
{% include head.html %}
</head>
<body data-gnl="sütun">
  <header data-gnl="24" class="header">
  {% include header.html %}
  </header>
  {% if page.title %}<div data-gnl="1 1p">
    <h1>{{ page.title }}}</h1>
  </div>{% endif %
  <div data-gnl="23 göbekte-ol" data-dev="kaplama">
    <div data-gnl="24" data-ort="4">
    {% include icerik.html %}
    </div>
    <div data-gnl="24" data-ort="20">
    {{ content }}
    </div>
  </div>
  <footer data-gnl="24">
  {% include foot.html %}
  </footer>
</body>
</html>
