<!DOCTYPE html>
<html lang="tr">
<head>
{% include head.html %}
</head>
<body data-gnl="sütun ekranda">
  <header data-gnl="24 24p" class="header">
  {% include header.html %}
  </header>
  <div data-gnl="1g uzat oluk-çevre ekranda">
    <div class="sol-bölge" data-gnl="24 24p ekranda" data-kçk="4 24p">{% include icerik.html %}</div>
    <div data-gnl="24 24p oluk ekranda" data-kçk="20 24p">
      {% if page.title %}
      <div data-gnl="1 1p" class="sayfa-başlığı">
        <h1 data-gnl="23 24p ortada ortada-ol">{{ page.title }}</h1>
      </div>
      {% endif %}
      <div data-gnl="1 1p">
        {{ content }}
      </div>
    </div>
  </div>
  <footer data-gnl="24">
  {% include foot.html %}
  </footer>
</body>
</html>
