<!DOCTYPE html>
<html lang="tr">

  {% include head.html %}

  <body data-gnl="o" class="bg" style="min-height:100vh;">

    <div data-gnl="23 /24 kap">

      <div data-gnl="o" class="beri-üst-2">
        <div data-gnl="uzun-ol o" data-ort="6">
          <div data-gnl="o" data-etki="havada">
            <h1 class="metin-deveb" style="font-size:60pt; margin:0; justify-content:center; font-family: 'Comfortaa', cursive; color:#eee !important; display:flex;">deveb</h1>
            <p class="metin-gri-3 beri-1" style="font-size:13pt; text-align:center;">
              İşte bu! Yepyeni bir önyüz çatısı buldunuz. Ağ (web) sayfalarını tasarlarken deveb'in oluşturduğu özelliklerden yararlanın. Tüm uygulamalarınızı kapsamlı bileşenleri ile kolayca yapmaya başlayın. Görüntülük örgüsü, kesitlik örgüsü, renk örgüsü ve dahası İngilizce
              ve Türkçe olmak üzere iki dil desteği ile sizi bekliyor.
            </p>
            <p class="metin-gri-3 beri-2" data-gnl="o">
              <a data-bağ="genel" href="/0.1/">DEVEB 0.1</a>&nbsp;
              <a data-bağ="genel" href="/1.0/tr/">DEVEB öncü.1.0</a>&nbsp;
              <a data-bağ="genel" href="https://www.facebook.com/groups/1818283228485179/">KATIL</a>
            </p>
          </div>
        </div>
        <div data-gnl="uzat" data-ort="6">
          <div data-gnl="9" style="padding-left:2%">
            <div data-gnl class="beri-alt-1" style="font-size:500%;background-color:#ccc; height:200px;"></div>
            <div data-gnl class="ap-deveb beri-alt-1" style="height:60px;"></div>
            <div data-gnl="1 /5" class="ap-deveb beri-alt-1" style="height:80px;"></div>
            <div data-gnl="4 /5 uzun-ol">
              <div data-gnl="uzun-ol" class="beri-sol-1 beri-alt-1" style="background-color:#ccc;"></div>
            </div>
            <div data-gnl class="ap-deveb" style="height:60px;"></div>
          </div>
          <div data-gnl="3">
            <div data-gnl="9 uzun-ol" class="beri-sol-1 ap-deveb"></div>
          </div>
        </div>
      </div>

    </div>
    <footer data-gnl="_a">
      {% include foot.html %}
    </footer>
  </body>

</html>
