/* Türkçe http://www.objgen.com/json/models/nuZ   */

$destekleme: yanlış;
/* Ekran Örgüsü */
$gnl: gnl;
$mnk: mn;
$ufk: xs;
$kçk: sm;
$ort: md;
$byk: lg;
$kcm: xl;
$ulu: hg;

/* Kap Örgüsü */
$soldan: left;
$sağdan: right;
$görüntülük-kaplamı: full-screen;
$kaplam: full;

/* Sıralama Düzeni */
$nc: th;

/* Konumlama - Kap Örgüsü */
$sütun: col;
$satır: row;

$kaymadan: no-overflow;
$yatay-kayma: overflow-x;

$dürmeden: no-wrap;
$ters-dürme: wrap-reverse;
$ters-satır: row-reverse;
$ters-sütun: col-reverse;

$solda: left;
$ortada: middle;
$sağda: right;
$merkezde: center;
$üstte:top;
$göbekte:göbekte;
$altta: bottom;

$üstte-ol: be-top;
$göbekte-ol: göbekte-ol;
$altta-ol: be-bottom;
$sağda-ol: be-right;
$ortada-ol: be-center;
$solda-ol: be-left;

$araları-aralık: space-between;
$dengeli-aralık: space-around;
$uzat: uzat;
$uzun-ol: uzun-ol;

$satırda: overline;
$satırda-ol: be-overline;

$yazı-sağda: text-right;
$yazı-ortada: text-center;
$yazı-solda: text-left;

$sol: f;
$sağ: h;
$üst: t;
$alt: b;
$solüst: ft;
$üstsağ: th;
$altsağ: bh;
$solalt: fb;
$orta: g;
$üstalt: tb;
$solsağ: fh;

/* Durumlama - Kap Örgüsü */
$gizle: hide;
$bunu-gizle: hide-this;
$küçükleri-gizle: hide-smaller;
$büyükleri-gizle: hide-bigger;
$küçükleriyle-gizle: hide-with-smaller;
$büyükleriyle-gizle: hide-with-bigger;
$diğerlerini-gizle: hide-other;

/* */
$aralık: spacing;
$araları: araları;
$oluk-çevre: oluk-çevre;
$oluk: oluk;
$oluk-yok: oluk-yok;
$kap: container;
$bunu-kap: bunu-kap;
$küçükleri-kap: küçükleri-kap;
$küçükleriyle-kap: küçükleriyle-kap;
$büyükleriyle-kap: büyükleriyle-kap;
$büyükleri-kap: büyükleri-kap;
