// Türkçe http://www.objgen.com/json/models/nuZ

$destekleme: yanlış;
// Görüntülük Örgüsü
$gnl: gnl;
$mnk: mnk;
$ufk: ufk;
$kçk: kçk;
$ort: ort;
$byk: byk;
$kcm: kcm;
$ulu: ulu;

// Kap Örgüsü
$soldan: soldan;
$sağdan: sağdan;
$görüntülük-kaplamı: görüntülük-kaplamı;
$kaplam: kaplam;

// Sıralama Düzeni
$nc: nc;

// Konumlama - Kap Örgüsü
$sütun: sütun;
$satır: satır;

$kaymadan: kaymadan;
$yatay-kayma: yatay-kayma;

$dürmeden: dürmeden;
$ters-dürme: ters-dürme;
$ters-satır: ters-satır;
$ters-sütun: ters-sütun;

$solda: solda;
$ortada: ortada;
$sağda: sağda;
$merkezde: merkezde;
$üstte:üstte;
$göbekte:göbekte;
$altta: altta;

$üstte-ol: üstte-ol;
$göbekte-ol: göbekte-ol;
$altta-ol: altta-ol;
$sağda-ol: sağda-ol;
$ortada-ol: ortada-ol;
$solda-ol: solda-ol;

$araları-aralık: araları-aralık;
$dengeli-aralık: dengeli-aralık;
$uzat: uzat;
$uzun-ol: uzun-ol;

$satırda: satırda;
$satırda-ol: satırda-ol;

$yazı-sağda: metin-sağda;
$yazı-ortada: metin-ortada;
$yazı-solda: metin-solda;

$sol: l;
$sağ: s;
$üst: t;
$alt: a;
$solüst: lt;
$üstsağ: ts;
$altsağ: as;
$solalt: la;
$orta: o;
$üstalt: ta;
$solsağ: ls;

// Durumlama - Kap Örgüsü
$gizle: gizle;
$bunu-gizle: bunu-gizle;
$küçükleri-gizle: küçükleri-gizle;
$büyükleri-gizle: büyükleri-gizle;
$küçükleriyle-gizle: küçükleriyle-gizle;
$büyükleriyle-gizle: büyükleriyle-gizle;
$diğerlerini-gizle: diğerlerini-gizle;

//
$aralık: aralık;
$araları: araları;
$oluk-çevre: oluk-çevre;
$oluk: oluk;
$oluk-yok: oluk-yok;
$kap: kap;
$bunu-kap: bunu-kap;
$küçükleri-kap: küçükleri-kap;
$küçükleriyle-kap: küçükleriyle-kap;
$büyükleriyle-kap: büyükleriyle-kap;
$büyükleri-kap: büyükleri-kap;
