nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width:100%;
}

.imge{
  font-size:.9em;

}
.imge a{
  color:navy;
}

.imge[data-menü] li {
  margin-bottom:5px;
}
.imge[data-menü] li > ul {
  margin-top:5px;
  margin-left: 5px;
}
.imge[data-menü] li.etkin > a{
  background-color: lightsteelblue;
  border-radius: 8px;
}
.imge[data-menü] li.etkin > a:hover{
  background-color: lightsteelblue;
}
.imge[data-menü] li > a:hover{
  background-color:#ededed;
  border-radius: 8px;
}

.imge[data-menü] li > a,
.imge[data-menü] li > label{
  padding:5px 10px;
}

/* -----------------------------------
    MENÜ 0.01
   ----------------------------------- */

/* Genel */
ul[data-menü],
[data-menü] ul{
  padding:0;
  margin:0;
}
[data-menü] li{
  display: flex;
}
[data-kapaç] {
  display: none;  /* input her zaman gizlenir. */
}
[data-menü] li>label,
[data-menü] li>a{
  display: flex;
  flex-grow:1;
  cursor: pointer;
}
[data-kapaç]+label{
  display: flex;
}
[data-kapaç]+label+label{
  display: none;
}
a+[data-kapaç]+label,
a+[data-kapaç]+label+label{
  flex:0 0 auto !important;
  width:auto;
}

[data-kapaç]:checked+label,
[data-kapaç]+label+label {
  display: none;
}

[data-kapaç]+label,
[data-kapaç]:checked+label+label {
  display: flex;
}

[data-kapaç~="sağda"]+label,
[data-kapaç~="sağda"]+label+label {
  margin-left: auto;  /* menü kapacı sağa ötelenir */
  order: 98;  /* menü kapacı nerede olursa olsun en sondadır */
}
[data-kapaç~="sağda"]+label>a,
[data-kapaç~="sağda"]+label+label>a{
  margin-right:auto;
}
[data-kapaç~="solda"]+label>a,
[data-kapaç~="solda"]+label+label>a{
  margin-left:auto;
}
[data-kapaç~="solda"]+label,
[data-kapaç~="solda"]+label+label {
  margin-right: auto;  /* menü kapacı sola ötelenir */
  order: -98;  /* menü kapacı nerede olursa olsun en baştadır */
}
[data-kapaç]+label+label+ul {
  display: none;
  /* Varsayılan olarak gizli */
  width: 100%;
  /* Tam genişlik sebebiyle altta görünecek */
  order: 99;
  /* En son sırada olacağı için kod sırası önemsiz, karmaşa olmayacak. */
}
[data-kapaç]:checked+label+ul,
[data-kapaç]:checked+label+label+ul {
  display: flex;
  /* kapaç tetiklendiğinde menü görünür olur */
  flex-wrap: wrap;
  width:100%;
}
[data-menü~="dikey"] {
  flex-direction: column;
}
[data-menü~="dikey"] li {
  display: flex;
  /* en dış li hariç içerdeki liler flex olacak */
  align-items: center;
  flex-wrap: wrap;
}
[data-menü~="dikey"] li > ul {
  display:flex;
  flex-direction: column;
  width:100%;
}

[data-kapaç~="çaprazlama"]:checked+label,
[data-kapaç~="çaprazlama"]+label+label{
  display:flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width:auto;
  flex-wrap:nowrap;
}
[data-kapaç~="çaprazlama"]+label,
[data-kapaç~="çaprazlama"]:checked+label+label{
  display:none;
}
[data-kapaç~="çaprazlama"][data-kapaç~="gizle"]+label,
[data-kapaç~="çaprazlama"][data-kapaç~="gizle"]+label+label{
  display:none;
}


/* KÜÇÜK EKRANLAR */
@media screen and (max-width:578.9px) {

}
/* BÜYÜK EKRANLAR */
@media screen and (min-width:768px) {
  [data-kapaç]+label,
  [data-kapaç]+label+label,
  [data-kapaç]:checked+label+label{
    display: none;
  }
  [data-kapaç~="çaprazlama"]:checked+label,
  [data-kapaç~="çaprazlama"]+label+label{
    display:none;
  }
  [data-kapaç]:checked+label+ul,
  [data-menü] [data-kapaç]:checked+label+label+ul,
  [data-menü] [data-kapaç]:checked+label+label{
    display:flex;
  }
  [data-menü] {
    display: flex !important;
    flex: 1;
    flex-wrap:wrap;
  }
}



/////////////////////////////////////////////////////////////
// TABINDEX MENU

[data-kapaç][tabindex] {
    position: relative;
    display:inline-block;
}
[data-kapaç][tabindex]:before {
    content: "•BAS•";
}
[data-kapaç][tabindex]:focus {
    /* etikete tıklayarak kapaç geçişi yapmalı */
    pointer-events: none;
}
[data-kapaç][tabindex]:focus .içlik
//eğer açılan dallıktaki bir dala tıklanınca kapanmasını istemiyorsan .içlik:hover buraya ekle
{
    opacity: 1;
    visibility: visible;

    /* işaretçi olaylarının alt öğeleri etkilemesine izin verme */
    pointer-events: auto;
}
.içlik {
    position: absolute;
    z-index: 1;

    /* anında geçiş yapmak için */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.1s;
}




// TABINDEX ile dallık ve düğme

[data-dallık] {
  display: flex;
  padding: 0;
}

[data-dallık] ul {
  padding: 0;
}

[data-dallık] li {
  list-style-type: none;
}

[data-dallık] li>a {
  display: block;
}

[data-dallık] li>a+ul {
  position: absolute;
  z-index: 1;
  /* anında geçiş yapmak için */
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.1s;
}

[data-düğüm][tabindex]:focus+ul {
  opacity: 1;
  visibility: visible;
  /* işaretçi olaylarının alt öğeleri etkilemesine izin vermemek için auto yaz */
  pointer-events: auto;
  display: block;
}

[data-düğüm][tabindex]:focus {
  /* etikete tıklayarak kapaç geçişi yapmalı */
  pointer-events: none;
}

[data-düğüm][tabindex]+ul:hover {
  opacity: 1;
  visibility: visible;
  /* işaretçi olaylarının alt öğeleri etkilemesine izin verme */
  pointer-events: auto;
  display: block;
}

/*******************************************/

[data-dallık] li>a {
  padding: 10px 20px;
  background: orange;
}

[data-dallık] li>a:hover {
  background: red;
}

/*****************************/

[data-düğme~="öbek"] {
  display: inline-flex;
  position: relative;
  font-size:13px;
}

[data-düğme~="öbek"]>div:first-child {
  margin-right: -1px;
}

[data-düğüm][tabindex]+ul {
  position: absolute;
  z-index: 1;
  display: none;
  /* anında geçiş yapmak için */
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.1s;
  margin: 0;
  padding: 0;
}

[data-düğüm][tabindex]+ul li {
  list-style-type: none;
}

/* GÖRÜNÜŞ TANIMLA **/

[data-düğme]>a {
  padding: 3px 5px;
  display: block;
  border: 1px solid #953095;
  background-color: #2c2171;
color: #ffffff;
border-color: #1e164f;
  text-decoration: none;
  cursor: pointer;
}
[data-düğme]>a:hover,
[data-düğme]>a:focus{
  background-color: #1e164f;

}


[data-düğme~="öbek"] > a:first-child {
  border-radius: 4px 0 0 4px;
}

[data-düğme~="öbek"] > a:last-of-type {
  border-radius: 0 4px 4px 0;
}

[data-düğme~="öbek"]>[data-düğüm][tabindex]+ul {
  background: #fff;
  border-radius: .2rem;
  box-shadow: .01rem .1rem .3rem rgba(70, 80, 90, .4);
  list-style: none;
  margin: 0;
  min-width: 100%;
  padding: .4rem;
  transform: translateY(.2rem);
  z-index: 300;
  border: 1px solid #1e164f;
  background-color: whitesmoke;
  color: #1e164f;
  text-decoration: none;
  top: 100%;
  min-width: 100%;
}

[data-düğme~="öbek"]>[data-düğüm][tabindex]+ul a {
  padding: 5px 12px;
  display: block;
  color: #1e164f;
  text-decoration: none;
}
