nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width:100%;
}
.imge[data-menü] li {
  margin-bottom:5px;
}
.imge[data-menü] li > ul {
  margin-top:5px;
  margin-left: 5px;
}
.imge[data-menü] li.etkin > a{
  background-color:#dddddd;
  border-radius: 8px;
}
.imge[data-menü] li > a:hover{
  background-color:#ededed;
  border-radius: 8px;
}

.imge[data-menü] li > a,
.imge[data-menü] li > label{
  padding:5px 10px;
}

/* -----------------------------------
    MENÜ 0.01
   ----------------------------------- */

/* Genel */
ul[data-menü],
[data-menü] ul{
  padding:0;
  margin:0;
}
[data-menü] li{
  display: flex;
}
[data-kapaç] {
  display: none;  /* input her zaman gizlenir. */
}
[data-menü] li>label,
[data-menü] li>a{
  display: flex;
  flex-grow:1;
  cursor: pointer;
}
[data-kapaç]+label{
  display: flex;
}
[data-kapaç]+label+label{
  display: none;
}
a+[data-kapaç]+label,
a+[data-kapaç]+label+label{
  flex:0 0 auto !important;
  width:auto;
}

[data-kapaç]:checked+label,
[data-kapaç]+label+label {
  display: none;
}

[data-kapaç]+label,
[data-kapaç]:checked+label+label {
  display: flex;
}

[data-kapaç~="sağda"]+label,
[data-kapaç~="sağda"]+label+label {
  margin-left: auto;  /* menü kapacı sağa ötelenir */
  order: 98;  /* menü kapacı nerede olursa olsun en sondadır */
}
[data-kapaç~="sağda"]+label>a,
[data-kapaç~="sağda"]+label+label>a{
  margin-right:auto;
}
[data-kapaç~="solda"]+label>a,
[data-kapaç~="solda"]+label+label>a{
  margin-left:auto;
}
[data-kapaç~="solda"]+label,
[data-kapaç~="solda"]+label+label {
  margin-right: auto;  /* menü kapacı sola ötelenir */
  order: -98;  /* menü kapacı nerede olursa olsun en baştadır */
}
[data-kapaç]+label+label+ul {
  display: none;
  /* Varsayılan olarak gizli */
  width: 100%;
  /* Tam genişlik sebebiyle altta görünecek */
  order: 99;
  /* En son sırada olacağı için kod sırası önemsiz, karmaşa olmayacak. */
}
[data-kapaç]:checked+label+ul,
[data-kapaç]:checked+label+label+ul {
  display: flex;
  /* kapaç tetiklendiğinde menü görünür olur */
  flex-wrap: wrap;
  width:100%;
}
[data-menü~="dikey"] {
  flex-direction: column;
}
[data-menü~="dikey"] li {
  display: flex;
  /* en dış li hariç içerdeki liler flex olacak */
  align-items: center;
  flex-wrap: wrap;
}
[data-menü~="dikey"] li > ul {
  display:flex;
  flex-direction: column;
  width:100%;
}

[data-kapaç~="çaprazlama"]:checked+label,
[data-kapaç~="çaprazlama"]+label+label{
  display:flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width:auto;
  flex-wrap:nowrap;
}
[data-kapaç~="çaprazlama"]+label,
[data-kapaç~="çaprazlama"]:checked+label+label{
  display:none;
}
[data-kapaç~="çaprazlama"][data-kapaç~="gizle"]+label,
[data-kapaç~="çaprazlama"][data-kapaç~="gizle"]+label+label{
  display:none;
}


/* KÜÇÜK EKRANLAR */
@media screen and (max-width:578.9px) {

}
/* BÜYÜK EKRANLAR */
@media screen and (min-width:576px) {
  [data-kapaç]+label,
  [data-kapaç]+label+label,
  [data-kapaç]:checked+label+label{
    display: none;
  }
  [data-kapaç~="çaprazlama"]:checked+label,
  [data-kapaç~="çaprazlama"]+label+label{
    display:none;
  }
  [data-kapaç]:checked+label+ul,
  [data-menü] [data-kapaç]:checked+label+label+ul,
  [data-menü] [data-kapaç]:checked+label+label{
    display:flex;
  }
  [data-menü] {
    display: flex !important;
    flex: 1;
    flex-wrap:wrap;
  }
}
