/* Türkçe http://www.objgen.com/json/models/nuZ   */

$destekleme: yanlış;
/* Ekran Örgüsü */
$gnl: gnl;
$mnk: mn;
$ufk: xs;
$kçk: sm;
$ort: md;
$byk: lg;
$kcm: xl;
$dev: hg;

/* Kap Örgüsü */
$soldan: left;
$sağdan: right;

/* Konumlama - Kap Örgüsü */
$sütun: col;
$satır: row;

$kaymadan: no-overflow;
$yatay-kayma: overflow-x;

$dürmeden: no-wrap;
$ters-dürme: wrap-reverse;
$ters-satır: row-reverse;
$ters-sütun: col-reverse;

$solda: solda;
$ortada: ortada;
$sağda: sağda;
$merkezde: merkezde;
$üstte:üstte;
$göbekte:göbekte;
$altta: altta;

$üstte-ol: üstte-ol;
$göbekte-ol: göbekte-ol;
$altta-ol: altta-ol;
$sağda-ol: sağda-ol;
$ortada-ol: ortada-ol;
$solda-ol: solda-ol;

$araları-aralık: space-between;
$dengeli-aralık: space-around;
$uzat: uzat;
$uzun-ol: uzun-ol;

$satırda: satırda;
$satırda-ol: satırda-ol;

$metin-sağda: metin-sağda;
$metin-ortada: metin-ortada;
$metin-solda: metin-solda;

$sol: f;
$sağ: h;
$üst: t;
$alt: b;
$solüst: ft;
$üstsağ: th;
$altsağ: bh;
$solalt: fb;
$orta: g;
$üstalt: tb;
$solsağ: fh;

/* Durumlama - Kap Örgüsü */
$gizle: hide;
$bunu-gizle: hide-this;
$küçükleri-gizle: hide-smaller;
$büyükleri-gizle: hide-bigger;
$küçükleriyle-gizle: hide-with-smaller;
$büyükleriyle-gizle: hide-with-bigger;
$diğerlerini-gizle: hide-other;

/* */
$aralık: spacing;
$araları: araları;
$oluk-çevre: oluk-çevre;
$oluk: oluk;
$oluk-yok: oluk-yok;
$kap: container;
$bunu-kap: bunu-kap;
$küçükleri-kap: küçükleri-kap;
$küçükleriyle-kap: küçükleriyle-kap;
$büyükleriyle-kap: büyükleriyle-kap;
$büyükleri-kap: büyükleri-kap;
