/*
◘ KAP ÖRGÜSÜ 1.0
◘ Giriş notları //////////////////////////////////

*/

  @mixin parça-düzeni($ekran){
    @for $i from 1 through 24{
      [data-#{$ekran}~="#{$i}"]{--parça: #{$i};}
      [data-#{$ekran}~="#{$i}p"]{--parçalık: #{$i};}
    }
    [data-#{$ekran}][data-#{$ekran}]{
      width: calc(100% / var(--parçalık) * var(--parça));
      max-width: calc(100% / var(--parçalık) * var(--parça));
    }
  }  

  @mixin genleşme-düzeni($ekran) {
    @for $i from 1 through 24{
      [data-#{$ekran}~="#{$i}g"]{
        flex: #{$i};
      }
    }
    [data-#{$ekran}~="0"][data-#{$ekran}~="0"]{
      flex-basis: auto;
      max-width: none;
      width: auto;
    }
  }
  @mixin sıralama-düzeni($ekran) {
    @for $i from 1 through 24{
      [data-#{$ekran}~="#{$i}#{$nc}"]{
        order: #{$i};
      }
    }
  }
  @mixin aralık-düzeni($ekran){
    @for $i from 1 through 24{
      [data-#{$ekran}~="#{$soldan}-#{$i}"]{--parça-soldan: #{$i};}
      [data-#{$ekran}~="#{$i}p-#{$aralık}"]{--parçalık-soldan: #{$i};}
      [data-#{$ekran}~="#{$sağdan}-#{$i}"]{--parça-sağdan: #{$i};}
      [data-#{$ekran}~="#{$i}p-#{$aralık}"]{--parçalık-sağdan: #{$i};}
    }
    [data-#{$ekran}*="#{$soldan}-"]{
      margin-left: calc(100% / var(--parçalık) * var(--parça-soldan));
    }
    [data-#{$ekran}*="#{$sağdan}-"]{
      margin-right: calc(100% / var(--parçalık) * var(--parça-sağdan));
    }
    [data-#{$ekran}*="#{$soldan}-"][data-#{$ekran}*="p-#{$aralık}"]{
      margin-left: calc(100% / var(--parçalık-soldan) * var(--parça-soldan));
    }
    [data-#{$ekran}*="#{$sağdan}-"][data-#{$ekran}*="p-#{$aralık}"]{
      margin-right: calc(100% / var(--parçalık-sağdan) * var(--parça-sağdan));
    }

    [data-#{$ekran}*="#{$aralık}-1"]{margin: 10px;}
    [data-#{$ekran}*="#{$aralık}-2"]{margin: 15px;}
    [data-#{$ekran}*="#{$aralık}-3"]{margin: 20px;}
    [data-#{$ekran}*="#{$aralık}-l1"]{margin-left: 10px;}
    [data-#{$ekran}*="#{$aralık}-l2"]{margin-left: 15px;}
    [data-#{$ekran}*="#{$aralık}-l3"]{margin-left: 20px;}
    [data-#{$ekran}*="#{$aralık}-s1"]{margin-right: 10px;}
    [data-#{$ekran}*="#{$aralık}-s2"]{margin-right: 15px;}
    [data-#{$ekran}*="#{$aralık}-s3"]{margin-right: 20px;}
    [data-#{$ekran}*="#{$aralık}-t1"]{margin-top: 10px;}
    [data-#{$ekran}*="#{$aralık}-t2"]{margin-top: 15px;}
    [data-#{$ekran}*="#{$aralık}-t3"]{margin-top: 20px;}
    [data-#{$ekran}*="#{$aralık}-a1"]{margin-bottom: 10px;}
    [data-#{$ekran}*="#{$aralık}-a2"]{margin-bottom: 15px;}
    [data-#{$ekran}*="#{$aralık}-a3"]{margin-bottom: 20px;}
    [data-#{$ekran}*="#{$aralık}-ls1"]{margin-left: 10px;margin-right: 10px;}
    [data-#{$ekran}*="#{$aralık}-ls2"]{margin-left: 15px;margin-right: 15px;}
    [data-#{$ekran}*="#{$aralık}-ls3"]{margin-left: 20px;margin-right: 20px;}
    [data-#{$ekran}*="#{$aralık}-ta1"]{margin-top: 10px;margin-bottom: 10px;}
    [data-#{$ekran}*="#{$aralık}-ta2"]{margin-top: 15px;margin-bottom: 15px;}
    [data-#{$ekran}*="#{$aralık}-ta3"]{margin-top: 20px;margin-bottom: 20px;}


    [data-#{$ekran}~="#{$araları-aralık}-1"][data-#{$ekran}]{
      width: calc(100% / var(--parçalık) * var(--parça) + 10px);
      max-width: calc(100% / var(--parçalık) * var(--parça) + 10px);
      margin: -10px 0 0 -10px;
    }
    [data-#{$ekran}~="#{$araları-aralık}-2"][data-#{$ekran}]{
      width: calc(100% / var(--parçalık) * var(--parça) + 15px);
      max-width: calc(100% / var(--parçalık) * var(--parça) + 15px);
      margin: -15px 0 0 -15px;
    }
    [data-#{$ekran}~="#{$araları-aralık}-3"][data-#{$ekran}]{
      width: calc(100% / var(--parçalık) * var(--parça) + 20px);
      max-width: calc(100% / var(--parçalık) * var(--parça) + 20px);
      margin: -20px 0 0 -20px;
    }

    [data-#{$ekran}~="#{$araları-aralık}-1"] > *{padding-left:10px;padding-top:10px;}
    [data-#{$ekran}~="#{$araları-aralık}-2"] > *{padding-left:15px;padding-top:15px;}
    [data-#{$ekran}~="#{$araları-aralık}-3"] > *{padding-left:20px;padding-top:20px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-1"] > *{padding:10px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-2"] > *{padding:15px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-3"] > *{padding:20px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-l1"] > *{padding-left: 10px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-l2"] > *{padding-left: 15px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-l3"] > *{padding-left: 20px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-s1"] > *{padding-right: 10px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-s2"] > *{padding-right: 15px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-s3"] > *{padding-right: 20px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-t1"] > *{padding-top: 10px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-t2"] > *{padding-top: 15px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-t3"] > *{padding-top: 20px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-a1"] > *{padding-bottom: 10px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-a2"] > *{padding-bottom: 15px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-a3"] > *{padding-bottom: 20px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-ls1"] > *{padding-left: 10px;padding-right: 10px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-ls2"] > *{padding-left: 15px;padding-right: 15px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-ls3"] > *{padding-left: 20px;padding-right: 20px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-ta1"] > *{padding-top: 10px;padding-bottom: 10px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-ta2"] > *{padding-top: 15px;padding-bottom: 15px;}
    [data-#{$ekran}~="dengeli-#{$aralık}-ta3"] > *{padding-top: 20px;padding-bottom: 20px;}

    [data-#{$gnl}~="#{$aralık}"] > [data-#{$gnl}]{
      margin: var(--aralık);
      flex-basis: calc(100% / var(--parçalık) * var(--parça) - var(--ara) - var(--ara));
      width: calc(100% / var(--parçalık) * var(--parça) - var(--ara) - var(--ara));
      max-width:  calc(100% / var(--parçalık) * var(--parça) - var(--ara) - var(--ara));
    }

    [data-#{$gnl}~="#{$oluk-çevre}"] > [data-#{$gnl}]{
      padding: var(--oluk);
    }

    [data-#{$gnl}~="#{$oluk}"] > [data-#{$gnl}]{
      padding-left: var(--oluk);
      padding-right: var(--oluk);
    }

    [data-#{$gnl}~="#{$oluk-yok}"] > [data-#{$gnl}]{
      padding: 0
    }
  }

  @mixin dizem-düzeni($ekran){
    [data-#{$ekran}~="1r"] > div, [data-#{$ekran}~="1r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 1); max-width: calc(100% / 1);    }
    [data-#{$ekran}~="2r"] > div, [data-#{$ekran}~="2r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 2); max-width: calc(100% / 2);    }
    [data-#{$ekran}~="3r"] > div, [data-#{$ekran}~="3r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 3); max-width: calc(100% / 3);    }
    [data-#{$ekran}~="4r"] > div, [data-#{$ekran}~="4r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 4); max-width: calc(100% / 4);    }
    [data-#{$ekran}~="5r"] > div, [data-#{$ekran}~="5r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 5); max-width: calc(100% / 5);    }
    [data-#{$ekran}~="6r"] > div, [data-#{$ekran}~="6r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 6); max-width: calc(100% / 6);    }
    [data-#{$ekran}~="7r"] > div, [data-#{$ekran}~="7r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 7); max-width: calc(100% / 7);    }
    [data-#{$ekran}~="8r"] > div, [data-#{$ekran}~="8r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 8); max-width: calc(100% / 8);    }
    [data-#{$ekran}~="9r"] > div, [data-#{$ekran}~="9r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 9); max-width: calc(100% / 9);    }
    [data-#{$ekran}~="10r"] > div, [data-#{$ekran}~="10r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 10); max-width: calc(100% / 10);    }
    [data-#{$ekran}~="11r"] > div, [data-#{$ekran}~="11r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 11); max-width: calc(100% / 11);    }
    [data-#{$ekran}~="12r"] > div, [data-#{$ekran}~="12r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 12); max-width: calc(100% / 12);    }
    [data-#{$ekran}~="13r"] > div, [data-#{$ekran}~="13r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 13); max-width: calc(100% / 13);    }
    [data-#{$ekran}~="14r"] > div, [data-#{$ekran}~="14r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 14); max-width: calc(100% / 14);    }
    [data-#{$ekran}~="15r"] > div, [data-#{$ekran}~="15r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 15); max-width: calc(100% / 15);    }
    [data-#{$ekran}~="16r"] > div, [data-#{$ekran}~="16r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 16); max-width: calc(100% / 16);    }
    [data-#{$ekran}~="17r"] > div, [data-#{$ekran}~="17r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 17); max-width: calc(100% / 17);    }
    [data-#{$ekran}~="18r"] > div, [data-#{$ekran}~="18r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 18); max-width: calc(100% / 18);    }
    [data-#{$ekran}~="19r"] > div, [data-#{$ekran}~="19r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 19); max-width: calc(100% / 19);    }
    [data-#{$ekran}~="20r"] > div, [data-#{$ekran}~="20r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 20); max-width: calc(100% / 20);    }
    [data-#{$ekran}~="21r"] > div, [data-#{$ekran}~="21r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 21); max-width: calc(100% / 21);    }
    [data-#{$ekran}~="22r"] > div, [data-#{$ekran}~="22r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 22); max-width: calc(100% / 22);    }
    [data-#{$ekran}~="23r"] > div, [data-#{$ekran}~="23r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 23); max-width: calc(100% / 23);    }
    [data-#{$ekran}~="24r"] > div, [data-#{$ekran}~="24r"] > [data-gnl]:not([data-gnl*="p"]){   width: calc(100% / 24); max-width: calc(100% / 24);    }
  }


  @mixin sığ($ekran) {
    [data-#{$ekran}~="#{$sığ}"]{
      flex: 1 1 0 !important;
      overflow: auto;
      max-height: 100%;
    }    
    body[data-#{$ekran}~="#{$tamekran}"]{
      flex: 1 1 0 !important;
      overflow: auto;
      max-height: 100%;
      flex-direction: column;
      min-height: 100vh;
    }
  }


  @mixin konumlama($ekran) {
    [data-#{$ekran}~="#{$sütun}"]{flex-direction: column;}
    [data-#{$ekran}~="#{$satır}"]{flex-direction: row;}
    [data-#{$ekran}~="#{$ters-sütun}"]{flex-direction: column-reverse;}
    [data-#{$ekran}~="#{$ters-satır}"]{flex-direction: row-reverse;}

    [data-#{$ekran}~="#{$kaymadan}"]{overflow: hidden;}
    [data-#{$ekran}~="#{$yatay-kayma}"]{overflow-x: auto;}

    [data-#{$ekran}~="#{$dürmeden}"]{flex-wrap: nowrap !important;}
    [data-#{$ekran}~="#{$ters-dürme}"]{flex-wrap: wrap-reverse;}

    [data-#{$ekran}~="#{$sütun}"][data-#{$ekran}~="#{$üstte}"],
    [data-#{$ekran}~="#{$solda}"]:not([data-#{$ekran}~="#{$sütun}"]){justify-content: flex-start;}
    [data-#{$ekran}~="#{$sütun}"][data-#{$ekran}~="#{$göbekte}"],
    [data-#{$ekran}~="#{$ortada}"]:not([data-#{$ekran}~="#{$sütun}"]){justify-content: center;}
    [data-#{$ekran}~="#{$sütun}"][data-#{$ekran}~="#{$altta}"],
    [data-#{$ekran}~="#{$sağda}"]:not([data-#{$ekran}~="#{$sütun}"]){justify-content: flex-end;}
    [data-#{$ekran}~="#{$sütun}"][data-#{$ekran}~="#{$solda}"],
    [data-#{$ekran}~="#{$üstte}"]:not([data-#{$ekran}~="#{$sütun}"]){align-content: flex-start;}
    [data-#{$ekran}~="#{$sütun}"][data-#{$ekran}~="#{$ortada}"],
    [data-#{$ekran}~="#{$göbekte}"]:not([data-#{$ekran}~="#{$sütun}"]){align-content: center;}
    [data-#{$ekran}~="#{$sütun}"][data-#{$ekran}~="#{$sağda}"],
    [data-#{$ekran}~="#{$altta}"]:not([data-#{$ekran}~="#{$sütun}"]){align-content: flex-end;}

    [data-#{$ekran}~="#{$merkezde}"]{align-items: center;justify-content: center;}

    [data-#{$ekran}~="#{$üstte-ol}"]{align-self: flex-start;}
    [data-#{$ekran}~="#{$göbekte-ol}"]{align-self: center;}
    [data-#{$ekran}~="#{$altta-ol}"]{margin-top: auto}
    [data-#{$ekran}~="#{$sağda-ol}"]{margin-left: auto;align-self: flex-end;}
    [data-#{$ekran}~="#{$ortada-ol}"]{margin-left: auto;margin-right: auto;align-self: center;}
    [data-#{$ekran}~="#{$solda-ol}"]{margin-right: auto;align-self: flex-start;}

    [data-#{$ekran}~="#{$araları-aralık}"]:not([data-#{$ekran}~="#{$sütun}"]){justify-content: space-between;}
    [data-#{$ekran}~="#{$dengeli-aralık}"]:not([data-#{$ekran}~="#{$sütun}"]){justify-content: space-around;}
    [data-#{$ekran}~="#{$sütun}"][data-#{$ekran}~="#{$araları-aralık}"]{align-content: space-around;}
    [data-#{$ekran}~="#{$sütun}"][data-#{$ekran}~="#{$dengeli-aralık}"]{align-content: space-around;}

    [data-#{$ekran}~="#{$uzat}"]{align-items: stretch;}
    [data-#{$ekran}~="#{$uzun-ol}"]{align-self: stretch;}

    [data-#{$ekran}~="#{$satırda}"]{align-items: baseline;}
    [data-#{$ekran}~="#{$satırda-ol}"]{align-self: baseline;}

    [data-#{$ekran}~="#{$metin-sağda}"]{text-align: right}
    [data-#{$ekran}~="#{$metin-ortada}"]{text-align: center}
    [data-#{$ekran}~="#{$metin-solda}"]{text-align: left}

    [data-#{$ekran}~="#{$solüst}"],
    [data-#{$ekran}~="#{$üst}"][data-#{$ekran}~="#{$sütun}"],
    [data-#{$ekran}~="#{$üstsağ}"][data-#{$ekran}~="#{$sütun}"],
    [data-#{$ekran}~="#{$solalt}"],
    [data-#{$ekran}~="#{$sol}"]{
      justify-content: flex-start
    }

    [data-#{$ekran}~="#{$üst}"],
    [data-#{$ekran}~="#{$sağ}"][data-#{$ekran}~="#{$sütun}"],
    [data-#{$ekran}~="#{$alt}"],
    [data-#{$ekran}~="#{$sol}"][data-#{$ekran}~="#{$sütun}"],
    [data-#{$ekran}~="#{$orta}"]{
      justify-content: center
    }

    [data-#{$ekran}~="#{$üstsağ}"],
    [data-#{$ekran}~="#{$sağ}"],
    [data-#{$ekran}~="#{$altsağ}"],
    [data-#{$ekran}~="#{$alt}"][data-#{$ekran}~="#{$sütun}"],
    [data-#{$ekran}~="#{$solalt}"][data-#{$ekran}~="#{$sütun}"]{
      justify-content: flex-end
    }

    [data-#{$ekran}~="#{$solüst}"],
    [data-#{$ekran}~="#{$üst}"],
    [data-#{$ekran}~="#{$üstsağ}"],
    [data-#{$ekran}~="#{$solalt}"][data-#{$ekran}~="#{$sütun}"],
    [data-#{$ekran}~="#{$sol}"][data-#{$ekran}~="#{$sütun}"]{
      align-content: flex-start;
      align-items: flex-start;
    }

    [data-#{$ekran}~="#{$üst}"][data-#{$ekran}~="#{$sütun}"],
    [data-#{$ekran}~="#{$sağ}"],
    [data-#{$ekran}~="#{$alt}"][data-#{$ekran}~="#{$sütun}"],
    [data-#{$ekran}~="#{$sol}"]{
      /*align-content: inherit;*/
      align-items: center;
    }

    [data-#{$ekran}~="#{$üstsağ}"][data-#{$ekran}~="#{$sütun}"],
    [data-#{$ekran}~="#{$sağ}"][data-#{$ekran}~="#{$sütun}"],
    [data-#{$ekran}~="#{$altsağ}"],
    [data-#{$ekran}~="#{$alt}"],
    [data-#{$ekran}~="#{$solalt}"]{
      align-content: flex-end;
      align-items: flex-end;
    }

    [data-#{$ekran}~="#{$orta}"]{
      justify-content: center;
      /*align-content: center;*/
      align-items: center;
    }

    [data-#{$ekran}~="_#{$orta}"]:not([data-#{$ekran}~="_#{$sol}"]):not([data-#{$ekran}~="_#{$sağ}"]):not([data-#{$ekran}~="_#{$üst}"]):not([data-#{$ekran}~="_#{$alt}"]){
      align-self: center;
      margin-right: auto;
      margin-left: auto;
    }
    [data-#{$ekran}~="_#{$orta}"],
    [data-#{$ekran}~="_#{$sol}"],
    [data-#{$ekran}~="_#{$sağ}"]{
      align-self: center
    }

    :not([data-#{$ekran}~="#{$sütun}"]) > [data-#{$ekran}~="_#{$üst}"],
    [data-#{$ekran}~="_#{$solüst}"],
    [data-#{$ekran}~="_#{$üstsağ}"]{
      align-self: flex-start
    } 

    :not([data-#{$ekran}~="#{$sütun}"]) > [data-#{$ekran}~="_#{$alt}"],
    [data-#{$ekran}~="_#{$solalt}"],
    [data-#{$ekran}~="_#{$altsağ}"]{
      align-self: flex-end
    }

    [data-#{$ekran}~="_#{$sol}"],
    [data-#{$ekran}~="_#{$solüst}"],
    [data-#{$ekran}~="_#{$solalt}"]{
      margin-right: auto
    }

    [data-#{$ekran}~="_#{$sağ}"],
    [data-#{$ekran}~="_#{$üstsağ}"],
    [data-#{$ekran}~="_#{$altsağ}"]{
      margin-left: auto
    }

    [data-#{$ekran}~="#{$sütun}"]>[data-#{$ekran}~="_#{$üst}"],
    [data-#{$ekran}~="#{$sütun}"]>[data-#{$ekran}~="_#{$solüst}"],
    [data-#{$ekran}~="#{$sütun}"]>[data-#{$ekran}~="_#{$üstsağ}"]{
      margin-bottom: auto;
    }
    [data-#{$ekran}~="#{$sütun}"]>[data-#{$ekran}~="_#{$alt}"],
    [data-#{$ekran}~="#{$sütun}"]>[data-#{$ekran}~="_#{$solalt}"],
    [data-#{$ekran}~="#{$sütun}"]>[data-#{$ekran}~="_#{$altsağ}"]{
      margin-top: auto;
    }

    [data-#{$ekran}~="#{$sütun}"]>[data-#{$ekran}~="_#{$orta}"]:not([data-#{$ekran}~="_#{$sol}"]):not([data-#{$ekran}~="_#{$sağ}"]):not([data-#{$ekran}~="_#{$üst}"]):not([data-#{$ekran}~="_#{$alt}"]){
      margin-top: auto;
      margin-bottom: auto;
    }

    [data-#{$ekran}~="#{$üstalt}"]{
      align-content: stretch !important;
      align-items: stretch !important;
    }

    [data-#{$ekran}~="#{$solsağ}"]{
      justify-content: stretch !important;
    }
  }

  /*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  /*  G00 GENEL | Ekran ölçeği: 0 ≤ * < ∞
  /*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*  GS1 KAP ÖRGÜSÜ */

    [data-#{$gnl}]{
      --parça: 1; --parçalık:1;
    }
    [data-#{$gnl}],[data-#{$ufk}],[data-#{$kçk}],[data-#{$ort}],[data-#{$byk}],[data-#{$kcm}],[data-#{$dev}]{
      display:flex;
      flex-wrap:wrap;
    }

    [data-#{$gnl}~="#{$sütun}"]{
      flex-direction: column
    }
    [data-#{$gnl}~="#{$satır}"]{
      flex-direction: row
    }

    @include sığ($gnl);



    body[data-#{$gnl}~="#{$sütun}"] > footer{
      margin-top: auto
    }

    @include dizem-düzeni($gnl);
    @include parça-düzeni($gnl);
    /* Kap Örgüsü Ek Etkiler */
    @include aralık-düzeni($gnl);

    [data-#{$gnl}~="#{$kap}"]{
      margin-left: auto;
      margin-right: auto;}

    @include genleşme-düzeni($gnl);
    @include sıralama-düzeni($gnl);
    @include konumlama($gnl);

    [data-#{$gnl}~="#{$gizle}"],
    [data-#{$mnk}~="#{$gizle}"]{
      display: none !important}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S01 [data-#{$ufk}] UFAK-BÜYÜKLERİYLE | 300px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:300px) {
      :root{
        --oluk:10px;
        --ara:10px;
        }

      @include sığ($ufk);

      @include dizem-düzeni($ufk);
      @include parça-düzeni($ufk);
      @include genleşme-düzeni($ufk);
      @include sıralama-düzeni($ufk);
      @include konumlama($ufk);

      [data-#{$ufk}~="#{$gizle}"],
      [data-#{$ufk}~="#{$büyükleriyle-gizle}"],
      [data-#{$mnk}~="#{$büyükleri-gizle}"],
      [data-#{$mnk}~="#{$diğerlerini-gizle}"]{display: none !important;}
    }

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S02 kçk | Ekran ölçeği: 576px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:576px) {

      @include sığ($kçk);

      @include dizem-düzeni($kçk);
      @include parça-düzeni($kçk);
      @include genleşme-düzeni($kçk);
      @include sıralama-düzeni($kçk);

      @include konumlama($kçk);

      [data-#{$kçk}~="#{$gizle}"],
      [data-#{$kçk}~="#{$büyükleriyle-gizle}"],
      [data-#{$ufk}~="#{$büyükleri-gizle}"],
      [data-#{$ufk}~="#{$diğerlerini-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S03 ort | Ekran ölçeği: 768px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:768px) {

      @include sığ($ort);

      @include dizem-düzeni($ort);
      @include parça-düzeni($ort);
      @include genleşme-düzeni($ort);
      @include sıralama-düzeni($ort);
      @include konumlama($ort);

      [data-#{$ort}~="#{$gizle}"],
      [data-#{$ort}~="#{$büyükleriyle-gizle}"],
      [data-#{$kçk}~="#{$büyükleri-gizle}"],
      [data-#{$kçk}~="#{$diğerlerini-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S04 byk | Ekran ölçeği: 992px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:992px) {

      @include sığ($byk);

      @include dizem-düzeni($byk);
      @include parça-düzeni($byk);
      @include genleşme-düzeni($byk);
      @include sıralama-düzeni($byk);
      @include konumlama($byk);

      [data-#{$byk}~="#{$gizle}"],
      [data-#{$byk}~="#{$büyükleriyle-gizle}"],
      [data-#{$ort}~="#{$büyükleri-gizle}"],
      [data-#{$ort}~="#{$diğerlerini-gizle}"]
      {display: none !important;}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S05 kcm | Ekran ölçeği: 1200px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:1200px) {

      @include sığ($kcm);

      @include dizem-düzeni($kcm);
      @include parça-düzeni($kcm);
      @include genleşme-düzeni($kcm);
      @include sıralama-düzeni($kcm);
      @include konumlama($kcm);

      [data-#{$kcm}~="#{$gizle}"],
      [data-#{$kcm}~="#{$büyükleriyle-gizle}"],
      [data-#{$byk}~="#{$büyükleri-gizle}"],
      [data-#{$byk}~="#{$diğerlerini-gizle}"]
      {display: none !important;}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S06 dev | Ekran ölçeği: 1900px ≤ *
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:1900px) {

      @include sığ($dev);

      @include dizem-düzeni($dev);
      @include parça-düzeni($dev);
      @include genleşme-düzeni($dev);
      @include sıralama-düzeni($dev);
      @include konumlama($dev);

      [data-#{$gnl}~="#{$kap}"],[data-#{$dev}~="#{$kap}"],
      [data-#{$kcm}~="#{$büyükleri-kap}"],[data-#{$kcm}~="#{$büyükleriyle-kap}"],
      [data-#{$byk}~="#{$büyükleri-kap}"],[data-#{$byk}~="#{$büyükleriyle-kap}"],
      [data-#{$ort}~="#{$büyükleri-kap}"],[data-#{$ort}~="#{$büyükleriyle-kap}"],
      [data-#{$kçk}~="#{$büyükleri-kap}"],[data-#{$kçk}~="#{$büyükleriyle-kap}"],
      [data-#{$ufk}~="#{$büyükleri-kap}"],[data-#{$ufk}~="#{$büyükleriyle-kap}"],
      [data-#{$mnk}~="#{$büyükleri-kap}"],[data-#{$mnk}~="#{$büyükleriyle-kap}"]{
        max-width: 1890px !important;
      }

      [data-#{$dev}~="#{$gizle}"],
      [data-#{$dev}~="#{$büyükleriyle-gizle}"],
      [data-#{$kcm}~="#{$büyükleri-gizle}"],
      [data-#{$kcm}~="#{$diğerlerini-gizle}"]
      {display: none !important;}
    }

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    kcm | Ekran ölçeği: 0 < 1900px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:1900px) {
      [data-#{$dev}~="#{$küçükleri-gizle}"],
      [data-#{$dev}~="#{$diğerlerini-gizle}"],
      [data-#{$kcm}~="#{$küçükleriyle-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    byk | Ekran ölçeği: 0 < 1200px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:1200px) {
      [data-#{$kcm}~="#{$küçükleri-gizle}"],
      [data-#{$kcm}~="#{$diğerlerini-gizle}"],
      [data-#{$byk}~="#{$küçükleriyle-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ort | Ekran ölçeği: 0 < 992px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:993px) {
      [data-#{$byk}~="#{$küçükleri-gizle}"],
      [data-#{$byk}~="#{$diğerlerini-gizle}"],
      [data-#{$ort}~="#{$küçükleriyle-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    kçk | Ekran ölçeği: 0 < 768px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:768px) {
      [data-#{$ort}~="#{$küçükleri-gizle}"],
      [data-#{$ort}~="#{$diğerlerini-gizle}"],
      [data-#{$kçk}~="#{$küçükleriyle-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ufk | Ekran ölçeği: 0 < 576px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:576px) {
      body{font-size: 13px !important; font-size:1em;}
      h1{font-size:1.6em;}
        h2{font-size:1.5em;}
          h3{font-size:1.4em;}
            h4{font-size:1.3em;}
              h5{font-size:1.2em;}
                h6{font-size:1.1em}
      [data-#{$kçk}~="#{$küçükleri-gizle}"],
      [data-#{$kçk}~="#{$diğerlerini-gizle}"],
      [data-#{$ufk}~="#{$küçükleriyle-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    mnk | Ekran ölçeği: 0 < 300px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:300px) {
      [data-#{$ufk}~="#{$küçükleri-gizle}"],
      [data-#{$ufk}~="#{$diğerlerini-gizle}"],
      [data-#{$mnk}~="#{$küçükleriyle-gizle}"],
      [data-#{$mnk}~="#{$bunu-gizle}"]
      {display: none !important}
    }

/*  DUYARLI TİP - YALIN |< * >| */
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    mnk | Ekran ölçeği: 0 ≤ * < 300px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (max-width:300px) {
      [data-#{$gnl}~="#{$kap}"],
      [data-#{$mnk}~="#{$büyükleriyle-kap}"],
      [data-#{$mnk}~="#{$bunu-kap}"],
      [data-#{$mnk}~="#{$küçükleriyle-kap}"],
      [data-#{$ufk}~="#{$küçükleri-kap}"],[data-#{$ufk}~="#{$küçükleriyle-kap}"],
      [data-#{$kçk}~="#{$küçükleri-kap}"],[data-#{$kçk}~="#{$küçükleriyle-kap}"],
      [data-#{$ort}~="#{$küçükleri-kap}"],[data-#{$ort}~="#{$küçükleriyle-kap}"],
      [data-#{$byk}~="#{$küçükleri-kap}"],[data-#{$byk}~="#{$küçükleriyle-kap}"],
      [data-#{$kcm}~="#{$küçükleri-kap}"],[data-#{$kcm}~="#{$küçükleriyle-kap}"],
      [data-#{$dev}~="#{$küçükleri-kap}"],[data-#{$dev}~="#{$küçükleriyle-kap}"]{
        width: 100%;
        max-width: 100% !important;
      }
      /* Gizleme */
      [data-#{$mnk}~="#{$bunu-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ufk | Ekran ölçeği: 300px ≤ * < 576px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:300px) and (max-width:576px) {
      [data-#{$gnl}~="#{$kap}"],
      [data-#{$mnk}~="#{$büyükleri-kap}"],[data-#{$mnk}~="#{$büyükleriyle-kap}"],
      [data-#{$ufk}~="#{$büyükleriyle-kap}"],
      [data-#{$ufk}~="#{$bunu-kap}"],
      [data-#{$ufk}~="#{$küçükleriyle-kap}"],
      [data-#{$kçk}~="#{$küçükleri-kap}"],[data-#{$kçk}~="#{$küçükleriyle-kap}"],
      [data-#{$ort}~="#{$küçükleri-kap}"],[data-#{$ort}~="#{$küçükleriyle-kap}"],
      [data-#{$byk}~="#{$küçükleri-kap}"],[data-#{$byk}~="#{$küçükleriyle-kap}"],
      [data-#{$kcm}~="#{$küçükleri-kap}"],[data-#{$kcm}~="#{$küçükleriyle-kap}"],
      [data-#{$dev}~="#{$küçükleri-kap}"],[data-#{$dev}~="#{$küçükleriyle-kap}"]{
        width: 100%;
        max-width: calc(100% - 20px) !important;
      }
      /* Gizleme */
      [data-#{$ufk}~="#{$bunu-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    kçk | Ekran ölçeği: 576px ≤ * < 768px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:576px) and (max-width:768px) {
      [data-#{$gnl}~="#{$kap}"],
      [data-#{$mnk}~="#{$büyükleri-kap}"],[data-#{$mnk}~="#{$büyükleriyle-kap}"],
      [data-#{$ufk}~="#{$büyükleri-kap}"],[data-#{$ufk}~="#{$büyükleriyle-kap}"],
      [data-#{$kçk}~="#{$büyükleriyle-kap}"],
      [data-#{$kçk}~="#{$bunu-kap}"],
      [data-#{$kçk}~="#{$küçükleriyle-kap}"],
      [data-#{$ort}~="#{$küçükleri-kap}"],[data-#{$ort}~="#{$küçükleriyle-kap}"],
      [data-#{$byk}~="#{$küçükleri-kap}"],[data-#{$byk}~="#{$küçükleriyle-kap}"],
      [data-#{$kcm}~="#{$küçükleri-kap}"],[data-#{$kcm}~="#{$küçükleriyle-kap}"],
      [data-#{$dev}~="#{$küçükleri-kap}"],[data-#{$dev}~="#{$küçükleriyle-kap}"]{
        width: 100%;
        max-width: 566px !important;
      }
      /* Gizleme */
      [data-#{$kçk}~="#{$bunu-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ort | Ekran ölçeği: 768px ≤ * < 992px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:768px) and (max-width:992px) {
      [data-#{$gnl}~="#{$kap}"],
      [data-#{$mnk}~="#{$büyükleri-kap}"],[data-#{$mnk}~="#{$büyükleriyle-kap}"],
      [data-#{$ufk}~="#{$büyükleri-kap}"],[data-#{$ufk}~="#{$büyükleriyle-kap}"],
      [data-#{$kçk}~="#{$büyükleri-kap}"],[data-#{$kçk}~="#{$büyükleriyle-kap}"],
      [data-#{$ort}~="#{$büyükleriyle-kap}"],
      [data-#{$ort}~="#{$bunu-kap}"],
      [data-#{$ort}~="#{$küçükleriyle-kap}"],
      [data-#{$byk}~="#{$küçükleri-kap}"],[data-#{$byk}~="#{$küçükleriyle-kap}"],
      [data-#{$kcm}~="#{$küçükleri-kap}"],[data-#{$kcm}~="#{$küçükleriyle-kap}"],
      [data-#{$dev}~="#{$küçükleri-kap}"],[data-#{$dev}~="#{$küçükleriyle-kap}"]{
        width: 100%;
        max-width: 760px !important;
      }
      /* Gizleme */
      [data-#{$ort}~="#{$bunu-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    byk | Ekran ölçeği: 992px ≤ * < 1200px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:992px) and (max-width:1200px) {
      [data-#{$gnl}~="#{$kap}"],
      [data-#{$mnk}~="#{$büyükleri-kap}"],[data-#{$mnk}~="#{$büyükleriyle-kap}"],
      [data-#{$ufk}~="#{$büyükleri-kap}"],[data-#{$ufk}~="#{$büyükleriyle-kap}"],
      [data-#{$kçk}~="#{$büyükleri-kap}"],[data-#{$kçk}~="#{$büyükleriyle-kap}"],
      [data-#{$ort}~="#{$büyükleri-kap}"],[data-#{$ort}~="#{$büyükleriyle-kap}"],
      [data-#{$byk}~="#{$büyükleriyle-kap}"],
      [data-#{$byk}~="#{$bunu-kap}"],
      [data-#{$byk}~="#{$küçükleriyle-kap}"],
      [data-#{$kcm}~="#{$küçükleri-kap}"],[data-#{$kcm}~="#{$küçükleriyle-kap}"],
      [data-#{$dev}~="#{$küçükleri-kap}"],[data-#{$dev}~="#{$küçükleriyle-kap}"]{
        width: 100%;
        max-width: 960px !important;
      }
      /* Gizleme */
      [data-#{$byk}~="#{$bunu-gizle}"]
      {display: none !important}
    }
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    kcm | Ekran ölçeği: 1200px ≤ * < 1900px
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    @media screen and (min-width:1200px) and (max-width:1900px) {
      [data-#{$gnl}~="#{$kap}"],
      [data-#{$mnk}~="#{$büyükleri-kap}"],[data-#{$mnk}~="#{$büyükleriyle-kap}"],
      [data-#{$ufk}~="#{$büyükleri-kap}"],[data-#{$ufk}~="#{$büyükleriyle-kap}"],
      [data-#{$kçk}~="#{$büyükleri-kap}"],[data-#{$kçk}~="#{$büyükleriyle-kap}"],
      [data-#{$ort}~="#{$büyükleri-kap}"],[data-#{$ort}~="#{$büyükleriyle-kap}"],
      [data-#{$byk}~="#{$büyükleri-kap}"],[data-#{$byk}~="#{$büyükleriyle-kap}"],
      [data-#{$kcm}~="#{$büyükleriyle-kap}"],
      [data-#{$kcm}~="#{$bunu-kap}"],
      [data-#{$kcm}~="#{$küçükleriyle-kap}"]{
        width: 100%;
        max-width: 1140px !important;
      }
      /* Gizleme */
      [data-#{$kcm}~="#{$bunu-gizle}"]
      {display: none !important}
    }
