///////////////////////////////////////////////////////////////////////////////////////////////////
//                                                                                               //
//   KAP ÖRGÜSÜ s1.1.0                                                                           //
//                                                                                               //
//   Bu örgü "parça düzeni", "genleşme düzeni", "sıralama düzeni", "aralık düzeni",              //
//   "dizem düzeni", "konumlama" özellikleriyle oluşturulmuştur.                                 //
//                                                                                               //
///////////////////////////////////////////////////////////////////////////////////////////////////

// AYARLAR ////////////////////////////////////////////////////////////////////////////////////////

$p: 24; // parça düzeni ayarı

@mixin ayarlar(){

  :root,
  [data-#{$gnl}]{
    --a: 3; // parça düzeni varsayılan ölçeği
    --b: 3; // parça düzeni varsayılan ölçeği
    --c: 0; // parça düzeni varsayılan ölçeği
    --d: 0; // parça düzeni varsayılan ölçeği
  }

}

@mixin sondaki-ayarlar(){

  [data-#{$gnl}][data-#{$gnl}],
  [data-#{$ufk}][data-#{$ufk}],
  [data-#{$kçk}][data-#{$kçk}],
  [data-#{$ort}][data-#{$ort}],
  [data-#{$byk}][data-#{$byk}],
  [data-#{$kcm}][data-#{$kcm}],
  [data-#{$dev}][data-#{$dev}] {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c))); // Parça düzeni sayıştırma ayarları.
    max-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c))); // Parça düzeni sayıştırma ayarları.
  }

  [data-#{$gnl}~="/"],
  [data-#{$ufk}~="/"],
  [data-#{$kçk}~="/"],
  [data-#{$ort}~="/"],
  [data-#{$byk}~="/"],
  [data-#{$kcm}~="/"],
  [data-#{$dev}~="/"]{
    width: auto !important;
    max-width: 100% !important;
    flex: calc(var(--a) * 4 - var(--c)); // Esnek düzen sayıştırma ayarları
  }

}

// PARÇA DÜZENİ ///////////////////////////////////////////////////////////////////////////////////
//
//    Parça düzeni 1'den 24'e kadar düzenleri sağlayabilmek için özel yöntemlerle geliştirildi.
//    Temel birkaç matematik yönteminden yararlanılarak en yalın CSS satırları oluşturuldu.
//
//    Değişkenler: a, b, c, d
//    Denklemler: (a * 4 - c), (b * 4 - d)
//
//    a ve b değişkenlerine [1,2,3,4,5,6] değerlerinden bir tanesi atanır.
//    b ve d değişkenlerine [0,1,2,3] değerlerinden bir tanesi atanır.
//
//    Parça belirten sayıya erişmek için (a * 4 - c) denklemi kullanılır.
//    Parçalık belirten sayıya erişmek için (b * 4 - d) denklemi kullanılır.
//
//    Genişliği belirlemek için denklem şöyledir;
//    (100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)))
//
//    Not: Bu yöntemle daha önceden 24 satır parça, 24 satır parçalık ve 1 satırda genişlik
//    saydırmak için toplamda 49 satır CSS alanı kullanılırdı. Her ekran aralığı için bu
//    satırlar yeniden oluşturulur ve 343 satır gibi bir alan kullanılmış olurdu. Bu durum
//    yeni yöntemle 49 satıdan 19 satıra indirgendi. Böylelikle toplamda 343 satır yerine
//    133 satır ile yerden kazanç sağlandı.
//

@mixin parça-düzeni($görüntülük){

// Parça

  $i: 1;  $j: 0;

  @while $i <= $p {

    [data-#{$görüntülük}~="#{$i}"],[data-#{$görüntülük}~="#{$i+1}"],
    [data-#{$görüntülük}~="#{$i+2}"],[data-#{$görüntülük}~="#{$i+3}"]
    {--a: #{$j+1}; --c: 0}

    $i: $i + 4;    $j: $j + 1;
  }

  %#{$görüntülük}c-3 {--c: 3}
  %#{$görüntülük}c-2 {--c: 2}
  %#{$görüntülük}c-1 {--c: 1}

  $i: 1;
  @while $i <= $p {
      [data-#{$görüntülük}~="#{$i}"], {
          @extend %#{$görüntülük}c-3;
      }
      [data-#{$görüntülük}~="#{$i+1}"], {
          @extend %#{$görüntülük}c-2;
      }
      [data-#{$görüntülük}~="#{$i+2}"], {
          @extend %#{$görüntülük}c-1;
      }
      $i: $i + 4;
  }

// Parçalık

  $i: 1;  $j: 0;

  @while $i <= $p {

    [data-#{$görüntülük}~="/#{$i}"],[data-#{$görüntülük}~="/#{$i+1}"],
    [data-#{$görüntülük}~="/#{$i+2}"],[data-#{$görüntülük}~="/#{$i+3}"]
    {--b: #{$j+1}; --d: 0}

    $i: $i + 4;    $j: $j + 1;
  }

  %#{$görüntülük}d-3 {--d: 3}
  %#{$görüntülük}d-2 {--d: 2}
  %#{$görüntülük}d-1 {--d: 1}

  $i: 1;
  @while $i <= $p {
      [data-#{$görüntülük}~="/#{$i}"], {
          @extend %#{$görüntülük}d-3;
      }
      [data-#{$görüntülük}~="/#{$i+1}"], {
          @extend %#{$görüntülük}d-2;
      }
      [data-#{$görüntülük}~="/#{$i+2}"], {
          @extend %#{$görüntülük}d-1;
      }
      $i: $i + 4;
  }

}


// GENLEŞME DÜZENİ ////////////////////////////////////////////////////////////////////////////////
//
//    Flex özelliği ile oluşturulan genleşme düzeni 1'den 24'e kadar ölçeklenir. "g" harfiyle
//    kullanılır.
//
//    Doğal genişlikte olması istenilen kaplar "0" değeriyle belirtilir.
//

@mixin genleşme-düzeni($görüntülük) {

//  @for $i from 1 through $p {
//    [data-#{$görüntülük}~="#{$i}g"]{
//      flex: #{$i};
//    }
//  }

  [data-#{$görüntülük}~="0"][data-#{$görüntülük}~="0"]{
    flex-basis: auto;
    max-width: none !important;
    width: auto !important;
  }

}


// SIRALAMA DÜZENİ ///////////////////////////////////////////////////////////////////////////////
//
//    1'den 24'e kadar sıra sayısı vererek sıralamak için "nc" ile kullanılır.
//

@mixin sıralama-düzeni($görüntülük) {

  @for $i from 1 through 24{
    [data-#{$görüntülük}~="#{$i}#{$nc}"]{
      order: #{$i};
    }
  }

}


// ARALIK DÜZENİ ////////////////////////////////////////////////////////////////////////////////
//

@mixin aralık-düzeni($görüntülük){

// Parça-Soldan

  $i: 1;  $j: 0;
  @while $i <= $p {
    [data-#{$görüntülük}~="#{$i}-|"],[data-#{$görüntülük}~="#{$i+1}-|"],
    [data-#{$görüntülük}~="#{$i+2}-|"],[data-#{$görüntülük}~="#{$i+3}-|"]
    {--soldan-a: #{$j+1}; --soldan-c: 0}

    $i: $i + 4;    $j: $j + 1;
  }

  %#{$görüntülük}-soldan-c-3 {--soldan-c: 3}
  %#{$görüntülük}-soldan-c-2 {--soldan-c: 2}
  %#{$görüntülük}-soldan-c-1 {--soldan-c: 1}

  $i: 1;
  @while $i <= $p {
      [data-#{$görüntülük}~="#{$i}-|"], {
          @extend %#{$görüntülük}-soldan-c-3;
      }
      [data-#{$görüntülük}~="#{$i+1}-|"], {
          @extend %#{$görüntülük}-soldan-c-2;
      }
      [data-#{$görüntülük}~="#{$i+2}-|"], {
          @extend %#{$görüntülük}-soldan-c-1;
      }
      $i: $i + 4;
  }

// Parça-Sağdan

  $i: 1;  $j: 0;
  @while $i <= $p {
    [data-#{$görüntülük}~="|-#{$i}"],[data-#{$görüntülük}~="|-#{$i+1}"],
    [data-#{$görüntülük}~="|-#{$i+2}"],[data-#{$görüntülük}~="|-#{$i+3}"]
    {--sağdan-a: #{$j+1}; --sağdan-c: 0}

    $i: $i + 4;    $j: $j + 1;
  }

  %#{$görüntülük}-sağdan-c-3 {--sağdan-c: 3}
  %#{$görüntülük}-sağdan-c-2 {--sağdan-c: 2}
  %#{$görüntülük}-sağdan-c-1 {--sağdan-c: 1}

  $i: 1;
  @while $i <= $p {
      [data-#{$görüntülük}~="|-#{$i}"], {
          @extend %#{$görüntülük}-sağdan-c-3;
      }
      [data-#{$görüntülük}~="|-#{$i+1}"], {
          @extend %#{$görüntülük}-sağdan-c-2;
      }
      [data-#{$görüntülük}~="|-#{$i+2}"], {
          @extend %#{$görüntülük}-sağdan-c-1;
      }
      $i: $i + 4;
  }

// Parçalık-Aralık

  [data-#{$görüntülük}*="|-"],
  [data-#{$görüntülük}*="-|"]{
    --solara-b: var(--b);
    --solara-d: var(--d);
    --sağara-b: var(--b);
    --sağara-d: var(--d);
  }

  $i: 1;  $j: 0;
  @while $i <= $p {
    [data-#{$görüntülük}~="/#{$i}-|"],[data-#{$görüntülük}~="/#{$i+1}-|"],
    [data-#{$görüntülük}~="/#{$i+2}-|"],[data-#{$görüntülük}~="/#{$i+3}-|"]
    {--solara-b: #{$j+1}; --solara-d: 0}

    $i: $i + 4;    $j: $j + 1;
  }

  %#{$görüntülük}-solara-d-3 {--solara-d: 3}
  %#{$görüntülük}-solara-d-2 {--solara-d: 2}
  %#{$görüntülük}-solara-d-1 {--solara-d: 1}

  $i: 1;
  @while $i <= $p {
      [data-#{$görüntülük}~="/#{$i}-|"], {
          @extend %#{$görüntülük}-solara-d-3;
      }
      [data-#{$görüntülük}~="/#{$i+1}-|"], {
          @extend %#{$görüntülük}-solara-d-2;
      }
      [data-#{$görüntülük}~="/#{$i+2}-|"], {
          @extend %#{$görüntülük}-solara-d-1;
      }
      $i: $i + 4;
  }

  $i: 1;  $j: 0;
  @while $i <= $p {
    [data-#{$görüntülük}~="|-/#{$i}"],[data-#{$görüntülük}~="|-/#{$i+1}"],
    [data-#{$görüntülük}~="|-/#{$i+2}"],[data-#{$görüntülük}~="|-/#{$i+3}"]
    {--sağara-b: #{$j+1}; --sağara-d: 0}

    $i: $i + 4;    $j: $j + 1;
  }

  %#{$görüntülük}-sağara-d-3 {--sağara-d: 3}
  %#{$görüntülük}-sağara-d-2 {--sağara-d: 2}
  %#{$görüntülük}-sağara-d-1 {--sağara-d: 1}

  $i: 1;
  @while $i <= $p {
      [data-#{$görüntülük}~="|-/#{$i}"], {
          @extend %#{$görüntülük}-sağara-d-3;
      }
      [data-#{$görüntülük}~="|-/#{$i+1}"], {
          @extend %#{$görüntülük}-sağara-d-2;
      }
      [data-#{$görüntülük}~="|-/#{$i+2}"], {
          @extend %#{$görüntülük}-sağara-d-1;
      }
      $i: $i + 4;
  }

// Parça Düzeni Aralık Sayış

  [data-#{$görüntülük}*="-|"]{
    margin-left: calc(100% / (var(--solara-b) * 4 - var(--solara-d)) * (var(--soldan-a) * 4 - var(--soldan-c)));
  }
  [data-#{$görüntülük}*="|-"]{
    margin-right: calc(100% / (var(--sağara-b) * 4 - var(--sağara-d)) * (var(--sağdan-a) * 4 - var(--sağdan-c)));
  }

  [data-#{$görüntülük}*="#{$aralık}-1"]{margin: 10px}
  [data-#{$görüntülük}*="#{$aralık}-2"]{margin: 15px}
  [data-#{$görüntülük}*="#{$aralık}-3"]{margin: 20px}
  [data-#{$görüntülük}*="#{$aralık}-l1"]{margin-left: 10px}
  [data-#{$görüntülük}*="#{$aralık}-l2"]{margin-left: 15px}
  [data-#{$görüntülük}*="#{$aralık}-l3"]{margin-left: 20px}
  [data-#{$görüntülük}*="#{$aralık}-s1"]{margin-right: 10px}
  [data-#{$görüntülük}*="#{$aralık}-s2"]{margin-right: 15px}
  [data-#{$görüntülük}*="#{$aralık}-s3"]{margin-right: 20px}
  [data-#{$görüntülük}*="#{$aralık}-t1"]{margin-top: 10px}
  [data-#{$görüntülük}*="#{$aralık}-t2"]{margin-top: 15px}
  [data-#{$görüntülük}*="#{$aralık}-t3"]{margin-top: 20px}
  [data-#{$görüntülük}*="#{$aralık}-a1"]{margin-bottom: 10px}
  [data-#{$görüntülük}*="#{$aralık}-a2"]{margin-bottom: 15px}
  [data-#{$görüntülük}*="#{$aralık}-a3"]{margin-bottom: 20px}
  [data-#{$görüntülük}*="#{$aralık}-ls1"]{margin-left: 10px;margin-right: 10px}
  [data-#{$görüntülük}*="#{$aralık}-ls2"]{margin-left: 15px;margin-right: 15px}
  [data-#{$görüntülük}*="#{$aralık}-ls3"]{margin-left: 20px;margin-right: 20px}
  [data-#{$görüntülük}*="#{$aralık}-ta1"]{margin-top: 10px;margin-bottom: 10px}
  [data-#{$görüntülük}*="#{$aralık}-ta2"]{margin-top: 15px;margin-bottom: 15px}
  [data-#{$görüntülük}*="#{$aralık}-ta3"]{margin-top: 20px;margin-bottom: 20px}


  [data-#{$görüntülük}~="#{$araları-aralık}-1"][data-#{$görüntülük}]{
    width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)) + 10px);
    max-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)) + 10px);
    margin: -10px 0 0 -10px;
  }

  [data-#{$görüntülük}~="#{$araları-aralık}-2"][data-#{$görüntülük}]{
    width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)) + 15px);
    max-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)) + 15px);
    margin: -15px 0 0 -15px;
  }

  [data-#{$görüntülük}~="#{$araları-aralık}-3"][data-#{$görüntülük}]{
    width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)) + 20px);
    max-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)) + 20px);
    margin: -20px 0 0 -20px;
  }


  [data-#{$görüntülük}~="#{$araları-aralık}-1"] > *{padding-left:10px;padding-top:10px;}
  [data-#{$görüntülük}~="#{$araları-aralık}-2"] > *{padding-left:15px;padding-top:15px;}
  [data-#{$görüntülük}~="#{$araları-aralık}-3"] > *{padding-left:20px;padding-top:20px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-1"] > *{padding:10px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-2"] > *{padding:15px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-3"] > *{padding:20px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-l1"] > *{padding-left: 10px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-l2"] > *{padding-left: 15px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-l3"] > *{padding-left: 20px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-s1"] > *{padding-right: 10px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-s2"] > *{padding-right: 15px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-s3"] > *{padding-right: 20px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-t1"] > *{padding-top: 10px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-t2"] > *{padding-top: 15px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-t3"] > *{padding-top: 20px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-a1"] > *{padding-bottom: 10px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-a2"] > *{padding-bottom: 15px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-a3"] > *{padding-bottom: 20px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-ls1"] > *{padding-left: 10px;padding-right: 10px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-ls2"] > *{padding-left: 15px;padding-right: 15px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-ls3"] > *{padding-left: 20px;padding-right: 20px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-ta1"] > *{padding-top: 10px;padding-bottom: 10px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-ta2"] > *{padding-top: 15px;padding-bottom: 15px;}
  [data-#{$görüntülük}~="#{$dengeli-aralık}-ta3"] > *{padding-top: 20px;padding-bottom: 20px;}

//  [data-#{$gnl}~="#{$aralık}"] > [data-#{$gnl}]{
//    margin: var(--aralık);
//    flex-basis: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)) - var(--ara) - var(--ara));
//    width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)) - var(--ara) - var(--ara));
//    max-width:  calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)) - var(--ara) - var(--ara));
//  }

  [data-#{$gnl}~="#{$oluk-çevre}"] > [data-#{$gnl}]{
    padding: var(--oluk);
  }

//  [data-#{$gnl}~="#{$oluk}"] > [data-#{$gnl}]{
//    padding-left: var(--oluk);
//    padding-right: var(--oluk);
//  }

//  [data-#{$gnl}~="#{$oluk-yok}"] > [data-#{$gnl}]{
//    padding: 0
//  }

}


// DİZEM DÜZENİ ////////////////////////////////////////////////////////////////////////////////
//

@mixin dizem-düzeni($görüntülük){
  $i: 1;
  @while $i <= $p {
      $genişlik: 100% / $i;
      [data-#{$görüntülük}~="#{$i}r"] > div {
          width: #{$genişlik}; max-width: #{$genişlik};
      }      
      $i: $i + 1;
  }
}


// TAM EKRAN & SIĞ ////////////////////////////////////////////////////////////////////////////////
//
@mixin sığ($görüntülük) {

  [data-#{$görüntülük}~="#{$sığ}"]{
    flex: 1 1 0 !important;
    overflow: auto;
    max-height: 100%;
  }

  body[data-#{$görüntülük}~="#{$tamekran}"]{
    flex: 1 1 0 !important;
    overflow: auto;
    width:100%;
    height:100%;
    flex-direction: column;
    position: fixed;
  }

  body[data-#{$görüntülük}~="#{$sütun}"] > footer,
  body[data-#{$görüntülük}~="#{$tamekran}"] > footer{
    margin-top: auto
  }

}

// KONUMLAMA ////////////////////////////////////////////////////////////////////////////////
//

@mixin konumlama($görüntülük) {

  [data-#{$görüntülük}~="#{$sütun}"]{flex-direction: column}
  [data-#{$görüntülük}~="#{$ters-sütun}"]{flex-direction: column-reverse}

  [data-#{$görüntülük}~="#{$satır}"]{flex-direction: row}
  [data-#{$görüntülük}~="#{$ters-satır}"]{flex-direction: row-reverse}

  [data-#{$görüntülük}~="#{$kaymadan}"]{overflow: hidden}
  [data-#{$görüntülük}~="#{$yatay-kayma}"]{overflow-x: auto}

  [data-#{$görüntülük}~="#{$dürmeden}"]{flex-wrap: nowrap !important}
  [data-#{$görüntülük}~="#{$ters-dürme}"]{flex-wrap: wrap-reverse}



  [data-#{$görüntülük}~="#{$üst}"][data-#{$görüntülük}~="#{$sütun}"],
  [data-#{$görüntülük}~="#{$üstsağ}"][data-#{$görüntülük}~="#{$sütun}"],
  [data-#{$görüntülük}~="#{$solüst}"],
  [data-#{$görüntülük}~="#{$solalt}"],
  [data-#{$görüntülük}~="#{$sol}"]{
    justify-content: flex-start
  }

  [data-#{$görüntülük}~="#{$üst}"],
  [data-#{$görüntülük}~="#{$sağ}"][data-#{$görüntülük}~="#{$sütun}"],
  [data-#{$görüntülük}~="#{$alt}"],
  [data-#{$görüntülük}~="#{$sol}"][data-#{$görüntülük}~="#{$sütun}"],
  [data-#{$görüntülük}~="#{$orta}"]{
    justify-content: center
  }

  [data-#{$görüntülük}~="#{$üstsağ}"],
  [data-#{$görüntülük}~="#{$sağ}"],
  [data-#{$görüntülük}~="#{$altsağ}"],
  [data-#{$görüntülük}~="#{$alt}"][data-#{$görüntülük}~="#{$sütun}"],
  [data-#{$görüntülük}~="#{$solalt}"][data-#{$görüntülük}~="#{$sütun}"]{
    justify-content: flex-end
  }

  [data-#{$görüntülük}~="#{$solüst}"],
  [data-#{$görüntülük}~="#{$üst}"],
  [data-#{$görüntülük}~="#{$üstsağ}"],
  [data-#{$görüntülük}~="#{$solalt}"][data-#{$görüntülük}~="#{$sütun}"],
  [data-#{$görüntülük}~="#{$sol}"][data-#{$görüntülük}~="#{$sütun}"]{
    align-content: flex-start;
    align-items: flex-start
  }

  [data-#{$görüntülük}~="#{$üst}"][data-#{$görüntülük}~="#{$sütun}"],
  [data-#{$görüntülük}~="#{$sağ}"],
  [data-#{$görüntülük}~="#{$alt}"][data-#{$görüntülük}~="#{$sütun}"],
  [data-#{$görüntülük}~="#{$sol}"]{
    /*align-content: inherit;*/
    align-items: center
  }

  [data-#{$görüntülük}~="#{$üstsağ}"][data-#{$görüntülük}~="#{$sütun}"],
  [data-#{$görüntülük}~="#{$sağ}"][data-#{$görüntülük}~="#{$sütun}"],
  [data-#{$görüntülük}~="#{$altsağ}"],
  [data-#{$görüntülük}~="#{$alt}"],
  [data-#{$görüntülük}~="#{$solalt}"]{
    align-content: flex-end;
    align-items: flex-end
  }

  [data-#{$görüntülük}~="#{$orta}"]{
    justify-content: center;
    /*align-content: center;*/
    align-items: center
  }

  [data-#{$görüntülük}~="_#{$orta}"]:not([data-#{$görüntülük}~="_#{$sol}"]):not([data-#{$görüntülük}~="_#{$sağ}"]):not([data-#{$görüntülük}~="_#{$üst}"]):not([data-#{$görüntülük}~="_#{$alt}"]){
    align-self: center;
    margin-right: auto;
    margin-left: auto
  }

  [data-#{$görüntülük}~="_#{$orta}"],
  [data-#{$görüntülük}~="_#{$sol}"],
  [data-#{$görüntülük}~="_#{$sağ}"]{
    align-self: center
  }

  :not([data-#{$görüntülük}~="#{$sütun}"]) > [data-#{$görüntülük}~="_#{$üst}"],
  [data-#{$görüntülük}~="_#{$solüst}"],
  [data-#{$görüntülük}~="_#{$üstsağ}"]{
    align-self: flex-start
  }

  :not([data-#{$görüntülük}~="#{$sütun}"]) > [data-#{$görüntülük}~="_#{$alt}"],
  [data-#{$görüntülük}~="_#{$solalt}"],
  [data-#{$görüntülük}~="_#{$altsağ}"]{
    align-self: flex-end
  }

  [data-#{$görüntülük}~="_#{$sol}"],
  [data-#{$görüntülük}~="_#{$solüst}"],
  [data-#{$görüntülük}~="_#{$solalt}"]{
    margin-right: auto
  }

  [data-#{$görüntülük}~="_#{$sağ}"],
  [data-#{$görüntülük}~="_#{$üstsağ}"],
  [data-#{$görüntülük}~="_#{$altsağ}"]{
    margin-left: auto
  }

  [data-#{$görüntülük}~="#{$sütun}"]>[data-#{$görüntülük}~="_#{$üst}"],
  [data-#{$görüntülük}~="#{$sütun}"]>[data-#{$görüntülük}~="_#{$solüst}"],
  [data-#{$görüntülük}~="#{$sütun}"]>[data-#{$görüntülük}~="_#{$üstsağ}"]{
    margin-bottom: auto
  }
  [data-#{$görüntülük}~="#{$sütun}"]>[data-#{$görüntülük}~="_#{$alt}"],
  [data-#{$görüntülük}~="#{$sütun}"]>[data-#{$görüntülük}~="_#{$solalt}"],
  [data-#{$görüntülük}~="#{$sütun}"]>[data-#{$görüntülük}~="_#{$altsağ}"]{
    margin-top: auto
  }

  [data-#{$görüntülük}~="#{$sütun}"]>[data-#{$görüntülük}~="_#{$orta}"]:not([data-#{$görüntülük}~="_#{$sol}"]):not([data-#{$görüntülük}~="_#{$sağ}"]):not([data-#{$görüntülük}~="_#{$üst}"]):not([data-#{$görüntülük}~="_#{$alt}"]){
    margin-top: auto;
    margin-bottom: auto
  }

  [data-#{$görüntülük}~="#{$üstalt}"]{
    align-content: stretch !important;
    align-items: stretch !important
  }

  [data-#{$görüntülük}~="#{$solsağ}"]{
    justify-content: stretch !important
  }

  /********************************************************************************************/

  [data-#{$görüntülük}~="#{$araları-aralık}"]:not([data-#{$görüntülük}~="#{$sütun}"]){justify-content: space-between}

  [data-#{$görüntülük}~="#{$dengeli-aralık}"]:not([data-#{$görüntülük}~="#{$sütun}"]){justify-content: space-around}

  [data-#{$görüntülük}~="#{$araları-aralık}"][data-#{$görüntülük}~="#{$sütun}"]{align-content: space-around}

  [data-#{$görüntülük}~="#{$dengeli-aralık}"][data-#{$görüntülük}~="#{$sütun}"]{align-content: space-around}


  [data-#{$görüntülük}~="#{$uzat}"]{align-items: stretch}

  [data-#{$görüntülük}~="#{$uzun-ol}"]{align-self: stretch}


  [data-#{$görüntülük}~="#{$satırda}"]{align-items: baseline}

  [data-#{$görüntülük}~="#{$satırda-ol}"]{align-self: baseline}


  [data-#{$görüntülük}~="#{$metin-sağda}"]{text-align: right}

  [data-#{$görüntülük}~="#{$metin-ortada}"]{text-align: center}

  [data-#{$görüntülük}~="#{$metin-solda}"]{text-align: left}


  /**/[data-#{$görüntülük}~="#{$sütun}"][data-#{$görüntülük}~="#{$üstte}"],
  /**/[data-#{$görüntülük}~="#{$solda}"]:not([data-#{$görüntülük}~="#{$sütun}"]){justify-content: flex-start}

  /**/[data-#{$görüntülük}~="#{$sütun}"][data-#{$görüntülük}~="#{$göbekte}"],
  /**/[data-#{$görüntülük}~="#{$ortada}"]:not([data-#{$görüntülük}~="#{$sütun}"]){justify-content: center}

  /**/[data-#{$görüntülük}~="#{$sütun}"][data-#{$görüntülük}~="#{$altta}"],
  /**/[data-#{$görüntülük}~="#{$sağda}"]:not([data-#{$görüntülük}~="#{$sütun}"]){justify-content: flex-end}

  /**/[data-#{$görüntülük}~="#{$sütun}"][data-#{$görüntülük}~="#{$solda}"],
  /**/[data-#{$görüntülük}~="#{$üstte}"]:not([data-#{$görüntülük}~="#{$sütun}"]){align-content: flex-start}

  /**/[data-#{$görüntülük}~="#{$sütun}"][data-#{$görüntülük}~="#{$ortada}"],
  /**/[data-#{$görüntülük}~="#{$göbekte}"]:not([data-#{$görüntülük}~="#{$sütun}"]){align-content: center}

  /**/[data-#{$görüntülük}~="#{$sütun}"][data-#{$görüntülük}~="#{$sağda}"],
  /**/[data-#{$görüntülük}~="#{$altta}"]:not([data-#{$görüntülük}~="#{$sütun}"]){align-content: flex-end}


  [data-#{$görüntülük}~="#{$merkezde}"]{align-items: center;justify-content: center}


  [data-#{$görüntülük}~="#{$üstte-ol}"]{align-self: flex-start}

  [data-#{$görüntülük}~="#{$göbekte-ol}"]{align-self: center}

  [data-#{$görüntülük}~="#{$altta-ol}"]{margin-top: auto}

  [data-#{$görüntülük}~="#{$sağda-ol}"]{margin-left: auto;align-self: flex-end}

  [data-#{$görüntülük}~="#{$ortada-ol}"]{margin-left: auto;margin-right: auto;align-self: center}

  [data-#{$görüntülük}~="#{$solda-ol}"]{margin-right: auto;align-self: flex-start}

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/*  GENEL | Ekran ölçeği: 0 ≤ * < ∞
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@include ayarlar(); // CSS'in başında tanımlanan ayarlar.

@include sığ($gnl);

@include dizem-düzeni($gnl);

@include parça-düzeni($gnl);

@include aralık-düzeni($gnl);

@include genleşme-düzeni($gnl);

@include sıralama-düzeni($gnl);

@include konumlama($gnl);

[data-#{$gnl}~="#{$kap}"] {
  margin-left: auto;
  margin-right: auto
}

[data-#{$gnl}~="#{$gizle}"],
[data-#{$mnk}~="#{$gizle}"] {
  display: none !important
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S01 [data-ufk] UFAK-BÜYÜKLERİYLE | 300px ≤ *
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width:300px) {


  :root {
    --oluk: 10px;
    --ara: 10px;
  }


  @include sığ($ufk);

  @include dizem-düzeni($ufk);

  @include parça-düzeni($ufk);

  @include genleşme-düzeni($ufk);

  @include sıralama-düzeni($ufk);

  @include konumlama($ufk);


  [data-#{$ufk}~="#{$gizle}"],
  [data-#{$ufk}~="#{$büyükleriyle-gizle}"],
  [data-#{$mnk}~="#{$büyükleri-gizle}"],
  [data-#{$mnk}~="#{$diğerlerini-gizle}"] {
    display: none !important
  }


}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S02 kçk | Ekran ölçeği: 576px ≤ *
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width:576px) {


  @include sığ($kçk);

  @include dizem-düzeni($kçk);

  @include parça-düzeni($kçk);

  @include genleşme-düzeni($kçk);

  @include sıralama-düzeni($kçk);

  @include konumlama($kçk);


  [data-#{$kçk}~="#{$gizle}"],
  [data-#{$kçk}~="#{$büyükleriyle-gizle}"],
  [data-#{$ufk}~="#{$büyükleri-gizle}"],
  [data-#{$ufk}~="#{$diğerlerini-gizle}"] {
    display: none !important
  }


}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S03 ort | Ekran ölçeği: 768px ≤ *
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width:768px) {


  @include sığ($ort);

  @include dizem-düzeni($ort);

  @include parça-düzeni($ort);

  @include genleşme-düzeni($ort);

  @include sıralama-düzeni($ort);

  @include konumlama($ort);


  [data-#{$ort}~="#{$gizle}"],
  [data-#{$ort}~="#{$büyükleriyle-gizle}"],
  [data-#{$kçk}~="#{$büyükleri-gizle}"],
  [data-#{$kçk}~="#{$diğerlerini-gizle}"] {
    display: none !important
  }


}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S04 byk | Ekran ölçeği: 992px ≤ *
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width:992px) {


  @include sığ($byk);

  @include dizem-düzeni($byk);

  @include parça-düzeni($byk);

  @include genleşme-düzeni($byk);

  @include sıralama-düzeni($byk);

  @include konumlama($byk);


  [data-#{$byk}~="#{$gizle}"],
  [data-#{$byk}~="#{$büyükleriyle-gizle}"],
  [data-#{$ort}~="#{$büyükleri-gizle}"],
  [data-#{$ort}~="#{$diğerlerini-gizle}"] {
    display: none !important
  }


}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S05 kcm | Ekran ölçeği: 1200px ≤ *
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width:1200px) {


  @include sığ($kcm);

  @include dizem-düzeni($kcm);

  @include parça-düzeni($kcm);

  @include genleşme-düzeni($kcm);

  @include sıralama-düzeni($kcm);

  @include konumlama($kcm);


  [data-#{$kcm}~="#{$gizle}"],
  [data-#{$kcm}~="#{$büyükleriyle-gizle}"],
  [data-#{$byk}~="#{$büyükleri-gizle}"],
  [data-#{$byk}~="#{$diğerlerini-gizle}"] {
    display: none !important
  }


}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
S06 dev | Ekran ölçeği: 1900px ≤ *
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width:1900px) {


  @include sığ($dev);

  @include dizem-düzeni($dev);

  @include parça-düzeni($dev);

  @include genleşme-düzeni($dev);

  @include sıralama-düzeni($dev);

  @include konumlama($dev);


  [data-#{$gnl}~="#{$kap}"],
  [data-#{$dev}~="#{$kap}"],
  [data-#{$kcm}~="#{$büyükleri-kap}"],
  [data-#{$kcm}~="#{$büyükleriyle-kap}"],
  [data-#{$byk}~="#{$büyükleri-kap}"],
  [data-#{$byk}~="#{$büyükleriyle-kap}"],
  [data-#{$ort}~="#{$büyükleri-kap}"],
  [data-#{$ort}~="#{$büyükleriyle-kap}"],
  [data-#{$kçk}~="#{$büyükleri-kap}"],
  [data-#{$kçk}~="#{$büyükleriyle-kap}"],
  [data-#{$ufk}~="#{$büyükleri-kap}"],
  [data-#{$ufk}~="#{$büyükleriyle-kap}"],
  [data-#{$mnk}~="#{$büyükleri-kap}"],
  [data-#{$mnk}~="#{$büyükleriyle-kap}"] {
    max-width: 1890px !important
  }


  [data-#{$dev}~="#{$gizle}"],
  [data-#{$dev}~="#{$büyükleriyle-gizle}"],
  [data-#{$kcm}~="#{$büyükleri-gizle}"],
  [data-#{$kcm}~="#{$diğerlerini-gizle}"] {
    display: none !important
  }


}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
kcm | Ekran ölçeği: 0 < 1900px
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width:1900px) {


  [data-#{$dev}~="#{$küçükleri-gizle}"],
  [data-#{$dev}~="#{$diğerlerini-gizle}"],
  [data-#{$kcm}~="#{$küçükleriyle-gizle}"] {
    display: none !important
  }


}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
byk | Ekran ölçeği: 0 < 1200px
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width:1200px) {


  [data-#{$kcm}~="#{$küçükleri-gizle}"],
  [data-#{$kcm}~="#{$diğerlerini-gizle}"],
  [data-#{$byk}~="#{$küçükleriyle-gizle}"] {
    display: none !important
  }


}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ort | Ekran ölçeği: 0 < 992px
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width:993px) {


  [data-#{$byk}~="#{$küçükleri-gizle}"],
  [data-#{$byk}~="#{$diğerlerini-gizle}"],
  [data-#{$ort}~="#{$küçükleriyle-gizle}"] {
    display: none !important
  }


}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
kçk | Ekran ölçeği: 0 < 768px
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width:768px) {
  [data-#{$ort}~="#{$küçükleri-gizle}"],
  [data-#{$ort}~="#{$diğerlerini-gizle}"],
  [data-#{$kçk}~="#{$küçükleriyle-gizle}"] {
    display: none !important
  }
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ufk | Ekran ölçeği: 0 < 576px
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width:576px) {


  [data-#{$kçk}~="#{$küçükleri-gizle}"],
  [data-#{$kçk}~="#{$diğerlerini-gizle}"],
  [data-#{$ufk}~="#{$küçükleriyle-gizle}"] {
    display: none !important
  }


}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
mnk | Ekran ölçeği: 0 < 300px
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width:300px) {


  [data-#{$ufk}~="#{$küçükleri-gizle}"],
  [data-#{$ufk}~="#{$diğerlerini-gizle}"],
  [data-#{$mnk}~="#{$küçükleriyle-gizle}"],
  [data-#{$mnk}~="#{$bunu-gizle}"] {
    display: none !important
  }


}

/*  DUYARLI TİP - YALIN |< * >| */

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
mnk | Ekran ölçeği: 0 ≤ * < 300px
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width:300px) {


  [data-#{$gnl}~="#{$kap}"],
  [data-#{$mnk}~="#{$büyükleriyle-kap}"],
  [data-#{$mnk}~="#{$bunu-kap}"],
  [data-#{$mnk}~="#{$küçükleriyle-kap}"],
  [data-#{$ufk}~="#{$küçükleri-kap}"],
  [data-#{$ufk}~="#{$küçükleriyle-kap}"],
  [data-#{$kçk}~="#{$küçükleri-kap}"],
  [data-#{$kçk}~="#{$küçükleriyle-kap}"],
  [data-#{$ort}~="#{$küçükleri-kap}"],
  [data-#{$ort}~="#{$küçükleriyle-kap}"],
  [data-#{$byk}~="#{$küçükleri-kap}"],
  [data-#{$byk}~="#{$küçükleriyle-kap}"],
  [data-#{$kcm}~="#{$küçükleri-kap}"],
  [data-#{$kcm}~="#{$küçükleriyle-kap}"],
  [data-#{$dev}~="#{$küçükleri-kap}"],
  [data-#{$dev}~="#{$küçükleriyle-kap}"] {
    width: 100%;
    max-width: 100% !important
  }


  /* Gizleme */
  [data-#{$mnk}~="#{$bunu-gizle}"] {
    display: none !important
  }


}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ufk | Ekran ölçeği: 300px ≤ * < 576px
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width:300px) and (max-width:576px) {


  [data-#{$gnl}~="#{$kap}"],
  [data-#{$mnk}~="#{$büyükleri-kap}"],
  [data-#{$mnk}~="#{$büyükleriyle-kap}"],
  [data-#{$ufk}~="#{$büyükleriyle-kap}"],
  [data-#{$ufk}~="#{$bunu-kap}"],
  [data-#{$ufk}~="#{$küçükleriyle-kap}"],
  [data-#{$kçk}~="#{$küçükleri-kap}"],
  [data-#{$kçk}~="#{$küçükleriyle-kap}"],
  [data-#{$ort}~="#{$küçükleri-kap}"],
  [data-#{$ort}~="#{$küçükleriyle-kap}"],
  [data-#{$byk}~="#{$küçükleri-kap}"],
  [data-#{$byk}~="#{$küçükleriyle-kap}"],
  [data-#{$kcm}~="#{$küçükleri-kap}"],
  [data-#{$kcm}~="#{$küçükleriyle-kap}"],
  [data-#{$dev}~="#{$küçükleri-kap}"],
  [data-#{$dev}~="#{$küçükleriyle-kap}"] {
    width: 100%;
    max-width: calc(100% - 20px) !important
  }


  /* Gizleme */
  [data-#{$ufk}~="#{$bunu-gizle}"] {
    display: none !important
  }


}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
kçk | Ekran ölçeği: 576px ≤ * < 768px
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width:576px) and (max-width:768px) {


  [data-#{$gnl}~="#{$kap}"],
  [data-#{$mnk}~="#{$büyükleri-kap}"],
  [data-#{$mnk}~="#{$büyükleriyle-kap}"],
  [data-#{$ufk}~="#{$büyükleri-kap}"],
  [data-#{$ufk}~="#{$büyükleriyle-kap}"],
  [data-#{$kçk}~="#{$büyükleriyle-kap}"],
  [data-#{$kçk}~="#{$bunu-kap}"],
  [data-#{$kçk}~="#{$küçükleriyle-kap}"],
  [data-#{$ort}~="#{$küçükleri-kap}"],
  [data-#{$ort}~="#{$küçükleriyle-kap}"],
  [data-#{$byk}~="#{$küçükleri-kap}"],
  [data-#{$byk}~="#{$küçükleriyle-kap}"],
  [data-#{$kcm}~="#{$küçükleri-kap}"],
  [data-#{$kcm}~="#{$küçükleriyle-kap}"],
  [data-#{$dev}~="#{$küçükleri-kap}"],
  [data-#{$dev}~="#{$küçükleriyle-kap}"] {
    width: 100%;
    max-width: 566px !important
  }


  /* Gizleme */
  [data-#{$kçk}~="#{$bunu-gizle}"] {
    display: none !important
  }


}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ort | Ekran ölçeği: 768px ≤ * < 992px
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width:768px) and (max-width:992px) {


  [data-#{$gnl}~="#{$kap}"],
  [data-#{$mnk}~="#{$büyükleri-kap}"],
  [data-#{$mnk}~="#{$büyükleriyle-kap}"],
  [data-#{$ufk}~="#{$büyükleri-kap}"],
  [data-#{$ufk}~="#{$büyükleriyle-kap}"],
  [data-#{$kçk}~="#{$büyükleri-kap}"],
  [data-#{$kçk}~="#{$büyükleriyle-kap}"],
  [data-#{$ort}~="#{$büyükleriyle-kap}"],
  [data-#{$ort}~="#{$bunu-kap}"],
  [data-#{$ort}~="#{$küçükleriyle-kap}"],
  [data-#{$byk}~="#{$küçükleri-kap}"],
  [data-#{$byk}~="#{$küçükleriyle-kap}"],
  [data-#{$kcm}~="#{$küçükleri-kap}"],
  [data-#{$kcm}~="#{$küçükleriyle-kap}"],
  [data-#{$dev}~="#{$küçükleri-kap}"],
  [data-#{$dev}~="#{$küçükleriyle-kap}"] {
    width: 100%;
    max-width: 760px !important
  }


  /* Gizleme */
  [data-#{$ort}~="#{$bunu-gizle}"] {
    display: none !important
  }


}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
byk | Ekran ölçeği: 992px ≤ * < 1200px
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width:992px) and (max-width:1200px) {


  [data-#{$gnl}~="#{$kap}"],
  [data-#{$mnk}~="#{$büyükleri-kap}"],
  [data-#{$mnk}~="#{$büyükleriyle-kap}"],
  [data-#{$ufk}~="#{$büyükleri-kap}"],
  [data-#{$ufk}~="#{$büyükleriyle-kap}"],
  [data-#{$kçk}~="#{$büyükleri-kap}"],
  [data-#{$kçk}~="#{$büyükleriyle-kap}"],
  [data-#{$ort}~="#{$büyükleri-kap}"],
  [data-#{$ort}~="#{$büyükleriyle-kap}"],
  [data-#{$byk}~="#{$büyükleriyle-kap}"],
  [data-#{$byk}~="#{$bunu-kap}"],
  [data-#{$byk}~="#{$küçükleriyle-kap}"],
  [data-#{$kcm}~="#{$küçükleri-kap}"],
  [data-#{$kcm}~="#{$küçükleriyle-kap}"],
  [data-#{$dev}~="#{$küçükleri-kap}"],
  [data-#{$dev}~="#{$küçükleriyle-kap}"] {
    width: 100%;
    max-width: 960px !important;
  }


  /* Gizleme */
  [data-#{$byk}~="#{$bunu-gizle}"] {
    display: none !important
  }


}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
kcm | Ekran ölçeği: 1200px ≤ * < 1900px
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width:1200px) and (max-width:1900px) {


  [data-#{$gnl}~="#{$kap}"],
  [data-#{$mnk}~="#{$büyükleri-kap}"],
  [data-#{$mnk}~="#{$büyükleriyle-kap}"],
  [data-#{$ufk}~="#{$büyükleri-kap}"],
  [data-#{$ufk}~="#{$büyükleriyle-kap}"],
  [data-#{$kçk}~="#{$büyükleri-kap}"],
  [data-#{$kçk}~="#{$büyükleriyle-kap}"],
  [data-#{$ort}~="#{$büyükleri-kap}"],
  [data-#{$ort}~="#{$büyükleriyle-kap}"],
  [data-#{$byk}~="#{$büyükleri-kap}"],
  [data-#{$byk}~="#{$büyükleriyle-kap}"],
  [data-#{$kcm}~="#{$büyükleriyle-kap}"],
  [data-#{$kcm}~="#{$bunu-kap}"],
  [data-#{$kcm}~="#{$küçükleriyle-kap}"] {
    width: 100%;
    max-width: 1140px !important
  }


  /* Gizleme */
  [data-#{$kcm}~="#{$bunu-gizle}"] {
    display: none !important
  }


}

@include sondaki-ayarlar(); // CSS'in sonunda tanımlanan ayarlar.