/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/*  AYARLAR & TEMİZLEME
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    *,
    *:before,
    *:after{
      box-sizing: border-box; }

    html{
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%; }

    body{
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      }


    article, aside, details, figcaption, figure,
    footer, header, hgroup, section, menu, main, nav{
      display: block; }

    a, button, input, textarea{
      outline: 0; }


    /*  Başlık ayarları */
    h1, h2, h3, h4, h5, h6{
      width: 100%;
      display: block;
      -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
      margin: 1em 0 0.5em 0;
      color: #333;
      font-weight: bold;  }


    h1{ font-size: 2.2em; }
    h2{ font-size: 1.9em; }
    h3{ font-size: 1.7em; }
    h4{ font-size: 1.5em; }
    h5{ font-size: 1.3em; }
    h6{ font-size: 1.15em; }

    h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6{
      margin-top: 0; }


    img{
      border: 0;
      max-width: 100%;  }

    table{
      display: table !important;
      width: 100%;  }

    /* Paragraf ayarları */
    p{
      display: block;
      width: 100%;  }

    p + p{
        /* İki paragraf arasına mesafe verme ayarı */
        margin-top: 14px;
        margin-top: 1rem; }

    /* Liste ayarları */
    ul{
      padding: 0;
      margin: 0;

      li
      {list-style-type: none;}

      ul
      {margin-left: 15px;}

      h1, h2, h3, h4, h5, h6
      {margin: 0;}

    }
